- css_class = 'display'
- css_class << ' downloadable' if reference && reference.downloadable?

%div{:class => css_class}
  - if reference
    = reference.decorate.format
    = reference.decorate.format_reference_document_link
  - else
    (none)
