-#Locals: reference

- css_class = 'reference'
- if reference
  - css_class << " item_#{reference.id}"
  - taxt = Taxt.to_editable_reference reference
  - id = reference.id
- else
  - taxt = id = nil

%div{class: css_class, 'data-id' => id, 'data-taxt' => taxt}
  %table.reference_table
    %tr
      %td.icons
        - if reference
          %a.icon.edit_icon{title: 'edit', href: '#'}
            = image_tag 'edit_off.png', alt: 'edit'
      %td.reference_item
        = render 'reference_popups/display', reference: reference if !reference || !reference.new_record? && reference.errors.empty?
        = render 'reference_popups/edit', reference: reference if reference
