-max_number ||= nil

-unless taxon.is_a?(Family) || taxon.is_a?(Subspecies)
  .callout
    %h5.callout-header Children
    %ul#children-list.no-bullet
      -if max_number && taxon.children.count > max_number
        %li
          Too many children to show here.
          =link_to "Show all children", taxa_children_path(taxon), class: "btn-normal btn-tiny"
          (open in a new tab or make sure you have saved first)
      -else
        -taxon.children.includes(:name).order(status: :desc, name_cache: :asc).each do |child|
          %li
            =child.link_to_taxon
            =raw "(" + child.decorate.taxon_status + ")"
