-if taxon.immediate_children.exists?
  .callout.mb-8
    %h6 Children
    -if taxon.immediate_children.count > 50
      %p
        Too many children to show here.
        =link_to "Show all children", taxon_children_path(taxon), class: "btn-normal btn-tiny"
    -else
      %ul#children-list
        -TaxonQuery.new(taxon.immediate_children).with_common_includes.order(status: :desc, name_cache: :asc).each do |child|
          %li
            =CatalogFormatter.link_to_taxon(child)
            %br=child.decorate.expanded_status
