-if taxon.children.exists?
  .callout
    %h5.callout-header Children
    -if taxon.children.count > 50
      %p
        Too many children to show here.
        =link_to "Show all children", taxa_children_path(taxon), class: "btn-normal btn-tiny"
        (open in a new tab or make sure you have saved first)
    -else
      %ul#children-list
        -taxon.children.includes(:name).order(status: :desc, name_cache: :asc).each do |child|
          %li
            =child.link_to_taxon
            %br=child.expanded_status
