-# TODO: Extract functionality for reordering items to a new page.

-if taxon.type.in?(Rank::AntCatSpecific::CAN_HAVE_REFERENCE_SECTIONS_TYPES)
  #references-section.callout.margin-bottom
    %h6
      Reference sections
      .right
        -# NOTE: CSS classes "button submit" are for disabling the "Add" button while reordering.
        =link_to 'Add', new_taxa_reference_section_path(taxon), id: 'add-reference-section-button', class: 'button submit btn-normal btn-tiny'
        -if taxon.reference_sections.present?
          %a#start-reordering-reference-sections.btn-nodanger.btn-tiny.button Reorder

    -if taxon.reference_sections.present?
      #reference-sections{data: {taxon_id: taxon.id}}
        -taxon.reference_sections.each do |reference_section|
          -# `#reference_section_123` is used for reordering items.
          .reference-section{id: "reference_section_#{reference_section.id}"}
            =render 'reference_sections/taxt_editor_template', reference_section: reference_section
    -else
      (none)
