-if taxon.type.in?(Rank::AntCatSpecific::CAN_HAVE_REFERENCE_SECTIONS_TYPES)
  #references-section.callout.margin-bottom
    %h6
      Reference sections
      .right
        =link_to 'Add', new_taxon_reference_section_path(taxon), data: { testid: 'testid-add-reference-section-button' }, class: 'btn-normal btn-tiny'
        -if taxon.reference_sections.present?
          =link_to "Reorder", taxon_reorder_reference_sections_path(taxon), class: "btn-normal btn-tiny"

    -if taxon.reference_sections.present?
      #reference-sections
        -taxon.reference_sections.each do |reference_section|
          .reference-section
            =render 'reference_sections/taxt_editor_template', reference_section: reference_section
    -else
      (none)
