-if taxon.junior_synonyms.present?
  .callout
    %h5.callout-header Junior synonyms
    %ul.compact-list
      -TaxonQuery.new(taxon.junior_synonyms.order_by_name).with_common_includes.each do |synonym|
        %li
          =CatalogFormatter.link_to_taxon(synonym)
          =synonym.author_citation
