-if taxon.junior_synonyms.present?
  .callout
    %h5.callout-header Junior synonyms
    %ul#junior-synonyms
      -taxon.junior_synonyms.order_by_name.includes(:name, protonym: [{ authorship: :reference }]).each do |synonym|
        %li
          =synonym.link_to_taxon
          =synonym.author_citation
