-#Locals: author, author_name

.edit.ui-widget-content
  - url = "/authors/#{author.id}/author_names/#{author_name.id}"
  - method = author_name.persisted? ? 'put' : 'post'
  .nested_form{'data-action' => url, 'data-method' => method}
    = render 'shared/errors_for', resource: author_name

    .text_editor
      = text_field_tag :author_name, author_name.name

    .buttons
      %button.submit.ui-priority-primary Save
      %button.cancel.ui-priority-secondary Cancel
      - if author_name.persisted?
        %button.delete.ui-priority-secondary Delete
