-# JS breaks if we remove: .edit, .nested_form, .buttons
-# %button, .submit, .cancel, or .delete

.edit
  -url = "/authors/#{author.id}/author_names/#{author_name.id}"
  -method = author_name.persisted? ? 'put' : 'post'
  .nested_form{'data-action' => url, 'data-method' => method}
    =render 'shared/errors_for', resource: author_name
    =text_field_tag :author_name, author_name.name

    .buttons
      %button.submit.btn-saves Save
      %button.cancel.btn-cancel Cancel
      -if author_name.persisted?
        %button.delete.btn-delete Delete
