=form_with model: author_name, url: url do |f|
  =render "shared/errors_for", resource: author_name
  .row
    .medium-6.columns.end
      =f.label :name
      =f.text_field :name

  .row
    .medium-3.columns.end
      =edit_summary_text_field_tag

  .row
    .medium-3.columns.end
      =f.button 'Save', class: "btn-saves"
