.row
  .medium-8.columns
    =form_for institution do |f|
      =render "shared/errors_for", resource: institution

      .row
        .medium-4.columns.end
          =f.label :abbreviation
          =f.text_field :abbreviation
      .row
        .medium-8.columns.end
          =f.label :name
          =f.text_field :name
      .row
        .medium-4.columns.end
          =text_field_tag :edit_summary, params[:edit_summary], placeholder: "Edit summary (optional)", maxlength: Activity::EDIT_SUMMARY_MAX_LENGTH
      .row
        .small-12.columns.end
          =button_tag 'Save', class: 'btn-saves'

  .medium-4.columns
    .callout
      %h6 Help
      %p Institutions are used in "taxt items". Full names of institutions are shown when abbreviations are hovered.
      %p Note that there is no validation for checking if an abbreivation is used anywhere. Please update related "taxt items" if you change an abbreivation, or make sure it is not being used.
