.row
  .medium-8
    =form_with model: institution do |f|
      =render "shared/errors_for", resource: institution

      .row.mb-4
        .medium-4
          =f.label :abbreviation
          =f.text_field :abbreviation, maxlength: Institution::ABBREVIATION_MAX_LENGTH

      .mb-4
        =f.label :name
        =f.text_field :name, maxlength: Institution::NAME_MAX_LENGTH, class: 'max-w-full'

      .mb-4
        =f.label :grscicoll_identifier do
          GRSciColl identifier (optional)
          =db_tooltip_icon :grscicoll_identifier, scope: :institutions
        =f.text_field :grscicoll_identifier, placeholder: "Format: <institution or collection>/e6e9d21b-faf8-4698-95e6-bacc55860a95"

      .row.mb-4
        .medium-4
          =edit_summary_text_field_tag

      =f.button 'Save', class: 'btn-saves btn-md'

  .medium-4
    .callout-white
      %p Institutions are used in some "taxt items". Full names of institutions are shown when abbreviations are hovered.
      %p
        External search forms for
        =external_link_to 'GRSciColl', 'https://www.gbif.org/grscicoll'
        identifiers:
        =external_link_to 'institutions', 'https://www.gbif.org/grscicoll/institution/search'
        or
        =external_link_to 'collections', 'https://www.gbif.org/grscicoll/collection/search'
      %p
        =antcat_icon 'warning-icon'
        %strong Note that there is no validation for checking if an abbreviation is used anywhere.
        Please update related "taxt items" if you change an abbreviation, or make sure it is not being used.
