-page_title "Institutions"
-breadcrumb :institutions

-if user_is_at_least_helper?
  -content_for :breadcrumbs_right do
    =link_to 'New', new_institution_path, class: 'btn-default'

%table.table-striped{"data-controller" => "tablesort"}
  %thead
    %tr
      %th.no-wrap Abbreviation
      %th Name
      %th GRSciColl
      %th.no-wrap.no-sort
  %tbody
    -@institutions.each do |institution|
      %tr
        %td=institution.abbreviation
        %td=link_to institution.name, institution
        %td
          -if institution.grscicoll_identifier?
            =institution.decorate.link_to_grscicoll
        %td.no-wrap
          -if user_is_editor?
            =link_to 'Edit', edit_institution_path(institution), class: 'btn-default'
