-@title = "Institutions"
-breadcrumb :institutions

-content_for :head do
  =javascript_include_tag "sortable_tables"

-if user_is_at_least_helper?
  =content_for :breadcrumbs_right do
    =link_to 'New', new_institution_path, class: 'btn-normal'

%table.tablesorter
  %tr
    %th.no-wrap Abbreviation
    %th Name
    %th.no-wrap.sorter-false
  %tbody
    -@institutions.each do |institution|
      %tr
        %td=link_to institution.abbreviation, institution
        %td=link_to institution.name, institution
        %td.no-wrap
          -if user_is_editor?
            =link_to 'Edit', edit_institution_path(institution), class: 'btn-normal btn-tiny'
