-@title = "Institutions"
-breadcrumb :institutions

-content_for :head do
  =javascript_include_tag "sortable_tables"

-if can? :edit, :catalog
  .buttons-right=link_to 'New', new_institution_path, class: 'btn-normal'

%table.tablesorter
  %thead
    %tr
      %th Abbreviation
      %th Name
      %th

  %tbody
    -@institutions.each do |institution|
      %tr
        %td=link_to institution.abbreviation, institution
        %td=link_to institution.name, institution
        %td
          =link_to 'Edit', edit_institution_path(institution), class: 'btn-normal btn-tiny'
          -if user_is_superadmin?
            =link_to 'Delete', institution, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-delete btn-tiny'
