-@title = "Institution #{@comparer.most_recent.abbreviation}: #{@comparer.most_recent.name}"
-breadcrumb :institution, @comparer.most_recent

-content_for :application do
  -if user_is_at_least_helper? && @comparer.most_recent.persisted?
    .buttons-right
      =link_to 'Edit', edit_institution_path(@comparer.most_recent), class: 'btn-normal'
      -if user_is_superadmin?
        =link_to "Delete", @comparer.most_recent, method: :delete, data: { confirm: 'This institution may be referenced in other items. Are you sure?' }, class: 'btn-warning'

=render file: "compare_revisions/show", locals: { comparer: @comparer }
