-title "Institution #{@institution.abbreviation}: #{@institution.name}"
-breadcrumb :institution, @institution

-content_for :breadcrumbs_right do
  =link_to "History", institution_history_path(@institution), class: "btn-normal"
  -if user_is_at_least_helper?
    =link_to 'Edit', edit_institution_path(@institution), class: 'btn-normal'
    -if user_is_superadmin?
      =link_to append_superadmin_icon("Delete"), @institution, method: :delete, data: { confirm: 'This institution may be referenced in other items. Are you sure?' }, class: 'btn-warning'
  =activities_link_for_trackable @institution

.row.margin-bottom
  .small-12.columns
    =succeed ":" do
      =@institution.abbreviation
    =@institution.name

-if @institution.grscicoll_identifier?
  .row.margin-bottom
    .small-12.columns
      %h5 External links
      %ul
        %li=@institution.decorate.link_to_grscicoll
