-@title = "Institution #{@comparer.most_recent.abbreviation}: #{@comparer.most_recent.name}"
-breadcrumb :institution, @comparer.most_recent

-content_for :application do
  -if can? :edit, :catalog
    .buttons-right
      =link_to 'Edit', edit_institution_path(@institution), class: 'btn-normal'
      -if user_is_superadmin?
        =link_to 'Delete', @institution, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-warning'
    .clearfix

=render file: "compare_revisions/show", locals: { comparer: @comparer }
