-@title = "Feed"
-breadcrumb :feed

-if @activities.empty?
  No activities.
-else
  %table
    %thead
      %tr
        %th What
        %th When
    -@activities.each do |activity|
      %tr
        %td
          =link_activity_user activity
          =format_activity activity
        %td
          =time_ago_in_words(activity.created_at)
          ago

=will_paginate @activities
