-protonym = item

=protonym.decorate.link_to_protonym
=succeed ':' do
  =protonym.authorship.reference.decorate.expandable_reference
=protonym.decorate.format_pages_and_forms
=Detax[protonym.authorship.notes_taxt]
=protonym.decorate.format_locality
