-@title = "Create missing obsolete combination"
-breadcrumb :create_obsolete_combination, @taxon

-content_for :javascripts do
  =javascript_include_tag "taxon_select"

=form_tag taxa_create_obsolete_combination_path do
  .row
    .medium-8.columns
      .row
        .medium-6.columns
          %fieldset.fieldset
            %legend Create missing obsolete combination for current valid name
            %p=@taxon.decorate.id_and_name_and_author_citation
            %p
              Current parent:
              =@taxon.parent.decorate.id_and_name_and_author_citation

        .medium-6.columns
          %fieldset.fieldset
            %legend obsolete genus
            %p=taxon_select_tag :obsolete_genus_id, params[:obsolete_genus_id], rank: :genus
            %p
              Possible parent ranks: genus
      .row
        .medium-12.columns
          .center-text
            =button_tag type: "submit", class: "btn-saves has-spinner" do
              =spinner_icon + "Create!"

    .medium-4.columns
      .callout
        %h6 Help
        %p
          This page is for creating missing obsolete combination records. A new record will be created when "Create" is pressed. The new record will have:
          %ul
            %li its genus set to the obsolete genus
            %li the name will be: obsolete genus name + #{@taxon.name.epithet}
            %li its current valid name set to #{@taxon.name_with_fossil}
            %li
              the status set to
              %code obsolete combination
            %li and the protonym set to the protonym of #{@taxon.name_with_fossil}
        %p
          =antcat_icon 'warning-icon'
          %strong If the spelling of the epithet must be changed to match gender, please update the name accordingly after creating the new record.
