-@title = "Institution #{@comparer.most_recent.abbreviation}: #{@comparer.most_recent.name}"
-breadcrumb :institution_history, @comparer.most_recent

-content_for :breadcrumbs_right do
  =activities_link_for_trackable @comparer.most_recent

=render template: "compare_revisions/show", locals: { comparer: @comparer }
