@import 'common'

.taxon_form

  .section
    margin-bottom: 10px

    .section_header
      padding-left: 6px

    .section_contents

    .subsection

    .synonym_section
      padding-right: 3px

    .homonym_section
      padding-left: 3px

  table
    width: 100%

  .ui-dialog-titlebar, .ui-dialog-content
    padding: 6px

  .ui-dialog-titlebar, .label
    font-style: italic
    font-size: 16px

  .label
    width: 80px

  .ui-dialog-content
    margin-bottom: 6px

  .name
    .antcat_name_picker
      width: 300px

  padding: 10px
