@import 'common'

// Structure
.taxon_form
  padding: 10px

  &.ui-widget
    font-size: 14px

  .section
    margin-bottom: 10px

    .section_header
      padding-left: 6px

  .name_section
    .name input
      width: 150px
      margin-right: 10px
    table
      padding-bottom: 0
      td
        padding-bottom: 4px

  .synonym_section
    padding-right: 3px

  .homonym_section
    padding-left: 3px

//elements
.label
  font-style: italic
  font-size: 14px
  width: 62px

table
  width: 100%

// jQuery UI
.ui-dialog-titlebar, .ui-dialog-content
  padding: 6px

.ui-dialog-titlebar
  font-style: italic
  font-size: 16px

.ui-dialog-content
  margin-bottom: 6px
