-page_title "Search Help"
-breadcrumb :references_search_help

%h5 Search using keywords
%table.table-striped
  %thead
    %tr
      %th Search by
      %th Examples
      %th{width: "30%"} Notes
  %tr
    %td Any field
    %td=link_to "nylanderia", references_search_index_path(reference_q: "nylanderia")
    %td No keyword required
  %tr
    %td Title
    %td=link_to "title:leach", references_search_index_path(reference_q: "title:leach")
    %td
      Compare:
      =link_to "title:leach", references_search_index_path(reference_q: "title:leach")
      \/
      =link_to "author:leach", references_search_index_path(reference_q: "author:leach")
      \/
      =link_to "leach", references_search_index_path(reference_q: "leach")
  %tr
    %td Title (more than one word)
    %td=link_to 'title:"solenopsis invicta"', references_search_index_path(reference_q: 'title:"solenopsis invicta"')
    %td Wrap query in single or double quotes
  %tr
    %td Publication year
    %td=link_to "year:2009", references_search_index_path(reference_q: "year:2009")
    %td
  %tr
    %td Publication year (range)
    %td=link_to "year:2000-2009", references_search_index_path(reference_q: "year:2000-2009")
  %tr
    %td Author
    %td=link_to "author:wilson", references_search_index_path(reference_q: 'author:wilson')
    %td Authors are indexed by last name and initials. If you cannot find what you're looking for, try searching without the first name.
  %tr
    %td Author (names containing spaces)
    %td=link_to "author:'De Andrade'", references_search_index_path(reference_q: "author:'De Andrade'")
    %td Wrap name in single or double quotes
  %tr
    %td Author (exact match)
    %td=link_to 'author:"Smith, D. R."', references_search_index_path(reference_q: 'author:"Smith, D. R."')
    %td Manually type the name, or start typing and click on one of the suggestions
  %tr
    %td Author (multiple authors)
    %td=link_to "author:'Bolton, B.; Fisher, B. L.'", references_search_index_path(reference_q: "author:'Bolton, B.; Fisher, B. L.'")
    %td Use semicolons between names
  %tr
    %td DOI
    %td=link_to "doi:10.11865/zs.201806", references_search_index_path(reference_q: "doi:10.11865/zs.201806")
    %td Requires an exact match. Using this keyword is the only way to search for DOIs.
  %tr
    %td Reference type
    %td
      =link_to "type:nested", references_search_index_path(reference_q: "type:nested")
    %td
  %tr
    %td Combining keywords
    %td=link_to 'author:wilson year:1970-1979', references_search_index_path(reference_q: 'author:wilson year:1970-1979')
    %td
  %tr
    %td Queries containing diacritics
    %td
      =link_to "hölldobler", references_search_index_path(reference_q: "hölldobler")
      or
      =link_to "holldobler", references_search_index_path(reference_q: "holldobler")
    %td
  %tr
    %td Journal
    %td=link_to "zootaxa", references_search_index_path(reference_q: "zootaxa")
    %td
      To see all references linked to a journal, go to the journal's page by following the link on a reference's page or in the
      =succeed "." do
        =link_to "list of journals", journals_path
