-@title = 'Search Results'
-breadcrumb :references_search_results

-if current_user
  =content_for :breadcrumbs_right do
    =link_to 'Export to EndNote', endnote_export_references_path(reference_q: params[:reference_q]), class: "btn-normal"

.callout.primary.medium-6
  %p
    Not quite what you're looking for? Try the
    =link_to "help pages.", help_references_search_index_path

-if @references.empty?
  .callout.alert
    %p No results found for:
    %p=params[:reference_q]
-else
  =render "shared/reference_table", references: @references

=will_paginate @references
