-page_title 'Search Results'
-breadcrumb :references_search_results

-content_for :breadcrumbs_right do
  =link_to "Search using keywords (help page)", help_references_search_index_path, class: "btn-default"
  -if current_user
    =link_to 'Export to EndNote', endnote_export_references_path(reference_q: params[:reference_q]), class: "btn-default"

-if @references.empty?
  .callout-danger.callout-responsive
    %p No results found for:
    %p=params[:reference_q]
-else
  =render "shared/reference_table", references: @references

=will_paginate @references
