-@title = "Confirm before undo"
-breadcrumb :confirm_before_undo_change, @change

%h5 This undo will roll back the following changes:
%table
  %thead
    %tr
      %th Change
      %th Date
  %tbody
    -@undo_items.each do |undo_item|
      %tr
        %td
          =undo_item[:taxon].decorate.link_to_taxon
          =undo_item[:change_type]
          by
          =undo_item[:user].decorate.user_page_link
        %td=undo_item[:date]

.row
  =form_tag change_undos_path(@change) do
    .medium-3.columns
      =text_field_tag :edit_summary, params[:edit_summary], placeholder: "Edit summary (optional)", maxlength: Activity::EDIT_SUMMARY_MAX_LENGTH

    .medium-3.columns.end
      =button_tag "Undo!", type: :submit, class: "btn-warning"
