-@title = "Confirm before undo"
-breadcrumb :confirm_before_undo_change, @change

%h5 This undo will roll back the following changes:
%table
  %thead
    %tr
      %th Change
      %th Date
  %tbody
    -@undo_items.each do |undo_item|
      %tr
        %td
          -taxon = undo_item[:taxon]
          =taxon.name ? taxon.link_to_taxon : taxon.name_html_cache.html_safe
          =undo_item[:change_type]
          by
          =undo_item[:user].decorate.user_page_link
        %td=undo_item[:date]

.row
  =form_tag change_undos_path(@change) do
    .medium-3.columns
      =edit_summary_text_field_tag

    .medium-3.columns.end
      -if @change.change_too_old_to_be_undone?
        This change cannot be undone because it was made before breaking database changes.
      =button_tag "Undo!", type: :submit, disabled: !@change.can_be_undone?, class: "btn-warning"
