.form
  = form_for [item.taxon, item] do |f|
    = render 'shared/errors_for', :resource => item
    = text_area_tag :taxt_editor, Taxt.to_editable(item.taxt), rows: 1, class: 'taxt_edit_box'
    %div
      %button.submit Save
      %button.cancel Cancel
