-#Locals: item
%div.inline-form-panel.history_item{id: "item_#{item.id}"}
  %table
    %tr
      %td.icons
        %a.icon.edit.ui-icon.ui-icon-pencil{title: 'edit', href: '#'}
      %td.history_item_body
        = render 'catalog/index/history_item/display', item: item
        -#- if user_can_edit?
        = render 'catalog/index/history_item/form', item: item
