-@title = "Replace missing reference"
-breadcrumb :replace_missing_reference, @missing_reference

-content_for :head do
  =javascript_include_tag "reference_select"

.row
  .medium-12.columns
    .callout
      %p
        =antcat_icon 'warning-icon'
        This action cannot be undone.

      %p
        Select a target reference and click on "Replace!" to replace all occurences of the missing reference with the target reference
        %em en masse.
        The missing reference will then be deleted.

      %p
        Please check all 'What Links Here' first and confirm that all of them should be replaced with the target reference. It is not possible to check which replacements were made after the action has been perform, so keep this page or
        =link_to("What Links Here", reference_what_links_here_path(@missing_reference), class: "btn-normal btn-tiny")
        open in another new tab if you want to see the old 'What Links Here', and like mentioned earlier, it's not possible to undo this action.

      %p
        If you replace a reference by mistake, try to repair it via the 'What Links Here' of the new reference, and if things gets really messy, just reach out to me (Fredrik).
        =link_to "PaperTrail versions", versions_path
        can also be used to some extent (go to the last page).

=form_tag replace_missing_path(@missing_reference) do
  .row
    .medium-12.columns
      .row
        .medium-8.columns
          %fieldset.fieldset
            %legend Missing reference to be replaced
            %p=@missing_reference.decorate.expanded_reference
            %p
              Reason missing:
              =@missing_reference.reason_missing

            %hr

            %h5 What Links Here
            =render "shared/what_links_here", table_refs: @table_refs
            =will_paginate @table_refs

        .medium-4.columns
          %fieldset.fieldset
            %legend Replace with
            %p=reference_select_tag :target_reference_id, params[:target_reference_id]

      .row
        .medium-12.columns
          .center-text
            =button_tag type: "submit", class: "btn-warning has-spinner" do
              =spinner_icon + "Replace!"
