# https://github.com/adrienverge/yamllint
# Install: pip install --user yamllint
# Run using: yamllint -c .yamllint . # Or rake yamllint

extends: default

rules:
  comments:
    min-spaces-from-content: 1
  document-start: disable
  line-length: disable

ignore: |
  vendor/
  node_modules/
  config/newrelic.yml
