-taxon = change.most_recent_valid_taxon
-changed_by = change.changed_by # Computed once for performance.
-change = change.decorate

%tr.change{class: ("approved" if taxon.taxon_state && taxon.approved?)}
  %td
    =change.format_adder_name changed_by
    -if change.change_type != 'delete' && taxon
      =taxon.decorate.link_to_taxon
    -else
      =format_taxon_name taxon.name
  %td=link_to change.format_created_at, change
  -# TODO: N+1 query.
  %td=link_to change.versions.count, versions_path(change_id: change.id)
  %td
    -if change.approver
      =change.format_approver_name
      =change.format_approved_at
    -elsif user_can_edit?
      =change.approve_button taxon, changed_by: changed_by
    -else
      =dash
  -if user_can_edit?
    %td=confirm_before_undo_button change
