-taxon = change.most_recent_valid_taxon

=render 'header', taxon: taxon, change: change

.change{class: ("approved" if taxon.taxon_state && taxon.approved?)}
  %table
    %tr
      %th Name
      %td.name-test-hook=format_taxon_name taxon.name
    %tr
      -# Special case since family Formicidae has no parent.
      -if taxon.is_a? Family
        %th.parent_rank-test-hook Order
        %td.parent-test-hook Hymenoptera
      -else
        -if taxon.parent
          %th.parent_rank-test-hook=taxon.parent.rank.titlecase
          %td.parent-test-hook=format_taxon_name taxon.parent.name
        -else
          -# see 8a7b3f95b312362c8cb03e9589f79e8ff8c5e0a4
          %th
          %td.parent_not_found Parent not found in the database
    %tr
      %th Status
      %td=Status[taxon.status].to_s

    -if taxon.incertae_sedis_in.present?
      %tr
        %th Incertae sedis in
        %td=taxon.incertae_sedis_in

    -attributes = format_attributes taxon
    -if attributes.present?
      %tr
        %th Attributes
        %td=attributes

    -if taxon.headline_notes_taxt.present?
      %tr
        %th Notes
        %td=TaxtPresenter[taxon.headline_notes_taxt].to_html

  -protonym = taxon.protonym
  -if protonym
    %table
      %caption Protonym

      %tr
        %th Name
        %td=format_taxon_name protonym.name

      -attributes = format_protonym_attributes taxon
      -if attributes.present?
        %tr
          %th Attributes
          %td=attributes

      -authorship = protonym.authorship
      %tr
        %th Authorship
        %td=authorship.reference.decorate.formatted
      %tr
        %th Page
        %td=authorship.pages
      %tr
        %th Forms
        %td=authorship.forms
      %tr
        %th Locality
        %td=protonym.locality

      -authorship_notes = authorship.notes_taxt
      -if authorship_notes.present?
        %tr
          %th Notes
          %td=TaxtPresenter[authorship_notes].to_html

  -if taxon.type_name.present?
    %table
      %caption Type

      %tr
        %th Name
        %td=format_taxon_name taxon.type_name

      -if taxon.type_fossil?
        %tr
          %th Attributes
          %td Fossil

      -if taxon.type_taxt.present?
        %tr
          %th Notes
          %td=TaxtPresenter[taxon.type_taxt].to_html

  =render 'history_items', taxon: taxon
  =render 'reference_sections', taxon: taxon
