-taxon = change.most_recent_valid_taxon
-change = change.decorate

%tr.change{class: ("approved" if taxon.taxon_state && taxon.approved?)}
  %td
    =change.format_adder_name
    -if change.change_type != 'delete' && taxon&.name
      =taxon.link_to_taxon
    -else
      =taxon.name_html_cache.html_safe
  %td.no-wrap=link_to change.format_created_at, change
  -# TODO: N+1 query.
  %td=link_to change.versions.count, versions_path(change_id: change.id)
  %td
    -if change.approver
      =change.format_approved_by
      approved this change
      =change.format_approved_at
    -elsif user_is_editor?
      =change.approve_button taxon
    -else
      =dash
  -if user_is_editor?
    %td=link_to 'Undo...', change_undos_path(change), class: "btn-warning btn-tiny"
