-changed_by = change.changed_by # Computed once for performance.
-change = change.decorate

.callout
  %h5.left
    =change.format_adder_name changed_by
    -if change.change_type != 'delete' && taxon
      =taxon.decorate.link_to_taxon
    -else
      =format_taxon_name taxon.name
  .right
    =link_to change.format_created_at, change
    -if user_can_edit?
      =confirm_before_undo_button change
      =change.approve_button taxon, changed_by: changed_by
  .clear

  -if change.approver
    .left=change.format_approver_name
    .right=change.format_approved_at
    .clear
