-change = change.decorate

.callout
  %h5.left
    =change.format_adder_name
    -if change.change_type != 'delete' && taxon
      =taxon.decorate.link_to_taxon
    -else
      =format_taxon_name taxon.name
  .right
    -if user_can_edit?
      =change.undo_button(taxon)
      =change.approve_button(taxon)
    =link_to change.format_created_at, change
  .clear

  -if change.approver
    .left=change.format_approver_name
    .right=change.format_approved_at
    .clear
