-unless taxon.history_items.empty?
  %table
    %caption History
    -taxon.history_items.each do |history_item|
      %tr
        %td.history_item-test-hook=Taxt.to_display_sentence history_item.taxt
