%table
  -taxon.reference_sections.each do |item|
    %tr.reference_section
      %td.caption
      %td.value.title_taxt= Taxt.to_display_sentence item.title_taxt
    %tr
      %td.caption
      %td.value.subtitle_taxt= Taxt.to_display_sentence item.subtitle_taxt
    %tr
      %td.caption
      %td.value.references_taxt= Taxt.to_display_sentence item.references_taxt
