-unless taxon.reference_sections.empty?
  %table
    %caption References
    -# TODO prints too many empty fields
    -taxon.reference_sections.each do |item|
      %tr
        %td=TaxtPresenter[item.title_taxt].to_text
      %tr
        %td=TaxtPresenter[item.subtitle_taxt].to_text
      %tr
        %td=TaxtPresenter[item.references_taxt].to_text
