-@title = 'Unreviewed Changes'
-breadcrumb :unreviewed_changes

=content_for :breadcrumbs_right do
  =link_to 'All Changes', changes_path, class: "btn-normal"

-if @changes.empty?
  %p There are no unreviewed changes.
-else
  =content_for :breadcrumbs_right do
    -if user_is_superadmin?

      =link_to append_superadmin_icon("Approve all"), approve_all_changes_path, method: :put, class: "btn-warning", data: { confirm: "Are you sure you want to approve all changes?" }

  =render layout: 'table_header' do
    =render @changes

  =will_paginate @changes
