-@title = 'Unreviewed Changes'
-breadcrumb :unreviewed_changes

=content_for :breadcrumbs_right do
  =link_to 'All Changes', changes_path, class: "btn-normal"

-if @changes.empty?
  %p There are no unreviewed changes.
-else
  =content_for :breadcrumbs_right do
    =approve_all_changes_button

  =render layout: 'table_header' do
    =render @changes

  =will_paginate @changes
