-title 'My account'
-breadcrumb :my_account, resource

=form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f|
  =render 'shared/errors_for', resource: resource
  .row
    .medium-6.columns
      =f.label :email
      =f.text_field :email

      =f.label :name
      =f.text_field :name

      =f.label :author_id, "AntCat Author ID"
      =f.number_field :author_id

    .medium-6.columns
      =f.label :password, "Password (leave blank if you don't want to change it)"
      =f.password_field :password

      =f.label :password_confirmation
      =f.password_field :password_confirmation

      =f.label :current_password, "Current password (required when changing password)"

      =f.password_field :current_password

  .row.margin-top
    .medium-6.columns
      %h5 Preferences
      =f.check_box :enable_email_notifications
      =f.label :enable_email_notifications

  .row.margin-top
    .medium-6.columns
      %h6 Enabled editing helpers
      =f.fields_for :settings do |settings_fields|
        =settings_fields.fields_for :editing_helpers, current_user.settings(:editing_helpers) do |f|
          =f.check_box :create_combination
          =f.label :create_combination, "Show 'Can be combined?' blue box on species pages"

          %br

          =f.check_box :history_items_via_protonym
          =f.label :history_items_via_protonym, "Show 'History items via protonym' blue box"

  .row.margin-top
    .medium-6.columns
      =button_tag 'Save', class: "btn-saves"
