-@title = "Sign Up"
-breadcrumb :sign_up

=form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
  =render 'shared/errors_for', resource: resource
  .row
    .medium-6.columns
      =f.label :email do
        Email (public)
      =f.email_field :email, autofocus: true

      =f.label :name do
        Name (full name, public)
        =tooltip_icon "Please use your real name, or your account may be deactivated."
      =f.text_field :name

      =f.invisible_captcha :work_email

  .row
    .medium-6.columns
      =f.label :password, "Password (#{@minimum_password_length} characters minimum)"
      =f.password_field :password, autocomplete: "off"

      =f.label :password_confirmation
      =f.password_field :password_confirmation, autocomplete: "off"

  .row
    .medium-6.columns
      =button_tag "Sign Up", class: "btn-saves"
