=form_tag quick_search_catalog_search_path, method: :get do
  .row
    .medium-3.columns
      =search_type_selector params[:search_type]
    .medium-3.columns.end
      .input-group
        =text_field_tag "qq", params[:qq], class: "input-group-field"
        .input-group-button
          =button_tag type: "submit", class: "button has-spinner" do
            =spinner_icon + "Go"
