-@title = 'Advanced Search'

-breadcrumb :catalog_advanced_search

-content_for :head do
  =javascript_include_tag 'advanced_searches'

.search_section-test-hook
  =render 'advanced_search_form'

-if @taxa
  %hr
  .results_section-test-hook
    =render 'results', taxa: @taxa, is_author_search: @is_author_search
