-@title = 'Advanced Search'

-breadcrumb :catalog_advanced_search

-content_for :head do
  =javascript_include_tag 'advanced_searches'

%ul.tabs{"data-tabs" => ""}
  %li.tabs-title{class: ("is-active" unless @is_quick_search)}
    =link_to "Advanced", "#advanced_search"
  %li.tabs-title{class: ("is-active" if @is_quick_search)}
    =link_to "Quick", "#quick_search"

.tabs-content{"data-tabs-content" => "example-tabs"}
  #advanced_search.tabs-panel{class: ("is-active" unless @is_quick_search)}
    =render "advanced_search_form"

  #quick_search.tabs-panel{class: ("is-active" if @is_quick_search)}
    -# TODO =render "quick_search_form"

-if @taxa
  %hr
  .results_section-test-hook
    =render 'results', taxa: @taxa, is_author_search: @is_author_search
