-@title = 'Latest Changes'
-breadcrumb :references_latest_changes

-content_for :breadcrumbs_right do
  =link_to 'Latest Additions', references_latest_additions_path, class: "btn-normal"
  -if user_is_superadmin?
    =link_to append_superadmin_icon("Approve all"), approve_all_reviewing_references_path, method: :put, data: { confirm: "Mark all citations as reviewed? This operation cannot be undone!" }, class: "btn-warning"

%table.stack.references
  %tbody
  -@references.each do |reference|
    %tr
      %td=render 'references/reference', reference: reference
      %td.no-wrap
        changed
        =time_tag reference.created_at.to_date

=will_paginate @references
