-@title = 'Latest Changes'
-breadcrumb :references_latest_changes

.buttons-right=approve_all_references_button

%table.stack.references
  %thead
    %th
    %th Changed
    %th
  -@references.each do |reference|
    %tr
      %td=render 'references/reference', reference: reference
      %td=time_tag reference.created_at
      %td=link_to "Show", reference_path(reference), class: "btn-normal"

=will_paginate @references
