-@title = 'Latest Changes'
-breadcrumb :references_latest_changes

=content_for :breadcrumbs_right do
  =link_to 'Latest Additions', references_latest_additions_path, class: "btn-normal"
  =approve_all_references_button

%table.stack.references
  %tbody
  -@references.each do |reference|
    %tr
      %td=render 'references/reference', reference: reference
      %td.no-wrap
        changed
        =time_tag reference.created_at.to_date

=will_paginate @references
