-@title = 'Latest Changes'
-breadcrumb :references_latest_changes

.buttons_right=approve_all_references_button

%table.references
  %thead
    %th Reference
    %th Changed
    %th
  -@references.each do |reference|
    %tr
      %td=render 'references/reference', reference: reference
      %td.no-wrap-align-top=reference.updated_at
      %td=link_to "Show", reference_path(reference), class: "btn-normal"

=will_paginate @references
