-# Renders form for posting new comment + all current comments.
-# Uses full partial paths because this can be rendered from other controllers.

-content_for :javascripts do
  =javascript_include_tag "markdown_and_friends"

-# Anchor link so we can scroll down to the comments section via links.
%a{name: "comments"}

%h6.margin-top=CommentableDecorator.new(commentable).comments_count_in_words
=render "comments/form", new_comment: new_comment

.comments-section.margin-top.margin-bottom
  -commentable.comments.include_associations.each do |comment|
    =render "comments/comment", comment: comment
