-# Renders form for posting new comment + all current comments.

-content_for :head do
  =javascript_include_tag "preview_markdown"
  =javascript_include_tag "input_has_linkables"
  =javascript_include_tag "input_has_mentionables"

%a{name: "comments"}

%h6.margin-top=pluralize(commentable.comment_threads.count, "comment")
=render partial: "comments/form"

.comments-container.margin-bottom
  =render partial: "comments/comments", locals: { comments: commentable.root_comments }
