.comment.mb-8{class: "group/comment"}
  %p
    -# Anchor link to scroll down to comment by id.
    %span{id: "comment-#{comment.id}", class: "target:bg-ac-blue-pale"}
      =comment.user.decorate.user_page_link
      commented
      =comment.decorate.link_comment time_ago_in_words(comment.created_at)
      -if comment.edited?
        ago*:
      -else
        ago:
      %span.hidden{class: "group-hover/comment:inline"}
        =inline_expandable("show raw") { comment.body }
        -if current_user == comment.user
          %span.text-sm=link_to "edit", edit_comment_path(comment), class: "discreet"

  %p=markdown comment.body
