-include_head ||= false

-if comments.empty?
  No comments.
-else
  %table
    -if include_head
      %thead
        %tr
          %th What
          %th When
    -comments.each do |comment|
      %tbody
        %tr
          %td
            -# "User Name"
            =comment.user.decorate.user_page_link

            -# "commented on" (comment linked if commented object still exists)
            -commentable = comment.commentable
            -if commentable
              =comment.decorate.link_comment "commented"
            -else
              commented
            on the

            -# "the <object type> <id or title>:" (object linked if still exists)
            -commentable_type = comment.commentable_type
            -if commentable
              =commentable_type.underscore.humanize.downcase
              -link_title = if commentable_type.in? ["SiteNotice", "Task", "Issue"]
                -commentable.title
              -else
                -"##{commentable.id}"
              =link_to "#{link_title}:", commentable
            -else
              [deleted]:

            -# '"comment body"'
            =surround '"' do
              =comment.decorate.truncated_for_tables

          %td.no-wrap
            =time_ago_in_words comment.created_at
            ago
