%p
  -# Anchor link to scroll down to comment by id.
  -# Wrapped in a `span` because we only want to hightlight a small area.
  %span.highlight-comment-anchor{id: "comment-#{comment.id}"}
    =comment.user.decorate.user_page_link
    commented
    =comment.decorate.link_comment time_ago_in_words(comment.created_at)
    -if comment.edited?
      ago*:
    -else
      ago:
    %span.show-on-hover
      =inline_expandable("show raw") { comment.body }
      -if current_user == comment.user
        %small=link_to "edit", edit_comment_path(comment), class: "discrete"
    %br

%p=markdown comment.body
