-# See also edit forms in `comments/edit.html.haml`.
=form_with model: new_comment do |f|
  =f.hidden_field :commentable_id, value: new_comment.commentable_id
  =f.hidden_field :commentable_type, value: new_comment.commentable_type

  =f.text_area :body, rows: 4, placeholder: "Add comment here", data: { has_mentionables: true, has_linkables: true, previewable: true, previewable_title: "Write" }, maxlength: Comment::BODY_MAX_LENGTH

  =f.button "Post Comment", class: "btn-saves btn-md"
