-page_title "Edit Comment ##{@comment.id}"
-breadcrumb :edit_comment, @comment

-content_for :javascripts do
  =javascript_include_tag "markdown_and_friends"

.row
  .medium-8
    -# See also form in `comments/_form.html.haml`.
    =form_with model: @comment do |f|
      =f.text_area :body, rows: 4, placeholder: "Leave a comment", data: { has_mentionables: true, has_linkables: true, previewable: true, previewable_title: "Write" }, maxlength: Comment::BODY_MAX_LENGTH, class: 'w-full'

      =f.button "Save", class: "btn-saves btn-md"

  .medium-4
    .callout-white
      %h6 Help
      %p
        Editing comments does not re-trigger user notifications, and no new
        activity feed item is created. Edited comments are indicated with and
        asterix like this "User commented about 2 hours ago*".
