.row
  .medium-8.columns
    =form_for name, url: name_path(name) do |f|
      =render 'shared/errors_for', resource: name
      =hidden_field_tag :type, @name.type

      %table.unstriped
        %tbody
          %tr
            %th=f.label :name
            %td.grow=f.text_field :name
          %tr
            %th=f.label :epithet
            %td=f.text_field :epithet

          -if @name.is_a? SubspeciesName
            %tr
              %th=f.label :epithets
              %td=f.text_field :epithets

          %tr
            %th{colspan: 2}
              =text_field_tag :edit_summary, params[:edit_summary], placeholder: "Edit summary (optional)", maxlength: Activity::EDIT_SUMMARY_MAX_LENGTH
              =f.button "Save", type: :submit, class: "btn-saves"

  .medium-4.columns
    .callout
      %h6 Help
      %p
        =antcat_icon 'warning-icon'
        %strong Consider this an advanced feature,
        because it is not documented what the different fields are used for.
      %p
        =antcat_icon 'warning-icon'
        This form allows saving of duplicates and homonyms. There are no validations for this.
      %p
        =antcat_icon 'warning-icon'
        Saving this form will update the name in place.
        The new name will be changed for all records referencing this name will.
        Please check
        =link_to 'What Links Here', name_path(name), class: 'btn-normal btn-very-tiny'
        before saving.
