-content_for :javascripts do
  =javascript_include_tag 'check_name_conflicts'


.callout.alert.medium-9.margin-bottom
  %h6
    =antcat_icon 'warning-icon'
    %strong Consider this an advanced feature

  %p
    Names of
    %code Taxon
    children are not updated.
  %p
    This form allows saving duplicates and homonyms.
  %p
    Saving this form will update the name in place.

.row
  .medium-8.columns
    =form_with model: name, url: name_path(name), scope: :name do |f|
      =render 'shared/errors_for', resource: name
      =hidden_field_tag :type, name.type

      %table.unstriped
        %tbody
          %tr
            %th.no-wrap
              =f.label :name do
                Name
                =db_tooltip_icon "rank_abbreviations", scope: :protonyms
            %td.grow=f.text_field :name, id: 'name_name_string', data: { name_id: name.id }
          %tr
            %td
            %td
              #name_name_string-possible-conflicts-js-hook.possible-name-conflicts

          %tr
            %td{colspan: 2}
              =f.check_box :non_conforming
              =f.label :non_conforming do
                Non-conforming name (WIP/beta)
                =tooltip_icon "Check this to disable the validation for ensuring that the name is identified as the correct name types."

          %tr
            %th{colspan: 2}
              =edit_summary_text_field_tag
              =f.submit "Save", class: "btn-warning"
