=content_for :breadcrumbs_right do
  =link_to "Hide/show additional help", "#", class: "btn-nodanger", data: { show_hide_toggler_for: "additional-help" }

.row{data: { show_hide_toggable_id: "additional-help" }}
  .medium-12.columns
    .callout
      %h6 Additional help
      %p
        %code name
        is the full name. It is used in a lot of places.
      %p
        %code epithet
        is used mainly in the taxon browser. It is the same as the full name for single-word names (family, subfamily, tribe, genus, and also the less frequently used subtribe names, names of collective group names, and "FamilyOrSubfamilyName").
      %p
        Subgenus names consist of two parts: the genus name, followed by the subgenus name in parentheses. The subgenus name part is the epithet in this case.
      %p For species, the epithet is the species name part.
      %p For subspecies, the epithet is the last word in the name.
      %p
        %code epithets
        are only for infraspecific names. It consist of everything in the full name, except the genus name part.
      %p
        Epithet and epithets are both used for the header link (for linking different parts of the name to the
        genus/species/subspecies), AntWeb (links and export), and for checking for homonym cases.

.row
  .medium-8.columns
    =form_for name, url: name_path(name) do |f|
      =render 'shared/errors_for', resource: name
      =hidden_field_tag :type, @name.type

      %table.unstriped
        %tbody
          %tr
            %th=f.label :name
            %td.grow=f.text_field :name
          %tr
            %th=f.label :epithet
            %td=f.text_field :epithet

          -if @name.is_a? SubspeciesName
            %tr
              %th=f.label :epithets
              %td=f.text_field :epithets

          %tr
            %th{colspan: 2}
              =text_field_tag :edit_summary, params[:edit_summary], placeholder: "Edit summary (optional)", maxlength: Activity::EDIT_SUMMARY_MAX_LENGTH
              =f.button "Save", type: :submit, class: "btn-saves"

  .medium-4.columns
    .callout
      %h6 Help
      %p
        =antcat_icon 'warning-icon'
        %strong Consider this an advanced feature.
      %p
        =antcat_icon 'warning-icon'
        This form allows saving of duplicates and homonyms. There are no validations for this.
      %p
        =antcat_icon 'warning-icon'
        Saving this form will update the name in place.
        The new name will be changed for all records referencing this name will.
        Please check
        =link_to 'What Links Here', name_path(name), class: 'btn-normal btn-very-tiny'
        before saving.
