-content_for :javascripts do
  =javascript_include_tag 'check_name_conflicts'

.row
  .medium-8.columns
    =form_for name, url: name_path(name), as: :name do |f|
      =render 'shared/errors_for', resource: name
      =hidden_field_tag :type, name.type

      %table.unstriped
        %tbody
          %tr
            %th=f.label :name
            %td.grow=f.text_field :name, id: 'name_name_string', data: { name_id: name.id }
          %tr
            %td
            %td
              #name_name_string-possible-conflicts-js-hook.possible-name-conflicts

          %tr
            %th{colspan: 2}
              =edit_summary_text_field_tag
              =f.button "Save", type: :submit, class: "btn-saves"

  .medium-4.columns
    .callout
      %h6 Help
      %p
        =antcat_icon 'warning-icon'
        %strong Consider this an advanced feature.
      %p
        =antcat_icon 'warning-icon'
        This form allows saving of duplicates and homonyms.
      %p
        =antcat_icon 'warning-icon'
        Saving this form will update the name in place.
