.callout-alert.callout-responsive.mb-8
  %h6
    =antcat_icon 'warning-icon'
    %strong Consider this an advanced feature

  %p
    Names of
    %code Taxon
    children are not updated.
  %p
    This form allows saving duplicates and homonyms.
  %p
    Saving this form will update the name in place.

.row
  .medium-8.columns
    =form_with model: name, url: name_path(name), scope: :name do |f|
      =render 'shared/errors_for', resource: name
      =hidden_field_tag :type, name.type

      %table.table-unstriped{"data-controller" => "check-name-conflicts"}
        %tbody
          %tr
            %th.no-wrap
              =f.label :name, class: 'mb-4' do
                Name
                =db_wiki_page_icon WikiPage::SPECIES_GROUP_NAMES_CONNECTING_TERMS
            %td.grow-tw-conflict
              =f.text_field :name, "data-check-name-conflicts-target" => "input", "data-action" => 'input->check-name-conflicts#check', "data-check-name-conflicts-except-name-id-param" => name.id
          %tr
            %td
            %td.possible-name-conflicts{"data-check-name-conflicts-target" => "results"}

          %tr
            %td{colspan: 2}
              =f.check_box :non_conforming
              =f.label :non_conforming do
                Non-conforming name (WIP/beta)
                =tooltip_icon "Check this to disable the validation for ensuring that the name is identified as the correct name types."

          %tr
            %th{colspan: 2}
              =edit_summary_text_field_tag
              .mb-4
              =f.button "Save", class: "btn-danger btn-md"
