-@title = "#{@name.name} (##{@name.id}) - Name records"
-breadcrumb :name, @name

=enable_tooltips

-content_for :breadcrumbs_right do
  -if user_is_editor?
    =link_to "Edit", edit_name_path(@name), class: "btn-normal"
  =link_to "History", name_history_path(@name), class: "btn-normal"

.row.margin-bottom
  .small-12.columns
    %h5
      Name record: #{@name.name_html}
      =tooltip_icon "'Name' in this context should not be confused with 'names' in the meaning of 'a taxon'. It is an internal representation of how the actual characters of a name are stored in the database."
    %table.table.unstriped
      %tbody
        %tr
          %th Type
          %td
            %code=@name.type
        %tr
          %th Name
          %td=@name.name
        %tr
          %th Epithet
          %td=@name.epithet

    %p
      This name belongs to the
      %code=@name.owner.class.name
      record
      -if @name.owner.is_a?(Taxon)
        =@name.owner.decorate.id_and_name_and_author_citation
      -else
        =@name.owner.decorate.link_to_protonym
