-content_for :javascripts do
  =javascript_include_tag "markdown_and_friends"

=form_with model: issue do |f|
  =render "shared/errors_for", resource: issue
  .row
    .medium-6.columns.end
      =f.label :title
      =f.text_field :title, maxlength: Issue::TITLE_MAX_LENGTH

  .row
    .medium-12.columns
      =f.check_box :help_wanted
      =f.label :help_wanted do
        Help wanted
        =tooltip_icon "Use this for high-priority issues. When it is checked, a 'Help Wanted' notice will be visible in the header on all pages to all logged-in users. The notice will disappear once there are no open 'Help wanted' issues."
  .row
    .medium-12.columns
      =f.text_area :description, rows: 7,
        data: { has_mentionables: true, has_linkables: true, previewable: true, previewable_title: "Description" }

  .row
    .medium-12.columns
      =edit_summary_text_field_tag

  =f.button "Save", class: "btn-saves"
