-@title = "Issues"
-breadcrumb :issues

%p.left
  -if @open_issues_count.zero?
    There are currently no open issues.
  -else
    Showing
    =pluralize(@open_issues_count, "open issue") + "."

-if current_user
  .buttons-right=link_to "New", new_issue_path, class: "btn-normal"

%table.issues.unstriped
  %thead
    %tr
      %th
      %th Status
      %th Title
      %th Comments
      %th Added
  %tbody
    -@issues.each do |issue|
      %tr.issue{class: issue.decorate.format_status_css}
        %td.icon=antcat_icon "issue", issue.decorate.format_status_css
        %td=issue.decorate.format_status
        %td.grow=link_to issue.title, issue
        %td.no-wrap=link_comments_section issue
        %td.no-wrap
          =time_ago_in_words issue.created_at
          ago by
          =issue.adder.decorate.user_page_link

=will_paginate @issues
