-title "Issues"
-breadcrumb :issues

-if current_user
  -content_for :breadcrumbs_right do
    =link_to "New", new_issue_path, class: "btn-normal"

-if @no_open_issues
  %p
    There are currently no open issues.
    =link_to "Create one?", new_issue_path, class: "btn-normal btn-tiny"

-if Issue.any_help_wanted_open?
  .callout.primary.medium-9.margin-bottom
    %p One or more open issues are tagged as 'Help wanted'.
    %p These issues were deemed important for one or another reason, in many cases because they are blocking improvements we want to make to the code.
    %p Any help fixing these is much appreciated. Resolved issues can be closed, and then this notice will disappear from this page and the header.

%table.issues.unstriped.stack
  %tbody
    -@issues.each do |issue|
      %tr.issue{class: ('closed' if issue.closed?)}
        %td.icon.vertical-align-top=issue.decorate.icon
        %td.grow
          =link_to issue.title, issue
          =issue.decorate.help_wanted_badge
          %br
          %small.gray-text.with-gray-links
            added
            =time_ago_in_words issue.created_at
            ago by
            =issue.user.decorate.user_page_link
        %td.no-wrap=CommentableDecorator.new(issue).link_existing_comments_section
        %td.no-wrap

=will_paginate @issues

.row.huge-margin-top
  .large-12.columns
    %h5 Most recent activity (#{link_to "see more", activities_path(trackable_type: 'Issue')})
    =render "activities/table", activities: @recent_activities
