-@title = "Issue ##{@issue.id}: #{@issue.title}"
-breadcrumb :issue, @issue

-content_for :breadcrumbs_right do
  =link_to "History", issue_history_path(@issue), class: "btn-normal"
  -if current_user
    -if @issue.open?
      =link_to "Close", close_issue_path(@issue), method: :put, class: "btn-saves"
    -else
      =link_to "Re-open", reopen_issue_path(@issue), method: :put, class: "btn-warning"
    =link_to "Edit", edit_issue_path(@issue), class: "btn-normal"

.left.small-margin-bottom
  %h5
    #{@issue.decorate.format_status} issue: #{@issue.title}
    =@issue.decorate.help_wanted_badge
  %small
    Added by
    =@issue.adder.decorate.user_page_link
    =time_ago_in_words @issue.created_at
    ago

    -if @issue.closed?
      =dash
      Closed by
      =@issue.closer.decorate.user_page_link

.row
  .medium-12.columns
    =markdown @issue.description

=render "comments/comments_area", commentable: @issue, new_comment: @new_comment
