-@title = "Issue ##{@issue.id}: #{@issue.title}"
-breadcrumb :issue, @issue

.left
  %h5 #{@issue.decorate.format_status} issue: #{@issue.title}
  Added by
  =@issue.adder.decorate.user_page_link
  =time_ago_in_words @issue.created_at
  ago

-if can? :edit, :catalog
  .buttons_right
    -if @issue.open?
      =link_to "Close", close_issue_path(@issue), method: :put, class: "btn-saves"
    -else
      =link_to "Re-open", reopen_issue_path(@issue), method: :put, class: "btn-saves-warning"
    =link_to "Edit", edit_issue_path(@issue), class: "btn-normal"
.clear

-if @issue.closed?
  %p
    Closed by
    =@issue.closer.decorate.user_page_link

.row
  .medium-12.columns
    .callout
      =markdown @issue.description

=render partial: "comments/comments_area", locals: { commentable: @issue, new_comment: @new_comment }
