-page_title "Issue ##{@issue.id}: #{@issue.title}"
-breadcrumb :issue, @issue

-content_for :breadcrumbs_right do
  =link_to "History", issue_history_path(@issue), class: "btn-default"
  -if current_user
    -if @issue.open?
      =link_to "Close", close_issue_path(@issue), method: :put, class: "btn-saves"
    -else
      =link_to "Re-open", reopen_issue_path(@issue), method: :put, class: "btn-danger"
    =link_to "Edit", edit_issue_path(@issue), class: "btn-default"
  -if user_is_superadmin? && user_is_developer?
    =link_to append_superadmin_icon("Delete"), @feedback, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-danger"

.float-left.mb-4
  %h5
    #{@issue.open? ? 'Open' : 'Closed'} issue: #{@issue.title}
    =@issue.decorate.help_wanted_badge
  %small
    Added by
    =@issue.user.decorate.user_page_link
    =time_ago_in_words @issue.created_at
    ago

    -if @issue.closed?
      =mdash
      Closed by
      =@issue.closer.decorate.user_page_link

=markdown @issue.description

=render "comments/comments_area", commentable: @issue, new_comment: @new_comment
