-content_for :head do
  =javascript_include_tag "preview_markdown"

=form_for @task do |f|
  =render "shared/errors_for", resource: @task
  .row
    .medium-6.columns.end
      =f.label :title
      =f.text_field :title, { maxlength: 70, disabled: @task.archived? }

  .row
    .medium-12.columns
      %ul#task-tabs.tabs{"data-tabs" => ""}
        %li.tabs-title.is-active
          =link_to "Description", "#description"
        %li.tabs-title
          =link_to "Preview", "#preview", id: "task_preview_link"
        %li.tabs-title
          =link_to "Formatting Help", "#formatting_help"

      .tabs-content{"data-tabs-content" => "task-tabs"}
        #description.tabs-panel.is-active
          =f.text_area :description, cols: 80, rows: 15, disabled: @task.archived?

        #preview.tabs-panel

        #formatting_help.tabs-panel
          =render "shared/markdown_formatting_help"

  =button_tag "Save", class: "btn-save" unless @task.archived?
