-content_for :head do
  =javascript_include_tag "tasks/linked_taxa_token_field"
  =javascript_include_tag "tasks/preview_markdown"

=form_for @task do |f|
  =render "shared/errors_for", resource: @task
  =f.label :title
  =f.text_field :title, disabled: @task.archived?

  #linked_taxa
    =f.label :linked_taxa
    =f.text_field :taxa_tokens, data: { load: @task.taxa.to_json(root: nil) }

  %ul#task-tabs.tabs{"data-tabs" => ""}
    %li.tabs-title.is-active
      =link_to "Description", "#description"
    %li.tabs-title
      =link_to "Preview", "#preview", id: "preview_markdown_link"

  .tabs-content{"data-tabs-content" => "task-tabs"}
    #description.tabs-panel.is-active
      =f.text_area :description, cols: 80, rows: 15, disabled: @task.archived?

    #preview.tabs-panel

  =button_tag "Save", class: "btn-save" unless @task.archived?
  