-content_for :head do
  =javascript_include_tag "preview_markdown"
  =javascript_include_tag "input_has_linkables"
  =javascript_include_tag "input_has_mentionables"

=form_for @task do |f|
  =render "shared/errors_for", resource: @task
  .row
    .medium-6.columns.end
      =f.label :title
      =f.text_field :title, { maxlength: 70, disabled: @task.archived? }

  .row
    .medium-12.columns
      =f.text_area :description, cols: 80, rows: 15, disabled: @task.archived?,
        data: { has_mentionables: true, has_linkables: true, previewable: true, previewable_title: "Description" }

  =button_tag "Save", class: "btn-save" unless @task.archived?
