%table
  %caption AntCat-specific hooks
  %thead
    %tr
      %th What
      %th Code
      %th Output
  %tbody
    %tr
      %td Taxon link
      %td
        %code %t429349
      %td=markdown "%t429349"
    %tr
      %td Taxa list
      %td
        %code %tl[438771, 437477, 438835]
      %td=markdown "%tl[438771, 437477, 438835]"
    %tr
      %td Reference link
      %td
        %code %r126902
      %td=markdown "%r126902 (expandable)"
    %tr
      %td Journal link
      %td
        %code %j20765
      %td=markdown "%j20765"
    %tr
      %td Task link
      %td
        %code %task1
      %td=markdown "%task1"
    %tr
      %td User feedback link
      %td
        %code %feedback1
      %td=markdown "%feedback1"
    %tr
      %td GitHub issue link
      %td
        %code %github126
      %td=markdown "%github126"

%p
  See
  =link_to "Markdown-Cheatsheet (@GitHub)", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
  for general markdown formatting help.
