%table
  %caption AntCat-specific hooks
  %thead
    %tr
      %th What
      %th Code
      %th Output
  %tbody
    %tr
      %td Taxon link
      %td
        %code %429349
      %td=markdown "%429349"
    %tr
      %td Taxa list
      %td
        %code %tl[438771, 437477, 438835]
      %td=markdown "%tl[438771, 437477, 438835]"
    %tr
      %td Reference link
      %td
        %code %r126902
      %td=markdown "%r126902 (expandable)"

%p
  See
  =link_to "Markdown-Cheatsheet (@GitHub)", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
  for general markdown formatting help.
