-@title = "Open Tasks"
-breadcrumb :tasks

%p.left
  -if @open_task_count.zero?
    There are currently no open tasks.
  -else
    Showing
    =pluralize(@open_task_count, "open task") + "."

-if user_can_edit?
  .buttons_right=link_to "New", new_task_path, class: "btn-new"

%table
  %thead
    %tr
      %th
      %th Status
      %th Title
      %th Comments
      %th Added
  %tbody
    -@tasks.each do |task|
      %tr.task{class: task.status}
        %td.icon=task_icon task.status
        %td=task.status.capitalize
        %td.grow=link_to task.title, task
        %td.center-text=link_comments_section task
        %td.no-wrap=time_ago_in_words task.created_at

=will_paginate @tasks
