-@title = "Task ##{@task.id}: #{@task.title}"
-breadcrumb :task, @task

.left
  %h5=@task.title
  Added by
  =@task.adder.decorate.user_page_link
  =time_ago_in_words(@task.created_at)

-if user_can_edit?
  .buttons_right
    -if @task.archived?
      =link_to("Re-open", reopen_task_path(@task), method: :put, class: "btn-destructive")
    -else
      =link_to("Close", close_task_path(@task), method: :put, class: "btn-destructive")
      =link_to("Edit", edit_task_path(@task), class: "btn-normal")
.clear

-if @task.archived?
  %p
    Marked as
    =@task.status
    by
    =@task.closer.decorate.user_page_link

.row
  .medium-12.columns
    .callout
      =markdown @task.description

=render partial: "comments/comments_area", locals: { commentable: @task, new_comment: @new_comment }
