-page_title "PaperTrail Versions"
-breadcrumb :versions

=form_with url: request.path, method: :get do |f|
  .row.mb-4
    .small-6.medium-2
      =f.select :whodunnit, options_for_select(User.order(:name).pluck(:name, :id), params[:whodunnit]), prompt: 'User'
    .small-6.medium-2
      =f.select :item_type, options_for_select(EditorsPanels::VersionsController::FILTERABLE_ITEM_TYPES, params[:item_type]), prompt: 'Item type'
    .small-6.medium-2
      =f.number_field :item_id, value: params[:item_id], placeholder: 'Item ID'
    .small-6.medium-2
      =f.select :event, options_for_select(PaperTrail::Version::EVENTS, params[:event]), prompt: 'Event'

  .row.mb-4
    .small-6.medium-2
      =f.text_field :request_uuid, value: params[:request_uuid], placeholder: 'Request UUID'
    .small-6.medium-2
      =f.select :search_type, options_for_select([["LIKE (default)", "LIKE"], ["REGEXP", "REGEXP"]], params[:search_type]), prompt: "Search type"
    .small-6.medium-2
      =f.text_field :q, value: params[:q], placeholder: "Search query"
    .small-6.medium-2
      =f.button "Filter", name: nil, class: "btn-default btn-md"
      =link_to "Clear", request.path, class: "btn-neutral btn-md"

-if @first_version
  .text-center
    %h5=time_ago_in_words @first_version.created_at
    %h6=@first_version.created_at

-if @versions.blank?
  .callout-danger.callout-responsive Found no versions
-else
  %table.table-striped
    %thead
      %tr
        %th ID
        %th Event
        %th Type
        %th Item ID
        %th When
        %th
        %th Changeset
    %tbody
      -@versions.each do |version|
        %tr
          %td=link_to version.id, version_path(version)
          %td
            %code=version.event
          %td
            %code=version.item_type
          %td=version.item_id
          %td.no-wrap=version.created_at
          %td
            -decorated_version = version.decorate
            =decorated_version.revision_history_link
            =decorated_version.activity_link
          %td
            %pre.pre-wrapped.break-all.text-md
              =decorated_version.format_compact_changeset

-if @last_version
  .text-center
    %h5=time_ago_in_words @last_version.created_at
    %h6=@last_version.created_at

%p.text-sm.float-right
  Total versions: #{@total_versions_count} (#{Time.current})

.clear-both

=will_paginate @versions
