-@title = "PaperTrail Versions"
-breadcrumb :versions

=form_tag request.path, method: :get do
  .row
    .small-6.medium-4.large-2.columns
      =select_tag :whodunnit, options_for_select(User.order(:name).pluck(:name, :id), params[:whodunnit]), prompt: 'User'
    .small-6.medium-4.large-2.columns
      =select_tag :item_type, options_for_select(EditorsPanels::VersionsController::FILTER_ITEM_TYPES, params[:item_type]), prompt: 'Item type'
    .small-6.medium-4.large-2.columns
      =number_field_tag :item_id, params[:item_id], placeholder: 'Item ID'
    .small-6.medium-4.large-2.columns
      =select_tag :event, options_for_select(%w[create destroy update], params[:event]), prompt: 'Event'
    .small-6.medium-4.large-2.columns.end
      =number_field_tag :change_id, params[:change_id], placeholder: 'Change ID'

  .row
    .small-6.medium-4.large-2.columns
      =text_field_tag :request_uuid, params[:request_uuid], placeholder: 'Request UUID'
    .small-6.medium-4.large-2.columns
      =select_tag :search_type, options_for_select([["LIKE (default)", "LIKE"], ["REGEXP (slow)", "REGEXP"]], params[:search_type]), prompt: "Search type"
    .small-6.medium-4.large-2.columns
      =text_field_tag :q, params[:q], placeholder: "Search query"
    .small-6.medium-4.large-2.columns.end
      =button_tag type: "submit", name: nil, class: "btn-normal has-spinner" do
        =spinner_icon + "Filter"
      &nbsp;
      =link_to "Clear", request.path, class: "button btn-nodanger"

-if @versions.first
  .center-text
    -first_version_date = @versions.first.created_at
    %h5=time_ago_in_words first_version_date
    %h6=first_version_date

-if @versions.count.zero?
  .alert.callout Found no versions.
-else
  %table
    %thead
      %tr
        %th ID
        %th Event
        %th Type
        %th Item ID
        %th When
        %th
        %th
    %tbody
      -@versions.each do |version|
        %tr
          %td=link_to version.id, version_path(version)
          %td=version.event
          %td=version.item_type
          %td=version.item_id
          %td.no-wrap=version.created_at
          %td=version.decorate.revision_history_link
          %td
            =inline_expandable version.inspect do
              %pre=version.to_yaml

-if @versions.last
  .center-text
    -last_version_date = @versions.last.created_at
    %h5=time_ago_in_words last_version_date
    %h6=last_version_date

%p
  %small.right Total versions: #{@version_count} (#{Time.zone.now})

=will_paginate @versions
