-page_title "PaperTrail Version ##{@version.id}"
-breadcrumb :version, @version

-decorated_version = @version.decorate

-content_for :breadcrumbs_right do
  =decorated_version.revision_history_link
  =decorated_version.activity_link

%pre.pre-wrapped
  =inline_expandable @version.inspect do
    =@version.to_yaml

%hr

%pre.pre-wrapped=decorated_version.format_changeset
