-@title = "PaperTrail Version ##{@version.id}"
-breadcrumb :version, @version

=content_for :breadcrumbs_right do
  =@version.decorate.revision_history_link

%pre.wrapped=@version.inspect
%hr
%pre=@version.to_yaml
