-title "PaperTrail Version ##{@version.id}"
-breadcrumb :version, @version

-version_decorated = @version.decorate

-content_for :breadcrumbs_right do
  =version_decorated.revision_history_link
  =version_decorated.activity_link

%pre.pre-wrapped.small-text
  =inline_expandable @version.inspect do
    =@version.to_yaml

%hr.discrete

%pre.pre-wrapped.small-text=version_decorated.format_changeset
