-page_title "Dev - Styles"

%h1 Heading h1
%h2 Heading h2
%h3 Heading h3
%h4 Heading h4
%h5 Heading h5
%h6 Heading h6

%hr

%p.text-xs .text-xs
%p.text-sm .text-sm
%p.text-base .text-base
%p.text-lg .text-lg
%p.text-xl .text-xl
%p.text-2xl .text-2xl
%p.text-3xl .text-3xl
%p.text-4xl .text-4xl
%p.text-5xl .text-5xl
%p.text-6xl .text-6xl
%p.text-7xl .text-7xl
