=form_for tooltip do |f|
  =render 'shared/errors_for', resource: tooltip
  .row
    .medium-6.columns
      =f.label :key
      =f.text_field :key

      =f.label :scope
      =f.text_field :scope

  .row
    .medium-6.columns
      =f.label :text do
        Text
        =tooltip_icon "HTML is allowed, but double quotes are not 100% supported."
      =f.text_area :text, cols: 40, rows: 5

  .row
    .medium-6.columns
      .actions
        =f.button type: :submit, class: "btn-saves"
