%tr
  %td
    =link_to tooltip.key, tooltip_path(tooltip)
  %td
    =tooltip.enabled ? "yes" : "no"
  %td
    =best_in_place tooltip, :text, as: :textarea, ok_button: 'Save', cancel_button: 'Cancel'
  %td
    =best_in_place tooltip, :selector, as: :textarea, ok_button: 'Save', cancel_button: 'Cancel'
  %td
    =tooltip.selector_enabled ? "yes" : "no"
