-title "Edit Tooltips"
-breadcrumb :tooltips

-if user_is_at_least_helper?
  -content_for :breadcrumbs_right do
    =link_to 'New Tooltip', new_tooltip_path, class: "btn-normal"

-if @grouped_tooltips.empty?
  %p
    Found no tooltips.
    =link_to 'Be a hero and create the first one?', new_tooltip_path
-else
  -@grouped_tooltips.each do |scope, tooltips|
    %h5=scope.capitalize
    %table.tooltips.huge-margin-bottom
      %thead
        %tr
          %th Key
          %th Page scope
          %th Tooltip text
      %tbody
        -tooltips.each do |tooltip|
          %tr
            %td=link_to tooltip.key, tooltip
            %td=tooltip.scope
            %td=tooltip.text
