-@title = "Edit Tooltips"
-breadcrumb :tooltips

=enable_tooltips

.buttons-right
  =link_to 'New Tooltip', new_tooltip_path, class: "btn-normal"
  =toggle_tooltip_helper_tooltips_button
  =link_to 'Help', "https://github.com/calacademy-research/antcat/wiki/Editing-tooltips", class: "btn-white"

%table#tooltips
  %thead
    %tr
      %th.apply_tooltip
        Key
        =tooltip_icon :key, scope: :tooltips, disable_edit_link: true
      %th.apply_tooltip
        Page scope
      %th.apply_tooltip
        Key enabled?
        =tooltip_icon :key_enabled, scope: :tooltips, disable_edit_link: true
      %th.apply_tooltip
        Tooltip text
        =tooltip_icon :text, scope: :tooltips, disable_edit_link: true
      %th.apply_tooltip
        Selector
        =tooltip_icon :selector, scope: :tooltips, disable_edit_link: false
      %th.apply_tooltip
        Selector enabled?
        =tooltip_icon :selector_enabled, scope: :tooltips, disable_edit_link: true
  %tbody
    -if @grouped_tooltips.empty?
      %tr
        %td{colspan: 6}
          No tooltips found.
          =link_to 'Be a hero and create the first one?', new_tooltip_path
    -else
      -@grouped_tooltips.each do |scope, tooltips|
        %tr
          %th.scope{colspan: 6}
            =scope.capitalize
        =render tooltips
