-@title = "Edit Tooltips"

%table#tooltips
  %thead
    %tr
      %th
        Key
      %th
        Key enabled?
      %th
        Tooltip text
      %th
        Selector
      %th
        Selector enabled?
  %tbody
    -if @grouped_tooltips.empty?
      %tr
        %td{colspan: 5}
          No tooltips found.
          =link_to 'Be a hero and create the first one?', new_tooltip_path
    -else
      -@grouped_tooltips.each do |namespace, tooltips|
        %tr.fake_subheader
          %td{colspan: 5}
            %h3
              =if namespace.present? then namespace.capitalize else "No namespace" end
        =render tooltips

%br/

%h2 Quick Help
%p TODO add stuff here.

=link_to 'New tooltip', new_tooltip_path
