-@title = "Edit Tooltips"

=enable_tooltips
-content_for :head do
  = javascript_include_tag 'optimal-select.min'
  = javascript_include_tag 'tooltips_edit_in_place'

%table#tooltips
  %thead
    %tr
      %th{class: 'apply_tooltip'}
        Key
        =tooltip_icon :key, scope: :tooltips, disable_edit_link: true
      %th{class: 'apply_tooltip'}
        Page origin
      %th{class: 'apply_tooltip'}
        Key enabled?
        =tooltip_icon :key_enabled, scope: :tooltips, disable_edit_link: true
      %th{class: 'apply_tooltip'}
        Tooltip text
        =tooltip_icon :text, scope: :tooltips, disable_edit_link: true
      %th{class: 'apply_tooltip'}
        Selector
        =tooltip_icon :selector, scope: :tooltips, disable_edit_link: true
      %th{class: 'apply_tooltip'}
        Selector enabled?
        =tooltip_icon :selector_enabled, scope: :tooltips, disable_edit_link: true
  %tbody
    -if @grouped_tooltips.empty?
      %tr
        %td{colspan: 6}
          No tooltips found.
          =link_to 'Be a hero and create the first one?', new_tooltip_path
    -else
      -@grouped_tooltips.each do |namespace, tooltips|
        %tr.fake_subheader
          %td{colspan: 6}
            %h3
              =if namespace.present? then namespace.capitalize else "No namespace" end
        =render tooltips

%br/

=link_to 'Help', page_path('help/editing_tooltips')
|
=link_to 'New Tooltip', new_tooltip_path
|
- if session[:show_missing_tooltips]
  =link_to 'Hide tooltips helper', tooltips_path+'/toggle_tooltip_helper'
- else
  =link_to 'Show tooltips helper', tooltips_path+'/toggle_tooltip_helper'
