-@title = "Edit Tooltips"
-breadcrumb :tooltips

=enable_tooltips

.buttons-right
  =link_to 'New Tooltip', new_tooltip_path, class: "btn-normal"

%table#tooltips
  %thead
    %tr
      %th Key
      %th Page scope
      %th Enabled?
      %th Tooltip text
  %tbody
    -if @grouped_tooltips.empty?
      %tr
        %td{colspan: 4}
          No tooltips found.
          =link_to 'Be a hero and create the first one?', new_tooltip_path
    -else
      -@grouped_tooltips.each do |scope, tooltips|
        %tr
          %th.scope{colspan: 4}
            =scope.capitalize
        =render tooltips
