-# Show and edit are the same page.

-@title = "Tooltip ##{@tooltip.id}"
-breadcrumb :tooltip, @tooltip

.buttons_right
  =link_to "History", tooltip_history_index_path(@tooltip), class: "btn-normal"
  =link_to 'Destroy', @tooltip, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-delete"

=render 'form', tooltip: @tooltip, referral: @referral
