.callout.mb-8
  %h6
    Create new protonym
    %small.text-blue-800.pl-4 leave blank if you have selected an existing protonym
    =tooltip_icon "This will be ignored if an existing protonym is selected"

  -if taxon.protonym.persisted?
    %p This section is not shown, because an existing protonym was selected.
  -else
    =form.fields_for :protonym_attributes, taxon.protonym do |protonym_form|
      %table.table-unstriped
        %tr
          =protonym_form.fields_for :name do |name_form|
            %td
              =name_form.label :name do
                Name
                =db_tooltip_icon :protonym, scope: :taxa
                =db_tooltip_icon :connecting_terms, scope: :protonyms
            %td
              =text_field_tag :protonym_name_string, taxon.protonym.name.name
              %span#copy-name-to-protonym-js-hook.btn-neutral.ml-4 Same as name (copy)
          %tr
            %td
            %td
              #protonym_name_string-possible-conflicts-js-hook.possible-name-conflicts

        %tr
          %td
          %td
            =protonym_form.check_box :fossil
            =protonym_form.label :fossil

            =protonym_form.check_box :sic
            =form.label :sic do
              Sic
              =db_tooltip_icon :sic, scope: :protonyms

        =protonym_form.fields_for :authorship_attributes, (protonym_form.object.authorship || Citation.new) do |authorship_form|
          %tr
            %td
              =authorship_form.label :reference do
                Authorship
                =db_tooltip_icon :authorship, scope: :protonyms
            %td=reference_picker authorship_form.object.reference, name: 'taxon[protonym_attributes][authorship_attributes][reference_id]', id: 'taxon_protonym_attributes_authorship_attributes_reference_id'
          %tr
            %td
              =authorship_form.label :pages do
                Pages
                =db_tooltip_icon :pages, scope: :protonyms
            %td
              .max-w-xs=authorship_form.text_field :pages

          -if taxon.is_a?(SpeciesGroupTaxon)
            %tr
              %td
                =protonym_form.label :forms do
                  Forms
                  =db_tooltip_icon :forms, scope: :protonyms
                  =db_wiki_page_icon WikiPage::FORMS
              %td
                .max-w-xs=protonym_form.text_field :forms
            %tr
              %td
                =protonym_form.label :bioregion do
                  Bioregion
                  =db_tooltip_icon :bioregion, scope: :protonyms
              %td
                .max-w-xs
                  =protonym_form.select :bioregion, Protonym::BIOREGIONS, include_blank: true
            %tr
              %td
                =protonym_form.label :locality do
                  Locality
                  =db_tooltip_icon :locality, scope: :protonyms
              %td
                =protonym_form.text_field :locality, data: { use_locality_autocomplete: true }

          -if taxon.type.in?(Rank::CAN_HAVE_TYPE_TAXON_TYPES)
            %tr
              %td=authorship_form.label :type_name
              %td.text-sm Can be set after creating the new protonym

          %tr
            %td
              =protonym_form.label :nomen_nudum do
                %i Nomen nudum
            %td
              =protonym_form.check_box :nomen_nudum

          -if taxon.is_a?(SpeciesGroupTaxon)
            %tr
              %td
                =protonym_form.label :gender_agreement_type do
                  Gender agreement type (only for species-group names)
                  =db_tooltip_icon :gender_agreement_type, scope: :protonyms
              %td
                .max-w-xs
                  =protonym_form.select :gender_agreement_type, Protonym::GENDER_AGREEMENT_TYPES, include_blank: '(blank)'

          %tr
            %td
              =protonym_form.label :etymology do
                Etymology
                =db_tooltip_icon :etymology, scope: :protonyms
            %td=render 'taxt_editors/field_taxt_editor', name: 'taxon[protonym_attributes][etymology_taxt]', content: taxon.protonym.etymology_taxt

          %tr
            %td
              =protonym_form.label :primary_type_information do
                Primary type information
                =db_tooltip_icon :primary_type_information, scope: :protonyms
            %td=render 'taxt_editors/field_taxt_editor', name: 'taxon[protonym_attributes][primary_type_information_taxt]', content: taxon.protonym.primary_type_information_taxt
          %tr
            %td
              =protonym_form.label :secondary_type_information do
                Secondary type information
                =db_tooltip_icon :secondary_type_information, scope: :protonyms
            %td=render 'taxt_editors/field_taxt_editor', name: 'taxon[protonym_attributes][secondary_type_information_taxt]', content: taxon.protonym.secondary_type_information_taxt
          %tr
            %td
              =protonym_form.label :type_notes do
                Type notes
                =db_tooltip_icon :type_notes, scope: :protonyms
            %td=render 'taxt_editors/field_taxt_editor', name: 'taxon[protonym_attributes][type_notes_taxt]', content: taxon.protonym.type_notes_taxt
          %tr
            %td
              =protonym_form.label :notes do
                Notes
                =db_tooltip_icon :notes, scope: :protonyms
            %td=render 'taxt_editors/field_taxt_editor', name: 'taxon[protonym_attributes][notes_taxt]', content: taxon.protonym.notes_taxt
