-# TODO: Use proper form layout without tables and random CSS classes,

=form.fields_for :name do |name_form|
  .row.mb-8
    .large-8.columns
      %h6.font-bold Required fields
      %table.table-unstriped.mb-8
        %tr
          %td=form.label :parent, 'Parent'
          %td
            -if taxon.parent
              =CatalogFormatter.link_to_taxon_with_linked_author_citation(taxon.parent)
            -else
              (none)

        %tr
          %td.pr-16
            =form.label :name do
              Name
              =db_tooltip_icon :name, scope: :taxa
          %td
            -if taxon.name.persisted?
              =taxon.name.name_html
              %span.ml-8
              =link_to "Name record ##{taxon.name.id}", name_path(taxon.name), class: 'btn-default btn-tiny'
            -else
              -number_of_words = Rank.single_word_name?(taxon.type) ? Names::FindConflicts::SINGLE_WORD_NAMES_ONLY : Names::FindConflicts::NO_SINGLE_WORD_NAMES
              =text_field_tag :taxon_name_string, (taxon.name.name || default_name_string), data: { number_of_words: number_of_words }
              -if taxon.is_a?(Subgenus)
                %span
                  Subgenus name format:
                  %i Genus (Subgenus)
        %tr
          %td.pb-0
          %td.pb-0
            #taxon_name_string-possible-conflicts-js-hook.possible-name-conflicts

        %tr
          %td=form.label :status
          %td
            .max-w-xs
              =form.select :status, Status::STATUSES

        %tr
          %td.shrink-tw-conflict
            =form.label :protonym
            -unless taxon.persisted?
              %small.blue-help-text
                leave blank if you are
                %br
                creating a new protonym
          %td=protonym_picker (form.object.protonym if form.object.protonym&.persisted?), id: 'taxon_protonym_id', name: 'taxon[protonym_id]'

      %h6.font-bold Status-specific fields
      %table.table-unstriped
        %tr
          %td.shrink-tw-conflict
            =form.label :current_taxon do
              Current taxon
              =db_tooltip_icon :current_taxon, scope: :taxa
          %td=taxon_picker form.object.current_taxon, id: 'taxon_current_taxon_id', name: 'taxon[current_taxon_id]', ranks: Rank::RANKS_BY_GROUP[taxon.type]
        %tr
          %td.no-wrap=form.label :homonym_replaced_by, 'Replaced by'
          %td=taxon_picker form.object.homonym_replaced_by, id: 'taxon_homonym_replaced_by_id', name: 'taxon[homonym_replaced_by_id]'

    .large-4.columns
      .callout
        %h6.font-bold Fossil-only fields
        %table.table-unstriped
          %tr
            %td.py-0
              %ul.no-bullet.compact-list
                %li
                  =form.check_box :collective_group_name
                  =form.label :collective_group_name

        %h6.font-bold.mt-2 Misc. fields
        %table.table-unstriped.pb-4
          %tr
            %td.py-0{colspan: 2}
              %ul.no-bullet.compact-list.mb-2
                %li
                  =form.check_box :unresolved_homonym
                  =form.label :unresolved_homonym, 'Unresolved junior homonym?'
                %li
                  =form.check_box :original_combination
                  =form.label :original_combination do
                    Original combination?
                    =db_tooltip_icon :original_combination, scope: :taxa

          -if Rank.genus_group_name?(taxon.type)
            %tr
              %td=name_form.label :gender
              %td=name_form.select :gender, Name::GENDERS, include_blank: '(blank)'

          %tr
            %td=form.label :incertae_sedis_in, "<i>Incertae sedis</i> in".html_safe
            %td=form.select :incertae_sedis_in, Rank::INCERTAE_SEDIS_IN_TYPES, include_blank: '(none)'
