%table.unstriped
  =form.fields_for :name do |name_form|
    %tr
      -if name_form.object.new_record?
        =hidden_field_tag 'taxon[name_attributes][id]'
      %td
        =name_form.label :name do
          Name
          =tooltip_icon "name", scope: :taxa
      %td
        -if taxon.name.persisted?
          %span.right
            =link_to "Name record ##{taxon.name.id}", name_path(taxon.name), class: 'btn-normal btn-tiny'
        %span#name_field
          =render 'name_fields/panel', name_string: taxon.name.try(:name),
            default_name_string: default_name_string && "#{default_name_string} "
        -if taxon.new_record? && taxon.is_a?(Subgenus)
          %span
            Subgenus name format:
            %em Genus (Subgenus)
    -if taxon.name.is_a? GenusGroupName
      %tr
        %td=name_form.label :gender
        %td=name_form.select :gender, [['unknown', nil], 'masculine', 'feminine', 'neuter']

  %tr
    %td=form.label :status
    %td=form.select :status, Status::STATUSES

  %tr
    %td.no-wrap=form.label :homonym_replaced_by, 'Replaced by'
    %td=form.taxon_select :homonym_replaced_by

  -unless taxon.new_record?
    -if taxon.is_a?(Subspecies) && !taxon.species
      %tr
        %td Species
        %td
          %span.bold-warning warning!
          this subspecies has no species, please set one
          =form.taxon_select :species, rank: :species

  %tr
    %td=form.label :parent, 'Parent'
    %td
      -if taxon.parent && taxon.incertae_sedis_in != 'family'
        =taxon.parent.decorate.id_and_name_and_author_citation
        -unless taxon.new_record?
          -if taxon.rank.in?(Taxon::ALLOW_CREATE_COMBINATION_RANKS)
            =link_to "Create combination", new_taxa_create_combination_path(taxon), class: "btn-normal btn-tiny"
          -if taxon.rank.in?(Taxon::ALLOW_FORCE_CHANGE_PARENT_RANKS)
            =link_to "Force parent change...", taxa_force_parent_change_path(taxon), class: "btn-warning btn-tiny"
      -else
        (none)
  %tr
    %td=form.label :current_valid_taxon, 'Current valid name'
    %td=form.taxon_select :current_valid_taxon

  %tr
    %td.no-wrap
      =form.label :incertae_sedis_in
    %td
      =form.select :incertae_sedis_in, [['(none)', nil], *Taxa::CallbacksAndValidations::INCERTAE_SEDIS_IN_RANKS]

  %tr
    %td
    %td
      =form.check_box :fossil
      =form.label :fossil do
        Fossil
        =tooltip_icon "fossil", scope: :taxa

      =form.check_box :nomen_nudum
      =form.label :nomen_nudum, 'Nomen nudum'

      =form.check_box :unresolved_homonym
      =form.label :unresolved_homonym, 'Unresolved junior homonym'

      =form.check_box :ichnotaxon
      =form.label :ichnotaxon, 'Ichnotaxon'

      =form.check_box :hong
      =form.label :hong do
        Hong
        =tooltip_icon "hong", scope: :taxa

  %tr
    %td=form.label :headline_notes_taxt, 'Notes'
    %td=render 'shared/taxt_editor/template', name: 'taxon[headline_notes_taxt]', content: taxon.headline_notes_taxt, id: :taxon_headline_notes_taxt
