.protonym-section.callout
  %h5.callout-header
    Protonym:
    -if taxon.persisted?
      =taxon.protonym.decorate.link_to_protonym
      .right
        =link_to 'Edit', edit_protonym_path(taxon.protonym), title: "Note: Protonyms may be shared and must be edited in a different form. Please save your changes first if you would like to keep them.", class: 'btn-normal btn-tiny tooltip2'
    -else
      Select existing or create new

  -if taxon.persisted?
    %table.unstriped
      %tr
        %td=form.label :protonym
        %td=form.protonym_select :protonym

    -protonym = taxon.protonym
    %table.table.unstriped.gray-text.with-gray-links#existing-protonym
      %tbody
        %tr
          %td Authorship
          %td=protonym.authorship.reference.decorate.expandable_reference
        %tr
          %td Pages
          %td=protonym.authorship.pages
        %tr
          %td Forms
          %td=or_dash protonym.forms
        -if (type_name = protonym.type_name)
          %tr
            %td Type name
            %td
              -type_name_decorated = type_name.decorate
              =type_name_decorated.format_rank
              =CatalogFormatter.link_to_taxon(type_name.taxon) + type_name_decorated.compact_taxon_status + Detax[type_name_decorated.format_fixation_method]
        %tr
          %td Biogeographic region
          %td=protonym.biogeographic_region
        %tr
          %td Locality
          %td=protonym.decorate.format_locality
        %tr
          %td Primary type information
          %td=::Types::FormatTypeField[protonym.primary_type_information_taxt]
        %tr
          %td Secondary type information
          %td=::Types::FormatTypeField[protonym.secondary_type_information_taxt]
        %tr
          %td Type notes
          %td=::Types::FormatTypeField[protonym.type_notes_taxt]
        %tr
          %td Notes
          %td=or_dash Detax[protonym.notes_taxt]
  -else
    %h5.callout-header Existing protonym (leave blank if you are creating a new protonym)
    %table.unstriped
      %tr
        %td=form.label :protonym
        %td=form.protonym_select :protonym

    %h5.callout-header New protonym (this will be ignored if an existing protonym is set)
    =form.fields_for :protonym_attributes, taxon.protonym do |protonym_form|
      %table.unstriped
        %tr
          =protonym_form.fields_for :name do |name_form|
            %td
              =name_form.label :name do
                Name
                =db_tooltip_icon "protonym", scope: :taxa
            %td
              =text_field_tag :protonym_name_string, taxon.protonym.name.name, style: "display: inline-block"
              %span#copy-name-to-protonym-js-hook.btn-nodanger.btn-tiny.left-margin Same as name (copy)
          %tr
            %td
            %td
              #protonym_name_string-possible-conflicts-js-hook.possible-name-conflicts

        %tr
          %td
          %td
            =protonym_form.check_box :fossil
            =protonym_form.label :fossil

            =protonym_form.check_box :sic
            =form.label :sic do
              Sic
              =db_tooltip_icon "sic", scope: :taxa

        =protonym_form.fields_for :authorship_attributes, (protonym_form.object.authorship || Citation.new) do |authorship_form|
          %tr
            %td
              =authorship_form.label :reference do
                Authorship
                =db_tooltip_icon "authorship", scope: :taxa
            %td=authorship_form.reference_select :reference

          %tr
            %td
              =authorship_form.label :pages do
                Pages
                =db_tooltip_icon "pages", scope: :taxa
            %td=authorship_form.text_field :pages

          -unless taxon.is_a? SpeciesGroupTaxon
            %tr
              %td=authorship_form.label :type_name
              %td.small-text Can be set after creating the new protonym

          -if taxon.is_a? SpeciesGroupTaxon
            %tr
              %td
                =protonym_form.label :forms do
                  Forms
                  =db_tooltip_icon "forms", scope: :taxa
              %td=protonym_form.text_field :forms

          %tr
            %td
              =protonym_form.label :biogeographic_region do
                Biogeographic region
                =db_tooltip_icon "type.biogeographic_region", scope: :taxa
            %td=protonym_form.select :biogeographic_region, options_for_select(Protonym::BIOGEOGRAPHIC_REGIONS, taxon.protonym.biogeographic_region), include_blank: true

            %tr
              %td
                =protonym_form.label :locality do
                  Locality
                  =db_tooltip_icon "locality", scope: :taxa
              %td
                =protonym_form.text_field :locality, class: 'locality-autocomplete-js-hook'

                =protonym_form.check_box :uncertain_locality
                =protonym_form.label :uncertain_locality

          %tr
            %td=form.label :primary_type_information
            %td=render 'shared/taxt_editor/taxt_editor_template', name: 'taxon[protonym_attributes][primary_type_information_taxt]', content: taxon.protonym.primary_type_information_taxt, id: :taxon_protonym_attributes_primary_type_information_taxt
          %tr
            %td=form.label :secondary_type_information
            %td=render 'shared/taxt_editor/taxt_editor_template', name: 'taxon[protonym_attributes][secondary_type_information_taxt]', content: taxon.protonym.secondary_type_information_taxt, id: :taxon_protonym_attributes_secondary_type_information_taxt
          %tr
            %td=form.label :type_notes
            %td=render 'shared/taxt_editor/taxt_editor_template', name: 'taxon[protonym_attributes][type_notes_taxt]', content: taxon.protonym.type_notes_taxt, id: :taxon_protonym_attributes_type_notes

          %tr
            %td=form.label :notes_taxt, 'Notes'
            %td=render 'shared/taxt_editor/taxt_editor_template', name: 'taxon[protonym_attributes][notes_taxt]', content: taxon.protonym.notes_taxt, id: :taxon_protonym_attributes_notes_taxt
