-unless taxon.is_a? SpeciesGroupTaxon
  .callout
    %h5.callout-header Type
    %table.unstriped
      %tr
        %td
          =form.label :type_name do
            Type name
            =db_tooltip_icon "type.type_taxon", scope: :taxa
        %td=form.taxon_select :type_taxon
      %tr
        %td=form.label :type_taxt, 'Notes'
        %td=render 'shared/taxt_editor/template', name: 'taxon[type_taxt]', content: taxon.type_taxt, id: :taxon_type_taxt
