-page_title "Create combination"
-breadcrumb :create_combination, @taxon

%p Click on "Create combination" to execute the following operations.

.callout
  =markdown Operations::CreateNewCombination.description(current_taxon: @taxon, new_combination_name: @target_name.name_html, new_genus: @new_parent).html_safe

=form_with(url: taxon_create_combination_path, method: :post) do |f|
  =hidden_field_tag :new_parent_id, @new_parent.id
  =hidden_field_tag :target_name_string, @target_name_string
  =hidden_field_tag :species_epithet, params[:species_epithet]
  =f.button "Create combination", class: "btn-warning btn-md"
