-@title = "Create combination help"
-breadcrumb :create_combination, @taxon

=content_for :breadcrumbs_right do
  =link_to "Hide/show help", "#", class: "btn-nodanger", data: { show_hide_toggler_for: "help" }

=form_tag taxa_move_items_path do
  =hidden_field_tag :new_parent_id, @new_parent.id
  .row{data: { show_hide_toggable_id: "help" }}
    .medium-12.columns
      .callout
        %h6 Help
        =render "help_text"

  .row.margin-bottom
    .medium-6.columns
      %fieldset.fieldset
        %legend Original taxon
        =@taxon.decorate.id_and_name_and_author_citation

    .medium-6.columns
      %fieldset.fieldset
        %legend New parent
        =@new_parent.decorate.id_and_name_and_author_citation

  .row.margin-bottom
    .medium-12.columns
      .row
        .medium-12.columns
          %h5 Existing combinations
          .callout
            %p
            -if @possibly_existing_combinations.empty?
              Found no obvious conflics. Note that subspecies of species are not checked for conflicts when searching for conflicts of a species.
            -else
              =antcat_icon 'warning-icon'
              This new combination looks a lot like existing combinations.
              %table
                %thead
                  %tr
                    %th Taxon
                    %th Existing combination
                %tbody
                  -@possibly_existing_combinations.each do |taxon|
                    %tr
                      %td=taxon.decorate.id_and_name_and_author_citation
                      %td=link_to taxon.protonym.decorate.format_name, taxon.protonym
