.history-items-section.callout
  %h5.callout-header
    History
    .right
      =link_to 'Add', new_taxa_taxon_history_item_path(taxon), class: 'submit btn-normal btn-tiny tooltip', id: 'taxt-editor-add-history-item-button', title: "Note: New items are added on a different page. Please save your changes first if you would like to keep them."
      %a#start-reordering-history-items.btn-normal.btn-tiny.button Reorder
  .history-items{data: {taxon_id: taxon.id}}
    -taxon.history_items.each do |item|
      -# `#taxon_history_item_123` is used for reordering items.
      .history-item{id: "taxon_history_item_#{item.id}"}
        =render 'taxon_history_items/taxt_editor_template', item: item
