.callout
  .junior_and_senior_synonyms_section
    %h5.callout-header Current synonyms
    %p The history includes historical synonyms that are not current. This section is used to indicate which ones are currently valid.

    .container.left
      .junior_synonyms_section
        =render 'taxa/not_really_form/synonyms_section', taxon: taxon, title: 'Junior synonyms', synonyms: taxon.junior_synonyms_with_names, junior_or_senior: 'junior'
    .container.right
      .senior_synonyms_section
        =render 'taxa/not_really_form/synonyms_section', taxon: taxon, title: 'Senior synonyms', synonyms: taxon.senior_synonyms_with_names, junior_or_senior: 'senior'
    .clear
