-unless taxon.kind_of? SpeciesGroupTaxon
  .references_section.callout
    %h5.callout-header
      References
      .right.references_section_buttons
        %button.submit.btn-tiny Add
    .reference_sections
      -taxon.reference_sections.each do |reference_section|
        =render 'reference_sections/panel', item: reference_section
    .reference_section_template
      =render 'reference_sections/panel', item: ReferenceSection.new(taxon_id: taxon.id)
