-unless taxon.is_a? SpeciesGroupTaxon
  .references-section.callout
    %h5.callout-header
      References
      .right
        =link_to 'Add', new_taxa_reference_section_path(taxon), class: 'btn-normal btn-tiny tooltip', id: 'add-reference-section-button', title: "Note: New items are added on a different page. Please save your changes first if you would like to keep them."

    .reference-sections
      -taxon.reference_sections.each do |item|
        =render 'reference_sections/taxt_editor_template', item: item
