-unless taxon.kind_of? SpeciesGroupTaxon
  .references_section.section
    .section_header.ui-widget-header.ui-corner-top
      .left
        References
      .right.references_section_buttons
        %button.submit.btn-tiny Add
      .clear
    .reference_sections.ui-dialog-content.ui-widget-content.ui-corner-bottom
      -taxon.reference_sections.each do |reference_section|
        =render 'reference_sections/panel', item: reference_section
    .reference_section_template
      =render 'reference_sections/panel', item: ReferenceSection.new(taxon_id: taxon.id)
