-url = "/taxa/#{taxon.id}/synonyms?#{junior_or_senior}=1"
.synonym-form{data: { action: url, method: 'post' }}
  %p#error_message

  =taxon_select_tag :synonym_taxon_id, nil
  %span.buttons
    %button.submit.btn-saves Save
    %button.cancel.btn-cancel Cancel
