-url = "/taxa/#{taxon.id}/synonyms?#{junior_or_senior}=1"
.nested_form.edit.ui-corner-all{'data-action' => url, 'data-method' => 'post'}

  %ul.error_messages
    %li#error_message

  =text_field_tag :name
  %span.buttons
    %button.submit.btn-saves Save
    %button.cancel.btn-cancel Cancel
  .help Type the taxon name, or type characters in the name then choose a name from the drop-down list
