.synonyms_section
  %h6.callout-header.no-margin-bottom
    =title
    .buttons.right
      %button.add.btn-tiny Add

  =render 'taxa/not_really_form/synonym_form', taxon: taxon, junior_or_senior: junior_or_senior
  %table.unstriped
    -synonyms.each do |synonym|
      -synonym_taxon = Taxon.find(synonym.synonym_taxon_id)
      %tr.synonym_row
        %td
          %small="##{synonym_taxon.id}"
          =synonym_taxon.name_with_fossil
          %small=synonym_taxon.author_citation
        %td
          %button.btn-tiny.delete.btn-delete{data: { taxon_id: taxon.id, synonym_id: synonym.id} } Delete
          %button.btn-saves.btn-tiny.reverse_synonymy{data: { taxon_id: taxon.id, synonym_id: synonym.id} } Reverse synonymy
