%h5 Because lazy
%ul
  %li=link_to "name_popup", widget_tests_name_popup_test_path
  %li=link_to "name_field", widget_tests_name_field_test_path
  %li=link_to "reference_popup", widget_tests_reference_popup_test_path
  %li=link_to "reference_field", widget_tests_reference_field_test_path
  %li=link_to "taxt_editor", widget_tests_taxt_editor_test_path
