-@title = 'Name Field Test'

-content_for :head do
  =javascript_include_tag 'jquery.a-tools-1.5.2', 'jquery.form'
  =javascript_include_tag 'widgets/panel', 'widgets/form', 'widgets/ajax_form', 'widgets/nested_form'
  =javascript_include_tag 'widgets/name_field'
  =javascript_include_tag 'widget_tests/name_field_test'

#results
#new_or_homonym_results

#taxon_form.nested_form.antcat_form.ui-corner-all.ui-widget-content.ui-widget
  %table
    %col{width: '50px'}
    %col{width: '*'}

    %tr
      %td=label_tag :name
      %td#test_name_field
        =render 'name_fields/panel', name_string: @name.try(:name)
        =hidden_field_tag 'test_name_field_value', ''

    %tr
      %td=label_tag :allow_blank
      %td#test_allow_blank_name_field
        =render 'name_fields/panel', name_string: @name.try(:name)
        =hidden_field_tag 'test_allow_blank_name_field_value', ''

    %tr
      %td=label_tag :new_or_homonym
      %td#test_new_or_homonym_name_field
        =render 'name_fields/panel', name_string: @name.try(:name)
        =hidden_field_tag 'test_new_or_homonym_name_field_value', ''

    %tr
      %td=label_tag :default_name_string
      %td#test_default_name_string_name_field
        =render 'name_fields/panel', name_string: @name.try(:name), default_name_string: @default_name_string
        =hidden_field_tag 'test_default_name_string_name_field', ''

    %tr
      %td.buttons{colspan: 4}
        %button.submit.btn-saves Save
        %button.cancel.btn-cancel Cancel
