- @title = 'Name Field Test'

- content_for :head do
  = javascript_include_tag 'widgets/panel', 'widgets/form', 'widgets/ajax_form', 'widgets/nested_form', 'widgets/name_picker'
  = javascript_include_tag 'widget_tests/name_field_test'

- content_for :page_contents do
  #results

  .nested_form#taxon_form.antcat_form.ui-corner-all.ui-widget-content.ui-widget
    %table
      %col{:width => '50px'}
      %col{:width => '*'}

      %tr
        %td= label_tag :name
        %td
          #picker
            - taxon = params[:id].present? ? Taxon.first : nil
            = render 'name_pickers/show', id: taxon ? taxon.name.id : nil, name: taxon ? taxon.name.name : nil

      %tr
        %td.buttons{colspan: 4}
          %button.ui-priority-primary.submit Save
          %button.ui-priority-secondary.cancel Cancel
