- @title = 'Nested Form Test'

- content_for :head do
  =javascript_include_tag 'widgets/nested_form'
  =javascript_include_tag 'widget_tests/nested_form'

- content_for :page_contents do
  %form.test
    .nested_form
      = text_field_tag 'Name', 'Mark'
      .buttons
        = button_tag 'Save', class: 'save submit'
      .buttons
      .nested_form{style: 'margin-top: 4px'}
        = text_field_tag 'Name', "Bertrand"
        .buttons
          = button_tag 'Save Son', class: 'save_son submit'
    .buttons
