- @title = 'Simulated Form Test'

- content_for :head do
  =javascript_include_tag 'widgets/nested_form'
  =javascript_include_tag 'widget_tests/nested_form'

- content_for :page_contents do
  %form.test
    .nested_form
      = text_field_tag 'Name'
      = button_tag 'Save', class: 'save'
      .nested_form
        = text_field_tag "Name"
        = button_tag 'Save Son', class: 'save_son'
