- @title = 'Reference Picker Test'

- content_for :head do
  = javascript_include_tag 'widgets/jquery.antcat.reference_picker.js'
  = javascript_include_tag 'widget_tests/reference_picker'

  :javascript
    AntCat.test_reference_id = #{params[:id].present? ? Reference.first.id : 'null'};

