-@title = 'Reference Field Test'

-content_for :head do
  =javascript_include_tag 'jquery.a-tools-1.5.2', 'jquery.form'
  =javascript_include_tag 'widgets/form', 'widgets/ajax_form', 'widgets/nested_form'
  =javascript_include_tag 'widgets/panel'
  =javascript_include_tag 'widgets/reference_picker'
  =javascript_include_tag 'widgets/reference_field'
  =javascript_include_tag 'widget_tests/reference_field_test'

%form#taxon_form.antcat_form.ui-corner-all.ui-widget-content.ui-widget
  %table
    %col{width: '109px'}
    %col{width: '*'}

    %tr
      %td.authorship.caption.top_align=label_tag 'Authorship'
      %td
        #authorship_field
          =render 'reference_fields/show', references: @references, reference: @reference

    %tr
      %td.caption.top_align=label_tag 'Reference ID'
      %td=text_field_tag 'authorship_value', '', disabled: true

    %tr.buttons
      %td.buttons{colspan: 4}
        %button.submit.btn-saves  Save
        %button.cancel.btn-cancel Cancel
