- @title = 'Simulated Form Test'

- content_for :head do
  =javascript_include_tag 'widget_tests/simulated_form'

- content_for :page_contents do
  %form.test
    .simulated_form
      = text_field_tag 'Name'
      = button_tag 'Save'
      .simulated_form
        = text_field_tag "Name"
        = button_tag 'Save Son'
