=enable_tooltips
-content_for :head do
  =javascript_include_tag 'tooltips_edit_in_place'

%h5 Form that doesn't do anthing
%form
  %label
    Hardcoded
    =tooltip_icon :hardcoded, scope: :widget_tests
  %input{type: "text", value: "'widget_tests.hardcoded' is nested inside the above label"}

  %button.btn-normal OK

%ul
  %li.title Hook
