@import 'common'

html, body, #page, .rank
  height: 100%

#page_contents
  padding-bottom: 3px

#taxon_header
  height: 11em
  overflow: auto
  margin-bottom: 6px
  @include margins

  .taxon_header
    font-size: 1.3em
  .taxon_headline 
    .family_group_name
      font-weight: bold
      padding-right: 3px
    .genus_name
      font-style: italic

.taxonomic_history

#catalog
  margin-top: 2px
  min-width: 1500px

.rank
  overflow-y: auto
  overflow-x: hidden
  border-right: solid 1px black
  float: left
  .header
    height: 37px
    padding-left: $left_margin
    padding-top: 4px
    text-align: left
    font-size: 1.5em
    border-bottom: solid black 1px
    .hide_show
      font-size: 10px
      margin-left: 16px

td.taxon_item
  padding-right: 13px
  padding-left: $left_margin

td.teensy
  font-size: .90em
  line-height: .99em

.statistics
  font-size: .85em
  font-style: italic
  p
    line-height: 1.1em

h4
  font-weight: bold

.reference_key_expansion
  display: none

