@import 'common'

// Meyer's reset CSS: http://meyerweb.com/eric/tools/css/reset/index.html
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent
body
  line-height: 1
ol, ul
  list-style: none
table
  border-collapse: collapse
  border-spacing: 0

///////////////////////////////////////////////////
// tags

body
  background-color: $color_frame
  line-height: 16px
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif"
  font-size: 13px
  font-weight: normal

table
  border-collapse: separate
  border-spacing: 2px

label
  margin-right: 5px

h2
  font-size: 20px
  font-weight: normal

h3
  font-size: 16px
  font-weight: normal

input[type=text], input[type=file], input[type=password], textarea
  background-color: $color_input_background

a, a:active, a:hover, a:focus, a:visited
  color: $color_link
  text-decoration: none
  &:hover
    color: $color_link_highlight

///////////////////////////////////////////////////
// classes

.clear
  clear: both

.left
  float: left

.right
  float: right

.genus_or_species
  font-style: italic

p.help span.help a
  color: $color_link
  &:hover
    color: $color_link_highlight

span.help
  font-style: italic

.right_side_field
  padding-right: 5px !important

.instructions
  font-size: small
  font-style: italic

ul.error_messages
  margin: 15px 0 0 0
  padding: 0
  li
    font-size: small
    color: $color_error
    font-style: italic

.pagination
  padding-bottom: 10px
  padding-top: 5px

///////////////////////////////////////////////////
// elements

#page
  width: 95%
  margin: 0 auto
  background-color: $color_contents_background

#site_header
  @include margins
  color: $color_header
  background: url("../images/header_bg.png") repeat scroll 0 0
  height: 95px

  .logo, .image
    float: left

  .navigation
    text-align: right
    margin-top: 8px
    float: right
    a, a:hover, a:visited, a:link
      color: $color_header_link
      font-weight: bold
      &:hover
        color: $color_header_link_highlight

#login
  height: 58px
  input[type=text]
    width: 140px
  input[type=password]
    width: 100px
  @include header_submit_button(#645405, #b6b6b6)
  .small
    font-size: 10.5px

#page_header
  .title
    @include margins
    padding-top: 8px
    h2
      margin-right: 12px

#page_notice
  @include margins
  color: $color_notice
#page_alert
  @include margins
  color: $color_error

#page_contents
  @include margins
  padding-top: 2px
  padding-bottom: 0

#site_footer
  @include margins
  .images
    padding-bottom: 5px
    width: 100%
    td
      vertical-align: middle
