// Meyer's reset CSS: http://meyerweb.com/eric/tools/css/reset/index.html
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent

body
  line-height: 1

ol, ul
  list-style: none

table
  border-collapse: collapse
  border-spacing: 0

///////////////////////////////////////////////////
// elements

body
  background-color: #71932d
  line-height: 16px

body, textarea, input
  font-family: Verdana, Helvetica, Arial
  font-size: 12px

h1, h2, h3
  font: Helvetica
  font-weight: normal
  margin: 4px

h1
  font-size: 20px

h2
  font-size: 20px

h3
  font-size: 16px
  margin-top: 4px

table
  border-collapse: separate
  border-spacing: 2px

label
  margin-right: 5px

input[type=text], input[type=file], textarea
  background-color: lightyellow

a, a:active, a:hover, a:focus, a:visited
  color: green
  text-decoration: none
  &:hover
    color: lightgreen

p.help span.help a
  color: green
  &:hover
    color: lightgreen

///////////////////////////////////////////////////
// classes

div.clear
  clear: both

div.left
  float: left

div.right
  float: right

.watermark
  color: #999

span.taxon
  font-style: italic

span.help
  font-style: italic

.right_side_field
  padding-right: 5px !important

.instructions
  font-size: small
  font-style: italic

ul.error_messages
  margin: 15px 0 0 0
  padding: 0
  li
    font-size: small
    color: red
    font-style: italic

///////////////////////////////////////////////////
// specific elements

#header, #subheader, #contents, #footer, .pagination
  padding: 2px 40px 0 55px

#header h2
  margin-left: 16px

#page
  width: 95%
  margin: 0 auto
  background-color: #FFF
  border: solid 1px black
  margin-top: 20px

.pagination
  padding-top: 5px

#images
  padding-bottom: 5px
  width: 100%
  td
    vertical-align: middle

#search
  input[type=text]
    margin-right: 5px
  button
    margin-left: 5px
    width: 57px
  table
    width: 100%
  td.buttons
    width: 130px

#login
  float: right
  font-size: smaller
  text-align: right

#notice
  color: blue

#alert
  color: red


#q
  width: 100%
