@import 'common'

$tiny_font_size: 11px

.author_panel
  border: thin solid black
  padding: 4px
  margin: 4px
  margin-left: 0
  float: left

  .no_results
    font-size: 12px

  .name_sections
    margin-top: 2px
    border-top: thin solid black
    .name_section
      padding: 2px
      .name
        padding-left: 2px
        padding-bottom: 2px
        padding-top: 4px
        font-weight: bold
        .count
          font-weight: normal
          font-size: 12px
          font-style: italic
          margin-left: 6px

    .references_section
      border: thin solid grey
      padding: 2px
      max-height: 100px
      overflow: auto
      font-size: $tiny_font_size
      line-height: $tiny_font_size

      .reference_section
        font-size: $tiny_font_size
        line-height: $tiny_font_size
        .genus_or_species
          font-size: $tiny_font_size
