@import 'common'

.author_panel
  border: thin solid black
  padding: 4px
  margin: 4px
  margin-left: 0
  float: left

  .name_sections
    margin-top: 2px
    border-top: thin solid black
    .name_section

