@import 'common'

table, tr, td, tbody
  margin-top: -1px
  margin-bottom: -1px
  padding: 0px
  border: 0
  line-height: 1em

.references
  margin-top: 6px

.reference
  border: thin black solid
  margin-top: 0px
  margin-bottom: 16px

  > table
    width: 100%
    background: lightgrey
    border-top: thin black solid
    border-bottom: thin black solid

    td.id
      width: 55px
    td.authors
      width: 200px
    td.citation_year
      width: 108px
    td.series_volume_issue
      width: 168px
    td.pagination
      width: 119px
    td.reference_type
      width: 100px
      text-align: right
    td.original
      padding: 4px

table.match
  border-bottom: thin black solid
  width: 100%
  background: white
