@import 'common'

table, tr, td, tbody
  margin-top: -1px
  margin-bottom: -1px
  padding: 0px
  border: 0
  line-height: 1em

#navigation_bar
  height: 33px
  .search input[type=text]
    height: 17px

label
  margin-left: -8px

#match_threshold
  width: 23px !important

.search
  margin-top: 3px

.search_item
  padding-left: 6px
  line-height: 21px

// Blueprint

@import 'blueprint'

$blueprint_grid_columns: 25
$blueprint_grid_width: 30px
$detail_width: $blueprint_grid_columns - 2

#container
  margin-top: 6px

.bolton_reference
  +clearfix
  border: 1px black solid
  margin-bottom: 10px

  &.manual
    background: darken(#98FB98, 10%)
  &.auto
    background: lighten(#98FB98, 10%)
  &.none
    background: lightpink

  .header
    +column($blueprint_grid_columns)
    padding: 5px
    border-bottom: 1px black solid

  .margin
    +column(2)
    min-height: 1px
  .details
    +column($detail_width, true)
  .fields
    +column($detail_width)

  .authors
    +column(4)
  .citation_year
    +column(3)
  .series_volume_issue
    +column(2)
  .pagination_field // don't conflict with will_paginate's .pagination
    +column(3)
  .reference_type
    +column(4)
  .id
    +column(3, true)

  .title
    +column($detail_width, true)

  .matches
    +column($blueprint_grid_columns, true)
    padding: 5px
    border-bottom: 1px black solid

  .match
    +column($blueprint_grid_columns, true)

  .footer
    +column($blueprint_grid_columns, true)
    padding: 5px
