@import 'common'

html
  height: 100%

body
  height: 100%

#page
  height: 100%

#index
  float: left
  width: 160px
  margin-right: 10px
  height: 100%
  font-weight: normal
  border-right: solid black 1px

#browser
  float: left
  width: 700px
  overflow-y: auto

.taxon_header
  font-weight: bold

.taxonomic_history
  padding-bottom: 10px

.index_taxon
  padding-bottom: 2px

.index_header_taxon
  font-size: 1.3em
  padding-bottom: 4px

a:hover
  color: black !important
  background: yellow
