@import 'colors'

body
  width: 1371px

.taxon_header
  padding: 5px
  font-size: 1.3em
  font-weight: bold

.taxonomic_history
  height: 9.2em
  overflow: auto
  position: relative
  text-align: left
  padding: 5px
  padding-top: 0

.taxon
  float: left

.valid
  color: red !important

.synonym
  color: black !important

.unidentifiable, .excluded
  color: green !important

.unavailable, .nomen_nudum
  color: purple !important

.homonym, .unresolved_homonym
  color: brown !important

.selected
  background: yellow !important

table.browser
  border-top: 1px solid black
  margin-top: 10px

.rank_column
  height: 452px
  overflow: auto

.teensy
  font-size: .90em
  line-height: .99em

table.subfamilies
  border-right: 1px black solid
  width: 140px

table.genera
  width: 460px
  .teensy
    width: 100px

table.species
  width: 600px
  .teensy
    width: 150px

table.genera
  border-right: 1px black solid

.rank_header
  text-align: left
  font-size: 1.5em
  padding-bottom: 5px
  border-bottom: 1px black solid
