@import 'common'

.taxon_header
  font-size: 1.3em
  font-weight: bold

.taxonomic_history
  height: 11em
  overflow: auto
  position: relative
  text-align: left
  padding: 5px
  padding-top: 0

.browser
  margin-top: 10px
  min-width: 1200px

.rank
  overflow-y: auto
  overflow-x: hidden
  height: 600px
  float: left
  .header
    text-align: left
    font-size: 1.5em
    padding-bottom: 5px
    border-bottom: solid black 1px

td.taxon_item
  padding-right: 13px

td.teensy
  font-size: .90em
  line-height: .99em

.valid
  color: red !important

.synonym
  color: black !important

.unidentifiable, .excluded
  color: green !important

.unavailable, .nomen_nudum
  color: purple !important

.homonym, .unresolved_homonym
  color: brown !important

.selected
  background: yellow !important

span.date
  font-size: .8em
  font-weight: normal
  font-style: italic
  margin-left: 4px

#search_results td
  padding-right: 5px

.statistics
  font-size: .85em
  font-style: italic
