-if taxon.valid_status? && taxon.subspecies.valid.exists?
  %h6.font-bold Current subspecies (nominal plus)
  %ul.compact-list.mb-8
    -TaxonQuery.new(taxon.subspecies.valid.order_by_name).with_common_includes.each do |subspecies|
      %li
        %i=CatalogFormatter.link_to_taxon_with_label(subspecies, subspecies.name.short_name)
        =subspecies.author_citation

-if current_user && taxon.subspecies.invalid.exists?
  .bluebox
    %h6.font-bold
      Invalid subspecies
      =logged_in_only_tooltip_icon "We want to show subspecies somewhere in catalog pages, but we need to figure out how to present them."

    %ul.compact-list.mb-4
      -TaxonQuery.new(taxon.subspecies.invalid.order_by_name).with_common_includes_and_current_taxon_includes.each do |subspecies|
        %li
          %i=CatalogFormatter.link_to_taxon_with_label(subspecies, subspecies.name.short_name)
          =subspecies.author_citation
          %span.text-sm=subspecies.decorate.expanded_status
