-if current_user && taxon.species.exists?
  .bluebox
    %h6 Species and subspecies in subgenus
    %ul.compact-list.mb-4
      -TaxonQuery.new(taxon.species.order_by_name).with_common_includes.each do |species|
        %li
          =CatalogFormatter.link_to_taxon(species)
          =species.author_citation
          %span.text-sm=species.decorate.expanded_status
          -# TODO: N+1 query.
          -if species.subspecies.present?
            %ul.compact-list
              -TaxonQuery.new(species.subspecies.order_by_name).with_common_includes.each do |subspecies|
                %li
                  =CatalogFormatter.link_to_taxon(subspecies)
                  =subspecies.author_citation
                  %span.text-sm=subspecies.decorate.expanded_status
