-author.names.each do |author_name|
  -references = author_name.references
  %h6.font-bold=author_name.name
  .text-sm #{references.count} reference(s)
  -if references.present?
    =render "shared/reference_table", references: references
