-author.names.each do |author_name|
  -references = author_name.references
  %strong=author_name.name
  %small #{references.count} reference(s)
  -if references.present?
    .callout.references
      -references.each do |reference|
        .reference
          =link_to reference.decorate.expanded_reference, reference_path(reference)
