-title 'Merge Authors'
-breadcrumb :merge_authors, @author

-content_for :javascripts do
  =javascript_include_tag 'jquery-ui/widgets/autocomplete'
  =javascript_include_tag 'controllers/authors/merges'

.row
  .medium-6.columns
    %h6 Target author
    =render 'author', author: @author

  .medium-6.columns
    %h6 Author to merge into target
    =text_field_tag :author_to_merge_name, params[:author_to_merge_name]
    =form_with url: author_merges_path, method: :get do |f|
      =hidden_field_tag :author_to_merge_id, params[:author_to_merge_id]
      =button_tag type: "submit", class: "btn-normal" do
        Next
