.display
  .title_taxt=      Taxt.to_display_sentence item.title_taxt
  .subtitle_taxt=   Taxt.to_display_sentence item.subtitle_taxt
  .references_taxt= Taxt.to_display_sentence item.references_taxt
