.display
  .title_taxt=      add_period_if_necessary TaxtPresenter[item.title_taxt].to_text
  .subtitle_taxt=   add_period_if_necessary TaxtPresenter[item.subtitle_taxt].to_text
  .references_taxt= add_period_if_necessary TaxtPresenter[item.references_taxt].to_text
