-#Locals: item

.display
  .title_taxt=      Taxt.to_display_sentence item.title_taxt, current_user
  .subtitle_taxt=   Taxt.to_display_sentence item.subtitle_taxt, current_user
  .references_taxt= Taxt.to_display_sentence item.references_taxt, current_user
