.edit.ui-widget-content
  -url = "/taxa/#{item.taxon.id}/reference_sections/#{item.id}"
  -method = item.persisted? ? 'put' : 'post'
  .nested_form{'data-action' => url, 'data-method' => method}
    =render 'shared/errors_for', resource: item

    %table
      %tr
        %td.caption.top_aligned=label_tag :title_taxt, 'Title'
        %td.taxt_editor=render 'taxt_editors/show', name: 'title_taxt', value: TaxtConverter[item.title_taxt].to_editor_format, rows: 1
      %tr
        %td.caption.top_aligned=label_tag :subtitle_taxt, 'Subtitle'
        %td.taxt_editor=render 'taxt_editors/show', name: 'subtitle_taxt', value: TaxtConverter[item.subtitle_taxt].to_editor_format, rows: 1
      %tr
        %td.caption.top_aligned=label_tag :references_taxt, 'References'
        %td.taxt_editor=render 'taxt_editors/show', name: 'references_taxt',value: TaxtConverter[item.references_taxt].to_editor_format

    .row
      .medium-3.columns.end
        =text_field_tag :reference_section_edit_summary, nil, placeholder: "Edit summary (optional)", maxlength: Activity::EDIT_SUMMARY_MAX_LENGTH

    .buttons
      %button.submit.btn-saves Save
      %button.cancel.btn-cancel Cancel
      -if item.persisted?
        %button.delete.btn-delete Delete
