=enable_tooltips

-content_for :javascripts do
  =javascript_include_tag 'markdown_and_friends', 'taxt_editor'

=render 'shared/taxt_editor/taxon_and_ancestors', taxon: reference_section.taxon
=render "shared/default_reference"

=form_for reference_section, url: url do |f|
  =render "shared/errors_for", resource: reference_section
  .row
    .medium-12.columns
      =text_area_tag :title_taxt, reference_section.title_taxt, rows: 1, name: 'reference_section[title_taxt]',
        data: { has_linkables: true, previewable: true, previewable_title: "Title", use_extras: true }
      =text_area_tag :subtitle_taxt, reference_section.subtitle_taxt, rows: 1, name: 'reference_section[subtitle_taxt]',
        data: { has_linkables: true, previewable: true, previewable_title: "Subtitle", use_extras: true }
      =text_area_tag :references_taxt, reference_section.references_taxt, rows: 5, name: 'reference_section[references_taxt]',
        data: { has_linkables: true, previewable: true, previewable_title: "References", use_extras: true }

  .row
    .medium-3.columns.end
      =edit_summary_text_field_tag

  .row
    .medium-3.columns.end
      =f.button 'Save', type: :submit, class: "btn-saves"
