-#Locals: item

%div{class: "reference_section item_#{item.id} ui-widget-content ui-corner-all antcat_panel", 'data-id' => item.id}
  %table
    %tr
      %td.reference_section_body
        = render 'reference_sections/display', item: item
        - if user_can_edit_catalog?
          = render 'reference_sections/edit', item: item
