-@title = "Search Reference Sections"
-breadcrumb :search_reference_sections

=form_tag request.path, method: :get do
  .row
    =render "shared/primitive_search_inputs"
    =render "shared/filter_buttons"

.callout
  =render "shared/note_on_taxt_references"

%table
  %thead
    %tr
      %th ID
      %th Taxon
      %th Title taxt
      %th Subtitle taxt
      %th References taxt
  -if @reference_sections.empty?
    %tr
      %td{colspan: 5} Found no results.
  -@reference_sections.each do |reference_section|
    %tr
      %td=link_to "##{reference_section.id}", reference_section
      %td=reference_section.taxon.link_to_taxon
      %td=TaxtPresenter[reference_section.title_taxt].to_html
      %td=TaxtPresenter[reference_section.subtitle_taxt].to_html
      %td=TaxtPresenter[reference_section.references_taxt].to_html

=will_paginate @reference_sections
