-@title = "Search Reference Sections"
-breadcrumb :search_reference_sections

=form_tag request.path, method: :get do
  .row
    .small-6.medium-4.large-2.columns
      =select_tag :search_type, options_for_select([["LIKE (default)", "LIKE"], ["REGEXP (slow)", "REGEXP"]], params[:search_type]), prompt: "Search type"
    .small-6.medium-4.large-2.columns
      =text_field_tag :q, params[:q], placeholder: "Search query"
    .small-6.medium-4.large-2.columns
      =select_tag :taxon_type, options_for_select(ReferenceSection::TAXON_TYPES_WITH_REFERENCE_SECTIONS, params[:taxon_type]), include_blank: "Any Taxon Type"
    .small-6.medium-4.large-2.columns
      =per_page_select ReferenceSectionsController::PER_PAGE_OPTIONS, params[:per_page]
    .small-6.medium-4.large-2.columns.end
      =button_tag type: "submit", name: nil, class: "btn-normal has-spinner" do
        =spinner_icon + "Filter"
      &nbsp;
      =link_to "Clear", request.path, class: "button btn-nodanger"

.callout
  =render "shared/note_on_taxt_references"

%table
  %caption=pluralize_with_delimiters @reference_sections.count, 'results'
  %thead
    %tr
      %th ID
      %th Taxon
      %th Title taxt
      %th Subtitle taxt
      %th References taxt
  -if @reference_sections.empty?
    %tr
      %td{colspan: 5} Found no results.
  -@reference_sections.each do |reference_section|
    %tr
      %td=link_to "##{reference_section.id}", reference_section
      %td=reference_section.taxon.link_to_taxon
      %td=Detax[reference_section.title_taxt]
      %td=Detax[reference_section.subtitle_taxt]
      %td=Detax[reference_section.references_taxt]

=will_paginate @reference_sections
