-@title = "Reference Section ##{@comparer.most_recent.id}"
-breadcrumb :reference_section, @comparer.most_recent

-content_for :application do
  =content_for :breadcrumbs_right do
    -if user_is_at_least_helper? && @comparer.most_recent.persisted?
      =link_to "Edit", edit_reference_section_path(@comparer.most_recent), class: "btn-normal"
    =activities_link_for_trackable @comparer.most_recent

=render file: "compare_revisions/show", locals: { comparer: @comparer }
