/* line 3, ../sass/catalog/browser.sass */
html, body, #page, .rank, #browser {
  height: 100%;
}

/* line 6, ../sass/catalog/browser.sass */
body {
  overflow-y: hidden;
}

/* line 9, ../sass/catalog/browser.sass */
#page_contents, body {
  overflow-x: hidden;
}

/* line 12, ../sass/catalog/browser.sass */
#catalog .index {
  float: left;
  width: 168px;
  margin-right: 10px;
  font-weight: normal;
  border-right: solid black 1px;
  overflow-y: auto;
}

/* line 20, ../sass/catalog/browser.sass */
#catalog #browser {
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
}
/* line 24, ../sass/catalog/browser.sass */
#catalog #browser .header {
  max-height: 12.2em;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 28, ../sass/catalog/browser.sass */
#catalog #browser .contents {
  overflow-y: auto;
}
/* line 30, ../sass/catalog/browser.sass */
#catalog #browser hr {
  margin-top: 6px;
}

/* line 33, ../sass/catalog/browser.sass */
.taxon_header {
  font-weight: bold;
}

/* line 36, ../sass/catalog/browser.sass */
.index_header_taxon {
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px black solid;
}

/* line 41, ../sass/catalog/browser.sass */
#catalog .index a {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 1em;
  margin-left: 8px;
}

/* line 49, ../sass/catalog/browser.sass */
.taxonomic_history.species {
  padding-bottom: 1px;
}
/* line 51, ../sass/catalog/browser.sass */
.taxonomic_history.species p {
  text-indent: -3em;
  margin-left: 3em;
}

/* line 55, ../sass/catalog/browser.sass */
hr {
  margin-left: -12px;
  margin-right: -12px;
}

/* line 59, ../sass/catalog/browser.sass */
#catalog hr {
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 4px;
}

/* line 64, ../sass/catalog/browser.sass */
.contents .taxonomic_history {
  margin-bottom: 6px;
}

/* line 67, ../sass/catalog/browser.sass */
.taxon_subsection_header {
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: bold;
}

/* line 72, ../sass/catalog/browser.sass */
.taxonomic_history.genus {
  font-style: normal;
}

/* line 75, ../sass/catalog/browser.sass */
.taxonomic_history.species {
  margin-bottom: 0;
  font-style: normal;
}
