/* line 4, ../sass/catalog/catalog.sass */
#navigation_bar .actions.catalog_view_selector {
  left: -3px;
  margin-top: 0;
  position: absolute;
  font-weight: bold;
}
/* line 9, ../sass/catalog/catalog.sass */
#navigation_bar .actions.catalog_view_selector label {
  height: 28px;
}

/* line 12, ../sass/catalog/catalog.sass */
#search_results {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 3px;
}
/* line 15, ../sass/catalog/catalog.sass */
#search_results a {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 6px;
  line-height: 1em;
}

/* line 23, ../sass/catalog/catalog.sass */
#page_contents {
  padding: 0;
}

/* line 26, ../sass/catalog/catalog.sass */
#taxon_key {
  width: 100%;
}
/* line 28, ../sass/catalog/catalog.sass */
#taxon_key td {
  white-space: nowrap;
}
/* line 30, ../sass/catalog/catalog.sass */
#taxon_key span {
  font-style: italic;
  margin-right: 8px;
}
/* line 33, ../sass/catalog/catalog.sass */
#taxon_key span.title {
  font-weight: bold;
  font-style: normal;
  margin-right: 4px;
}
/* line 37, ../sass/catalog/catalog.sass */
#taxon_key a {
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
  margin-left: 10px;
}
