/* line 6, ../sass/catalog/index.sass */
html, body, #page, .rank {
  height: 100%;
}

/* line 9, ../sass/catalog/index.sass */
#page_contents {
  padding-bottom: 3px;
}

/* line 12, ../sass/catalog/index.sass */
#taxon_header {
  height: 11em;
  overflow: auto;
  margin-bottom: 6px;
}
/* line 16, ../sass/catalog/index.sass */
#taxon_header span {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 1.3em;
  font-weight: bold;
}
/* line 20, ../sass/catalog/index.sass */
#taxon_header .taxon_status {
  font-weight: normal;
}

/* line 23, ../sass/catalog/index.sass */
.taxonomic_history {
  padding: 5px;
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
}

/* line 28, ../sass/catalog/index.sass */
#catalog {
  margin-top: 2px;
  min-width: 1500px;
}

/* line 32, ../sass/catalog/index.sass */
.rank {
  overflow-y: auto;
  overflow-x: hidden;
  border-right: solid 1px black;
  float: left;
}
/* line 37, ../sass/catalog/index.sass */
.rank .header {
  height: 37px;
  padding-left: 12px;
  padding-top: 4px;
  text-align: left;
  font-size: 1.5em;
  border-bottom: solid black 1px;
}
/* line 44, ../sass/catalog/index.sass */
.rank .header .hide_show {
  font-size: 10px;
  margin-left: 16px;
}

/* line 48, ../sass/catalog/index.sass */
td.taxon_item {
  padding-right: 13px;
  padding-left: 12px;
}

/* line 52, ../sass/catalog/index.sass */
td.teensy {
  font-size: 0.9em;
  line-height: 0.99em;
}

/* line 56, ../sass/catalog/index.sass */
.statistics {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 0.85em;
  font-style: italic;
}
/* line 60, ../sass/catalog/index.sass */
.statistics p {
  line-height: 1.1em;
}
