-id ||= nil
-name ||= nil

.antcat_name_popup.antcat_name_picker
  %table
    %tr
      %td
        .nested_form{data: { action: '/name_popups/find?popup=true', method: 'get' }}
          =hidden_field_tag 'id', id
          =hidden_field_tag 'name', ''
          =hidden_field_tag 'taxt', ''
          =hidden_field_tag 'taxon_id', ''
          =hidden_field_tag 'add_name', ''
          %table
            %tr
              %td{colspan: 2}
                %ul.error_messages
            %tr
              %td.throbber=shared_spinner_icon
              %td
                .controls
                  =text_field_tag :name_string, name
                  %button.submit.btn-normal OK
                  %button.cancel.btn-cancel Cancel
                .help Type the name, or type characters in the name then choose a name from the drop-down list, or type a new name
