-# NOTE: Deprecated. Activities with this `trackable_type` are no longer created.
-case activity.action
-when 'approve_change'
  approved
-when 'undo_change'
  undid

the change ##{activity.trackable_id}
