=activity.action_to_verb
the journal
%i
  =activity.link_trackable_if_exists activity.parameters[:name]

-name_was = activity.parameters[:name_was]
-if name_was
  (changed journal name from
  =succeed ")" do
    %i=name_was
