-case activity.action
-when Activity::RESTART_REVIEWING
  restarted reviewing
-when Activity::FINISH_REVIEWING
  finished reviewing
-when Activity::START_REVIEWING
  started reviewing
-else
  =activity.action_to_verb

the reference
=activity.link_trackable_if_exists sanitize(activity.parameters[:name]), path: reference_path(activity.trackable_id)
