=activity.action_to_verb
the
=activity.link_trackable_if_exists "synonym relationship"

=taxon_link_or_deleted_string activity.parameters[:junior_synonym_id]
(junior)

=antcat_icon "synonym_arrow"

=taxon_link_or_deleted_string activity.parameters[:senior_synonym_id]
(senior)
