-# NOTE: Deprecated. Activities with this `action` are no longer created.
=activity.action_to_verb
the synonym relationship

=ActivityDecorator.link_taxon_if_exists activity.parameters[:junior_synonym_id]
(junior)

=mdash

=ActivityDecorator.link_taxon_if_exists activity.parameters[:senior_synonym_id]
(senior)
