=activity.action_to_verb
the
=activity.parameters[:rank]

=link_trackable_if_exists activity, activity.parameters[:name].html_safe, path: catalog_path(activity.trackable_id)

-parent = activity.parameters[:parent]
-if activity.action == "create" && parent
  to the
  =parent[:rank]
  =taxon_link_or_deleted_string parent[:id], parent[:name].html_safe
