@import 'common'

html, body, #page, .rank
  height: 100%

#page_contents
  padding-bottom: 3px

#taxon_header
  height: 11em
  overflow: auto
  margin-bottom: 6px
  span
    @include margins
    font-size: 1.3em
    font-weight: bold
  .taxon_status
    font-weight: normal

.taxonomic_history
  padding: 5px
  padding-top: 0
  @include margins

#catalog
  margin-top: 2px
  min-width: 1200px

.rank
  overflow-y: auto
  overflow-x: hidden
  float: left
  .header
    padding-left: $left_margin
    text-align: left
    font-size: 1.5em
    padding-bottom: 5px
    border-bottom: solid black 1px
    .hide
      font-size: 11px
    .show_child
      font-size: 11px
      margin-left: 16px
      line-height: 10px

td.taxon_item
  padding-right: 13px
  padding-left: $left_margin

td.teensy
  font-size: .90em
  line-height: .99em

.statistics
  @include margins
  font-size: .85em
  font-style: italic
