-page_title "My Notifications"
-breadcrumb :notifications

-if @notifications.empty?
  No notifications.
-else
  %table.table-striped
    %tbody
      -@notifications.each do |notification|
        %tr{class: ('font-bold' if notification.unseen?)}
          %td.icon=antcat_icon("read") if notification.seen?
          %td.no-wrap
            =notification.notifier.decorate.user_page_link
            =render partial: notification.template_name, locals: { notification: notification }
            =new_label if notification.unseen?
          %td.no-wrap
            =time_ago_in_words notification.created_at
            ago

=will_paginate @notifications
