-# JS breaks if we remove: .author_names_section, author_names,
-# #add_author_name_button or .author_name_template

.author_names_section
  .buttons_right
    %button.btn-normal#add_author_name_button Add alternative spelling
  %h5 Names belonging to author ##{author.id}
  %ul.author_names
    -author.names.each do |author_name|
      =render 'author_names/panel', author_name: author_name

  .author_name_template
    =render 'author_names/panel', author_name: AuthorName.new(author_id: author.id)
