-# JS breaks if we remove: .author_names_section, author_names,
-# .add_author_name_button button or .author_name_template

.author_names_section
  %h5 Author Names
  %button.btn-new#add_author_name_button Add
  %ul.author_names.no-bullet
    -author.names.each do |author_name|
      =render 'author_names/panel', author_name: author_name
  .author_name_template.no-bullet
    =render 'author_names/panel', author_name: AuthorName.new(author_id: author.id)
