-#Locals: author

.author_names_section.section
  .section_header.ui-widget-header.ui-corner-top
    .left
      Author Names
    .right.author_names_section_buttons
      %button.submit.ui-priority-primary.small_button Add
    .clear
  .author_names.ui-dialog-content.ui-widget-content.ui-corner-bottom
    %ul#sortable
      - for author_name in author.names do
        = render 'author_names/panel', author_name: author_name
  .author_name_template
    = render 'author_names/panel', author_name: AuthorName.new(author_id: author.id)
