-@title = 'Edit Author'
-breadcrumb :show_and_edit_author, @author

=enable_tooltips

-content_for :head do
  =javascript_include_tag 'widgets/panel'
  =javascript_include_tag 'widgets/form', 'widgets/ajax_form', 'widgets/nested_form'
  =javascript_include_tag 'authors', 'author_names_section'

-url = @author.new_record? ?  '/authors': "/authors/#{@author.id}"
-method = @author.new_record? ? 'post' : 'put'
=form_for @author, as: :author, url: url, method: method, html: {class: 'author_form ui-widget'} do |form|
  =render 'shared/errors_for', resource: @author

  -unless @author.new_record?
    =render 'author_names_section', author: @author
