- @title = 'Authors'

%div= will_paginate @authors

#authors
  - for author in @authors
    %span= author.names.map(&:name).join('; ')
    = link_to 'edit', edit_author_path(author), class: 'edit_link'
    %br

%div= will_paginate @authors
