-@title = 'Authors'
-breadcrumb :authors

%table
  %thead
    %th Author Names
    -if user_can_edit?
      %th
  -@authors.each do |author|
    %tr
      %td=author.names.map(&:name).join('; ')
      -if user_can_edit?
        %td=link_to 'Edit', edit_author_path(author), class: "btn-normal"

=will_paginate @authors
