-title 'Authors'
-breadcrumb :authors

%table
  %thead
    %th Author (and author names)
    %th Published between
    %th No. of references
    %th No. of described taxa (valid)
  -@authors.each do |author|
    %tr
      %td=link_to author.names.map(&:name).join('; '), author
      %td=or_dash author.decorate.published_between
      %td=or_dash author.references.count
      %td=or_dash author.described_taxa.valid.count

=will_paginate @authors
