- @title = 'Authors'

%div= will_paginate @authors

- for author in @authors
  %table
    %tr
      %td
        %p= author.names.map(&:name).join('; ')
      %td
        %a.edit_link edit

%div= will_paginate @authors
