- @title = 'Authors'

- content_for :head do
  = javascript_include_tag 'qtip', 'authors'

- content_for :page_contents do
  - for panel in @panels
    = render 'panel', panels: @panels, panel: panel

  - if @authors.count >= 2 && user_can_edit?
    = render 'merge', panels: @panels, names: @names

= render 'shared/qtip'
