-page_title @author.first_author_name_name
-breadcrumb :author, @author

-content_for :breadcrumbs_right do
  -if user_is_at_least_helper? && @author.references.empty?
    =link_to "Delete", author_path(@author), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-danger"
  -if user_is_editor?
    =link_to "Merge", new_author_merges_path(@author), class: "btn-default"

.mb-8
  -# Anchor for the pagination.
  %a{name: 'references'}
  %h5
    References by
    =@author.first_author_name_name
    -if @author.user
      .float-right
        %small
          This author has an
          =link_to 'antcat.org account', @author.user, class: 'btn-default'
  -if @references.empty?
    %p Found no references by this author.
  -else
    =render "shared/reference_table", references: @references
    =will_paginate @references, param_name: "references_page", params: { anchor: "references" }

%h5.mt-8 Protonyms originally described by author
-# Anchor for the pagination.
%a{name: 'protonyms'}
-if @described_protonyms.blank?
  %p Found no protonyms described by this author.
-else
  %table.table-striped
    %thead
      %th Protonym
      %th Taxon
      %th Authorship
      %th Rank
      %th Status
      %th
    -@described_protonyms.each do |protonym|
      -terminal_taxon = protonym.terminal_taxon
      %tr
        %td=CatalogFormatter.link_to_protonym(protonym)
        -# TODO: Add and use a null object for protonyms without a terminal taxon.
        -if terminal_taxon
          %td=CatalogFormatter.link_to_taxon(terminal_taxon)
          %td=terminal_taxon.authorship_reference.decorate.link_to_reference
          %td=terminal_taxon.rank.capitalize
          %td=terminal_taxon.status.capitalize
          %td
            -if terminal_taxon.original_combination?
              Original combination
              =antcat_icon 'check'
  =will_paginate @described_protonyms, param_name: "protonyms_page", params: { anchor: "protonyms" }

.row
  .medium-6.columns.mt-8.end
    %h5 Statistics
    %table.table-unstriped
      %tbody
        %tr
          %th Published between
          %td=or_dash @author.decorate.published_between
        %tr
          %th Taxon descriptions between
          %td=or_dash @author.decorate.taxon_descriptions_between
        %tr
          %th No. of references
          %td=or_dash @author.references.count
        %tr
          %th No. of described taxa (including combinations)
          %td=or_dash @author.described_taxa.count
        %tr
          %th No. of described taxa (valid, including combinations)
          %td=or_dash @author.described_taxa.valid.count
        %tr
          %th No. of described taxa (protonyms only)
          %td=or_dash @author.described_protonyms.count

.row
  .medium-6.columns.mt-8.end
    %h5
      Names belonging to author
      -if user_is_editor?
        =link_to 'Add alternative spelling', new_author_author_name_path(@author), class: 'btn-default'
    %table.table-unstriped.mb-8
      %thead
        %tr
          %th Author name
          %th No. of references
          %th
      %tbody
        -hide_delete_author_name_button = @author.only_has_one_name?
        -@author.names.each do |author_name|
          %tr
            %td=author_name.name
            %td=author_name.references.count
            %td
              -if user_is_editor?
                =link_to 'Edit', edit_author_name_path(author_name), class: "btn-default"
              -unless hide_delete_author_name_button
                -if user_is_editor? && author_name.references.empty?
                  =link_to "Delete", author_name_path(author_name), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-danger"
