-@title = @author.first_author_name_name
-breadcrumb :author, @author

#references.margin-bottom
  %h5 References by author
  -if @references.empty?
    %p Found no references by this author.
  -else
    =render "shared/reference_table", references: @references
    =will_paginate @references, param_name: "references_page", params: { anchor: "references" }

%h5 Taxa described by author
.callout.margin-bottom
  -if @taxa.blank?
    %p Found no taxa described by this author.
  -else
    %table.table.stack
      %thead
        %th Taxon
        %th Authorship
        %th Rank
        %th Status
      -@taxa.each do |taxon|
        %tr
          %td=taxon.decorate.link_to_taxon
          %td=taxon.authorship_reference.decorate.expandable_reference
          %td=taxon.rank.capitalize
          %td=taxon.status.capitalize
    =will_paginate @taxa, param_name: "taxa_page", params: { anchor: "taxa" }

.row
  .small-12.medium-6.columns.end
    %h5 Statistics
    .callout.margin-bottom
      %table.table.unstriped
        %tbody
          %tr
            %th Published between
            %td=or_dash @author.decorate.published_between
          %tr
            %th Taxon descriptions between
            %td=or_dash @author.decorate.taxon_descriptions_between
          %tr
            %th No. of references
            %td=or_dash @author.references.count
          %tr
            %th No. of described taxa
            %td=or_dash @author.described_taxa.count
          %tr
            %th No. of described taxa (valid)
            %td=or_dash @author.described_taxa.valid.count

.row
  .small-12.medium-6.columns.end
    %h5
      Names belonging to author
      -if user_is_editor?
        =link_to 'Add alternative spelling', new_author_author_name_path(@author), class: 'btn-normal btn-tiny'
    .callout.margin-bottom
      %table.unstriped
        %thead
          %tr
            %th Author name
            %th No. of references
            %th
        %tbody
          -@author.names.each do |author_name|
            %tr
              %td=author_name.name
              %td=author_name.references.count
              %td
                -if user_is_editor?
                  =link_to 'Edit', edit_author_name_path(author_name), class: "btn-normal btn-tiny"
                -if user_is_superadmin?
                  =link_to append_superadmin_icon("Delete"), author_name_path(author_name), method: :delete, data: { confirm: "Are you sure?"  }, class: "btn-warning btn-tiny"
