.rank
  %table{:class => header.downcase}
    %tr
      %td.header
        = header
        - if options[:hideable_name]
          .hide_show= hide_link options[:hideable_name], page_parameters[:id], page_parameters
        - if options[:hideable_child_name]
          .hide_show= show_child_link params, options[:hideable_child_name], page_parameters[:id], page_parameters
    %tr
      %td
        - if items
          %table
            - if options[:show_none]
              - items = items.to_a
              - items.insert 0, options[:show_none]
            - rows, css_class = snake_taxon_columns items
            - rows.each do |row|
              %tr
                - row.each do |item|
                  %td{:class => css_class}
                    - if item
                      = index_column_link rank, item, selected_item, page_parameters
