.rank
  %table{:class => header.downcase}
    %tr
      %td.header
        = header
        -#- if options[:hideable_name]
          -#.hide_show= hide_link options[:hideable_name], options[:taxon], column_selections
        -#- if options[:hideable_child_name]
          -#.hide_show= show_child_link params, options[:hideable_child_name], options[:taxon], column_selections
    %tr
      %td
        - if items
          %table
            - if options[:show_none]
              - items = items.to_a
              - items.insert 0, options[:show_none]
            - rows, css_class = snake_taxon_columns items
            - rows.each do |row|
              %tr
                - row.each do |item|
                  %td{:class => css_class}
                    - if item
                      = taxon_link rank, item, selected_item, column_selections
