=form_for user do |f|
  =render "shared/errors_for", resource: user
  .row
    .medium-6.columns.end
      =f.label :name
      =f.text_field :name
      =f.label :email
      =f.text_field :email
      =f.label :password
      =f.password_field :password

  .row
    .medium-6.columns.end
      -Role.all.each do |role|
        %div
          =check_box_tag "user[role_ids][]", role.id, user.roles.include?(role)
          =role.name.humanize

  .row
    .medium-6.columns.end
      =button_tag "Save", class: "btn-saves"
