=form_for user do |f|
  =render "shared/errors_for", resource: user
  .row
    .medium-6.columns.end
      =f.label :name
      =f.text_field :name

      =f.label :email
      =f.text_field :email

      =f.label :password
      =f.password_field :password

      =f.check_box :is_superadmin
      =f.label :superadmin

      =f.check_box :can_edit
      =f.label :editor

      =f.check_box :is_helper
      =f.label :helper_editor

  .row
    .medium-6.columns.end
      =button_tag append_superadmin_icon("Save"), class: "btn-saves"
