-@title = "Edit"
-breadcrumb :edit_user, @user

.callout.medium-6.columns.end
  This form is for allowing superadmins to edit other users' details, (and
  where superadmins can add and remove user roles).

.clearfix

=render "form", user: @user
