-@title = "Edit"
-breadcrumb :edit_user, @user

.row
  .medium-8.columns
    =render "form", user: @user
  .medium-4.columns
    .callout
      %h6 Help
      %p This form is for allowing superadmins to edit other users' details and roles.
