-@title = "User Emails"
-breadcrumb :user_emails

%p For contacting all AntCat user. If you intend to send a mass email, consider including something like "[To all AntCat editors]" in the title.

%p Notes: 1) Some people have more than one account registered using different emails; please let us know if you want us to deactive your old account. 2) While all emails are publicly available on the users page, this feature in only available to editors.

%h5 Editors
%p=@editor_emails

%h5 Non-editors
%p=@non_editor_emails

%h5 All
%p #{@editor_emails}, #{@non_editor_emails}"
