-@title = 'Users'
-breadcrumb :users

-if user_can_edit?
  .buttons_right=link_to "All emails", emails_users_path, class: "btn-normal"

%table
  %thead
    %th ID
    %th Editor
    %th Name
    %th Email
  -@users.each do |user|
    %tr
      %td=user.id
      %td=user.can_edit? ? 'Yes' : ''
      %td=user.decorate.name_linking_to_email
      %td=user.email
