-title 'Users'
-breadcrumb :users

-if user_is_superadmin?
  -content_for :breadcrumbs_right do
    =link_to append_superadmin_icon("New"), new_user_path, class: "btn-normal"

%table.stack
  %tbody
  -@users.each do |user|
    %tr{class: ('pale-alert-background' if (user.locked? || user.deleted? || user.hidden?))}
      %td
        =user.decorate.user_page_link
        %span.show-on-hover
          Registered
          =user.created_at.year
      %td
        =user.decorate.user_badge
        -if user_is_editor?
          -if user.superadmin?
            %span.high-priority-label.rounded-badge superadmin
      %td
        -if user.author
          =link_to 'Author page', user.author, class: 'btn-normal btn-tiny'
      -if user_is_editor?
        %td
          -if user.locked?
            %span.warning-label.rounded-badge locked
          -if user.deleted?
            %span.warning-label.rounded-badge soft-deleted
          -if user.hidden?
            %span.warning-label.rounded-badge hidden
        %td=user.email
