- @title = 'Users'

%table
  %tr
    %th ID
    %th
    %th Name
    %th Email
  - for user in @users
    %tr
      %td.id= user.id
      %td= user.can_edit? ? '*' : ' '
      %td= format_name_linking_to_email user.name, user.email
      %td= user.email
* = editor
