-@title = 'Users'
-breadcrumb :users

%table
  %thead
    %th ID
    %th Editor
    %th Name
    %th Email
  -@users.each do |user|
    %tr
      %td=user.id
      %td=user.can_edit? ? 'Yes' : ''
      %td=user.decorate.user_page_link
      %td=user.email
