-@title = 'Users'
-breadcrumb :users

-if user_is_superadmin?
  .buttons-right
    =link_to append_superadmin_icon("New"), new_user_path, class: "btn-normal"

%table.stack
  %tbody
  -@users.each do |user|
    %tr
      %td=user.decorate.user_page_link
      %td=user.decorate.user_badge
      %td=user.email
