-@title = "New User"
-breadcrumb :new_user

.row
  .medium-8.columns
    =render "form", user: @user
  .medium-4.columns
    .callout
      %h6 Help
      %p
        This form is for allowing superadmins to create users.

        People can create accounts themselves here:
        =link_to new_user_registration_url, new_user_registration_path
