-page_title @user.name
-breadcrumb :user, @user
-if @user.unconfirmed?
  -noindex_meta_tag

-content_for :breadcrumbs_right do
  -if user_is_editor?
    =link_to "PaperTrail Versions by user", versions_path(whodunnit: @user.id), class: "btn-default"

  -if user_is_superadmin?
    =link_to append_superadmin_icon("Edit"), edit_user_path(@user), class: "btn-default"
    -unless @user.deleted?
      =link_to append_superadmin_icon("Delete"), user_path(@user), method: :delete, data: { confirm: 'Are you sure? This will soft-delete the user and lock the account.' }, class: "btn-danger"

  -if current_user == @user
    -content_for :breadcrumbs_right do
      =link_to "My account", edit_user_registration_path, class: "btn-default"

-if @user.deleted?
  .callout-alert.callout-responsive This user has been soft-deleted. This page can only be seen by editors. Edit user to restore account.
-elsif @user.locked?
  .callout-alert.callout-responsive This user is locked. Edit user to unlock account.
-elsif @user.hidden?
  .callout-alert.callout-responsive This user is hidden from the users list. Edit user to show it.

.row.mb-8
  .medium-8
    %p
      %strong Name:
      =@user.name
      =@user.decorate.user_badge
      -if user_is_editor?
        -if @user.locked?
          %span.badge-danger locked
        -if @user.deleted?
          %span.badge-danger soft-deleted
        -if @user.hidden?
          %span.badge-danger hidden

    -if user_is_at_least_helper?
      %p
        %span.bg-logged-in-only
          %strong Email:
          =mail_to @user.email, subject: 'AntCat'
          =logged_in_only_tooltip_icon user_group: 'helpers/editors'

    -if @user.author
      %p
        This user has an author page on antcat.org:
        =link_to @user.author.first_author_name_name, @user.author

  -if user_is_superadmin?
    .medium-4
      .bluebox
        PaperTrail versions:
        =link_to @user.created_paper_trail_versions.count, versions_path(whodunnit: @user.id)
        =logged_in_only_tooltip_icon user_group: "superadmins"

.mb-8
  %h5
    #{@user.name}'s most
    =link_to "recent activity", activities_path(user_id: @user.id)
  =render "activities/table", activities: @recent_user_activities

.mb-8
  %h5
    #{@user.name}'s most
    =link_to "recent comments", comments_path(user_id: @user.id)
  =render "comments/comments_table", comments: @recent_user_comments
