-title @user.name
-breadcrumb :user, @user
-if @user.unconfirmed?
  -noindex

-content_for :breadcrumbs_right do
  -if user_is_editor?
    =link_to "PaperTrail Versions by user", versions_path(whodunnit: @user.id), class: "btn-normal"

  -if user_is_superadmin?
    =link_to append_superadmin_icon("Edit"), edit_user_path(@user), class: "btn-normal"
    -unless @user.deleted?
      =link_to append_superadmin_icon("Delete"), user_path(@user), method: :delete, data: { confirm: 'Are you sure? This will soft-delete the user and lock the account.' }, class: "btn-normal btn-warning"

  -if current_user == @user
    -content_for :breadcrumbs_right do
      =link_to "My account", edit_user_registration_path, class: "btn-normal"

-if @user.deleted?
  .callout.alert.small-6 This user has been soft-deleted. This page can only be seen by editors. Edit user to restore account.
-elsif @user.locked?
  .callout.alert.small-6 This user is locked. Edit user to unlock account.
-elsif @user.hidden?
  .callout.alert.small-6 This user is hidden from the users list. Edit user to show it.

.row.margin-bottom
  .small-6.columns
    %p
      %strong Name:
      =@user.name
      =@user.decorate.user_badge
      -if user_is_editor?
        -if @user.locked?
          %span.warning-label.rounded-badge locked
        -if @user.deleted?
          %span.warning-label.rounded-badge soft-deleted
        -if @user.hidden?
          %span.warning-label.rounded-badge hidden

    -if user_is_at_least_helper?
      %p
        %span.logged-in-only-background
          %strong Email:
          =link_to @user.email, "mailto:#{@user.email}"
          =logged_in_only_tooltip_icon user_group: 'helpers/editors'

    -if @user.author
      %p
        This user has an author page on antcat.org:
        =link_to @user.author.first_author_name_name, @user.author

  -if user_is_superadmin?
    .small-4.columns
      .callout.no-border-callout.logged-in-only-background
        PaperTrail versions:
        =link_to @user.created_paper_trail_versions.count, versions_path(whodunnit: @user.id)
        =tooltip_icon "Use link in the breadcrumbs to see PaperTrail versions created by this user. The number in this infobox may be higher than the number of search results, since 'User' versions are excluded from the versions search page."
        =logged_in_only_tooltip_icon user_group: "superadmins"

.row.margin-top
  .large-12.columns
    %h5
      #{@user.name}'s most
      =link_to "recent activity", activities_path(user_id: @user.id)
    =render "activities/table", activities: @recent_user_activities

.row.margin-top
  .large-12.columns
    %h5
      #{@user.name}'s most
      =link_to "recent comments", comments_path(user_id: @user.id)
    =render "comments/comments_table", comments: @recent_user_comments
