-@title = @user.name
-breadcrumb :user, @user

-if user_is_superadmin?
  =content_for :breadcrumbs_right do
    =link_to append_superadmin_icon("Edit"), edit_user_path(@user), class: "btn-normal"
    -unless @user.deleted?
      =link_to append_superadmin_icon("Delete"), user_path(@user), method: :delete, data: { confirm: 'Are you sure? This will soft-delete the user and lock the account.' }, class: "btn-normal btn-warning"

-if current_user == @user
  =content_for :breadcrumbs_right do
    =link_to "Change my password/name/email", edit_user_registration_path, class: "btn-normal"

-if @user.deleted?
  .callout.alert This user has been soft-deleted. This page can only be seen by superadmins. Edit user to restore account.
-elsif @user.locked?
  .callout.alert This user is locked. Edit user to unlock account.

%p
  %strong Name:
  =@user.name
  =@user.decorate.user_badge
  -if user_is_superadmin?
    -if @user.locked?
      %span.warning-label.rounded-badge locked

%p
  %strong Email:
  =link_to @user.email, "mailto:#{@user.email}"

.row.margin-top
  .large-12.columns
    %h5
      #{@user.name}'s most
      =link_to "recent activity", activities_path(user_id: @user.id)
    =render "activities/table", activities: @recent_user_activities

.row.margin-top
  .large-12.columns
    %h5
      #{@user.name}'s most
      =link_to "recent comments", comments_path(user_id: @user.id)
    =render "comments/comments_table", comments: @recent_user_comments
