-page_title 'Forgot Password'
-breadcrumb :forgot_password

-if Settings.email.enabled
  =form_with model: resource, url: password_path(resource_name) do |f|
    =render 'shared/errors_for', resource: resource

    .row.mb-4
      .medium-6.columns
        =f.label :email
        =f.text_field :email

    .row
      .medium-6.columns
        =f.button "Send me reset password instructions", type: :submit, class: "btn-default btn-md"
-else
  .row
    .medium-6.columns
      .callout-alert
        Cannot request password reset because emails are not enabled.
