-title 'Forgot Password'
-breadcrumb :forgot_password

=form_for resource, as: resource_name, url: password_path(resource_name) do |f|
  =render 'shared/errors_for', resource: resource
  .row
    .medium-6.columns
      =f.label :email
      =f.text_field :email

  .row
    .medium-6.columns
      =button_tag "Send me reset password instructions", class: "btn-normal"
