%ul#taxon-browser-tabs.tabs{data: { tabs: true }}
  -taxon_browser.tabs.each do |tab|
    %li.tabs-title{class: ("is-active" if tab.open?)}
      =link_to tab.title, "##{tab.id}"

  %li.tab-toggler
    %span.white-label
      =link_to "toggle legend", "#", data: { show_hide_toggler_for: "taxon-key" }
    %span.label.secondary
      =toggle_invalid_or_valid_only_link taxon_browser.show_invalid?

.tabs-content{data: { tabs_content: "taxon-browser-tabs" }}
  -taxon_browser.tabs.each do |tab|
    .tabs-panel{id: tab.id, class: ("is-active" if tab.open?)}
      %ul.snaked.no-bullet.mr-scrollbary
        -TaxonBrowser::LinksToExtraTabs[tab.tab_taxon].each do |link|
          =extra_tab_link tab.tab_taxon, link[:label], link[:display], taxon_browser.display

        =render "taxon_browser/tab", tab: tab

        -# It's possible that `taxa` is empty at this point. Most likely
        -# that means there are invalid children that can be seen by toggling
        -# "show invalid", or that the taxon is an invalid subfamily/tribe/genus.
        -if tab.notify_about_no_valid_taxa?
          %li No valid child taxa
          -unless taxon_browser.show_invalid? # Link unless already showing invalid.
            %li=toggle_invalid_or_valid_only_link taxon_browser.show_invalid?
