%div{data: { sticky_container: true }}
  #taxon-browser-container.sticky{data: { btm_anchor: "taxon-browser-sticky-target-js-hook:top", sticky: true, stick_to: "bottom", margin_bottom: 0 }}
    #taxon_browser
      #taxon-key.color-coded-catalog-links{data: { show_hide_toggable_id: "taxon-key" }}
        %div &dagger;fossil
        .valid valid
        .synonym synonym
        .unidentifiable unidentifiable/excluded from Formicidae
        .homonym homonym
        .unavailable unavailable/nomen nudum
        .obsolete_combination obsolete combination

      =render "taxon_browser/browser", taxon: taxon, taxon_browser: taxon_browser, taxon_browser_presenter: taxon_browser_presenter
