-title "Revision History - Taxon ##{@comparer.most_recent.id}"
-breadcrumb :taxon_history, @comparer.most_recent
-noindex

-content_for :breadcrumbs_right do
  =activities_link_for_trackable @comparer.most_recent

=render template: "compare_revisions/show", locals: { comparer: @comparer, revision_presenter: @revision_presenter }
