-@title = "Editor's Panel"
-breadcrumb :editors_panel_dashboard

.row
  .large-4.medium-4.columns
    %h5 Unreviewed changes
    %ul.no-bullet
      %li
        .label=@count[:open_issues]
        =link_to "Open issues", issues_path
      %li
        .label=@count[:unreviewed_references]
        =link_to "Unreviewed references", references_latest_additions_path
      %li
        .label=@count[:unreviewed_catalog_changes]
        =link_to "Unreviewed catalog changes", unreviewed_changes_path
      %li
        .label=@count[:pending_user_feedbacks]
        =link_to "Pending feedbacks", feedback_index_path
      %li
        .label=@count[:unread_site_notices]
        =link_to "Unread site notices", site_notices_path
      -if current_user
        %li
          .label=current_user.unseen_notifications.count
          =link_to "My notifications", notifications_path

  .large-4.medium-4.columns
    %h5 Tools and help pages
    %ul.no-bullet
      %li=link_to "Bolton keys to ref tags", bolton_keys_to_ref_tags_path
      %li
        =link_to "Search history items", taxon_history_items_path
        or
        =link_to "reference sections", reference_sections_path
      %li=link_to "Edit institutions", institutions_path
      %li=link_to "Protonyms", protonyms_path
      %li
        =link_to "Wiki pages", wiki_pages_path
        (help pages)
      %li=link_to "Markdown formatting help", page_path('markdown_formatting_help')

  .large-4.medium-4.columns
    %h5 AntCat administration
    .callout.primary
      %ul.no-bullet
        %li=link_to 'Edit tooltips', tooltips_path
        %li=link_to "PaperTrail versions", versions_path
        %li=link_to 'Database scripts', database_scripts_path
        %li=link_to "List of users", users_path
        %li=link_to 'Invite people to AntCat', invite_users_path
        %li
          =external_link_to 'New Relic', "https://rpm.newrelic.com/accounts/897394/applications"
          (analytics)

.row.margin-top
  .large-12.columns
    %h5 Most recent activity (#{link_to("see more", activities_path)})
    =render "activities/table", activities: @recent_activities

.row.margin-top
  .large-12.columns
    %h5 Most recent comments (#{link_to("see more", comments_path)})
    =render "comments/comments_table", comments: @recent_comments

.row.margin-top
  .large-12.columns
    %h5 Most recent unconfirmed edits (#{link_to("see more", unconfirmed_activities_path)})
    =render "activities/table", activities: @recent_unconfirmed_activities

-if Rails.env.development?
  .row.margin-top
    .medium-12.columns
      %h5 dev-only links
      %ul
        %li=link_to "Lazy links", page_path("lazy_links")
        %li=link_to "Toggle dev CSS", widget_tests_toggle_dev_css_path
