-@title = "Editor's Panel"
-breadcrumb :editors_panel

%h5 Unreviewed changes
%ul
  %li
    .label=@count[:open_tasks]
    =link_to "Open tasks", tasks_path
  %li
    .label=@count[:unreviewed_references]
    =link_to "Unreviewed references", latest_additions_references_path
  %li
    .label=@count[:unreviewed_catalog_changes]
    =link_to "Unreviewed catalog changes", unreviewed_changes_path
  %li
    .label=@count[:pending_user_feedbacks]
    =link_to "Pending user feedback emails", feedback_index_path

%h5 Other links
%ul
  -obligatory_beta_label = content_tag :span, "beta", class: "label"
  %li=link_to('Feed', feed_path) + " " + obligatory_beta_label
  %li=link_to 'Help pages wiki (hosted at GitHub)', "https://github.com/calacademy-research/antcat/wiki"
  %li=link_to 'Invite people to AntCat', new_user_invitation_path
  %li=link_to 'Edit tooltips', tooltips_path
  %li=link_to 'Fix missing references', missing_references_path
  %li=link_to "Change password, update name/email", edit_user_registration_path
  -if user_is_superadmin?
    %li=link_to "Admin Dashboard", admin_root_path

-if Rails.env.development?
  %h5 dev-only links
  %ul
    %li=link_to "Lazy links", page_path("lazy_links")
    %li=link_to "Toggle dev CSS", widget_tests_toggle_dev_css_path
