-@title = @taxon.name_cache
-breadcrumb :convert_to_species, @taxon

-content_for :head do
  =javascript_include_tag "taxon_select"

=form_tag "/taxa/#{@taxon.id}/convert_to_subspecies" do
  =render 'shared/errors_for', resource: @taxon
  .row
    .medium-6.columns
      %fieldset.fieldset
        %legend Convert species
        =@taxon.name_with_fossil

      %fieldset.fieldset
        %legend to be a subspecies of
        =taxon_select_tag :new_species_id, params[:new_species_id], rank: 'Species'

      =button_tag type: "submit", class: "btn-saves has-spinner" do
        =spinner_icon + "Convert"
