-@title = "Database Scripts"
-breadcrumb :database_scripts

%h5 Scripts
%ul
  -@scripts.each do |script|
    %li
      =link_to script.title, database_script_path(script)
      =format_database_script_tags script.tags
