-title "Database Scripts"
-breadcrumb :database_scripts

-content_for :javascripts do
  =javascript_include_tag "sortable_tables"

-content_for :breadcrumbs_right do
  -unless @check_if_empty
    =link_to "Show empty/not (beta)", database_scripts_path(check_if_empty: 'yes'), class: "btn-normal"
  =link_to "Hide/show help", "#", data: { show_hide_toggler_for: "help" }, class: "btn-nodanger"

.row.margin-bottom{data: { show_hide_toggable_id: "help" }}
  .small-12.medium-9.columns.end
    .callout.primary
      %p
        =DatabaseScriptDecorator.format_tags [DatabaseScript::VALIDATED_TAG]
        means that there are validations in place to prevent the issue
      %p
        =DatabaseScriptDecorator.format_tags [DatabaseScript::REGRESSION_TEST_TAG]
        is for issues that have been mostly fixed
        =surround "(", ")" do
          =external_link_to "Regression testing", "https://en.wikipedia.org/wiki/Regression_testing"
      %p
        =DatabaseScriptDecorator.format_tags [DatabaseScript::HIGH_PRIORITY_TAG]
        is for issues we want to fix as soon as possible, usually because the issue is
        preventing us from improving the code
      %p
        =DatabaseScriptDecorator.format_tags [DatabaseScript::VERY_SLOW_TAG]
        may cause the site to become unresponsive

.row
  .small-12.columns
    -@grouped_database_scripts.each do |(_sort_order, title), database_scripts|
      %h5=title
      %table.tablesorter.margin-bottom
        %thead
          %tr
            %th.no-wrap Category
            %th Script
            %th.no-wrap Tags
            %th Soft-validated
            %th Fix random
            -if @check_if_empty
              %th Empty?
        %tbody
          -database_scripts.each do |database_script|
            %tr
              %td.shrink=database_script.category
              %td
                =link_to database_script.title, database_script_path(database_script)
                -if database_script.issue_description.present?
                  %div
                    %small.gray-text
                      Issue description:
                      =database_script.issue_description
              %td=database_script.decorate.format_tags
              %td.shrink
                -if database_script.soft_validated?
                  %span.hidden-sort Yes
                  =antcat_icon("check")
              %td.shrink
                -if database_script.fix_random?
                  %span.hidden-sort Yes
                  =antcat_icon("check")
              -if @check_if_empty
                %td.shrink=database_script.decorate.empty_status
