-@title = "Database Scripts"
-breadcrumb :database_scripts

-content_for :head do
  =javascript_include_tag "sortable_tables"

.row
  .small-9.columns.end
    .callout.secondary
      %p
        Scripts tagged with
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::CSV_TAG]
        can be exported as CSV
        =surround "(", ")." do
          =link_to "Comma-Separated Values", "https://en.wikipedia.org/wiki/Comma-separated_values"
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::REGRESSION_TEST_TAG]
        indicates that the script is related to something we used to have an issue with, and we just want to make sure no new similar issues appear. Most of these should be empty.
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::VALIDATED]
        means that there are validations to prevent the issue. This does not mean that the isssue
        can never happen because many validations are only run in the application layer,
        not in the database. These tags are manily used to track our progress of adding more
        validations to the site.
      %p
        Please be careful when generating scripts tagged with
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::VERY_SLOW_TAG]
        as it can make the site unresponsive.

-[@other_scripts, @regression_tests].each do |database_scripts|
  %table.tablesorter.margin-bottom
    %thead
      %tr
        %th Topic area
        %th Script
        %th Tags
    %tbody
      -database_scripts.each do |database_script|
        %tr
          %td.shrink=database_script.decorate.format_topic_areas
          %td=link_to database_script.title, database_script_path(database_script)
          %td=database_script.decorate.format_tags
