-@title = "Database Scripts"
-breadcrumb :database_scripts

-content_for :head do
  =javascript_include_tag "sortable_tables"

.row
  .small-9.columns.end
    .callout.primary
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::CSV_TAG]
        scripts can be exported as
        =external_link_to "Comma-Separated Values", "https://en.wikipedia.org/wiki/Comma-separated_values"
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::VALIDATED_TAG]
        means that there are validations in place to prevent the issue
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::REGRESSION_TEST_TAG]
        is for issues that have been mostly fixed
        =surround "(", ")" do
          =external_link_to "Regression testing", "https://en.wikipedia.org/wiki/Regression_testing"
      %p
        "Soft-validated" scripts is where "Fix random!" taxa are randomized from
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::VERY_SLOW_TAG]
        may cause the site to become unresponsive

-@grouped_database_scripts.each do |_title, database_scripts|
  %table.tablesorter.margin-bottom
    %thead
      %tr
        %th.no-wrap Topic area
        %th Script
        %th.no-wrap Tags
        %th Soft-validated
    %tbody
      -database_scripts.each do |database_script|
        %tr
          %td.shrink=database_script.decorate.format_topic_areas
          %td=link_to database_script.title, database_script_path(database_script)
          %td=database_script.decorate.format_tags
          %td.shrink
            -if database_script.soft_validated?
              =antcat_icon("check")
