-@title = "Database Scripts"
-breadcrumb :database_scripts

-content_for :head do
  =javascript_include_tag "sortable_tables"

=content_for :breadcrumbs_right do
  =link_to "Hide/show help", "#", class: "btn-nodanger", data: { show_hide_toggler_for: "help" }

.row.margin-bottom{data: { show_hide_toggable_id: "help" }}
  .small-12.medium-9.columns.end
    .callout.primary
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::CSV_TAG]
        scripts can be exported as
        =external_link_to "Comma-Separated Values", "https://en.wikipedia.org/wiki/Comma-separated_values"
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::VALIDATED_TAG]
        means that there are validations in place to prevent the issue
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::REGRESSION_TEST_TAG]
        is for issues that have been mostly fixed
        =surround "(", ")" do
          =external_link_to "Regression testing", "https://en.wikipedia.org/wiki/Regression_testing"
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::HIGH_PRIORITY_TAG]
        is for issues we want to fix as soon as possible, usually because the issue is
        preventing us from improving the code
      %p
        =DatabaseScript.decorate_class.format_tags [DatabaseScript::VERY_SLOW_TAG]
        may cause the site to become unresponsive

.row
  .small-12.columns
    -@grouped_database_scripts.each do |(_sort_order, title), database_scripts|
      %h5=title
      %table.tablesorter.margin-bottom
        %thead
          %tr
            %th.no-wrap Topic area
            %th Script
            %th.no-wrap Tags
            %th Soft-validated
            %th Fix random
        %tbody
          -database_scripts.each do |database_script|
            %tr
              %td.shrink=database_script.decorate.format_topic_areas
              %td
                =link_to database_script.title, database_script_path(database_script)
                -if database_script.issue_description.present?
                  %div
                    %small.gray-text
                      Issue description:
                      =database_script.issue_description
              %td=database_script.decorate.format_tags
              %td.shrink
                -if database_script.soft_validated?
                  =antcat_icon("check")
              %td.shrink
                -if database_script.fix_random?
                  =antcat_icon("check")
