-@title = @database_script.title
-breadcrumb :database_script, @database_script

-content_for :head do
  =javascript_include_tag "sortable_tables"

=content_for :breadcrumbs_right do
  =link_to "Show source code", @database_script.decorate.github_url, class: "btn-normal"
  -if @database_script.respond_to? :to_csv
    =link_to "Export as CSV", database_script_path(@database_script, format: :csv), class: "btn-normal"

.row.collapse
  .medium-8.columns
    %h5
      -if @database_script.topic_areas.present?
        =succeed ":" do
          =@database_script.decorate.format_topic_areas
      =@database_script.title
      =@database_script.decorate.format_tags
    %p=markdown @database_script.description, sanitize_content: false

.row.column
  .callout
    =@rendered

%small.right
  Script runtime: #{@render_duration} seconds
