-page_title strip_tags @database_script.title
-breadcrumb :database_script, @database_script

-content_for :breadcrumbs_right do
  =link_to "Show source code", @decorated_database_script.github_url, class: "btn-default"

.row.mb-8
  .medium-8
    %h5
      =@database_script.title
      =@decorated_database_script.format_linked_tags
    %p=markdown @database_script.description

    -if @database_script.issue_description.present?
      %h6
        %strong Issue description
        %p=markdown @database_script.issue_description

    -if @database_script.related_scripts.present?
      %h6.font-bold.mt-8 Related scripts
      %ul
        -@database_script.related_scripts.each do |related_script|
          %li
            =link_to related_script.title, database_script_path(related_script)
            =DatabaseScriptDecorator.new(related_script).format_linked_tags

  -if @database_script.statistics
    .medium-4
      .bg-logged-in-only.callout.border-0
        %p.text-sm=@database_script.statistics

.callout
  =@rendered

-if @database_script.paginate?
  =will_paginate @database_script.paginated_results(page: params[:page])

.text-sm.float-left
  Soft-validated
  =antcat_icon(@decorated_database_script.soft_validated? ? "check" : "nope")

  Markdown tag:
  %code="%dbscript:#{@database_script.class.name.demodulize}"

.text-sm.float-right
  Script runtime: #{@render_duration.round(4)} seconds
  -if @database_script.results_runtime
    (results #{@database_script.results_runtime.round(4)} seconds)
