-@title = strip_tags @database_script.title
-breadcrumb :database_script, @database_script

-content_for :head do
  =javascript_include_tag "sortable_tables"

=content_for :breadcrumbs_right do
  =link_to "Show source code", @database_script.decorate.github_url, class: "btn-normal"
  -if @database_script.respond_to? :to_csv
    =link_to "Export as CSV", database_script_path(@database_script, format: :csv), class: "btn-normal"

.row.collapse.margin-bottom
  .medium-8.columns
    %h5
      -if @database_script.category.present?
        =succeed ":" do
          =@database_script.category
      =@database_script.title
      =@database_script.decorate.format_tags
    %p=markdown @database_script.description, sanitize_content: false

    -if @database_script.issue_description.present?
      %h6
        %strong Issue description
        %p=markdown @database_script.issue_description

    -if @database_script.related_scripts.present?
      %h6.margin-top
        %strong Related scripts
      %ul
        -@database_script.related_scripts.each do|related_script|
          %li
            =link_to related_script.title, database_script_path(related_script)
            =DatabaseScriptDecorator.new(related_script).format_tags

  -if @database_script.statistics
    .medium-4.columns
      .callout.no-border-callout.logged-in-only-background
        %p.small-text=@database_script.statistics

.row.column
  .callout
    =@rendered

%small.left
  Soft-validated
  =antcat_icon(@database_script.soft_validated? ? "check" : "nope")
  Fix random
  =antcat_icon(@database_script.fix_random? ? "check" : "nope")

%small.right
  Script runtime: #{@render_duration.round(4)} seconds
  -if @database_script.results_runtime
    (results #{@database_script.results_runtime.round(4)} seconds)
