-content_for :javascripts do
  =javascript_include_tag 'reference_select', 'markdown_and_friends', 'taxt_editor'
  =javascript_include_tag 'check_name_conflicts', 'locality_autocompletion'

=render "shared/default_reference"

-if protonym.taxa.present?
  .callout.primary.margin-bottom.small-12.columns
    %h5 Taxa belonging to this protonym
    %table.pale-table
      %thead
        %th Taxon
        %th Rank
        %th Status
        %th
      -TaxonQuery.new(protonym.taxa.order_by_name).with_common_includes.each do |taxon|
        %tr
          %td=taxon.link_to_taxon
          %td=taxon.rank.capitalize
          %td
            =taxon.status.capitalize
            -unless taxon.status.in?(Taxa::ExpandedStatus::SELF_STATUSES)
              %br
              %small=taxon.decorate.expanded_status
          %td
            -if taxon.original_combination?
              Original combination
              =antcat_icon 'check'

=form_for protonym do |f|
  =render 'shared/errors_for', resource: protonym
  %table.unstriped
    =f.fields_for :name do |name_fields|
      %tr
        %td Name
        %td
          -if protonym.name.persisted?
            %span.right=link_to "Name record ##{protonym.name.id}", name_path(protonym.name), class: 'btn-normal btn-tiny'
            =protonym.decorate.name_with_fossil
          -else
            =text_field_tag :protonym_name_string, protonym.name.name
            #protonym_name_string-possible-conflicts-js-hook.possible-name-conflicts

    %tr
      %td
      %td
        =f.check_box :fossil
        =f.label :fossil

        =f.check_box :sic
        =f.label :sic do
          Sic
          =db_tooltip_icon "sic", scope: :taxa

    =f.fields_for :authorship do |authorship_fields|
      %tr
        %td
          =authorship_fields.label :reference do
            Authorship
            =db_tooltip_icon "authorship", scope: :taxa
        %td=authorship_fields.reference_select :reference

      %tr
        %td
          =authorship_fields.label :pages do
            Pages
            =db_tooltip_icon "pages", scope: :taxa
        %td=authorship_fields.text_field :pages

      %tr
        %td
          =authorship_fields.label :forms do
            Forms
            =db_tooltip_icon "forms", scope: :taxa
        %td=authorship_fields.text_field :forms

    %tr
      %td
        =f.label :biogeographic_region do
          Biogeographic region
          =db_tooltip_icon "type.biogeographic_region", scope: :taxa
      %td=f.select :biogeographic_region, options_for_select(Protonym::BIOGEOGRAPHIC_REGIONS, protonym.biogeographic_region), include_blank: true

    %tr
      %td
        =f.label :locality do
          Locality
          =db_tooltip_icon "locality", scope: :taxa
      %td=f.text_field :locality, class: 'locality-autocomplete-js-hook'

    %tr
      %td=f.label :primary_type_information
      %td=render 'shared/taxt_editor/taxt_editor_template', name: 'protonym[primary_type_information_taxt]', content: protonym.primary_type_information_taxt, id: :protonym_primary_type_information_taxt
    %tr
      %td.shrink=f.label :secondary_type_information
      %td=render 'shared/taxt_editor/taxt_editor_template', name: 'protonym[secondary_type_information_taxt]', content: protonym.secondary_type_information_taxt, id: :protonym_secondary_type_information_taxt
    %tr
      %td=f.label :type_notes
      %td=render 'shared/taxt_editor/taxt_editor_template', name: 'protonym[type_notes_taxt]', content: protonym.type_notes_taxt, id: :protonym_type_notes_taxt

    %tr
      %td=f.label :notes
      %td=render 'shared/taxt_editor/taxt_editor_template', name: 'protonym[authorship_attributes][notes_taxt]', content: protonym.authorship.notes_taxt, id: :protonym_authorship_notes_taxt

    %tr
      %td
      %td
        =edit_summary_text_field_tag
        =f.button "Save", type: :submit, class: "btn-saves"
