.callout-white.mb-8
  %h5
    Protonym history items
    .float-right
      =link_to 'Add', new_protonym_history_item_path(protonym, **current_page_redirect_back_url), data: { testid: 'add-history-item-button' }, class: 'btn-default'
      =link_to "Reorder", protonym_reorder_history_items_path(protonym), disabled: (protonym.history_items.size < 2), class: "btn-default"

  -protonym.history_items.each do |history_item|
    .history-item{class: "#{history_item.underscored_type}-history-item mb-4 pb-4"}
      =render 'taxt_editors/history_item_taxt_editor', history_item: history_item
