-@title = "#{@protonym.name.name} - Protonyms"
-breadcrumb :protonym, @protonym

=content_for :breadcrumbs_right do
  =link_to "History", protonym_history_index_path(@protonym), class: "btn-normal"
  -if user_is_at_least_helper?
    =link_to 'Edit', edit_protonym_path(@protonym), class: "btn-normal"
    -if !@protonym.taxa.exists?
      =link_to "Delete", protonym_path(@protonym), class: "btn-warning", method: :delete, data: { confirm_with_edit_summary: true }

.row.margin-bottom
  .small-12.columns
    %h5
      Protonym:
      =@protonym.decorate.format_name
      .right=link_to "Name record ##{@protonym.name.id}", name_path(@protonym.name), class: 'btn-normal btn-tiny'
    %table.table.unstriped
      %tbody
        %tr
          %th Authorship
          %td=@protonym.authorship.reference.decorate.expandable_reference
        %tr
          %th Pages and forms
          %td=@protonym.decorate.format_pages_and_forms
        %tr
          %th Locality
          %td=@protonym.decorate.format_locality
        %tr
          %th Notes
          %td=or_dash TaxtPresenter[@protonym.authorship.notes_taxt].to_html

-if @protonym.taxa.present?
  .row.margin-bottom
    .small-12.columns
      %h5 Taxa belonging to this protonym
      %table
        %thead
          %th Taxon
          %th Authorship
          %th Rank
          %th Status
        -@protonym.taxa.each do |taxon|
          %tr
            %td=taxon.decorate.link_to_taxon
            %td=taxon.authorship_reference.decorate.expandable_reference
            %td=taxon.rank.capitalize
            %td=taxon.status.capitalize
