-@title = "#{@protonym.name.name} - Protonyms"
-breadcrumb :protonym, @protonym

=enable_tooltips

-content_for :breadcrumbs_right do
  =link_to "History", protonym_history_path(@protonym), class: "btn-normal"
  -if user_is_at_least_helper?
    =link_to 'Edit', edit_protonym_path(@protonym), class: "btn-normal"
    -if !@protonym.taxa.exists?
      =link_to "Delete", protonym_path(@protonym), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-warning"
  =link_to "Soft validations", protonym_soft_validations_path(@protonym), class: "btn-normal"

-if AntCat::SHOW_FAILED_SOFT_VALIDATION_IN_CATALOG
  -if current_user && @protonym.soft_validations.failed?
    .row.margin-bottom
      .medium-9.columns
        .soft-validations-callout.callout.warning
          %h6
            =link_to 'Issues', protonym_soft_validations_path(@protonym)
            =logged_in_only_tooltip_icon
          =render 'shared/failed_soft_validations', soft_validations: @protonym.soft_validations

.row.margin-bottom
  .small-12.columns
    %h5
      Protonym:
      =@protonym.decorate.format_name
      -if @protonym.sic?
        [sic]
      .right=link_to "Name record ##{@protonym.name.id}", name_path(@protonym.name), class: 'btn-normal btn-tiny'
    %table.table.unstriped
      %tbody
        %tr
          %th Authorship
          %td=@protonym.authorship.reference.decorate.expandable_reference
        %tr
          %th Pages
          %td=@protonym.authorship.pages
        %tr
          %th Forms
          %td=or_dash @protonym.authorship.forms
        %tr
          %th Biogeographic region
          %td=@protonym.biogeographic_region
        %tr
          %th Locality
          %td=@protonym.decorate.format_locality
        %tr
          %th Primary type information
          %td=::Types::FormatTypeField[@protonym.primary_type_information_taxt]
        %tr
          %th Secondary type information
          %td=::Types::FormatTypeField[@protonym.secondary_type_information_taxt]
        %tr
          %th Type notes
          %td=::Types::FormatTypeField[@protonym.type_notes_taxt]
        %tr
          %th Notes
          %td=or_dash Detax[@protonym.authorship.notes_taxt]

-if @protonym.taxa.present?
  .row.margin-bottom
    .small-12.columns
      %h5 Taxa belonging to this protonym
      %table
        %thead
          %th Taxon
          %th Rank
          %th Status
          %th
          %th
          %th
          -if current_user
            %th
        -@protonym.taxa.order_by_name.with_common_includes_and_current_valid_taxon_includes.each do |taxon|
          %tr
            %td=taxon.link_to_taxon
            %td=taxon.rank.capitalize
            %td
              =taxon.status.capitalize
              -unless taxon.status.in?(Taxa::ExpandedStatus::SELF_STATUSES)
                %br
                %small=taxon.expanded_status
            %td
              -if taxon.original_combination?
                Original combination
                =antcat_icon 'check'
            %td
              -if taxon.type_taxon
                %small
                  =taxon.decorate.type_taxon_rank
                  =taxon.type_taxon.link_to_taxon + Detax[taxon.decorate.format_type_taxt]
            %td
              -if taxon.origin
                .bold-warning=taxon.origin
            -if current_user
              %td
                =taxon.decorate.link_to_antwiki
                %br
                =link_to "Show children", taxa_children_path(taxon), class: "btn-normal btn-tiny"

-# TODO: See https://github.com/calacademy-research/antcat/issues/702
-if current_user
  -if @protonym.taxa_with_history_items.present?
    .row.margin-bottom
      .small-12.columns
        .callout.no-border-callout.logged-in-only-background
          %h5
            Taxonomic history
            =logged_in_only_tooltip_icon
          -@protonym.taxa_with_history_items.each do |taxon|
            %h6
              =taxon.link_to_taxon
              %span.small-text=taxon.expanded_status

            .left-margin
              %ul.history
                -taxon.history_items.each do |history_item|
                  %li
                    =add_period_if_necessary Detax[history_item.taxt]
                    -if current_user
                      %span.show-on-hover
                        -if user_is_at_least_helper?
                          =link_to "Edit", edit_taxon_history_item_path(history_item), class: "btn-normal btn-very-tiny"
                        =link_to "History", taxon_history_item_history_path(history_item), class: "btn-normal btn-very-tiny"
