-default_reference = References::DefaultReference.get(session)
#default-reference{data: { id: default_reference.try(:id), reference_key: default_reference.try(:key_with_citation_year) }, style: 'display: none'}
