%ul
  -soft_validations.failed.each do |soft_validation|
    %li
      =markdown_without_wrapping soft_validation.issue_description
      =link_to 'See more similiar.', database_script_path(soft_validation.database_script), title: soft_validation.database_script.title

-if soft_validations.warn_about_slow_runtime?
  %small.bold-warning
    Checking all scripts took a long time
    =surround "(", ")." do
      =soft_validations.total_runtime.round(2)
      seconds
