=form_tag request.path, method: :get do
  .row
    -filters.each do |filter|
      .small-6.medium-4.large-2.columns
        =FilterDecorator.new(filter, params).render_html

    =extra_fields if extra_fields

    =render "shared/filter_buttons"
