#login
  - if user_signed_in?
    = link_to current_user.email, edit_user_registration_path
    %br
    = link_to 'sign out', destroy_user_session_path
  - else
    = link_to 'sign in', new_user_session_path
