%table.margin-bottom
  %caption AntCat-specific markdown (catalog)
  %thead
    %tr
      %th What
      %th Code
      %th Output
  %tbody
    %tr
      %td Taxon link
      %td
        %code {tax 429349}
      %td=markdown "{tax 429349}"
    %tr
      %td Taxon link (with author citation)
      %td
        %code {taxac 429349}
      %td=markdown "{taxac 429349}"
    %tr
      %td Reference link
      %td
        %code {ref 126902}
      %td=markdown "{ref 126902} (expandable)"

%table.margin-bottom
  %caption AntCat-specific markdown (cleanup-related)
  %thead
    %tr
      %th What
      %th Code
      %th Output
  %tbody
    %tr
      %td "Missing taxon"
      %td
        %code {missing &lt;i&gt;Dangerosa&lt;/i&gt;}
      %td=markdown "{missing <i>Dangerosa</i>}"
    %tr
      %td "Unmissing taxon"
      %td
        %code {unmissing &lt;i&gt;Dangerosa&lt;/i&gt;}
      %td=markdown "{unmissing <i>Dangerosa</i>}"

%table.margin-bottom
  %caption AntCat-specific markdown (meta)
  %thead
    %tr
      %th What
      %th Code
      %th Output
  %tbody
    %tr
      %td Database script link
      %td
        %code %dbscript:OrphanedProtonyms
      %td=markdown "%dbscript:OrphanedProtonyms"
    %tr
      %td Wiki page link
      %td
        %code %wiki
      %td=markdown "%wiki1"
    %tr
      %td GitHub issue link
      %td
        %code %github186
      %td=markdown "%github186"
    %tr
      %td User page
      %td
        %code @user62
      %td=markdown "@user62"

%table
  %caption Basic markdown
  %thead
    %tr
      %th What
      %th Code
      %th Output
  %tbody
    %tr
      %td Bold
      %td
        %code **bold**
      %td=markdown "**bold**"
    %tr
      %td Italics
      %td
        %code *italics*
      %td=markdown "*italics*"
    %tr
      %td Strikethrough
      %td
        %code ~~strikethrough~~
      %td=markdown "~~strikethrough~~"
    %tr
      %td Lists
      %td
        %code * first item
        %br
        %code * second item
      %td=markdown "* first item\n* second item"
    %tr
      %td Link (automatic)
      %td
        %code www.antcat.org
        %br
        %code https://antcat.org
      %td=markdown "www.antcat.org\nhttps://antcat.org"
    %tr
      %td Link (custom title)
      %td
        %code [AntCat](https://www.antcat.org)
      %td=markdown "[AntCat](https://www.antcat.org)"
