%p
  Note that "taxts" in reference sections and history items contain references to other records (that is, not their content), meaning that searching for
  %i=link_to "Condylodon", "/taxon_history_items?q=Condylodon"
  will not show any results while searching for
  =link_to "the taxon's ID", "/taxon_history_items?q=429013"
  will.
