%table.references.stack
  -references.each do |reference|
    %tr
      %td=render "references/reference", reference: reference
      %td=link_to "Show", reference_path(reference), class: "btn-normal"
