#search
  %form{:action => '/references', :method => :get}
    %table
      %tr
        %td.left_button
          %button{:value => 'new', :name => 'commit', :type => 'submit'} New
        - if user_signed_in?
          %td.left_button
            %button{:value => 'review', :name => 'commit', :type => 'submit'} Review
        %td.label
          Search for
        %td
          %input#q{:name => 'q', :type => 'text', :value => params[:q]}
        %td.right_button
          %button{:value => 'search', :name => 'commit', :type => 'submit', :class => 'default'} Go
          %button{:value => 'clear', :name => 'commit', :type => 'submit'} Clear
