- content_for :nav do
  .nav_bg{:style => "z-index:3000;"}
    %form#search_form{:action => '/references', :method => 'get'}
      .header_left#nav
        %a{:href => "/references?commit=new&q="} Show latest additions
      .header_search
        %b Search for
        %input.header_search_input{:type => "text", :name => "q", :value => params[:q], :style => "height:20px;"}
        %input.header_search_submit{:type => "submit", :name => "commit", :value => "Go &#187;"}
