#search
  %form{:action => '/references', :method => :get}
    %label{:for => 'author'} Author
    = text_field_tag 'author', params[:author]

    %label{:for => 'start_year'} Year 
    %input#start_year.year{:name => 'start_year', :type => 'text', :value => params[:start_year]}

    %label{:for => 'end_year'} to
    %input#end_year.year{:name => 'end_year', :type => 'text', :value => params[:end_year]}

    %label{:for => 'journal'} Journal
    %input#journal{:name => 'journal', :type => 'text', :value => params[:journal]}

    %button{:value => 'search', :name => 'commit', :type => 'submit'} Search
    %button{:value => 'clear', :name => 'commit', :type => 'submit'} Clear
