#search
  %form{:action => '/references', :method => :get}
    %table
      %tr
        %td
          %input#q{:name => 'q', :type => 'text', :value => params[:q]}
        %td.buttons
          %button{:value => 'search', :name => 'commit', :type => 'submit'} Search
          %button{:value => 'clear', :name => 'commit', :type => 'submit'} Clear
