%table.images
  %tr
    %td
      %a{:href => 'http://www.calacademy.org/', :target => '_blank'}
        %img{:style => "height: 40px", :src => '/images/calacademy.gif'}
    %td.spacer
    %td
      %a{:href => 'http://www.nsf.gov/', :target => '_blank'}
        %img{:style => "height: 50px", :src => '/images/nsf1.gif', :title => "Supported in part by NSF Award DBI-0642321"}
    %td.spacer
    %td
      %a{:href => 'http://rubyonrails.org/', :target => '_blank'}
        %img{:style => "height: 40px", :src => '/images/rails.png' }
    %td.spacer
    %td
      %a{:href => 'http://antweb.org', :target => '_blank'}
        %img{:style => "height: 20px", :src => '/images/antweb_logo_tiny.png'}
    %td.spacer
    %td
      %a{:href => 'http://hol.osu.edu/', :target => '_blank'}
        %img{:style => "height: 20px", :src => '/images/hol.png'}
    %td.spacer
    %td
      %a{:href => 'http://antbase.org/', :target => '_blank'}
        %img{:style => "height: 20px", :src => '/images/antbase.org.png'}
    %td.spacer
    %td
      %a{:href => 'http://www.zotero.org/', :target => '_blank'}
        %img{:style => "height: 20px", :src => '/images/zotero_logo_tiny.png'}
