%table.table-striped{"data-controller" => "tablesort"}
  %thead
    %th Passed?
    %th Database script
    %th False positive?
    %th Runtime
    %th.no-sort %
  %tbody
    -soft_validations.all.each do |soft_validation|
      %tr
        %td
          =antcat_icon(soft_validation.failed? ? "nope" : "check")
          =soft_validation.failed? ? "No" : "Yes"
        %td{class: [('bold-warning' if soft_validation.failed?), "group/soft-validations-table-row"]}
          =link_to soft_validation.database_script.title, database_script_path(soft_validation.database_script), title: soft_validation.database_script.title
          -if soft_validation.failed?
            %br
            =markdown_without_wrapping soft_validation.issue_description
          -else
            .text-sm.hidden{class: "group-hover/soft-validations-table-row:inline"}
              %br
              Issue description:
              %span.text-gray-600=markdown_without_wrapping soft_validation.issue_description
        %td
          -if soft_validation.looks_like_a_false_positive?
            Yes, filtered out
        %td.text-sm=soft_validation.decorate.format_runtime
        %td.text-sm=soft_validation.decorate.format_runtime_percent soft_validations.total_runtime

.text-sm.float-right
  Total runtime:
  =soft_validations.total_runtime.round(4)
  seconds
