-highlight_text ||= nil

-content_for :head do
  =javascript_include_tag "sortable_tables"

%table.stack.tablesorter.hover.margin-top
  %thead
    %tr
      %th.no-wrap Id
      %th.no-wrap Table
      %th.no-wrap Field
      %th.no-wrap Owner
      %th.no-wrap Taxt
  %tbody
    -if table_refs.empty?
      %tr
        %td{colspan: 5} Found no associated items.
    -else
      -table_refs.each do |table_ref|
        -decorated = TableRefDecorator.new(table_ref)
        %tr
          %td=decorated.item_link
          %td
            %code=table_ref.table
          %td
            %code=table_ref.field
          %td=decorated.owner_link
          %td.grow.small-text{data: { highlight_text: highlight_text }}
            =table_ref.detax
