-highlight_text ||= nil

-content_for :javascripts do
  =javascript_include_tag "sortable_tables"

%table.stack.tablesorter.hover.margin-top
  %thead
    %tr
      %th.no-wrap Id
      %th.no-wrap Table
      %th.no-wrap Field
      %th.no-wrap Owner
      %th.no-wrap Taxt
  %tbody
    -if what_links_here_items.empty?
      %tr
        %td{colspan: 5} Found no associated items.
    -else
      -what_links_here_items.each do |item|
        -decorated = WhatLinksHereItemDecorator.new(item)
        %tr
          %td=decorated.item_link
          %td
            %code=item.table
          %td
            %code=item.field
          %td=decorated.owner_link
          %td.grow.small-text{data: { highlight_text: highlight_text }}
            =item.detax || ndash
