-Taxa::ChildList[taxon].each do |child_list|
  %div
    %span.caption
      =succeed ':' do
        =child_list[:label]
    =child_list[:children].map { |child| CatalogFormatter.link_to_taxon(child) }.join(', ').html_safe
