.right
  -if user_is_editor?
    =editors_catalog_presenter.edit_taxon_button
  -if taxon.type.in?(Catalog::BoltonController::SUPPORTED_TYPES)
    =link_to "Bolton view (beta)", bolton_catalog_view_path(taxon), class: "btn-normal"
  =link_to "History", taxon_history_path(taxon), class: "btn-normal"
  =link_to "What Links Here", taxon_what_links_here_path(taxon), class: "btn-normal"

  -if user_is_editor?
    .btn-normal.dropdown.button{data: { toggle: "more-dropdown"}, type: "button"} More
    #more-dropdown.dropdown-pane{data: { dropdown: 'true', hover: 'true', hover_pane: 'true' }}
      %ul.no-bullet
        %li=editors_catalog_presenter.add_child_button
        %li=editors_catalog_presenter.add_tribe_button
        %li=editors_catalog_presenter.add_subgenus_button

        -if taxon.is_a?(Species)
          %li=link_to "Set subgenus", taxa_set_subgenus_path(taxon), class: "btn-normal"

        %li=editors_catalog_presenter.elevate_to_species_button
        %li=editors_catalog_presenter.convert_to_subspecies_button

        -if taxon.policy.show_create_combination_button?
          %li=link_to "Create combination#{' (blocked)' unless taxon.policy.allow_create_combination? }", new_taxa_create_combination_path(taxon), class: "btn-normal"

        -if taxon.policy.show_create_combination_help_button?
          %li=link_to "Create combination help", new_taxa_create_combination_help_path(taxon), class: "btn-normal"

        -if taxon.policy.allow_create_obsolete_combination?
          %li=link_to "Create obsolete combination", taxa_create_obsolete_combination_path(taxon), class: "btn-normal"

        -if taxon.policy.allow_force_change_parent?
          %li=link_to "Force parent change...", taxa_force_parent_change_path(taxon), class: "btn-warning"

        %li=editors_catalog_presenter.delete_unreferenced_taxon_button
        %li=link_to "Move items", new_taxa_move_items_path(taxon), class: "btn-normal"
        %li=link_to "Add history item", new_taxa_taxon_history_item_path(taxon), class: "btn-normal"
        %li=link_to "Show children", taxa_children_path(taxon), class: "btn-normal"
        %li=link_to "Soft validations", taxon_soft_validations_path(taxon), class: "btn-normal"
        %li=activities_link_for_trackable taxon
