-if show_full_statistics? taxon
  -statistics = taxon.decorate.statistics
-else
  -# If there's no valid-only stats, try including invalid too before giving up.
  -statistics = taxon.decorate.statistics(valid_only: true) || taxon.decorate.statistics
-if statistics
  .callout
    #statistics.small-margin-bottom
      =statistics
      =link_to "More statistics", catalog_path(taxon, include_full_statistics: "true"), class: "btn-normal btn-tiny"
