-# TODO: Organize temporary code better, since we usually have some of it.

#nomen-synopsis
  %span.name=Taxa::LinkEachEpithet[taxon]
  =taxon.author_citation
  =taxon.decorate.expanded_status
  =taxon.name.gender

#protonym-synopsis
  %span.name
    =taxon.protonym.decorate.link_to_protonym
  -if user_is_at_least_helper?
    %span.show-on-hover
      =link_to "Edit", edit_protonym_path(taxon.protonym), class: "btn-normal btn-very-tiny"
  -if taxon.protonym.sic?
    [sic]
  =succeed ':' do
    =taxon.authorship_reference.decorate.expandable_reference
  =taxon.protonym.decorate.format_pages_and_forms
  =Detax[taxon.protonym.authorship.notes_taxt]
  =taxon.protonym.decorate.format_locality
  =add_period_if_necessary(taxon.protonym.biogeographic_region)

  -if (type_name = taxon.protonym.type_name)
    -type_name_decorated = type_name.decorate
    =type_name_decorated.format_rank
    =CatalogFormatter.link_to_taxon(type_name.taxon) + type_name_decorated.compact_taxon_status + Detax[type_name_decorated.format_fixation_method]

#type-fields
  -protonym = taxon.protonym
  -if protonym.primary_type_information_taxt?
    %strong Primary type information:
    =::Types::FormatTypeField[protonym.primary_type_information_taxt]

  -if protonym.secondary_type_information_taxt?
    %strong Secondary type information:
    =::Types::FormatTypeField[protonym.secondary_type_information_taxt]

  -if protonym.type_notes_taxt?
    %strong Type notes:
    =::Types::FormatTypeField[protonym.type_notes_taxt]

-if current_user && current_user.settings(:editing_helpers).history_items_via_protonym
  #history-items-via-protonym-editing-helper.additional-editor-data.callout.no-border-callout.logged-in-only-background
    %h6
      History items via protonym
      =logged_in_only_tooltip_icon

    -presenter = ProtonymHistoryPresenter.new(taxon)
    -if presenter.any_unreachable_self_owned_items?
      .small-margin-bottom
        %p
          %span.bold-warning This taxon has unreachable history items.
        %p History items shown in the usual place outside of this box are considered to be "unreachable".

    -if presenter.protonym_item_belonging_to_multiple_taxa?
      .small-margin-bottom
        %span.bold-warning This taxon has protonym items that belong to more than a single taxon

    -if presenter.any_taxon_or_protonym_items?
      -if presenter.only_items_self_owned_by_taxon?
        %p
          This taxon
          %strong only has self-owned items
          (that is exactly the same items as its protonym, thus not shown in this blue box).
      -elsif presenter.only_protonym_items?
        %p
          This taxon has
          %strong no history items of its own
          (that is, only items via the protonym).
      -else
        %p
          This taxon has
          %strong both self-owned items and items via the protonym.

      -if presenter.show_protonym_items?
        %h6 Protonym items to be shown (self-owned items will also be shown, but they are not repeated here)
        -if presenter.any_rank_specific_items_excluding_self_owned?
          %p
            %span.bold-notice Note:
            This protonym has rank-specific history items, which means that "Protonym items to be shown" is not necessarily 100% true.
            Please see the text in red and blue.
      -else
        %h6 These items will NOT be shown on this page

      -if presenter.items_excluding_self_owned.exists?
        %ul#history.small-margin-bottom
          -presenter.items_excluding_self_owned.each do |history_item|
            %li
              Item owned by
              %strong=history_item.taxon.rank.upcase
              =CatalogFormatter.link_to_taxon(history_item.taxon)

              -if history_item.rank?
                %br
                This history item
                %span.bold-notice has rank #{history_item.rank}, nice!
                it will
                %span.bold-notice
                  -if presenter.show_rank_specific_item?(history_item, taxon)
                    be shown!
                  -else
                    NOT be shown!
              -elsif presenter.rank_field_required?(taxon, history_item.taxon)
                %br
                This history item
                %span.bold-warning requires rank field

              =link_to "Edit ##{history_item.id}", edit_taxon_history_item_path(history_item), class: "btn-normal btn-very-tiny"
              .tiny-margin-top.small-margin-bottom
                =add_period_if_necessary Detax[history_item.taxt]
      -else
        %p Same items as in the usual history items section outside of this blue box (since this taxon only has self-owned history items).
    -else
      %p
        Neither this taxon nor its protonym have any history items.
        =antcat_icon 'check'

    =hide_editing_helper_link

-if current_user && current_user.settings(:editing_helpers).history_items_via_protonym
  #history-items-via-protonym-editing-helper.additional-editor-data.callout.no-border-callout.logged-in-only-background
    %h6
      History items via protonym (alternative view, "proposed items")
      =logged_in_only_tooltip_icon

    %p
      This section renders history items via the protonym as they would be shown if we moved history items to the protonym right now.
      The above blue box contains additional information and context, while the history items below this box are the items we currently show.

    -presenter = ProtonymHistoryPresenter.new(taxon)
    -proposed_history_items = presenter.proposed_history_items
    -if proposed_history_items.present?
      %ul#history.small-margin-bottom
        -proposed_history_items.each do |history_item|
          %li
            -if history_item.rank?
              %span.logged-in-only-background
                %small.bold-notice
                  #{history_item.rank}-only item

            =add_period_if_necessary Detax[history_item.taxt]
            -if current_user
              %span.show-on-hover
                =link_to "Show", history_item, class: "btn-normal btn-very-tiny"
                -if user_is_at_least_helper?
                  =link_to "Edit", edit_taxon_history_item_path(history_item), class: "btn-normal btn-very-tiny"
                =link_to "History", taxon_history_item_history_path(history_item), class: "btn-normal btn-very-tiny"
    -else
      %p
        No history items
        =antcat_icon 'check'

    =hide_editing_helper_link

-if taxon.all_virtual_history_items.present? || taxon.history_items.present?
  %ul#history.small-margin-bottom
    -taxon.history_items.each do |history_item|
      %li
        -if current_user && history_item.rank?
          %span.logged-in-only-background
            %small.bold-notice
              #{history_item.rank}-only item
            =logged_in_only_tooltip_icon

        =add_period_if_necessary Detax[history_item.taxt]
        -if current_user
          %span.show-on-hover
            =link_to "Show", history_item, class: "btn-normal btn-very-tiny"
            -if user_is_at_least_helper?
              =link_to "Edit", edit_taxon_history_item_path(history_item), class: "btn-normal btn-very-tiny"
            =link_to "History", taxon_history_item_history_path(history_item), class: "btn-normal btn-very-tiny"
    -taxon.all_virtual_history_items.each do |history_item|
      %li{class: ('virtual-taxt-item' if current_user)}
        =history_item.render
        -if current_user
          =info_tooltip_icon 'This is a virtual history item.'

-if taxon.junior_synonyms.exists?
  %h6 Junior synonyms
  %ul.compact-list.small-margin-bottom
    -TaxonQuery.new(taxon.junior_synonyms.order_by_name).with_common_includes.each do |synonym|
      %li
        =CatalogFormatter.link_to_taxon(synonym)
        =synonym.author_citation

#child-lists.small-margin-bottom
  =render 'catalog/_show/child_lists', taxon: taxon

-if current_user
  -if taxon.is_a?(Subgenus) && taxon.species.exists?
    .callout.no-border-callout.logged-in-only-background
      %h6
        Species and subspecies in subgenus
        =logged_in_only_tooltip_icon "This section is only shown to logged-in users, since very few species are assined to a subgenus, and we have to decide how to handle subgenera."
      %ul.compact-list.small-margin-bottom
        -TaxonQuery.new(taxon.species.order_by_name).with_common_includes.each do |species|
          %li
            =CatalogFormatter.link_to_taxon(species)
            =species.author_citation
            %span.small-text=species.decorate.expanded_status
            -# TODO: N+1 query.
            -if species.subspecies.present?
              %ul.compact-list
                -TaxonQuery.new(species.subspecies.order_by_name).with_common_includes.each do |subspecies|
                  %li
                    =CatalogFormatter.link_to_taxon(subspecies)
                    =subspecies.author_citation
                    %span.small-text=subspecies.decorate.expanded_status

-if catalog_presenter.formicidae_landing_page?
  %br
  =link_to "Formicidae family references", catalog_path(taxon)
-else
  -if taxon.reference_sections.present?
    #reference-sections
      -taxon.reference_sections.each do |reference_section|
        .section.small-margin-bottom
          -if reference_section.title_taxt?
            %h6=Detax[reference_section.title_taxt]

          -if reference_section.subtitle_taxt?
            %h7=Detax[reference_section.subtitle_taxt]

          -if reference_section.references_taxt?
            %p=Detax[reference_section.references_taxt]

          -if current_user
            %span.show-on-hover
              =link_to "Show", reference_section, class: "btn-normal btn-very-tiny"
              -if user_is_at_least_helper?
                =link_to "Edit", edit_reference_section_path(reference_section), class: "btn-normal btn-very-tiny"
              =link_to "History", reference_section_history_path(reference_section), class: "btn-normal btn-very-tiny"

-if current_user && taxon.obsolete_combinations.exists?
  .callout.no-border-callout.logged-in-only-background
    %h6
      Obsolete combinations
      =logged_in_only_tooltip_icon "This is only showed to logged-in users since we don't have very complete data for obsolete combinations."
    %ul.compact-list.small-margin-botto
      -TaxonQuery.new(taxon.obsolete_combinations.order_by_name).with_common_includes.each do |obsolete_combination|
        %li
          =CatalogFormatter.link_to_taxon(obsolete_combination)
          =obsolete_combination.author_citation
          -if current_user && obsolete_combination.protonym != taxon.protonym
            %span.logged-in-only-background
              %small
                %span.bold-warning
                  this obsolete combination does not have the same protonym as the current taxon
                =surround "(", ")" do
                  =taxon.protonym.decorate.link_to_protonym
                  vs.
                  =obsolete_combination.protonym.decorate.link_to_protonym
                =logged_in_only_tooltip_icon

-# TODO: Figure out if/how to present subspecies, now
-# that https://github.com/calacademy-research/antcat/issues/780 has been fixed.
-if current_user && taxon.is_a?(Species) && taxon.subspecies.exists?
  .callout.no-border-callout.logged-in-only-background
    %h6
      Subspecies
      =logged_in_only_tooltip_icon "This section is currently only shown to logged-in users. We want to show subspecies somewhere in catalog pages, but we need to figure out how to present them."

    -if taxon.valid_status? && taxon.subspecies.valid.exists?
      %h6 Current subspecies (nominal plus)
      %ul.compact-list.small-margin-bottom
        -TaxonQuery.new(taxon.subspecies.valid.order_by_name).with_common_includes.each do |subspecies|
          %li
            =CatalogFormatter.link_to_taxon(subspecies)
            =subspecies.author_citation
            -if subspecies.unresolved_homonym?
              (unresolved homonym)

    -if taxon.subspecies.invalid.exists?
      %h6 Invalid subspecies
      %ul.compact-list.small-margin-bottom
        -TaxonQuery.new(taxon.subspecies.invalid.order_by_name).with_common_includes_and_current_taxon_includes.each do |subspecies|
          %li
            =CatalogFormatter.link_to_taxon(subspecies)
            =subspecies.author_citation
            %span.small-text=subspecies.decorate.expanded_status

-unless catalog_presenter.formicidae_landing_page?
  %h6.huge-margin-top Citations
  %ul#citations.compact-list
    -catalog_presenter.collected_references.each do |reference|
      -decorated_reference = reference.decorate
      %li.small-text
        =decorated_reference.expanded_reference
        =decorated_reference.format_document_links
        -# NOTE: Useful for editors.
        .show-on-hover=reference.id
