-# TODO: Decide what to do. Can be removed once `SubspeciesWithAnotherSubspeciesAsSpecies` has been cleared.
-if current_user
  -if taxon.is_a?(Subspecies) && taxon.species.nil? && taxon.species_id && Subspecies.find_by(id: taxon.species_id)
    .callout.alert
      %p
        =antcat_icon 'warning-icon'
        %strong This looks like an infrasubspecific taxon, which cannot be represented on AntCat
      %p
        Its species is missing, because this record is stored as a subspecies,
        and the ID in the species field belongs to another subspecies record,
        namely:
        =Subspecies.find_by(id: taxon.species_id).decorate.link_to_taxon_with_author_citation

.header
  %span.name=Taxa::LinkEachEpithet[taxon]
  =taxon.author_citation
  =taxon.decorate.taxon_status
  =taxon.name.gender

.headline
  %span.name
    =link_to taxon.protonym.decorate.format_name, taxon.protonym
  -if user_is_at_least_helper?
    %span.show-on-hover
      =link_to "Edit", edit_protonym_path(taxon.protonym), class: "btn-normal btn-very-tiny"
  -if taxon.protonym.sic?
    [sic]
  =succeed ':' do
    =taxon.authorship_reference.decorate.expandable_reference
  =taxon.protonym.decorate.format_pages_and_forms
  =Detax[taxon.protonym.authorship.notes_taxt]
  =taxon.protonym.decorate.format_locality

  -if taxon.type_taxon
    =taxon.decorate.type_taxon_rank
    =add_period_if_necessary(taxon.type_taxon.link_to_taxon + Detax[taxon.decorate.format_type_taxt])
  =add_period_if_necessary(taxon.protonym.biogeographic_region)

  =Detax[taxon.headline_notes_taxt]

  -# TODO: ".truncate" have been removed because it broke the reference expansion tooltips.
  #type-fields
    -protonym = taxon.protonym
    -if protonym.primary_type_information_taxt.present?
      .truncate-disabled-todo
        %strong Primary type information:
        =add_period_if_necessary ::Types::FormatTypeField[protonym.primary_type_information_taxt]

    -if protonym.secondary_type_information_taxt.present?
      .truncate-disabled-todo
        %strong Secondary type information:
        =add_period_if_necessary ::Types::FormatTypeField[protonym.secondary_type_information_taxt]

    -if protonym.type_notes_taxt.present?
      .truncate-disabled-todo
        %strong Type notes:
        =add_period_if_necessary ::Types::FormatTypeField[protonym.type_notes_taxt]

-if taxon.history_items.present?
  %ul.history.small-margin-bottom
    -taxon.history_items.each do |history_item|
      %li
        =add_period_if_necessary Detax[history_item.taxt]
        -if current_user
          %span.show-on-hover
            -if user_is_at_least_helper?
              =link_to "Edit", edit_taxon_history_item_path(history_item), class: "btn-normal btn-very-tiny"
            =link_to "History", taxon_history_item_history_path(history_item), class: "btn-normal btn-very-tiny"

-if taxon.junior_synonyms.exists?
  %h6 #{pluralize(taxon.junior_synonyms.count, 'junior synonym')}
  %ul.junior-synonyms.small-margin-bottom
    -taxon.junior_synonyms.order_by_name.includes(:name, protonym: [{ authorship: :reference }]).each do |synonym|
      %li
        =synonym.link_to_taxon
        =synonym.author_citation

#child-lists.small-margin-bottom
  =render 'catalog/_show/child_lists', taxon: taxon

-if is_formicidae_landing_page
  %br
  =link_to "Formicidae family references", catalog_path(@taxon)
-else
  -if taxon.reference_sections.present?
    .reference-sections
      -taxon.reference_sections.each do |reference_section|
        .section.small-margin-bottom
          -if reference_section.title_taxt.present?
            %h6=Detax[reference_section.title_taxt]

          -if reference_section.subtitle_taxt.present?
            %h7=Detax[reference_section.subtitle_taxt]

          -if reference_section.references_taxt.present?
            %p=Detax[reference_section.references_taxt]

          -if current_user
            %span.show-on-hover
              -if user_is_at_least_helper?
                =link_to "Edit", edit_reference_section_path(reference_section), class: "btn-normal btn-very-tiny"
              =link_to "History", reference_section_history_path(reference_section), class: "btn-normal btn-very-tiny"
