#taxon-browser.sticky.color-coded-catalog-links{class: "nottiny:bottom-0"}
  #taxon-browser-css-tabs.bg-white.overflow-hidden.h-auto
    .hidden.text-sm.px-4{data: { toggler_name: "taxon_key" }}
      .flex.justify-between.gap-1.flex-wrap
        %div &dagger;fossil
        .valid valid
        .synonym synonym
        .unidentifiable unidentifiable/excluded from Formicidae
        .homonym homonym
        .unavailable unavailable/nomen nudum
        .obsolete-combination obsolete combination

    -taxon_browser.tabs.each.with_index do |tab, index|
      %input.taxon-browser-tab-input.hidden{id: tab.id, class: "taxon-browser-tab-#{index}", checked: ("checked" if tab.open?), name: "taxon_browser_tab", type: "radio", value: 'selected tab'}
      %label.text-ac-blue.py-1.px-4{for: tab.id, class: "!m-0"}=tab.title

    .float-right{class: "hidden sm:block"}
      %button.btn-neutral{"data-action" => "toggler#toggle", "data-toggler-target" => "taxon_key"} toggle legend
      %span{class: "base__btn [&_a]:text-white bg-gray-500 hover:bg-gray-600 border-gray-500"}
        =taxon_browser_presenter.toggle_invalid_or_valid_only_link

    -taxon_browser.tabs.each.with_index do |tab, index|
      .hidden.overflow-y-auto.clear-right.text-sm.p-4.pt-0{class: "taxon-browser-tab-content-#{index} min-h-[10rem] max-h-[24vh]"}
        %ul.no-bullet.py-2{class: "columns-[9rem]"}
          -TaxonBrowser::LinksToExtraTabs[tab.tab_taxon].each do |link|
            %li.uppercase.whitespace-nowrap=taxon_browser_presenter.extra_tab_link tab.tab_taxon, link[:label], link[:view]

          -tab.each_taxon do |taxon, is_selected|
            %li.whitespace-nowrap{class: ("selected" if is_selected)}
              =taxon_browser_presenter.taxon_browser_taxon_link taxon

          -if tab.notify_about_no_valid_taxa?
            %li No valid child taxa
            -unless taxon_browser.show_invalid? # Don't link if already showing invalid.
              %li=taxon_browser_presenter.toggle_invalid_or_valid_only_link
