#nomen-synopsis
  %span.name=Taxa::LinkEachEpithet[taxon]
  =taxon.author_citation
  =taxon.decorate.expanded_status
  =taxon.name.gender

#protonym-synopsis
  %span.name
    =protonym.decorate.link_to_protonym
  -if user_is_at_least_helper?
    %span.show-on-hover
      =link_to "Edit", edit_protonym_path(protonym), class: "btn-normal btn-very-tiny"
  -if protonym.sic?
    [sic]
  =succeed ':' do
    =taxon.authorship_reference.decorate.expandable_reference
  =protonym.decorate.format_pages_and_forms
  =Detax[protonym.notes_taxt]
  =protonym.decorate.format_locality
  =add_period_if_necessary(protonym.biogeographic_region)

  -if (type_name = protonym.type_name)
    -type_name_decorated = type_name.decorate
    =type_name_decorated.format_rank
    =CatalogFormatter.link_to_taxon(type_name.taxon) + type_name_decorated.compact_taxon_status + Detax[type_name_decorated.format_fixation_method]

#type-fields
  -if protonym.primary_type_information_taxt?
    %strong Primary type information:
    =::Types::FormatTypeField[protonym.primary_type_information_taxt]

  -if protonym.secondary_type_information_taxt?
    %strong Secondary type information:
    =::Types::FormatTypeField[protonym.secondary_type_information_taxt]

  -if protonym.type_notes_taxt?
    %strong Type notes:
    =::Types::FormatTypeField[protonym.type_notes_taxt]

-if current_user && current_user.settings(:editing_helpers).history_items_via_protonym
  =render 'catalog/_show/logged_in_only/history_items_via_protonym', taxon: taxon

-if taxon.history_items.present?
  %ul#history.small-margin-bottom
    -taxon.history_items.each do |history_item|
      %li
        -if current_user && history_item.rank?
          %span.logged-in-only-background
            %small.bold-notice
              #{history_item.rank}-only item
            =logged_in_only_tooltip_icon

        =add_period_if_necessary Detax[history_item.to_taxt]
        -if current_user
          %span.show-on-hover
            =link_to "Show", history_item, class: "btn-normal btn-very-tiny"
            -if user_is_at_least_helper?
              =link_to "Edit", edit_taxon_history_item_path(history_item), class: "btn-normal btn-very-tiny"
            =link_to "History", taxon_history_item_history_path(history_item), class: "btn-normal btn-very-tiny"

-if taxon.junior_synonyms.exists?
  -name_of_obsoletes = taxon.decorate.name_of_obsoletes
  %h6.margin-top Junior synonyms
  %ul.compact-list.no-bullet.margin-bottom
    -TaxonQuery.new(taxon.junior_synonyms.order_by_name).with_common_includes.each do |synonym|
      %li
        =CatalogFormatter.link_to_taxon(synonym)
        =synonym.author_citation
        -if synonym.obsolete_combinations.present?
          .padding-left-2rem
            Obsolete #{name_of_obsoletes}(s):
            =safe_join synonym.obsolete_combinations.map { |obsolete| CatalogFormatter.link_to_taxon(obsolete) }, ', '

-if taxon.obsolete_combinations.exists?
  %h6.margin-top="Obsolete #{taxon.decorate.name_of_obsoletes}s"
  %ul.compact-list.no-bullet.margin-bottom
    -taxon.obsolete_combinations.order_by_name.includes(:name).each do |obsolete_combination|
      %li
        =CatalogFormatter.link_to_taxon(obsolete_combination)

#child-lists.small-margin-bottom
  =render 'catalog/_show/child_lists', taxon: taxon
  -if taxon.is_a?(Genus)
    =render 'catalog/_show/rank_specific/genus', taxon: taxon
  -if taxon.is_a?(Species)
    =render 'catalog/_show/rank_specific/species', taxon: taxon
  -if taxon.is_a?(Subspecies)
    =render 'catalog/_show/rank_specific/subspecies', taxon: taxon

-if current_user && taxon.is_a?(Subgenus) && taxon.species.exists?
  =render 'catalog/_show/logged_in_only/species_in_subgenus', taxon: taxon

-if catalog_presenter.formicidae_landing_page?
  %br
  =link_to "Formicidae family references", catalog_path(taxon)
-else
  -if taxon.reference_sections.present?
    #reference-sections
      -taxon.reference_sections.each do |reference_section|
        .section.small-margin-bottom
          -if reference_section.title_taxt?
            %h6=Detax[reference_section.title_taxt]

          -if reference_section.subtitle_taxt?
            %h7=Detax[reference_section.subtitle_taxt]

          -if reference_section.references_taxt?
            %p=Detax[reference_section.references_taxt]

          -if current_user
            %span.show-on-hover
              =link_to "Show", reference_section, class: "btn-normal btn-very-tiny"
              -if user_is_at_least_helper?
                =link_to "Edit", edit_reference_section_path(reference_section), class: "btn-normal btn-very-tiny"
              =link_to "History", reference_section_history_path(reference_section), class: "btn-normal btn-very-tiny"

-unless catalog_presenter.formicidae_landing_page?
  %h6.huge-margin-top Citations
  %ul#citations.compact-list
    -catalog_presenter.collected_references.each do |reference|
      -decorated_reference = reference.decorate
      %li.small-text
        =decorated_reference.expanded_reference
        =decorated_reference.format_document_links
        -# NOTE: Useful for editors.
        .show-on-hover=reference.id
