#taxon_picker.nested_form.antcat_taxon_picker.ui-corner-all.ui-widget-content.ui-widget{'data-action' => url, 'data-method' => method}
  .buttons
    .help Type characters in name, then choose a taxon from the drop-down list
    = text_field_tag :taxon_name, @taxon_name
    %button.ui-priority-primary.submit OK
    %button.ui-priority-secondary.cancel Cancel
