.nested_form.ui-corner-all.ui-widget-content.ui-widget
  .buttons
    Choose taxon
    = text_field_tag :taxon_name, @taxon_name
    %button.ui-priority-primary.submit OK
    %button.ui-priority-secondary.cancel Cancel
