.rank
  %table
    %tr
      %td.header= header
    %tr
      %td
        - if items
          %table
            - rows, css_class = snake_taxon_columns items
            - rows.each do |row|
              %tr
                - row.each do |item|
                  %td{:class => css_class}
                    - if item
                      = taxon_link item, selected_item, :q => q, :search_type => search_type
