%hr
  %table#taxon_key
    %tr
      %td
        %span.taxon_key_item &dagger;fossil
      %td.spacer
      %td
        %span.taxon_key_item.valid valid
      %td.spacer
      %td
        %span.taxon_key_item.synonym synonym/recombined
      %td.spacer
      %td
        %span.taxon_key_item.unidentifiable unidentifiable/excluded
      %td.spacer
      %td
        %span.taxon_key_item.unavailable unavailable/nomen nudum
      %td.spacer
      %td
        %span.taxon_key_item.homonym homonym
      %td.spacer
      %td
        %span.taxon_key_item= link_to "View full key", "/NGC colour-code protocol.pdf", :target => '_blank'
