- @title = 'Taxatry'

- content_for :header do
  .left
    %h1 Taxatry

%style
  :sass
    table
      border-collapse: collapse
    tr.cell td
      padding: 2px
      padding-right: 6px
    .selected
      background: yellow !important

%table
  %tr
    %td
      %table
        - @subfamilies.each do |subfamily|
          %tr{:class => :cell}
            - the_class = @subfamily == subfamily ? :selected : nil
            %td{:class => the_class}= link_to subfamily.name.capitalize, taxatry_path(:subfamily => subfamily)
    %td
      %table
        - if @tribes
          - @tribes.each do |tribe|
            %tr{:class => :cell}
              - the_class = @tribe == tribe || @tribe.nil? ? :selected : nil
              %td{:class => the_class}= link_to tribe.name.capitalize, taxatry_path(:subfamily => @subfamily, :tribe => tribe)
    %td
      %table
        - if @genera
          - @genera.each do |genus|
            %tr{:class => :cell}
              - the_class = @genus == genus || @genus.nil? ? :selected : nil
              %td{:class => the_class}= link_to genus.name.capitalize, taxatry_path(:subfamily => @subfamily, :tribe => @tribe, :genus => genus)
