- @title = 'Taxatry'

- content_for :header do
  .left
    %h1 Taxatry

%style
  :sass
    div.taxon
      float: left
      width: 130px
    .selected
      background: yellow !important

%div.subfamilies
  = all_of_a_taxon :subfamily, @selected_subfamily
  - @subfamilies.each do |subfamily|
    = a_taxon :subfamily, @selected_subfamily, subfamily
  %div.clear

- if @tribes
  %div.tribes
    %hr
      - @tribes.each do |tribe|
        = a_taxon :tribe, @selected_tribe, tribe, :subfamily => @selected_subfamily
    %div.clear

- if @genera
  %div.genera
    %hr
      - @genera.each do |genus|
        = a_taxon :genus, @selected_genus, genus, :subfamily => @selected_subfamily, :tribe => @selected_tribe
  %div.clear
