-title "#{@taxon.name_cache} - What Links Here"
-breadcrumb :taxon_what_links_here, @taxon
-noindex_meta_tag

-content_for :javascripts do
  =javascript_include_tag "highlight_text"

=render "shared/what_links_here", what_links_here_items: @what_links_here_items, highlight_text: @taxon.name_cache

=will_paginate @what_links_here_items
