Hello <%= @resource.email %>!
<p>
We had to nuke the database, so the Users table got truncated. Don't worry - this shouldn't happen again!  
In the meantime, if you'd like to login to AntCat and explore its editing capabilities, please accept the invitation
below.

AntCat has some cool new features, including a multiselect, autocompleting authors list, and autocompleting lists
for journals and publishers. In addition, a third of the entries are now linked to their source documents.

Here's the invitation again. Thanks for your help with AntCat!

---

The California Academy of Sciences invites you to <%= root_url %>, which includes an online, editable bibliography of ant taxonomy based
on the work of Phil Ward. Acceptance of this invitation gives you the ability to edit the bibliography. Viewing the bibliography is available to everyone.
</p>
<p>
This is a very early version of AntCat. The data will eventually be reimported. Feel free to add, delete, and edit entries if 
you want. Any feedback is appreciated. Please send comments to <%= mail_to 'mark@mwilden.com', 'Mark Wilden' %>.
</p>
<%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %>
</p>
<p>
If you don't want to accept the invitation, please ignore this email.
Your account won't be created until you access the link above and set your password.
</p>
<p>
Thank you!
</p>
