-@title = "Children of #{@taxon.name_cache}"
-breadcrumb :edit_taxon_show_children, @taxon

-if @taxon.children.present?
  %table
    -@children.each do |child|
      %tr
        %td=child.link_to_taxon
        %td=child.expanded_status

=will_paginate @children
