-#Locals: taxon

.result
  %span.name
    = format_name taxon
  %span.status
    = format_status taxon
  %span.locality
    = format_type_localities taxon
  .protonym
    = format_protonym taxon, current_user
