-#Locals: taxa, is_author_search

.results_section
  .results_header
    .left.results_message
      -if taxa.empty?
        -if is_author_search
          No results found. If you're choosing an author, make sure you pick the name from the dropdown list.
        -else
          No results found.
      -else
        ="#{pluralize_with_delimiters(@taxa_count, 'result')}"
    .left
      =will_paginate taxa
    .left.buttons
      -unless taxa.empty?
        .download_button= button 'Download', nil, 'data-location' => "/advanced_search.txt?#{request.parameters.to_param}"
    .clear

  .results_items
    -unless taxa.empty?
      %hr
      -taxa.each do |taxon|
        =render 'result', taxon: taxon
      %hr
      .left
        =will_paginate taxa
