-#Locals: taxa, taxa_count

.results_section

  - if taxa
    - if taxa.size > 0
      = "#{pluralize_with_delimiters(taxa_count, 'result')} found"
      %hr
    - else
      No results found

    - for taxon in taxa
      = render 'result', taxon: taxon
