- @title = 'Advanced Search'

- content_for :head do
  = javascript_include_tag 'advanced_searches'

- content_for :page_contents do
  = render 'search_section'
  - if @taxa
    %hr
    = render 'results_section', taxa: @taxa, search_results_message: @search_results_message
