%h5 Revision history

-if revisions.empty?
  %p This item does not have any previous revisions.
  %p
    %strong Date
    =render "shared/revision_comparer/revision_info_date", revision: most_recent
  %p
    %strong User
    =render "shared/revision_comparer/revision_info_user", revision: most_recent
-else
  =form_with url: request.original_url, method: :get, enforce_utf8: false do |f|
    %table.revisions
      %thead
        %tr
          %th.center-text{colspan: 4} Compare with...
          %th Date
          %th User
          %th
      %tbody
        -# The `most_recent` revision is special, as it's not in `revisions`.
        -# It will be either the current object, or a reified instance of
        -# what it looked like before it was deleted.
        %tr{class: ("make-green" if comparer.looking_at_most_recent?)}
          %td.shrink cur
          %td.shrink=link_to "prev", diff_with_id: revisions.first.id
          %td.shrink
          %td.shrink=radio_button_tag :selected_id, "", comparer.looking_at_most_recent?
          %td.shrink=render "shared/revision_comparer/revision_info_date", revision: most_recent
          %td=render "shared/revision_comparer/revision_info_user", revision: most_recent
          %td

        -revisions.each_with_index do |revision, index|
          %tr{class: revision_presenter.revision_css(revision)}
            -previous = revisions[index + 1] unless index == revisions.size - 1
            %td=link_to "cur", diff_with_id: revision.id
            %td
              -# Only link "prev" if there's a previous revision.
              -if previous
                =link_to "prev", diff_with_id: previous.id, selected_id: revision.id
              -else
                prev

            %td=radio_button_tag :diff_with_id, revision.id, comparer.revision_diff_with?(revision)
            %td
              -# Only show the right radio option if there's a previous revision.
              -if previous
                =radio_button_tag :selected_id, revision.id, comparer.revision_selected?(revision)
            %td=render "shared/revision_comparer/revision_info_date", revision: revision
            %td=render "shared/revision_comparer/revision_info_user", revision: revision
            %td
              -# TODO: Link activity like in `PaperTrail::VersionDecorator#activity_link`.
              -if revision.request_uuid
                -# TODO: Move link one row up, as the `uuid` shows where a record stopped looking a certain way.
                =link_to 'uuid', versions_path(request_uuid: revision.request_uuid), class: "btn-normal btn-tiny"

    =f.submit "Compare selected revisions", name: nil, class: "btn-normal"
