-content_for :javascripts do
  =javascript_include_tag "revision_comparer"

-content_for :breadcrumbs_right do
  %button.btn-neutral{"data-action" => "click->toggler#toggle", "data-toggler-target" => "revision_comparer_help"} Show/hide help

.hidden{data: { toggler_name: "revision_comparer_help" }}
  .callout-white.callout-responsive.mb-8
    =render "shared/revision_comparer/help"

-if comparer.diff_with
  %h5 Difference between revisions
  .callout-white.mb-8
    .row
      .medium-6=revision_presenter.left_side_diff.html_safe
      .medium-6=revision_presenter.right_side_diff.html_safe
-else
  %h5
    -if comparer.selected
      Revision as of
      =l comparer.selected.updated_at, format: :time_with_full_date_in_words
    -else
      -if comparer.most_recent.persisted?
        Current version
      -else
        Version before item was deleted
      %span.text-base=comparer.most_recent.updated_at

  .callout-white.mb-8{class: (comparer.looking_at_a_single_old_revision? ? "bg-revision-red" : "bg-revision-green")}
    =preserve do
      =revision_presenter.render_revision(comparer.selected || comparer.most_recent, view_context: self)

.mb-8
  =render "shared/revision_comparer/revision_history_table",
    comparer: comparer,
    revision_presenter: revision_presenter,
    revisions: comparer.revisions.reverse,
    most_recent: comparer.most_recent
