-most_recent = comparer.most_recent
-diff_with   = comparer.diff_with
-selected    = comparer.selected

-content_for :javascripts do
  =stylesheet_link_tag "diffy"
  =javascript_include_tag "revision_comparer"

.row#revision-comparer
  .medium-3.medium-push-9.columns
    .callout
      =render "shared/revision_comparer/help"

  .medium-9.medium-pull-3.columns
    -if diff_with
      -left_side_revision = diff_with
      -left_side_diff = revision_presenter.left_side_diff
      -right_side_revision = selected || most_recent
      -right_side_diff = revision_presenter.right_side_diff

      %h5 Difference between revisions

      .row.center-text
        .medium-6.columns
          =render "shared/revision_comparer/revision_info_date", revision: left_side_revision
        .medium-6.columns
          =render "shared/revision_comparer/revision_info_date", revision: right_side_revision

      .callout.margin-bottom
        .row
          .medium-6.columns=left_side_diff.html_safe
          .medium-6.columns=right_side_diff.html_safe
    -else
      %h5
        -if selected
          Revision as of
          =l selected.updated_at, format: :time_with_full_date_in_words
        -else
          -if most_recent.persisted?
            Current version
          -else
            Version before item was deleted
          %small=most_recent.updated_at

      .callout{class: (comparer.looking_at_a_single_old_revision? ? "make-red" : "make-green")}
        =preserve do
          =revision_presenter.render_revision(selected || most_recent, view_context: self)

  .medium-9.columns.medium-pull-3.margin-bottom.margin-top
    =render "shared/revision_comparer/revision_history_table",
      comparer: comparer,
      revision_presenter: revision_presenter,
      revisions: comparer.revisions.reverse,
      most_recent: most_recent
