.edit.ui-widget-content
  - url = url_for [item.taxon, item]
  - method = item.persisted? ? 'put' : 'post'
  .nested_form{'data-action' => url, 'data-method' => method}
    = render 'shared/errors_for', resource: item

    .taxt_editor
      = text_area_tag :taxt_editor, Taxt.to_editable(item.taxt), rows: 1, class: 'taxt_edit_box'
      = render 'reference_pickers/show', references: nil, reference: nil
      = render 'name_pickers/show'

    .buttons
      %button.submit.ui-priority-primary Save
      %button.cancel.ui-priority-secondary Cancel
