-content_for :javascripts do
  =javascript_include_tag "markdown_and_friends"

-content_for :breadcrumbs_right do
  %button.btn-neutral{"data-action" => "click->toggler#toggle", "data-toggler-target" => "help"} Show/hide markdown formatting help

.hidden{data: { toggler_name: "help" }}
  .callout-white
    =render 'shared/markdown_formatting_help'

=form_with model: wiki_page do |f|
  =render "shared/errors_for", resource: wiki_page

  .row.mb-4
    .medium-8
      =f.label :title
      =f.text_field :title, maxlength: WikiPage::TITLE_MAX_LENGTH

  .mb-4
    =f.check_box :featured
    =f.label :featured do
      Featured (show in Editor's Panel)

  .mb-4
    =f.text_area :content, rows: 20, data: { has_mentionables: true, has_linkables: true, previewable: true, previewable_title: "Content" }

  .mb-4
    =edit_summary_text_field_tag

  .mb-4
    =f.button "Save", class: "btn-saves btn-md"
