-#Locals: item

- css_classes = "history_item item_#{item.id} antcat_panel"
- css_classes << ' not_history_item_template' unless item.id
%div{class: css_classes, 'data-id' => item.id}
  %table
    %tr
      %td.history_item_body
        = render 'history_item/display', item: item
        - if user_can_edit_catalog?
          = render 'history_item/edit', item: item
