%input{type: :hidden, name: :possible_homonym, id: :possible_homonym, value: possible_homonym ? 'true' : nil}

.left_buttons
  - save_button_text = possible_homonym ? 'Save homonym' : 'Save'
  = button_tag type: 'submit', class: 'btn-save has-spinner' do
    = spinner_icon + save_button_text
