-#Locals: taxon, form

%tr#epithet_field
  = form.fields_for :name do |name_form|
    - if name_form.object.new_record?
      = hidden_field_tag 'taxon[name_attributes][id]'
    %td.label.top_aligned= name_form.label :name
    %td
      #epithet_field
        = render 'name_fields/panel', name_string: taxon.protonym.name.try(:name)
