-content_for :javascripts do
  =javascript_include_tag 'taxon_select', 'markdown_and_friends', 'taxt_editor'
  =javascript_include_tag 'protonym_select'

=render "shared/default_reference"

-url = taxon.new_record? ?  '/taxa': "/taxa/#{taxon.id}"
=form_with model: taxon, scope: :taxon, url: url do |form|
  =hidden_field_tag 'rank_to_create', params[:rank_to_create]
  =hidden_field_tag 'parent_id', params[:parent_id]

  -if taxon_form
    =render 'shared/errors_for', resource: taxon_form
  -else
    =render 'shared/errors_for', resource: taxon

  -if taxon.persisted? && taxon.soft_validations.failed?
    .soft-validations-callout.callout.warning.small-12.medium-6
      %h6 Issues (#{link_to("see more", taxon_soft_validations_path(taxon))})
      %p These issues will not prevent you from saving the form. Just so you know :)
      =render 'shared/failed_soft_validations', soft_validations: taxon.soft_validations

  .callout
    =render 'taxa/_form/main_form',        taxon: taxon, form: form, default_name_string: default_name_string
    =render 'taxa/_form/protonym_section', taxon: taxon, form: form

    .row
      .medium-3.columns
        =edit_summary_text_field_tag

      .medium-3.columns.end
        =form.submit 'Save', id: "save-taxon-form", class: 'btn-saves button'
        &nbsp;
        -cancel_link = taxon.new_record? ? catalog_path(params[:parent_id]) : catalog_path(taxon)
        =link_to 'Cancel', cancel_link, class: 'button btn-nodanger'
        =db_tooltip_icon :cancel, scope: :taxa
