=enable_tooltips

-content_for :head do
  =javascript_include_tag 'widgets/panel'
  =javascript_include_tag 'widgets/form', 'widgets/ajax_form', 'widgets/nested_form'
  =javascript_include_tag 'widgets/name_field'
  =javascript_include_tag 'controllers/taxa/form/_bundle'
  =javascript_include_tag 'controllers/taxa/not_really_form/_bundle'
  =javascript_include_tag 'taxon_select', 'reference_select', 'markdown_and_friends', 'taxt_editor'

=render 'shared/taxt_editor/taxon_and_ancestors', taxon: @taxon

-url = @taxon.new_record? ?  '/taxa': "/taxa/#{@taxon.id}"
=form_for @taxon, as: :taxon, url: url, html: { class: 'taxon_form' } do |form|
  =hidden_field_tag 'rank_to_create', params[:rank_to_create]
  =hidden_field_tag 'parent_id', params[:parent_id]
  =hidden_field_tag 'collision_resolution', params[:collision_resolution]
  =hidden_field_tag 'previous_combination_id', @previous_combination ? @previous_combination.id : nil

  =render 'shared/errors_for', resource: @taxon

  .callout
    =render 'taxa/form/main_form',        taxon: @taxon, form: form, default_name_string: @default_name_string
    =render 'taxa/form/protonym_section', taxon: @taxon, form: form
    =render 'taxa/form/type_section',     taxon: @taxon, form: form

    .buttons_section
      .row
        .medium-3.columns
          =text_field_tag :edit_summary, params[:edit_summary], placeholder: "Edit summary (optional)", maxlength: Activity::EDIT_SUMMARY_MAX_LENGTH

        .medium-3.columns.end
          =button_tag type: 'submit', id: "save-taxon-form", class: 'btn-saves button has-spinner' do
            =spinner_icon + 'Save'
          &nbsp;
          -cancel_link = @taxon.new_record? ? catalog_path(params[:parent_id]) : catalog_path(@taxon)
          =link_to 'Cancel', cancel_link, class: 'button btn-cancel'
          =tooltip_icon :cancel, scope: :taxa

-unless @taxon.new_record?
  .not-really-taxon-form
    =render 'not_really_form', taxon: @taxon
