-content_for :javascripts do
  =javascript_include_tag 'markdown_and_friends'

=render "shared/default_reference"

-url = taxon.new_record? ? taxa_path : taxon_path(taxon)
=form_with model: taxon, scope: :taxon, url: url do |form|
  =hidden_field_tag 'rank_to_create', params[:rank_to_create]
  =hidden_field_tag 'parent_id', params[:parent_id]

  -if taxon_form
    =render 'shared/errors_for', resource: taxon_form
  -else
    =render 'shared/errors_for', resource: taxon

  =render 'taxa/_form/main_form', taxon: taxon, form: form, default_name_string: default_name_string

  -if taxon.new_record?
    =render 'taxa/_form/create_new_protonym_form', taxon: taxon, form: form

  .row
    .medium-3
      =edit_summary_text_field_tag

    .medium-3
      =form.submit 'Save', class: 'btn-saves btn-md'

      -cancel_link = taxon.new_record? ? catalog_path(params[:parent_id]) : catalog_path(taxon)
      =link_to 'Cancel', cancel_link, class: 'btn-neutral btn-md'
      =db_tooltip_icon :cancel, scope: :taxa
