-#Locals: taxon

.history_section.section
  .section_header.ui-widget-header.ui-corner-top
    .left
      History
    .right.history_section_buttons
      %button.submit.ui-priority-primary Add
    .clear
  .history_items.ui-dialog-content.ui-widget-content.ui-corner-bottom
    .history_item_template
      = render 'history_item/panel', item: TaxonHistoryItem.new(taxon_id: taxon.id)
    - for history_item in taxon.history_items do
      = render 'history_item/panel', item: history_item
