.history_items_section.section
  .section_header.ui-widget-header.ui-corner-top
    .left History
    .right.history_items_section_buttons
      %button.submit.btn-tiny Add
    .clear
  .history_items.ui-dialog-content.ui-widget-content.ui-corner-bottom
    -taxon.history_items.each do |history_item|
      =render 'history_items/panel', item: history_item
  .history_item_template
    =render 'history_items/panel', item: TaxonHistoryItem.new(taxon_id: taxon.id)
