-#Locals:

-#%table.fields.synonym_homonym_section.section
  -#%tr
    -#%td
      -#.homonym_section.ui-corner-all
        -#.section_header.ui-widget-header.ui-corner-top
          -#Homonym
        -#.ui-dialog-content.ui-widget-content.ui-corner-bottom
          -#Homonym fields

