=render 'taxa/not_really_form/history_items_section', taxon: taxon
=render 'taxa/not_really_form/children_section', taxon: taxon, max_number: 50
=render 'taxa/not_really_form/synonyms_section', taxon: taxon
=render 'taxa/not_really_form/references_section', taxon: taxon
