-#Locals: taxon

.synonyms_section.section
  .section_header.ui-widget-header.ui-corner-top
    .left
      Synonyms
    .clear
  .section_contents.ui-dialog-content.ui-widget-content.ui-corner-bottom
    .container.left
      .junior_synonyms_section
        .section_header.ui-widget-header.ui-corner-top
          .left
            Junior synonyms
          .buttons.right
            %button.submit.ui-priority-primary.section_header_button Add
          .clear
        .section_contents.ui-dialog-content.ui-widget-content.ui-corner-bottom
          - for synonym in taxon.junior_synonyms
            %ul
              %li= synonym.name.name_html.html_safe
    .container.right
      .senior_synonyms_section
        .section_header.ui-widget-header.ui-corner-top
          .left
            Senior synonyms
          .buttons.right
            %button.submit.ui-priority-primary.section_header_button Add
          .clear
        .section_contents.ui-dialog-content.ui-widget-content.ui-corner-bottom
          - for synonym in taxon.senior_synonyms
            %ul
              %li= synonym.name.name_html.html_safe
    .clear
