-title "Editing #{@taxon.name_cache}"
-breadcrumb :edit_taxon, @taxon

-content_for :javascripts do
  =javascript_include_tag 'jquery-ui/widgets/draggable', 'jquery-ui/widgets/sortable'
  =javascript_include_tag 'controllers/taxa/reorder_reference_sections'
  =javascript_include_tag 'controllers/protonyms/reorder_history_items'

=render 'form', taxon: @taxon, default_name_string: nil, taxon_form: @taxon_form

.huge-margin-top

%h5 Related records
%p This section is provided for additional context and for editing related records. It is independent of the above taxon form.

#not-really-taxon-form.margin-top
  =render 'taxa/_not_really_form/protonym_section', taxon: @taxon, protonym: @taxon.protonym
  =render 'taxa/_not_really_form/synonyms_section', taxon: @taxon
  =render 'taxa/_not_really_form/children_section', taxon: @taxon
  =render 'taxa/_not_really_form/references_section', taxon: @taxon
