-page_title "Editing #{@taxon.name_cache}"
-breadcrumb :edit_taxon, @taxon

-if @taxon.persisted? && @taxon.soft_validations.failed?
  .callout-warning.callout-responsive.text-sm
    %h6 Issues (#{link_to("see more", taxon_soft_validations_path(@taxon))})
    %p These issues will not prevent you from saving the form. Just so you know :)
    =render 'shared/failed_soft_validations', soft_validations: @taxon.soft_validations

=render 'form', taxon: @taxon, default_name_string: nil, taxon_form: @taxon_form

.mt-20

%h5 Related records
=render 'taxa/_edit/protonym_section', taxon: @taxon, protonym: @taxon.protonym
=render 'taxa/_edit/synonyms_section', taxon: @taxon
=render 'taxa/_edit/children_section', taxon: @taxon
=render 'taxa/_edit/references_section', taxon: @taxon
