-page_title "Add Taxon"
-breadcrumb :new_taxon, params[:parent_id], params[:rank_to_create]

-content_for :javascripts do
  =javascript_include_tag 'locality_autocompletion'

%div{"data-controller" => "copy-field"}
  =render 'form', taxon: @taxon, default_name_string: @default_name_string, taxon_form: @taxon_form
