-@title = 'About'
-breadcrumb :about

-content_for :breadcrumbs_right do
  %small=AntcatVersionLink.new.call

%p AntCat is a catalog and bibliography of the taxonomy of the world's ants.

%h5.margin-top To cite AntCat
%p Bolton, B. #{Time.current.year}. An online catalog of the ants of the world. Available from http://antcat.org. (accessed [date])

%h5.margin-top Links
%ul
  %li=external_link_to 'Help pages wiki (hosted at GitHub)', "https://github.com/calacademy-research/antcat/wiki"
  %li=link_to 'List of users', users_path
  %li=link_to 'Contribute', page_path('contribute')
  %li=external_link_to 'Source code', 'https://github.com/calacademy-research/antcat'
  %li=link_to 'Contact us ', 'mailto:jrussack@calacademy.org'
  %li
    =link_to 'API docs', grape_swagger_rails_path
    =surround "(", ")" do
      =link_to 'Swagger API definition', '/api/v1/swagger.yaml'

%p.margin-top
  This material is based on work supported by the
  =external_link_to 'National Science Foundation (NSF)', 'http://www.nsf.gov/'
  under grant number
  =external_link_to('#0642321', 'http://www.nsf.gov/awardsearch/showAward?AWD_ID=0642321') + '.'
  Any opinions, findings, and conclusions or recommendations are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.

#partner-links
  %div
    =link_to 'http://www.calacademy.org/', target: '_blank' do
      =image_tag 'logos/california_academy_of_sciences.png', style: "height: 40px"
  %div
    =link_to 'http://www.nsf.gov/', target: '_blank' do
      =image_tag 'logos/nsf1.gif', style: "height: 50px", title: "Supported in part by NSF Award DBI-0642321"
  %div
    =link_to 'http://antweb.org', target: '_blank' do
      =image_tag 'logos/antweb_tiny.png', style: "height: 20px"
  %div
    =link_to 'http://hol.osu.edu/', target: '_blank' do
      =image_tag 'logos/hol.png', style: "height: 20px"
  %div
    =link_to 'http://antbase.org/', target: '_blank' do
      =image_tag 'logos/antbase.png', style: "height: 20px"
