-page_title 'About'
-breadcrumb :about

-content_for :breadcrumbs_right do
  %small=AntCatVersionLink.new.call

%p AntCat is a catalog and bibliography of the taxonomy of the world's ants.

-if user_is_developer?
  %p{"data-controller" => "stimulus-test"}
    Stimulus does not work.

%h5.mt-8 To cite AntCat
%p Bolton, B. #{Time.current.year}. An online catalog of the ants of the world. Available from https://antcat.org. (accessed [date])

%h5.mt-8 Links
%ul
  %li=link_to 'List of users', users_path
  %li=link_to 'Contribute', page_path('contribute')
  %li=external_link_to 'Source code', Settings.github.repo_url
  %li=mail_to Settings.contact_us_email_address, 'Contact us ', subject: 'AntCat'
  %li
    =link_to 'API docs', grape_swagger_rails_path
    =surround "(", ")" do
      =link_to 'Swagger API definition', '/api/v1/swagger.yaml'

%p.mt-8
  This material is based on work supported by the
  =external_link_to 'National Science Foundation (NSF)', 'https://www.nsf.gov/'
  under grant number
  =external_link_to('#0642321', 'https://www.nsf.gov/awardsearch/showAward?AWD_ID=0642321') + '.'
  Any opinions, findings, and conclusions or recommendations are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.

.flex.flex-wrap.justify-around.items-center.mt-20
  =link_to 'https://www.calacademy.org/', target: '_blank', rel: 'noopener' do
    =image_tag 'logos/california_academy_of_sciences.png', alt: 'California Academy of Sciences (CASC)', class: 'max-h-16'

  =link_to 'https://www.nsf.gov/', target: '_blank', rel: 'noopener' do
    =image_tag 'logos/nsf1.png', alt: 'National Science Foundation (NSF)', class: 'max-h-16'

  =link_to 'https://antweb.org', target: '_blank', rel: 'noopener' do
    =image_tag 'logos/antweb_tiny.png', alt: 'AntWeb', class: 'max-h-16'

  =link_to 'http://hol.osu.edu/', target: '_blank', rel: 'noopener' do
    =image_tag 'logos/hol.png', alt: 'HOL', class: 'max-h-16'

  =link_to 'http://antbase.org/', target: '_blank', rel: 'noopener' do
    =image_tag 'logos/antbase.png', alt: 'Antbase', class: 'max-h-16'
