- @title = 'Adding a new species'
 
.guidelines
  %ol
    %li Find out if the reference is already in AntCat (search for that under references).
    %li
      If it is there go to step # 3, if it is not, insert it. See
      = link('Bibliography editing guidelines', page_path('bibliography_editing_guidelines')) + '.'
    %li Go to latest additions (upper left corner of the References section), find your reference, click on “Start reviewing”, and click on “Make default”. *For now, we don’t have a way to search for a reference within latest additions, and I hope it is coming soon; so, be patient…
    %li Now it is time to insert a new species name! Insert your new species name inside its genus: in a given genus webpage, click on the “Edit” button; then you will find a “add species” button – click on it.
    %li The first field inside a “add species” section is “Name” -- just click on the “(none)” button, and fill in the species name. When it is done, click on OK. *The best strategy to avoid misspellings is to copy and paste the name from the PDF file.
    %li If it is a fossil name, there is a box to be checked just below the Status field.
    %li Now go to the fields under Protonym (A.K.A. original combination). There is another field called Name, and if you click on “none” you will see the name you just copied and pasted; so, click on OK.
    %li Authorship -- Click on “(none)”, you will see the reference you made default, and there is no need to search for and insert a reference; click on the default reference, and on OK. If you do need to add a new reference: In the box to add a new authorship:  search for your author, wait until the options to that name start to pop up just below the name you just wrote, choose one of them, and click on go; now you have a list of publications from your author; choose one, and be sure it appears in the blue box (in that you where you can read none); now click on OK, and go to the next step.
    %li Pages – Insert information as follows: first page of the species description followed by a comma, then space plus “figs.” or “fig.” depending of the number of figures that your species has in the publication (leave a space between the abbreviation and the numbers). If the figure numbers are consecutive, type down the smaller one followed by a dash and the bigger number (no space between them); if they are not consecutive, type down the smaller number followed by a comma, then a space, the other number, and so on. *A distribution map is a figure of a given name (any figure that relates to the species should included, regardless of the figure type). Example: 124, figs. 1-4, 17
    %li Forms -- abbreviation of the castes that were described followed by a period (w. for worker; ic. for intercaste; q. for queen; dq. for dealate queen; eq. for ergatoid queen; m. for male; em. for ergatoid male). Don`t leave a space between each caste, and be sure to not leave a space after the last caste you wrote down. Example: w.q.m.
    %li Locality -- Country name in which the type was described, first letter upper case. For fossils, you should write the country’s name followed by the formation type (where the fossil was found) between parentheses. *We hope to have a pop-up list of countries and regions in the future. Example: Ukraine (Rovno Amber)
    %li Now go to the fields under Type, and initially, you will choose the biogeographic region in which the type was described. Finally, copy and paste the “Verbatim type locality” [A.K.A locality of primary types (holotype, lectotype, neotype or syntypes) (e.g. Brazil, São Paulo, Tapiraí, 24°01'55.5"S 47°27'56"W, 08–14 Jan 2001, col. R.R. Silva & Eberhardt, Transecto 1 Winkler 23] -- should contain information on the locality of original description, INCLUDING information on date, collectors, transect, winkler... 
    %li Type specimen repository, code, URL
    %li Click on Save, and it is done! Thank you!!
