-@title = 'Contribute'
-breadcrumb :contribute

%p
  We're glad you wish to contribute to AntCat!

%p
  Don't have an account?
  =link_to 'Join AntCat!', new_user_registration_path

%p
  See also the
  =link_to "New contributors' help page", '/wiki_pages/1'
