- @title = 'Editing Guidelines'

.guidelines
  %ul
    %li Please try to provide PDFs along with citations, when available.

    %li
      When uploading a new PDF file, remember that the file name should not be random. We adopted the format Phil uses in his PDF library:
      .file_name
        %b Smith_et_al_2012_Abbreviated_Journal_Title Your subjective abbreviated title
      %div
        See
        %a{href: '/references?commit=new', target: '_blank'}recently added references
        for examples.
      %div
        Journal abbreviations follow the ones adopted in the published version of AntBib,
        %a{href: '/references?q=132573', target: '_blank'}Ward et al. 1996.
        In cases where the journal name is not to be found there, follow the
        %a{href: 'http://www.issn.org/2-22661-LTWA-online.php', target: '_blank'}List of Title Word Abbreviations from ISSN.

    %li Remember to italicize genus and species-group names in titles (you can do this by adding asterisks before and after, e.g. *Tetramorium*).

    %li Please give both authors' names and titles as given in the original publication (always check with the reprint/file), including original diacritics and, with regard to the title, any taxonomic qualifiers such as "Hymenoptera: Formicidae".

    %li In the title, use capitals only when required by grammatical usage; all other words in lower case. This means that it is not a good idea to simply copy and paste the title from the reference source, since the principal words are often capitalized.

    %li Give issue number along with volume number only for journals that start a new pagination with every "issue".

    %li Remember to mention all the genera in which taxonomic changes are made in the "Taxonomic notes" field.

    %li We are currently uploading only publications published in print, as only those are considered valid by the ICZN. This means we are currently not including online-early papers.

    %li When adding a new citation, try to determine the publication date of the printed version. This is given in the "Date" field, in the format year/month/day without the slash marks. For example, 13th July 2012 would be 20120713.

    %li
      Look for nested citations, i.e. cases where a portion of the paper (often a taxonomic description) has authorship that differs from that of the paper as a whole. We are citing these separately. For example, see
      %a{href: '/references?q=133042', target: '_blank'}Lacau, S.; Groc, S.; Dejean, A.; Oliveira, M. L. de; Delabie, J. H. C. 2012
      (an nester reference) and
      %a{href: '/references?q=133043.', target: '_blank'}Lacau, in Lacau, Groc, et al., 2012
      (a nested reference inside the nester).

    %li
      In the case of nested references, use the format
      .file_name
        %b Pp. 123-456 in:
      %div
        to connect the nested reference and the nester, e.g.
      .file_name
        %b
          Andersen, A. N.; Majer, J. D. 1991. The structure and biogeography of rainforest ant communities in the Kimberley region of northwestern Australia. Pp. 333-346 in: McKenzie, N. L.; Johnston, R. B.; Kendrick, P. G. (eds.) 1991. Kimberley rainforests. Chipping Norton, N.S.W.: Surrey Beatty & Sons, xviii + 490 pp. [1991] 122220
