-# Dev only.

-@title = "Lazy Links"
-breadcrumb :lazy_links

.row
  .medium-3.columns
    %h5 Valid taxa
    %ul
      %li=link_to "Family", catalog_path(Family.first)
      %li=link_to "Subfamily", catalog_path(Subfamily.valid.first)
      %li=link_to "Tribe", catalog_path(Tribe.valid.first)
      %li=link_to "Genus", catalog_path(Genus.valid.first)
      %li=link_to "Subgenus", catalog_path(Subgenus.valid.first)
      %li=link_to "Species", catalog_path(Species.valid.first)
      %li=link_to "Subspecies", catalog_path(Subspecies.valid.first)

  .medium-3.columns
    %h5 References
    %ul
      %li=link_to "ArticleReference", reference_path(ArticleReference.first)
      %li=link_to "BookReference", reference_path(BookReference.first)
      %li=link_to "NestedReference", reference_path(122100)
      %li=link_to "^-- parent (NestedReference)", reference_path(122099)
      %li=link_to "NestedReference", reference_path(142836)
      %li=link_to "^-- parent (ArticleReference)", reference_path(142835)
      %li=link_to "UnknownReference", reference_path(UnknownReference.first)

  .medium-3.columns
    %h5 Misc.
    %ul
      %li=link_to "Routes", "/rails/info/routes"
