-@title = 'Color-code Protocol for Initial Entries of Names'
-breadcrumb :taxon_color_key

%p Names of taxa of any rank and status that are preceded by the symbol &dagger; or * are fossil forms.

%p
  %span.valid.bold.roman RED BOLD ROMAN
  (upper case): currently valid names in the family-group.
  %br
  %span.valid.bold.italic RED BOLD ITALIC
  (upper case): currently valid names of genus rank.
  %br
  %span.valid.bold.italic Red bold italic
  (lower case): currently valid names of species rank.

%p
  %span.subspecies.valid.bold.italic BLUE BOLD ITALIC
  (upper case): currently valid names of subgenus rank.
  %br
  %span.subspecies.valid.bold.italic Blue bold italic
  (lower case): currently valid names of subspecies rank.

%p
  %span.synonym.bold.roman BLACK ROMAN
  (upper case): names in the family-group that are currently junior synonyms.
  %br
  %span.synonym.bold.italic BLACK ITALIC
  (upper case): names in the genus-group that are currently junior synonyms.
  %br
  %span.synonym.bold.italic Black italic
  (lower case): names in the species-group that are currently junior synonyms.

%p
  %span.unavailable.bold.roman PURPLE ROMAN
  (upper case): unavailable names,
  %span.latin nomina nuda
  and incorrect subsequent spellings in the family-group.
  %br
  %span.unavailable.bold.italic PURPLE ITALIC
  (upper case): unavailable names,
  %span.latin nomina nuda
  and incorrect subsequent spellings in the genus-group.
  %br
  %span.unavailable.bold.italic Purple italic
  (lower case): unavailable names,
  %span.latin nomina nuda
  and incorrect subsequent spellings in the species-group.

%p
  %span.unidentifiable.bold.italic DARK BLUE BOLD ITALIC
  (upper case): available names in the genus-group of unidentifiable taxa, collective group names and names excluded from Formicidae.
  %br
  %span.unidentifiable.bold.italic Dark blue bold italic
  (lower case): available names in the species-group of unidentifiable taxa, members of collective groups and names excluded from Formicidae.
  %br

%p
  %span.homonym.bold.italic BROWN BOLD ITALIC
  (upper case): unresolved junior homonyms in the genus-group that are not currently in synonymy.
  %br
  %span.homonym.bold.italic Brown bold italic
  (lower case): unresolved junior homonyms in the species-group that are not currently in synonymy.
  %br

%p
  %span.original_combination.bold.italic GREEN BOLD ITALIC
  collective group names.
  %br
  %span.original_combination.bold.italic Green bold italic
  species-group names which have since been recombined in another genus.
