-format_type_fields ||= false

%div{"data-controller" => "taxt-editor"}
  %div{"data-taxt-editor-target" => "presenter"}
    %button.float-left.btn-neutral.m-2{"data-action" => 'click->taxt-editor#enterEditMode'} Edit
    .border.border-gray-300.p-1{"data-taxt-editor-target" => "content", class: "min-h-[2.5rem]"}
      -if format_type_fields
        =::Types::FormatTypeField[content]
      -else
        =Detax[content]

  .hidden{"data-taxt-editor-target" => "editor", data: { visible_in_test_env: true }}
    =text_area_tag name, content, rows: 5, data: { has_linkables: true, previewable: true, use_extras: true, format_type_fields: format_type_fields }, "data-taxt-editor-target" => "textarea", class: 'w-full'

    %button.btn-saves.btn-md{"data-action" => 'click->taxt-editor#ok'} OK
