.border.p-4.rounded.bg-white{"data-controller" => "taxt-editor", "data-taxt-editor-url-value" => history_item_path(history_item)}
  .hidden{"data-taxt-editor-target" => "editor"}
    %h6.font-bold.mb-4=history_item.type_label
    -# [grep:history_type].
    =render partial: "history_items/edit_templates/#{history_item.underscored_type}", locals: { history_item: history_item }

    =text_field_tag :edit_summary, nil, placeholder: "Edit summary (optional)", maxlength: Activity::EDIT_SUMMARY_MAX_LENGTH, class: '!w-2/3 mb-4', "data-taxt-editor-target" => "editSummaryInput"

    %br

    %button.btn-saves.btn-md{"data-action" => 'click->taxt-editor#saveHistoryItem', data: { testid: 'history-item-taxt-editor-save-button' }} Save
    %button.btn-neutral.btn-md{"data-action" => 'click->taxt-editor#cancel', data: { testid: 'history-item-taxt-editor-cancel-button' }} Cancel
    %button.btn-warning.btn-md.ml-4{"data-action" => 'click->taxt-editor#delete', data: { testid: 'history-item-taxt-editor-delete-button' }} Delete

  %div{"data-taxt-editor-target" => "presenter", class: "group/history-item-taxt-presenter"}
    =Detax[history_item.to_taxt]

    .mt-3

    %button.btn-neutral.mr-4{"data-action" => 'click->taxt-editor#enterEditMode', data: { testid: 'history-item-taxt-editor-edit-button' }} Quick edit

    %small.font-bold.text-gray-500.mr-4=history_item.underscored_type

    =history_item.decorate.rank_specific_badge if history_item.rank?

    %span.hidden{class: "group-hover/history-item-taxt-presenter:inline"}
      =link_to "Show", history_item_path(history_item), class: "btn-default"
      =link_to "Edit", edit_history_item_path(history_item, **current_page_redirect_back_url), class: "btn-default"
      =link_to "History", history_item_history_path(history_item), class: "btn-default"

      -if history_item.taxt_type?
        =link_to "Add item before this", new_protonym_history_item_path(history_item.protonym, position: history_item.position, **current_page_redirect_back_url), class: "btn-default"
      -if history_item.relational?
        =link_to "Add another", new_protonym_history_item_path(history_item.protonym, **history_item.decorate.params_for_add_another_of_same_type, **current_page_redirect_back_url), class: "btn-default"
