-# Instance vars: @taxon

= text_area_tag 'taxon[type_taxt]', Taxt.to_editable(@taxon.type_taxt), rows: 1, class: 'taxt_edit_box'
= render 'tag_type_selectors/show'
= render 'reference_popups/show'
= render 'name_popups/show'
