-rows ||= 2

=text_area_tag name, value, rows: rows, class: 'taxt_edit_box'
=render 'reference_popups/show'
=render 'name_popups/show'

.insert_tag_buttons
  %button.taxon_button.submit.btn-normal Insert Name
  %button.reference_button.submit.btn-normal Insert Reference
  =render 'default_references/default_reference'
