-@title = 'Latest Additions'
-breadcrumb :references_latest_additions

.buttons_right
  =link_to "New", new_reference_path, class: "btn-normal" if user_can_edit?

%table.references
  %thead
    %th Reference
    %th Created

    -if user_can_edit?
      %th Review status
      %th Review
      %th Set as default

  -@references.each do |reference|
    %tr
      %td=render 'references/reference', reference: reference

      =render 'controls', reference: reference

=will_paginate @references