-@title = 'Latest Additions'
-breadcrumb :references_latest_additions

-if current_user
  =enable_tooltips

-content_for :breadcrumbs_right do
  =link_to 'Latest Changes', references_latest_changes_path, class: "btn-normal"

%table.stack.references
  %tbody
  -@references.each do |reference|
    %tr
      %td=render 'references/reference', reference: reference
      %td.no-wrap
        added
        =time_tag reference.created_at.to_date
      %td.no-wrap
        =reference.decorate.format_review_state
        -if user_is_editor?
          %br
          =Editors::ReferencePresenter.new(reference).review_reference_button

=will_paginate @references
