-@title = 'Latest Additions'
-breadcrumb :references_latest_additions

%table.stack.references
  %tbody
  -@references.each do |reference|
    %tr
      %td=render 'references/reference', reference: reference
      %td.no-wrap
        added
        =time_tag reference.created_at.to_date
      %td.no-wrap
        =reference.decorate.format_review_state
        -if user_is_editor?
          %br
          =review_reference_button reference

=will_paginate @references
