-@title = 'Latest Additions'
-breadcrumb :references_latest_additions

-if user_is_editor?
  .buttons-right
    =link_to "New", new_reference_path, class: "btn-normal"

%table.references
  %thead
    %th
    %th Created
    -if user_is_editor?
      %th Review status
      %th
      %th
    %th
  -@references.each do |reference|
    %tr
      %td=render 'references/reference', reference: reference
      %td=time_tag reference.created_at
      -if user_is_editor?
        %td=reference.decorate.format_review_state
        %td=review_reference_button reference
        %td=set_as_default_reference_button reference
      %td=link_to "Show", reference_path(reference), class: "btn-normal"

=will_paginate @references
