= render 'search', :params => params

-if @references.empty?
  .no_results_found
    No results found

= button_tag 'Close', class: 'close'

%table.references

  - for reference in @references
    %tr.reference_row
      %td
        = render 'reference', :reference => reference, :publisher_string => '', :css_class => 'reference'
        -#= render 'reference', :reference => reference, :publisher_string => @publisher_string, :css_class => 'reference'

  -#- if user_can_edit?
    -#%tr.reference_template_row
      -#%td
        -#= render 'reference', :reference => nil, :publisher_string => @publisher_string, :css_class => 'reference_template'

%div= will_paginate @references
