- css_class = []
- if reference
  - css_class << "item_#{reference.id}"
  - taxt = Taxt.to_editable_reference reference
  - id = reference.id
- else
  - taxt = id = nil

.reference{class: css_class, 'data-id' => id, 'data-taxt' => taxt}
  %table.reference_table
    %tr
      %td.reference_item
        = render 'reference_popups/display', reference: reference if !reference || !reference.new_record? && reference.errors.empty?
