-if reference
  -taxt = TaxtIdTranslator.to_editor_ref_tag reference
  -reference_id = reference.id
  -css_id = "reference_#{reference_id}"
-else
  -taxt = css_id = reference_id = nil

.reference{id: css_id, data: { id: reference_id, taxt: taxt }}
  %table.reference_table
    %tr
      %td.reference_item
        =render 'reference_popups/display', reference: reference if !reference || !reference.new_record? && reference.errors.empty?
