-#Locals: reference

- reference ||= Reference.new
- css_class = 'reference'
- css_class << " reference_#{reference.id}" if reference.id

%div{class: css_class, 'data-reference-id' => reference.id, 'data-taxt' => Taxt.to_editable_reference(reference)}
  %table.reference_table
    %tr
      %td.icons
        %a.icon.edit{title: 'edit', href: '#'}
          = image_tag 'edit_off.png', alt: 'edit'
      %td.reference_item
        = render 'reference_pickers/display', reference: reference if !reference.new_record? && reference.errors.empty?
        = render 'reference_pickers/edit', reference: reference, publisher_string: publisher_string
