-#Locals: reference

- reference ||= Reference.new
- id = "reference_#{reference.id}"
- css_class << ' ' << id
%div{id: id, class: css_class, 'data-reference-id' => reference.id, 'data-taxt' => Taxt.to_editable_reference(reference)}
  %table.reference_table
    %tr
      %td.icons
        %a.icon.edit{title: 'edit', href: '#'}
          = image_tag 'edit_off.png', alt: 'edit'
      %td.reference_item
        = render 'reference_pickers/display', reference: reference if !reference.new_record? && reference.errors.empty?
        = render 'reference_pickers/edit', reference: reference, publisher_string: publisher_string
