-# TODO: Replace `strip_tags` with `unitalicize` once we have no `MissingReference`s.
-@title = "#{strip_tags @reference.keey.html_safe} - References"
-breadcrumb :reference_what_links_here, @reference

=render "shared/what_links_here", table_refs: @table_refs

=will_paginate @table_refs
