-title "#{Unitalicize[@reference.keey]} - What Links Here"
-breadcrumb :reference_what_links_here, @reference
-noindex_meta_tag

-content_for :javascripts do
  =javascript_include_tag "highlight_text"

=render "shared/what_links_here", what_links_here_items: @what_links_here_items, highlight_text: @reference.keey

=will_paginate @what_links_here_items
