-@title = "#{@comparer.most_recent.name} (##{@comparer.most_recent.id}) - Name records"
-breadcrumb :name_history, @comparer.most_recent

-content_for :breadcrumbs_right do
  =activities_link_for_trackable @comparer.most_recent

=render template: "compare_revisions/show", locals: { comparer: @comparer, revision_presenter: @revision_presenter }
