common: &common
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: antcat_development
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

development:
  <<: *common
  database: antcat_development

test: &TEST
  <<: *common
  database: antcat_test

production:
  <<: *common
  database: antcat

staging:
  <<: *common
  database: antcat_staging
