# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Run `rake secret` to generate a secure secret key.
# Make sure the secrets in this file are kept private.

development:
  secret_key_base: 1d00d25c0503979ffb0e641be5ad0a147e5204bfa8c4cc1c75b3a4bbdfb7e6b3f4c19a355435d0597f8074916f6139ff6f1aab98bb6b1f18aa4ffa6cae9b6dbc

  # For sending emails via Gmail:
  email_address: smtp.gmail.com
  email_port: 587
  email_domain: gmail.com
  email_user_name: username@gmail.com
  email_password: secret123
  email_authentication: plain
  email_enable_starttls_auto: true

test:
  secret_key_base: 6f80bc3954d5c397cd5dedaa1aab50641ea82d95cbdf149f231efe13572abd4815a408c0f6dd6104a776871fb55109d86db08946ebcbd6416cfc859b67249ba9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  # Add email variables here.
