# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# run `rake secret` to generate new secrets

development:
  secret_key_base: 1d00d25c0503979ffb0e641be5ad0a147e5204bfa8c4cc1c75b3a4bbdfb7e6b3f4c19a355435d0597f8074916f6139ff6f1aab98bb6b1f18aa4ffa6cae9b6dbc

test:
  secret_key_base: 6f80bc3954d5c397cd5dedaa1aab50641ea82d95cbdf149f231efe13572abd4815a408c0f6dd6104a776871fb55109d86db08946ebcbd6416cfc859b67249ba9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
