production:
  solr:
    hostname: index.websolr.com
    port: 80
    path: '/solr/da3c57802d4'
    log_level: WARNING

development:
  solr:
    hostname: localhost
    port: 8983
    log_level: WARNING

test:
  solr:
    hostname: localhost
    port: 8981
    log_level: WARNING
