%h2 Forgot your password?

- form_for resource_name, resource, :url => password_path(resource_name), :html => {:class => 'full_form'} do |f|
  - if resource.errors.present?
    %ul.error_messages
      - resource.errors.full_messages.each do |error|
        %li= error

  %p= f.label :email
  %p= f.text_field :email

  %p= f.submit "Send me reset password instructions"
