-decorated_reference = reference.decorate

%strong Reference:
=reference.key_with_suffixed_year
%br

%strong Pages:
=reference.pagination
%br
%br

.small-text
  =decorated_reference.expanded_reference
  =decorated_reference.format_document_links
