.edit.border-thing
  -url = "/taxa/#{item.taxon.id}/taxon_history_items/#{item.id}"
  -method = item.persisted? ? 'put' : 'post'
  .nested_form{data: { action: url, method: method }}
    =render 'shared/errors_for', resource: item

    .taxt_editor
      =render 'taxt_editors/show', name: 'taxt', value: TaxtConverter[item.taxt].to_editor_format

    .row
      .medium-3.columns.end
        =text_field_tag :taxon_history_item_edit_summary, nil, placeholder: "Edit summary (optional)", maxlength: Activity::EDIT_SUMMARY_MAX_LENGTH

    .buttons
      %button.submit.btn-saves Save
      %button.cancel.btn-cancel Cancel
      -if item.persisted?
        %button.delete.btn-delete Delete
