.edit.ui-widget-content
  -url = "/taxa/#{item.taxon.id}/taxon_history_items/#{item.id}"
  -method = item.persisted? ? 'put' : 'post'
  .nested_form{'data-action' => url, 'data-method' => method}
    =render 'shared/errors_for', resource: item

    .taxt_editor
      =render 'taxt_editors/show', name: 'taxt', value: TaxtConverter[item.taxt].to_editor_format

    .buttons
      %button.submit.btn-saves Save
      %button.cancel.btn-cancel Cancel
      -if item.persisted?
        %button.delete.btn-delete Delete
