-content_for :javascripts do
  =javascript_include_tag 'markdown_and_friends', 'taxt_editor'

=render "shared/default_reference"

-if @protonym.taxa.present?
  .row.margin-bottom
    .small-12.columns
      %h5 Taxa belonging to this history item's protonym
      %table
        %thead
          %th Taxon
          %th Rank
          %th Status
          %th Show history items in catalog?
        -TaxonQuery.new(@protonym.taxa.order_by_name).with_common_includes_and_current_taxon_includes.each do |taxon|
          %tr
            %td=CatalogFormatter.link_to_taxon(taxon)
            %td=taxon.rank.capitalize
            %td
              =taxon.status.capitalize
              -unless taxon.status.in?(Taxa::ExpandedStatus::SELF_STATUSES)
                %br
                %small=taxon.decorate.expanded_status
            %td
              -if Status.display_history_items?(taxon.status)
                Yes
                =antcat_icon 'check'
                %small (unranked items, or with matching rank)

=form_with model: taxon_history_item, url: url do |f|
  =render "shared/errors_for", resource: taxon_history_item

  .row
    .medium-12.columns
      =text_area_tag :taxt, taxon_history_item.taxt, rows: 5, name: 'taxon_history_item[taxt]',
        data: { has_linkables: true, previewable: true, previewable_title: "History item", use_extras: true }

  .row
    .medium-3.columns.end
      Show only for rank:
      =f.select :rank, Rank::AntCatSpecific::TYPE_SPECIFIC_TAXON_HISTORY_ITEM_TYPES, include_blank: 'All ranks (default)'

  .row
    .medium-3.columns.end
      =edit_summary_text_field_tag

  .row
    .medium-3.columns.end
      =f.button 'Save', class: "btn-saves"

%table.huge-margin-top
  %caption Other history items belonging to #{protonym.name.name_html}
  %tbody
    -if protonym.protonym_history_items.persisted.empty?
      %tr
        %td{colspan: 2} Protonym has no history items.
    -else
      -protonym.protonym_history_items.persisted.each do |history_item|
        %tr{class: ('pale-background' if history_item == taxon_history_item)}
          %td
            =link_to "##{history_item.id}", history_item
            -if history_item == taxon_history_item
              %strong (selected)
          %td.grow
            %small=Detax[history_item.to_taxt]
