=enable_tooltips

-content_for :javascripts do
  =javascript_include_tag 'markdown_and_friends', 'taxt_editor'

=render 'shared/taxt_editor/taxon_and_ancestors', taxon: taxon_history_item.taxon
=render "shared/default_reference"

=form_for taxon_history_item, url: url do |f|
  =render "shared/errors_for", resource: taxon_history_item
  .row
    .medium-12.columns
      =text_area_tag :taxt, taxon_history_item.taxt, rows: 5, name: 'taxon_history_item[taxt]',
        data: { has_linkables: true, previewable: true, previewable_title: "History item", use_extras: true }
  .row
    .medium-3.columns.end
      =edit_summary_text_field_tag

  .row
    .medium-3.columns.end
      =f.button 'Save', type: :submit, class: "btn-saves"

%table.huge-margin-top
  %caption Other history items belonging to #{taxon.name.name_html}
  %tbody
    -if taxon.history_items.persisted.empty?
      %tr
        %td{colspan: 2} Taxon has no history items.
    -else
      -taxon.history_items.persisted.each do |history_item|
        %tr{class: ('pale-background' if history_item == taxon_history_item)}
          %td
            =link_to "##{history_item.id}", history_item
            -if history_item == taxon_history_item
              %strong (selected)
          %td.grow
            %small=Detax[history_item.taxt]
