-# `id` is used for sorting/reordering by jQuery UI sortable.
.history_item.antcat_panel{'data-id' => item.id, id: "taxon_history_item_#{item.id}"}
  =render 'taxon_history_items/display', item: item
  -if user_can_edit?
    =render 'taxon_history_items/edit', item: item
