.taxt-editor{data: { url: "/taxon_history_items/#{item.id}" }}
  .taxt-presenter
    %a.taxt-editor-edit-button.btn-normal.btn-tiny Edit
    =TaxtPresenter[item.taxt].to_html

  .taxt-editor-editor{style: 'display: none' }
    =text_area_tag :taxt, item.taxt, rows: 5,
      data: { has_linkables: true, previewable: true, previewable_title: 'History item' }

    .row
      .medium-3.columns.end
        =text_field_tag :edit_summary, nil, placeholder: "Edit summary (optional)", maxlength: Activity::EDIT_SUMMARY_MAX_LENGTH

    %a.taxt-editor-history-item-save-button.btn-saves Save
    %a.taxt-editor-cancel-button.btn-cancel Cancel
    %a.taxt-editor-delete-button.btn-delete Delete
