-title "Edit History Item"
-breadcrumb :edit_taxon_history_item, @taxon_history_item


%p
  Current item before saving form:

.callout.margin-bottom
  %p
    =Detax[@taxon_history_item.to_taxt]

=render "form", taxon_history_item: @taxon_history_item, url: @taxon_history_item, protonym: @protonym
