-@title = "Search History Items"
-breadcrumb :search_taxon_history_items

=form_tag request.path, method: :get do
  .row
    .small-6.medium-4.large-2.columns
      =select_tag :search_type, options_for_select([["LIKE (default)", "LIKE"], ["REGEXP (slow)", "REGEXP"]], params[:search_type]), prompt: "Search type"
    .small-6.medium-4.large-2.columns
      =text_field_tag :q, params[:q], placeholder: "Search query"
    .small-6.medium-4.large-2.columns
      =select_tag :taxon_type, options_for_select(Taxon::TYPES, params[:taxon_type]), include_blank: "Any Taxon Type"
    .small-6.medium-4.large-2.columns
      =select_tag :taxon_status, options_for_select(Status::STATUSES, params[:taxon_status]), include_blank: "Any Taxon Status"
    .small-6.medium-4.large-2.columns
      =per_page_select TaxonHistoryItemsController::PER_PAGE_OPTIONS, params[:per_page]
    .small-6.medium-4.large-2.columns.end
      =button_tag type: "submit", name: nil, class: "btn-normal has-spinner" do
        =spinner_icon + "Filter"
      &nbsp;
      =link_to "Clear", request.path, class: "button btn-nodanger"

.callout
  =render "shared/note_on_taxt_references"

%table
  %caption=pluralize_with_delimiters @taxon_history_items.count, 'results'
  %thead
    %tr
      %th ID
      %th Taxon
      %th Taxon status
      %th Taxt
  -if @taxon_history_items.empty?
    %tr
      %td{colspan: 3} Found no results.
  -@taxon_history_items.each do |history_item|
    %tr
      %td=link_to "##{history_item.id}", history_item
      %td=history_item.taxon.link_to_taxon
      %td=history_item.taxon.status
      %td=Detax[history_item.taxt]

=will_paginate @taxon_history_items
