-@title = "New History Item"
-breadcrumb :new_taxon_history_item, @taxon_history_item

=render "form", taxon_history_item: @taxon_history_item, url: "/taxa/#{@taxon_history_item.taxon_id}/taxon_history_items"
