-title "New History Item"
-breadcrumb :new_taxon_history_item, @taxon_history_item

=render "form", taxon_history_item: @taxon_history_item, url: protonym_taxon_history_items_path(@taxon_history_item.protonym), protonym: @protonym
