-@title = "History Item ##{@comparer.most_recent.id}"
-breadcrumb :taxon_history_item, @comparer.most_recent

-if user_is_at_least_helper? && @comparer.most_recent.persisted?
  -content_for :breadcrumbs_right do
    =link_to "Edit", edit_taxon_history_item_path(@comparer.most_recent), class: "btn-normal"

=render file: "compare_revisions/show", locals: { comparer: @comparer }
