-@title = "History Item ##{@taxon_history_item.id}"
-breadcrumb :taxon_history_item, @taxon_history_item

-content_for :breadcrumbs_right do
  -if user_is_at_least_helper?
    =link_to "Edit", edit_taxon_history_item_path(@taxon_history_item), class: "btn-normal"
  =link_to "History", taxon_history_item_history_path(@taxon_history_item), class: "btn-normal"
  =activities_link_for_trackable @taxon_history_item

%p
  =Detax[@taxon_history_item.taxt]
