-title "History Item ##{@taxon_history_item.id}"
-breadcrumb :taxon_history_item, @taxon_history_item

-content_for :breadcrumbs_right do
  -if user_is_at_least_helper?
    =link_to "Edit", edit_taxon_history_item_path(@taxon_history_item), class: "btn-normal"
  =link_to "History", taxon_history_item_history_path(@taxon_history_item), class: "btn-normal"
  =activities_link_for_trackable @taxon_history_item
  -if user_is_editor?
    =link_to "Delete", taxon_history_item_path(@taxon_history_item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-warning"

%p
  This history item belongs to
  =@taxon.decorate.link_to_taxon_with_author_citation

-if @taxon_history_item.rank?
  %p
    Show only for rank: #{@taxon_history_item.rank}
    =beta_label

.callout
  %p
    =Detax[@taxon_history_item.to_taxt]

-if @taxon.history_items.count > 1
  %table.huge-margin-top
    %caption Highlighted in context with other history items belonging to #{@taxon.name.name_html}
    %tbody
      -@taxon.history_items.each do |history_item|
        %tr{class: ('pale-background' if history_item == @taxon_history_item)}
          %td
            =link_to "##{history_item.id}", history_item
            -if history_item == @taxon_history_item
              %strong (selected)
          %td.grow
            %small=Detax[history_item.to_taxt]
