-@title = "History Item ##{@comparer.most_recent.id}"
-breadcrumb :taxon_history_item, @comparer.most_recent

-content_for :application do
  .buttons-right
    =link_to "Edit", edit_taxon_history_item_path(@comparer.most_recent), class: "btn-normal"
  .clear

=render file: "compare_revisions/show", locals: { comparer: @comparer }
