converted the species

-if activity.parameters[:original_species_id]
  =taxon_link_or_deleted_string activity.parameters[:original_species_id], activity.parameters[:name_was].html_safe
-else
  =activity.parameters[:name_was].html_safe

to a subspecies (now
=succeed ")" do
  =activity.link_trackable_if_exists activity.parameters[:name].html_safe, path: catalog_path(activity.trackable_id)

-unless activity.parameters[:original_species_id]
  %small.bold-warning please see note
  =inline_expandable("show more") do
    This species was converted using the old code that modified the original record in place. The old species record may be missing and may have to be recreated.
