created the combination

=activity.link_trackable_if_exists activity.parameters[:name].html_safe, path: catalog_path(activity.trackable_id)

=surround "(", ")" do
  previous combination was
  =activity.link_trackable_if_exists activity.parameters[:previous_combination_name].html_safe, path: catalog_path(activity.parameters[:previous_combination_id])
