elevated the subspecies

-if activity.parameters[:original_subspecies_id]
  =ActivityDecorator.link_taxon_if_exists activity.parameters[:original_subspecies_id], deleted_label: activity.parameters[:name_was].html_safe
-else
  =activity.parameters[:name_was].html_safe

to the rank of species (now
=succeed ")" do
  =activity.link_taxon_trackable_if_exists deleted_label: activity.parameters[:name].html_safe

-unless activity.parameters[:original_subspecies_id]
  -# TODO: Remove.
  -if Subspecies.where(name_cache: activity.parameters[:name_was].gsub(%r{</?i>}, '')).exists?
    %small{style: 'color: blue'}
      %b [subspecies exists]
  %small.bold-warning please see note
  =inline_expandable("show more") do
    This subspecies was elevated using the old code that modified the original record in place. The old subspecies record may be missing and may have to be recreated.
