moved items belonging to
=taxon_link_or_deleted_string activity.trackable_id
to
=taxon_link_or_deleted_string activity.parameters[:to_taxon_id]

=inline_expandable("show more") do
  History items IDs and positions was:
  =activity.parameters[:history_items_was]
