reordered the history items of
=taxon_link_or_deleted_string activity.trackable_id

=inline_expandable("show more") do
  Order was changed from
  =activity.parameters[:previous_ids]
  to
  =activity.parameters[:reordered_ids]
