replaced the missing reference

=activity.link_trackable_if_exists sanitize(activity.parameters[:citation]), path: reference_path(activity.trackable_id)

with

-reference = Reference.find_by(id: activity.parameters[:target_reference_id])
-if reference
  =reference.decorate.expandable_reference
-else
  [deleted]
