-if activity.parameters[:removed_subgenus_id]
  removed the subgenus from
  =activity.link_taxon_trackable_if_exists
  =surround "(", ")" do
    subgenus was
    =ActivityDecorator.link_taxon_if_exists activity.parameters[:removed_subgenus_id]
-elsif activity.parameters[:set_subgenus_id_to]
  set the subgenus of
  =activity.link_taxon_trackable_if_exists
  to
  =ActivityDecorator.link_taxon_if_exists activity.parameters[:set_subgenus_id_to]
-else
  changed the subgenus of
  =activity.link_taxon_trackable_if_exists
