.buttons-right
  .right
    =link_to_edit_taxon taxon

    -unless taxon.original_combination?
      =add_child_button taxon
      =add_tribe_button taxon
      =add_subgenus_button taxon
      =convert_to_subspecies_button taxon
      =elevate_to_species_button taxon

    =link_to "History", taxon_history_path(taxon), class: "btn-normal"
    =link_to "Move items", new_taxa_move_items_path(taxon), class: "btn-normal"
    =link_to "What Links Here", taxon_what_links_here_path(taxon), class: "btn-normal"

  %br

  .right
    -if taxon.rank.in?(Taxon::ALLOW_CREATE_COMBINATION_RANKS)
      =link_to "Create combination", new_taxa_create_combination_path(taxon), class: "btn-normal btn-tiny"
    -if taxon.rank.in?(Taxon::ALLOW_FORCE_CHANGE_PARENT_RANKS)
      =link_to "Force parent change...", taxa_force_parent_change_path(taxon), class: "btn-delete btn-tiny"
    =delete_unreferenced_taxon_button taxon
    =confirm_before_superadmin_delete_button taxon
