.buttons-right
  =link_to_edit_taxon taxon

  -unless taxon.original_combination?
    =add_child_button taxon
    =add_tribe_button taxon
    =add_subgenus_button taxon
    =convert_to_subspecies_button taxon
    =elevate_to_species_button taxon

  =delete_unreferenced_taxon_button taxon
  =confirm_before_superadmin_delete_button taxon

  =link_to "History", taxon_history_path(taxon), class: "btn-normal"
  =link_to "Move items", new_taxa_move_items_path(taxon), class: "btn-normal"
  =link_to "What Links Here", taxon_what_links_here_path(taxon), class: "btn-normal"
  %br
  %br
  .right
    -if taxon.class.in?([Species, Subspecies])
      =link_to "Create combination", new_taxa_create_combination_path(taxon), class: "btn-normal btn-tiny"
    -if taxon.class.in?([Tribe, Genus, Subgenus, Species, Subspecies]) && user_is_superadmin?
      =link_to "Force parent change...", taxa_force_parent_change_path(taxon), class: "btn-delete btn-tiny"
