.buttons_right
  -if taxon.original_combination?
    =link_to_edit_taxon taxon
  -else
    =add_child_button taxon
    =add_tribe_button taxon
    =link_to_edit_taxon taxon
    =confirm_before_superadmin_delete_button taxon
    =link_to_review_change taxon
