.buttons_right
  -if taxon.original_combination?
    =link_to_edit_taxon taxon
  -else
    =link_to_add_new_species taxon
    =link_to_edit_taxon taxon
    =link_to_superadmin_delete_taxon taxon
    =link_to_review_change taxon
