-rank = Rank[rank]
-can_show_unavailable ||= false
-hideable_name ||= false
-hideable_child_name ||= false

%table
  %tr
    %td.header
      =rank.to_s :plural, :capitalized
      -if can_show_unavailable
        .hide_show= hide_or_show_unavailable_subfamilies_link session[:show_unavailable_subfamilies]

      -if hideable_name
        .hide_show= hide_link hideable_name
      -if hideable_child_name
        .hide_show
          -showing_child = "show_#{hideable_child_name}".to_sym
          -unless session[showing_child]
            =show_child_link hideable_child_name
