-css_class = []
-css_class << "is-active" if open_panel? selected, self_and_parents

-# TODO make pretty
-if selected.is_a? Taxon
  -rank = Rank[selected.rank]
  -css_class << "#{rank.to_sym(:plural)}-test-hook"

%li.accordion-item{class: css_class, "data-accordion-item" => ""}
  %a.accordion-title=panel_header selected

  .mr-scrollbary.accordion-content{"data-tab-content" => ""}
    %ul.snaked.no-bullet
      =render "rank_special_cases", selected: selected

      -children.each do |child_taxon|
        %li{class: ("selected" if child_taxon.in? self_and_parents)}
          =taxon_browser_link child_taxon

      -# Notify users that they can toggle "show invalid".
      -if children.empty?
        -# Exception for subfamilies only containing genera that are
        -# incertae sedis in that subfamily (that is Martialinae, #430173).
        -unless selected.try(:genera_incertae_sedis_in).present?
          %li No valid child taxa
