-if taxon.reference_sections.present?
  .reference-sections
    -taxon.reference_sections.each do |section|
      .section.small-margin-bottom
        -if section.title_taxt.present?
          %h6=TaxtPresenter[section.title_taxt].to_html

        -if section.subtitle_taxt.present?
          %h7=TaxtPresenter[section.subtitle_taxt].to_html

        -if section.references_taxt.present?
          %p=TaxtPresenter[section.references_taxt].to_html

        -if current_user
          %span.show-on-hover
            =link_to "Edit", edit_reference_section_path(section), class: "btn-normal btn-tiny"
            =link_to "History", reference_section_path(section), class: "btn-normal btn-tiny"
