-if taxon.reference_sections.present?
  .reference-sections
    -taxon.reference_sections.each do |reference_section|
      .section.small-margin-bottom
        -if reference_section.title_taxt.present?
          %h6=TaxtPresenter[reference_section.title_taxt].to_html

        -if reference_section.subtitle_taxt.present?
          %h7=TaxtPresenter[reference_section.subtitle_taxt].to_html

        -if reference_section.references_taxt.present?
          %p=TaxtPresenter[reference_section.references_taxt].to_html

        -if current_user
          %span.show-on-hover
            -if user_is_at_least_helper?
              =link_to "Edit", edit_reference_section_path(reference_section), class: "btn-normal btn-very-tiny"
            =link_to "History", reference_section, class: "btn-normal btn-very-tiny"
