- if search_results && search_results.size > 1
  %table#search_results
    - rows = make_catalog_search_results_columns search_results
    - rows.each do |row|
      %tr
        - row.each do |item|
          - if item
            %td= search_result_link item, @parameters
  %hr
