-show_full_statistics = show_full_statistics? taxon

-if show_full_statistics
  =taxon.decorate.statistics
-else
  -statistics = taxon.decorate.statistics valid_only: true
  -# If there's no valid-only stats, try including invalid too before giving up.
  -statistics = taxon.decorate.statistics if statistics.blank?
  -if statistics.present?
    .left=statistics
    .left{style: "margin-left: 1rem"}
      =link_to "More statistics", catalog_path(taxon, include_full_statistics: "true"), class: "btn-normal btn-tiny"
    .clear
