.header
  %span.name=taxon.decorate.header_name
  -if taxon.original_combination? && taxon.current_valid_taxon
    see
    =taxon.current_valid_taxon.decorate.header_name
  -else
    =taxon.authorship_string
    =taxon.decorate.taxon_status
    =taxon.name.gender
    -if taxon.waiting?
      %span.review_state This taxon has been changed; changes awaiting approval
