%ul#taxon-browser-tabs.tabs{"data-tabs" => ""}
  -panels.each_with_index do |panel, index|
    %li.tabs-title{class: ("is-active" if is_last_panel? panel, panels)}
      =link_to panel_header(panel[:selected]), "#panel-#{index}"

  %li.tab-toggler
    %span.label.secondary
      =link_to "toggle legend", "#", id: "toggle_legend"
    %span.label.secondary=toggle_valid_only_link

.tabs-content{"data-tabs-content" => "taxon-browser-tabs"}
  -panels.each_with_index do |panel, index|
    -selected = panel[:selected]

    -css_classes = []
    -css_classes << "is-active" if is_last_panel? panel, panels
    -if selected.is_a? Taxon
      -css_classes << "#{selected.rank.pluralize}-test-hook"

    .tabs-panel{id: "panel-#{index}", class: css_classes}
      %ul.snaked.no-bullet.mr-scrollbary
        =render "rank_special_cases", selected: selected

        -panel[:children].each do |child_taxon|
          %li{class: ("selected" if child_taxon.in? self_and_parents)}
            =taxon_browser_link child_taxon

        -# Notify users that they can toggle "show invalid".
        -if panel[:children].empty?
          -# Exception for subfamilies only containing genera that are
          -# incertae sedis in that subfamily (that is Martialinae, #430173).
          -unless selected.try(:genera_incertae_sedis_in).present?
            %li No valid child taxa
