-# Locals: taxon

-taxon = taxon.decorate
-height = session[:taxon_window_height]

.antcat_taxon{'data-taxon-window-height' => height ? height : ""}
  =taxon.header
  -unless taxon.original_combination?
    =taxon.statistics
    =taxon.genus_species_header_notes_taxt
    =taxon.headline

    -if taxon.history_items.present?
      .history
        -taxon.history_items.each do |history_item|
          =Taxt.to_sentence history_item.taxt, current_user

    =taxon.child_lists
    =taxon.references
    =taxon.change_history
