-taxon = taxon.decorate
=taxon.header

-unless taxon.original_combination?
  =render "statistics", taxon: taxon
  =taxon.genus_species_header_notes_taxt
  =taxon.headline

  -if taxon.history_items.present?
    .history
      -taxon.history_items.each do |history_item|
        =add_period_if_necessary Taxt.to_string(history_item.taxt)

  =taxon.child_lists
  =taxon.references
  =taxon.change_history
