.header
  %span.name=taxon.decorate.link_each_epithet
  =taxon.author_citation
  =taxon.decorate.taxon_status
  =taxon.name.gender
  -if taxon.waiting?
    %span.review_state This taxon has been changed; changes awaiting approval
    =link_to_review_change taxon

#statistics.small-margin-bottom
  =render "statistics", taxon: taxon

=TaxtPresenter[taxon.genus_species_header_notes_taxt].to_html

.headline
  =taxon.decorate.headline_protonym
  =taxon.decorate.headline_type
  =TaxtPresenter[taxon.headline_notes_taxt].to_html
  =link_to_antweb taxon
  =link_to_antwiki taxon
  =link_to_hol taxon
  =render "type_fields", taxon: taxon

-if taxon.history_items.present?
  %ul.history.small-margin-bottom
    -taxon.history_items.each do |history_item|
      %li
        =add_period_if_necessary TaxtPresenter[history_item.taxt].to_html
        -if current_user
          %span.show-on-hover
            =link_to "Edit", edit_taxon_history_item_path(history_item), class: "btn-normal btn-tiny"
            =link_to "History", history_item, class: "btn-normal btn-tiny"

-if taxon.junior_synonyms_recursive.exists?
  %h6 #{pluralize(taxon.junior_synonyms_recursive.count, 'junior synonym')}
  %ul.junior-synonyms.small-margin-bottom
    -taxon.junior_synonyms_recursive.order_by_name.each do |synonym|
      %li
        =synonym.decorate.link_to_taxon
        =synonym.decorate.author_citation

#child-lists.small-margin-bottom
  =taxon.decorate.child_lists

-# Special case because the root view pulls in too much data.
-if action_name == "index"
  %br
  =link_to "Formicidae family references", catalog_path(429011)
-else
  =render "reference_sections", taxon: taxon
  =taxon_change_history taxon
