#show_and_hide_menu.row.collapse
  .medium-6-columns.float-left
    %span.label.secondary=toggle_valid_only_link
    %span.label.white-label.hide-for-large=link_to "full key", page_path('help/full_key')
  .medium-6-columns.float-right
    =check_box_tag :keep_taxon_browser_open, "999", false
    =label_tag :keep_taxon_browser_open, "keep open"

%ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true", "data-multi-expand" => "true"}
  -panels.each do |selected_and_children|
    -selected = selected_and_children[:selected]
    -children = selected_and_children[:children]

    =render "rank", selected: selected, self_and_parents: self_and_parents, children: children

=render "taxon_key"