#taxon_key.show-for-large{data: { show_hide_toggable_id: "taxon_key" }}
  %div &dagger;fossil
  .valid valid
  .synonym synonym
  .subspecies.valid subspecies
  .unidentifiable unidentifiable/excluded from Formicidae
  .unavailable unavailable/nomen nudum
  .homonym homonym
  .original_combination original combination
