%ul#taxon-browser-tabs.tabs{"data-tabs" => ""}
  -@taxon_browser.panels.each do |panel|
    %li.tabs-title{class: ("is-active" if panel.open?)}
      =link_to panel.title, "##{panel.id}"

  %li.tab-toggler
    %span.label.secondary
      =link_to "toggle legend", "#", data: { show_hide_toggler_for: "taxon_key" }
    %span.label.secondary=toggle_valid_only_link

.tabs-content{"data-tabs-content" => "taxon-browser-tabs"}
  -@taxon_browser.panels.each do |panel|
    .tabs-panel{id: panel.id, class: panel.content_css}
      %ul.snaked.no-bullet.mr-scrollbary
        =extra_panel_links_for_selected panel.taxon

        -panel.each_child do |child, is_selected|
          %li{class: ("selected" if is_selected)}
            =taxon_browser_link child

        -# It's possible that `children` is empty at this point. Most likely
        -# that means there are invalid children that can be seen by toggling
        -# "show invalid", or that the taxon is an invalid subfamily/tribe/genus.
        -# See also the note in `CatalogController#setup_panels`.
        -if panel.notify_about_no_valid_children?
          %li No valid child taxa

          -# Notify users that they can toggle "show invalid".
          -unless already_showing_invalid_taxa?
            %li=link_to "Show invalid?", catalog_options_path(valid_only: false)
