.header
  %span.name=taxon.decorate.link_each_epithet
  =taxon.authorship_string
  =taxon.decorate.taxon_status
  =taxon.name.gender
  -if taxon.waiting?
    %span.review_state This taxon has been changed; changes awaiting approval

=render "statistics", taxon: taxon

=taxon.decorate.genus_species_header_notes_taxt
=taxon.decorate.headline

-if taxon.history_items.present?
  %ul.history
    -taxon.history_items.each do |history_item|
      %li
        =add_period_if_necessary TaxtPresenter[history_item.taxt].to_html
        -if current_user
          %small.show-on-hover=link_to "##{history_item.id}", taxon_history_item_path(history_item), class: "gray"

=taxon.decorate.child_lists

-# Special case because the root view pulls in too much data.
-if action_name == "index"
  %br
  =link_to "Formicidae family references", catalog_path(429011)
-else
  =render "reference_sections", taxon: taxon
  =taxon_change_history taxon
