#type-fields
  -if taxon.primary_type_information.present?
    .truncate
      %strong Primary type information:
      =add_period_if_necessary ::Types::FormatTypeField[taxon.primary_type_information]

  -if taxon.secondary_type_information.present?
    .truncate
      %strong Secondary type information:
      =add_period_if_necessary ::Types::FormatTypeField[taxon.secondary_type_information]

  -if taxon.type_notes.present?
    .truncate
      %strong Type notes:
      =add_period_if_necessary ::Types::FormatTypeField[taxon.type_notes]
