#type-fields
  -if taxon.published_type_information.present?
    %span
      =add_period_if_necessary ::Types::FormatTypeField[taxon.published_type_information]

  -if taxon.additional_type_information.present?
    %span
      %strong Additional type information:
      =add_period_if_necessary ::Types::FormatTypeField[taxon.additional_type_information]

  -if taxon.type_notes.present?
    %span
      %strong Type notes:
      =add_period_if_necessary ::Types::FormatTypeField[taxon.type_notes]
