-# This page can never be seen in production.

%p No family found. If you're seeing this message in...
%ul
  %li test: Add `Given the Formicidae family exists` if the test requires it.
  %li dev: Import a database dump or run `rake antcat:import_sample_data`.
  %li prod: 1) Whooops. This should never happen. 2) Ooooups.
