#search_results
  -if @search_results.nil?
    %span.no_results_found No search term
  -elsif @search_results.empty?
    %span.no_results_found
      = "No results found for name #{@search_selector_value} '#{params[:qq]}'"
  -else
    %table
      -rows = make_catalog_search_results_columns @search_results
      -rows.each do |row|
        %tr
          -row.each do |taxon|
            %td= taxon.decorate.link_to_taxon
%hr
