-@title = "#{@taxon.name_cache}"
-breadcrumb @taxon

-content_for :head do
  =stylesheet_link_tag "catalog_only"
  =javascript_include_tag "controllers/catalog/show/catalog_splitter"
  =javascript_include_tag "controllers/catalog/show/taxon_browser_tab"

#taxon_description
  .title.show-for-large
    %h5.left An Online Catalog of the Ants of the World
    .right by Barry Bolton
    .clearfix

  -if current_user
    .buttons-right
      =render "editor_buttons", taxon: @taxon

  -if @taxon.original_combination?
    =render "original_combination", taxon: @taxon
  -else
    =render "taxon_description", taxon: @taxon

#splitter

#taxon_browser.callout
  #taxon_key.show-for-large{data: { show_hide_toggable_id: "taxon_key" }}
    %div &dagger;fossil
    .valid valid
    .synonym synonym
    .subspecies.valid subspecies
    .unidentifiable unidentifiable/excluded from Formicidae
    .unavailable unavailable/nomen nudum
    .homonym homonym
    .original_combination original combination

  =render "taxon_browser", taxon: @taxon, taxon_browser: @taxon_browser
