-@title = "#{@taxon.name_cache}"
-breadcrumb @taxon

-content_for :head do
  =stylesheet_link_tag "catalog_only"
  =javascript_include_tag "controllers/catalog/show/catalog_splitter"
  =javascript_include_tag "controllers/catalog/show/taxon_browser_tab"

#taxon_description
  .title.show-for-large
    %h5.left An Online Catalog of the Ants of the World
    .right by Barry Bolton
    .clearfix
  -if can? :edit, :catalog
    =render "editor_buttons", taxon: @taxon

  -if @taxon.original_combination?
    =render "original_combination", taxon: @taxon
  -else
    =render "taxon_description", taxon: @taxon

#splitter

#taxon_browser.callout
  =render "taxon_key"
  =render "taxon_browser", taxon: @taxon, taxon_browser: @taxon_browser
