-@title = "#{@taxon.name.epithet}"
-breadcrumb @taxon

-content_for :head do
  =stylesheet_link_tag "catalog_only"
  =javascript_include_tag "catalog"
  -if user_is_superadmin?
    =javascript_include_tag "superadmin_delete_button"

#taxon_description
  .title.show-for-large
    %h5.left An Online Catalog of the Ants of the World
    .right by Barry Bolton
    .clearfix
  -if user_can_edit?
    =render "editor_buttons", taxon: @taxon
  =render "catalog/taxon", taxon: @taxon

#splitter

#taxon_browser.callout
  =render "taxon_key"
  =render "taxon_browser", panels: @panels, self_and_parents: @self_and_parents

#delete_message.delete-modal{type: 'hidden'}
