-# Use "AntCat" for the landing page title, since it's prettier than "Formicidae".
-unless @catalog_presenter.formicidae_landing_page?
  -title "#{@taxon.name_cache}"
  -content_for(:description_meta_tag) { MetaTags::TaxonMetaTagContent[@taxon] }
-breadcrumb @taxon

-if current_user
  -content_for :breadcrumbs_right do
    =render "catalog/_show/editor_buttons", taxon: @taxon, editors_catalog_presenter: @editors_catalog_presenter

.row
  .medium-9.columns
    #taxon-description
      =render "catalog/_show/taxon_description", taxon: @taxon, catalog_presenter: @catalog_presenter

  .medium-3.columns
    -if current_user
      =render 'catalog/_show/logged_in_only/editors_sidebar', taxon: @taxon, editors_catalog_presenter: @editors_catalog_presenter

    -if @catalog_presenter.formatted_statistics
      #statistics.callout.small-margin-bottom
        =@catalog_presenter.formatted_statistics
        -unless @catalog_presenter.show_full_statistics?
          =link_to "More statistics", catalog_path(@taxon, include_full_statistics: "true"), class: "btn-normal btn-tiny"

    #external-links.callout
      =@taxon.decorate.link_to_antweb
      =@taxon.decorate.link_to_antwiki
      =@taxon.decorate.link_to_hol
      =@taxon.decorate.link_to_google_scholar

-content_for :after_content do
  =render "taxon_browser/container", taxon: @taxon, taxon_browser: @catalog_presenter.taxon_browser, taxon_browser_presenter: @catalog_presenter.taxon_browser_presenter
