-# First variant.
#history-items-via-protonym-editing-helper.additional-editor-data.callout.no-border-callout.logged-in-only-background
  %h6
    History items via protonym
    =logged_in_only_tooltip_icon

  -presenter = ProtonymHistoryPresenter.new(taxon)
  -if presenter.any_unreachable_self_owned_items?
    .small-margin-bottom
      %p
        %span.bold-warning This taxon has unreachable history items.
      %p History items shown in the usual place outside of this box are considered to be "unreachable".

  -if presenter.protonym_item_belonging_to_multiple_taxa?
    .small-margin-bottom
      %span.bold-warning This taxon has protonym items that belong to more than a single taxon

  -if presenter.any_taxon_or_protonym_items?
    -if presenter.only_items_self_owned_by_taxon?
      %p
        This taxon
        %strong only has self-owned items
        (that is exactly the same items as its protonym, thus not shown in this blue box).
    -elsif presenter.only_protonym_items?
      %p
        This taxon has
        %strong no history items of its own
        (that is, only items via the protonym).
    -else
      %p
        This taxon has
        %strong both self-owned items and items via the protonym.

    -if presenter.show_protonym_items?
      %h6 Protonym items to be shown (self-owned items will also be shown, but they are not repeated here)
      -if presenter.any_rank_specific_items_excluding_self_owned?
        %p
          %span.bold-notice Note:
          This protonym has rank-specific history items, which means that "Protonym items to be shown" is not necessarily 100% true.
          Please see the text in red and blue.
    -else
      %h6 These items will NOT be shown on this page

    -if presenter.items_excluding_self_owned.exists?
      %ul#history.small-margin-bottom
        -presenter.items_excluding_self_owned.each do |history_item|
          %li
            Item owned by
            %strong=history_item.taxon.type.upcase
            =CatalogFormatter.link_to_taxon(history_item.taxon)

            -if history_item.rank?
              %br
              This history item
              %span.bold-notice has rank #{history_item.rank}, nice!
              it will
              %span.bold-notice
                -if presenter.show_rank_specific_item?(history_item, taxon)
                  be shown!
                -else
                  NOT be shown!
            -elsif presenter.rank_field_required?(taxon, history_item.taxon)
              %br
              This history item
              %span.bold-warning requires rank field

            =link_to "Edit ##{history_item.id}", edit_taxon_history_item_path(history_item), class: "btn-normal btn-very-tiny"
            .tiny-margin-top.small-margin-bottom
              =add_period_if_necessary Detax[history_item.to_taxt]
    -else
      %p Same items as in the usual history items section outside of this blue box (since this taxon only has self-owned history items).
  -else
    %p
      Neither this taxon nor its protonym have any history items.
      =antcat_icon 'check'

  =hide_editing_helper_link

-# Second variant.
#history-items-via-protonym-editing-helper.additional-editor-data.callout.no-border-callout.logged-in-only-background
  %h6
    History items via protonym (alternative view, "proposed items")
    =logged_in_only_tooltip_icon

  %p
    This section renders history items via the protonym as they would be shown if we moved history items to the protonym right now.
    The above blue box contains additional information and context, while the history items below this box are the items we currently show.

  -presenter = ProtonymHistoryPresenter.new(taxon)
  -proposed_history_items = presenter.proposed_history_items
  -if proposed_history_items.present?
    %ul#history.small-margin-bottom
      -proposed_history_items.each do |history_item|
        %li
          -if history_item.rank?
            %span.logged-in-only-background
              %small.bold-notice
                #{history_item.rank}-only item

          =add_period_if_necessary Detax[history_item.to_taxt]
          -if current_user
            %span.show-on-hover
              =link_to "Show", history_item, class: "btn-normal btn-very-tiny"
              -if user_is_at_least_helper?
                =link_to "Edit", edit_taxon_history_item_path(history_item), class: "btn-normal btn-very-tiny"
              =link_to "History", taxon_history_item_history_path(history_item), class: "btn-normal btn-very-tiny"
  -else
    %p
      No history items
      =antcat_icon 'check'

  =hide_editing_helper_link
