.callout.no-border-callout.logged-in-only-background
  %h6
    Subspecies
    =logged_in_only_tooltip_icon "This section is currently only shown to logged-in users. We want to show subspecies somewhere in catalog pages, but we need to figure out how to present them."

  -if taxon.subspecies.invalid.exists?
    %h6 Invalid subspecies
    %ul.compact-list.small-margin-bottom
      -TaxonQuery.new(taxon.subspecies.invalid.order_by_name).with_common_includes_and_current_taxon_includes.each do |subspecies|
        %li
          =CatalogFormatter.link_to_taxon(subspecies)
          =subspecies.author_citation
          %span.small-text=subspecies.decorate.expanded_status
