-title "Login"
-breadcrumb :login

=form_with model: resource, url: session_path(resource_name) do |f|
  .row
    .medium-6.columns
      =f.label :email
      =f.text_field :email

      =f.label :password
      =f.password_field :password
      =f.check_box :remember_me, checked: true
      =f.label :remember_me

  .row.margin-bottom
    .medium-6.columns
      =button_tag "Login", class: "btn-normal"
      =link_to 'Forgot password?', new_user_password_path

  .row
    .medium-6.columns
      Don't have an account?
      =link_to 'Join AntCat!', new_user_registration_path
