-page_title "Login"
-breadcrumb :login

=form_with model: resource, url: session_path(resource_name) do |f|
  .row.mb-4
    .medium-6.columns
      =f.label :email
      =f.text_field :email

      .mb-4

      =f.label :password
      =f.password_field :password

      .mb-4

      =f.check_box :remember_me, checked: true
      =f.label :remember_me

  .row.mb-6
    .medium-6.columns
      =f.button "Login", class: "btn-default"
      -if Settings.email.enabled
        =link_to 'Forgot password?', new_user_password_path

  .row
    .medium-6.columns
      Don't have an account?
      =link_to 'Join AntCat!', new_user_registration_path
