-@title = "Login"
-breadcrumb :login

=form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  .row
    .medium-6.columns
      =f.label :email
      =f.text_field :email

      =f.label :password
      =f.password_field :password
      =f.check_box :remember_me, checked: true
      =f.label :remember_me

  .row
    .medium-6.columns
      =button_tag "Login", class: "btn-normal"
      -# TODO: Fix outgoing email.
      -# =link_to 'Forgot password?', new_user_password_path

