-#Locals: taxon, references

.result
  .name
    = link_to_taxon taxon

  .protonym
    = format_protonym taxon

  .references
    - for reference in references
      = render 'taxa/advanced_search/reference', reference: reference

