- @title = 'Advanced Search'

- content_for :head do
  = javascript_include_tag  'qtip'

- content_for :page_contents do
  = render 'taxa/advanced_search/search_section'
  %hr
  = render 'taxa/advanced_search/results_section'
