-protonym = taxon.protonym
-decorated_protonym = protonym.decorate

.nomen-synopsis
  %span.name{class: BoltonFormatter.taxon_css(taxon)}
    ="#{taxon.name.epithet}."
  =decorated_protonym.name_with_fossil
  =protonym.authorship_reference.key_with_citation_year
  =decorated_protonym.format_pages_and_forms
  =decorated_protonym.format_locality

.indented
  %ul.no-bullet.small-margin-bottom
    -if protonym.primary_type_information_taxt?
      %li.small-text
        %span Primary type information:
        =::Types::FormatTypeField[protonym.primary_type_information_taxt]

    -if protonym.secondary_type_information_taxt?
      %li.small-text
        %span Secondary type information:
        =::Types::FormatTypeField[protonym.secondary_type_information_taxt]

    -if protonym.type_notes_taxt?
      %li.small-text
        %span Type notes:
        =::Types::FormatTypeField[protonym.type_notes_taxt]

    -if taxon.all_virtual_history_items.present? || taxon.history_items.present?
      -taxon.history_items.each do |history_item|
        %li
          =add_period_if_necessary Detax[history_item.to_taxt]
      -taxon.all_virtual_history_items.each do |history_item|
        %li{class: ('virtual-taxt-item' if current_user)}
          =history_item.render
