-page_title "#{@taxon.name_cache} - Bolton view"
-breadcrumb :bolton_view, @taxon

.bolton-view.text-lg
  -@taxa.each do |taxon|
    =render 'taxon', taxon: taxon

-if @collected_references
  .mb-20

  %h5 Citations
  %ul
    -@collected_references.each do |reference|
      -decorated_reference = reference.decorate
      %li
        =decorated_reference.expanded_reference
        =decorated_reference.format_document_links

.mb-20

=will_paginate @taxa
