-@title = 'Send Invitation'

=form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post } do |f|
  =render 'shared/errors_for', resource: resource
  .row
    .medium-6.columns
      -resource.class.invite_key_fields.each do |field|
        =f.label field
        =f.text_field field

  .row
    .medium-6.columns
      =f.submit "Send Invitation", class: "btn-normal"
