-@title = "Force parent change"
-breadcrumb :force_parent_change, @taxon

-content_for :head do
  =javascript_include_tag "taxon_select"

=form_tag taxa_force_parent_change_path do
  .row
    .medium-4.columns
      %fieldset.fieldset
        %legend Change parent of
        %p=@taxon.decorate.id_and_name_and_author_citation
        %p
          Current parent:
          =@taxon.parent.decorate.id_and_name_and_author_citation

    .medium-4.columns
      %fieldset.fieldset
        %legend to
        %p=taxon_select_tag :new_parent_id, params[:new_parent_id], rank: @valid_parent_ranks
        %p
          Possible parent ranks:
          =@valid_parent_ranks.to_sentence

    .medium-4.columns
      .callout
        %h6 Help
        %p Use this page to...
        %p
          1) Clear parents of taxa that have been excluded from Formicidae (please also update the status in the taxon form to
          %code excluded from Formicidae
          if that is not already the case).
        %p
          2) Set a genus' parent to Formicidae if the genus is
          %i incertae sedis
          at family rank (please also set
          %code incertae sedis in
          in the taxon form to
          %code family
          if that is not already the case).
        %p 3) Correct obvious mistakes such as species that are listed in the wrong genus and never should have been there (homonyms, for example).
        %p
          =antcat_icon 'warning-icon'
          %strong Force-changing parent will modify the record in place without creating a new record.
        %p
          =link_to "Subspecies without a species", "/database_scripts/subspecies_without_species"
          is a special case that can be fixed in the normal edit form.

  .row.margin-bottom
    .medium-6.columns
      .center-text
        =button_tag type: "submit", class: "btn-warning has-spinner" do
          =spinner_icon + "Change parent"
