-# TODO investigate DRY-ing up in respect to `tasks/_form.haml`

-content_for :head do
  =javascript_include_tag "preview_markdown"

=form_for @site_notice do |f|
  =render "shared/errors_for", resource: @site_notice
  .row
    .medium-6.columns.end
      =f.label :title
      =f.text_field :title, { maxlength: 70 }

  .row
    .medium-6.columns.end
      =f.label :blurb
      =f.text_field :blurb, { maxlength: 255, placeholder: "Optional short description used in the 'Unread site notices' box." }

  .row
    .medium-12.columns
      %ul#task-tabs.tabs{"data-tabs" => ""}
        %li.tabs-title.is-active
          =link_to "Message", "#description"
        %li.tabs-title
          =link_to "Preview", "#preview", id: "site_notice_preview_link"
        %li.tabs-title
          =link_to "Formatting Help", "#formatting_help"

      .tabs-content{"data-tabs-content" => "task-tabs"}
        #description.tabs-panel.is-active
          =f.text_area :message, cols: 80, rows: 15

        #preview.tabs-panel

        #formatting_help.tabs-panel
          =render "shared/markdown_formatting_help"

  =button_tag "Save", class: "btn-save"
