-content_for :javascripts do
  =javascript_include_tag "markdown_and_friends"

-content_for :breadcrumbs_right do
  =link_to "Hide/show help", "#", data: { show_hide_toggler_for: "help" }, class: "btn-nodanger"

.row{data: { show_hide_toggable_id: "help" }}
  .medium-12.columns
    .callout
      %h6 Help
      %p After creating a site notice, all logged-in users will see the message in an "Unread site notices" notification. Notices can not be unpublished, but edited existing notices does not trigger new notifications. All editors have the user rights for creating new notices.

.row
  .medium-12.columns
    =form_for site_notice do |f|
      =render "shared/errors_for", resource: site_notice
      .row
        .medium-8.columns.end
          =f.label :title
          =f.text_field :title, maxlength: SiteNotice::TITLE_MAX_LENGTH

      .row
        .medium-12.columns
          =f.text_area :message, rows: 10,
            data: { has_mentionables: true, has_linkables: true, previewable: true, previewable_title: "Message" }

      .row
        .medium-12.columns
          =edit_summary_text_field_tag

      =button_tag "Publish", class: "btn-saves"
