-content_for :javascripts do
  =javascript_include_tag "markdown_and_friends"

-content_for :breadcrumbs_right do
  %button.btn-neutral{"data-action" => "click->toggler#toggle", "data-toggler-target" => "help"} Show/hide help

.hidden{data: { toggler_name: "help" }}
  .callout-white
    %h6 Help
    %p After creating a site notice, all logged-in users will see the message in an "Unread site notices" notification.

=form_with model: site_notice do |f|
  =render "shared/errors_for", resource: site_notice

  .row.mb-4
    .medium-8
      =f.label :title
      =f.text_field :title, maxlength: SiteNotice::TITLE_MAX_LENGTH

  .mb-4
    =f.text_area :message, rows: 10, data: { has_mentionables: true, has_linkables: true, previewable: true, previewable_title: "Message" }, class: 'w-full'

  .mb-4
    =edit_summary_text_field_tag

  =f.button "Save", class: "btn-saves btn-md"
