-# TODO create this and other alerts via a helper?

-# Note that `unread_site_notices_flash_message.coffee` is included in
-# `logged_in_only.js` because it did not work here.

-if show_unread_site_notices?
  -site_notices = SiteNotice.unread_by current_user
  .row
    .small-12.columns
      .callout.small-12.medium-6{class: "secondary", data: { closable: true }}
        %h5 Unread site notices
        %hr
        -site_notices.each do |site_notice|
          %strong.left.site-notice-test-hook
            =link_to site_notice.title, site_notice
          %span.right.gray.text-align-right
            =time_ago_in_words(site_notice.created_at)
            ago
            %br
            =link_comments_section site_notice
          %hr
        %button.close-button{"aria-label" => "Dismiss alert", data: { close: true }, type: "button"}
          %span{"aria-hidden" => "true"} &times;

        .left=link_to "See all", site_notices_path
        .right
          %button#dismiss_site_notices.btn-white{data: { close: true }} Dismiss
          %button#mark_all_site_notices_as_read.btn-normal{data: { close: true }} Mark all as read
        .clear
