-@title = "Site Notices"
-breadcrumb :site_notices

=content_for :breadcrumbs_right do
  -if user_has_unread_site_notices? current_user
    =link_to "Mark all as read", mark_all_as_read_site_notices_path, method: :post, class: "btn-saves"
  -if user_is_editor?
    =link_to "New", new_site_notice_path, class: "btn-normal"

-if @site_notices.empty?
  No site notices.
-else
  %table.stack
    %tbody
      -@site_notices.each do |site_notice|
        %tr
          %td.icon.vertical-align-top
            -read_status = site_notice.unread?(current_user) ? "unread" : "read"
            =antcat_icon read_status
            =read_status
          %td.no-wrap
            =link_to site_notice.title, site_notice_path(site_notice)
            %br
            %small.text-gray
              added
              =time_ago_in_words site_notice.created_at
              ago
          %td.no-wrap
            -if has_comments? site_notice
              .right
                =antcat_icon "comment"
                =link_comments_section site_notice

=will_paginate @site_notices
