-@title = "Site Notices"
-breadcrumb :site_notices

.buttons_right
  -if user_has_unread_site_notices? current_user
    =link_to "Mark all as read", mark_all_as_read_site_notices_path, method: :post, class: "btn-normal"
  -if user_can_edit?
    =link_to "New", new_site_notice_path, class: "btn-normal"

-if @site_notices.empty?
  No site notices.
-else
  %table
    %thead
      %tr
        %th Title
        %th Short description
        %th Read?
        %th Comments
        %th When

    -@site_notices.each do |site_notice|
      %tr
        %td.no-wrap=link_to site_notice.title, site_notice_path(site_notice)
        %td=site_notice.blurb.presence || "(none)"
        %td.no-wrap
          -read_status = site_notice.unread?(current_user) ? "unread" : "read"
          =antcat_icon read_status
          =read_status
        %td.no-wrap=link_comments_section site_notice
        %td.no-wrap
          =time_ago_in_words site_notice.created_at
          ago

=will_paginate @site_notices
