-page_title "#{@site_notice.title} - Site Notice"
-breadcrumb :site_notice, @site_notice

-if user_is_editor?
  -content_for :breadcrumbs_right do
    =link_to("Edit", edit_site_notice_path(@site_notice), class: "btn-default")
    -if user_is_superadmin?
      =link_to append_superadmin_icon("Delete"), @site_notice, method: :delete, data: { confirm: "Delete? This removes the site notice from the archive." }, class: "btn-danger"

.mb-4
  %h5=@site_notice.title
  %small.text-gray-600
    Added by
    =@site_notice.user.decorate.user_page_link
    =time_ago_in_words(@site_notice.created_at)

.mb-4
  =markdown @site_notice.message

=render "comments/comments_area", commentable: @site_notice, new_comment: @new_comment
