-#Locals: name, options {allow_blank, disallow_add, help}

- options ||= {}
- options[:help] ||= 'Type the name, or type characters in the name then choose a name from the drop-down list, or type a new name'

- parameters = ['field=true']
- parameters << 'allow_blank=true' if options[:allow_blank]
- parameters << 'disallow_add=true' if options[:disallow_add]
- url = "/name_fields/find?" + parameters.join('&')

.edit
  %table
    %tr
      %td
        .nested_form{'data-action' => url, 'data-method' => 'get'}
          = hidden_field_tag 'add_name', ''
          %table
            %tr
              %td
                %ul.error_messages
            %tr
              %td
                .buttons
                  = text_field_tag :name_string, name
                  %button.ui-priority-primary.submit OK
                  %button.ui-priority-secondary.cancel Cancel
                  = image_tag 'ui-anim_basic_16x16.gif', class: 'throbber'
                .help= options[:help]
