-default_name_string ||= nil

.edit
  %table
    %tr
      %td
        .nested_form{data: { action: '/name_fields/find', method: 'get' }}
          %table
            %tr
              %td
                .controls
                  =text_field_tag :name_string, name_string
                  =hidden_field_tag :default_name_string, default_name_string
                  %button.submit.btn-normal OK
                  %button.cancel.btn-cancel Cancel
                  =shared_spinner_icon
                .error_messages
                .help
