-#Locals: name_string, options {allow_blank, disallow_add, help}

- options ||= {}

.antcat_name_picker.antcat_name_field.antcat_panel
  = render 'name_fields/display', name: name_string
  = render 'name_fields/edit', name: name_string, options: options
