-default_name_string ||= nil

.antcat_name_picker.antcat_name_field.antcat_panel
  =render 'name_fields/display', name_string: name_string
  =render 'name_fields/edit', name_string: name_string, default_name_string: default_name_string
