%h6 Help
%p
  For any revision listed below, click on its date to view it.
  =inline_expandable "read more" do
    "cur" = difference from current version.
    "prev" = difference from preceding version.
    The radio options and "Compare selected revision" button
    can be used to compare any two versions.

%p
  Some changes are not logged, or may be attributed to the wrong editor.
  =inline_expandable "read more" do
    Changes are listed in reverse-chronological order. The first item points
    to the current version; all other changes correspond to a version object.
    Some actions rewrites the current version without creating new versions;
    this means that parts of the difference between revisions may be attributed
    to the wrong editor, and that timestamps may not be correct.

%p
  ID tags in formatted taxt items are resolved
  according to the current database.
  =inline_expandable "read more" do
    For example, an item with the content "Subspecies of {tax 123}"
    may have said "Subspecies of <em>Lasius flavus</em>" at one point; if
    <em>L. flavus</em> is reclassified as a subspecies of <em>L. niger</em>,
    the formatted item will now read "Subspecies of <em>Lasius niger
    flavus</em>" -- even if you are looking at an much older revision --
    and it's not possible to tell that this has happened, because the content
    of the taxt item has not changed.
