- @title = 'AntCat - Duplicate References'

- for reference in @references_with_duplicates
  %table
    %tr
      %td{:class => :target}
        = ReferenceFormatter.format(reference) + ' ' + reference.id.to_s
        %table
          - for duplicate in reference.duplicate_references
            %tr
              %td{:class => :similarity}= duplicate.similarity
              %td{:class => :duplicate}= ReferenceFormatter.format(duplicate.duplicate) + ' ' + duplicate.duplicate.id.to_s
