- @title = 'Edit Journal'

= render 'form', :journal => @journal

%h4 References using this journal
- Reference.sorted_by_principal_author_last_name.all(:conditions => ['journal_id = ?', @journal.id]).each do |reference|
  %p.reference_list= "#{format_reference(reference)} #{reference.id}"
