-@title = 'Journals'

%table
  -@journals.each do |journal|
    %tr
      %td
        =link_to journal.name, journal

-if user_can_edit?
  %p= button_to "New Journal", new_journal_path, :method => :get