-@title = 'Journals'
-breadcrumb :journals

=content_for :breadcrumbs_right do
  -if params[:order] == "reference_count"
    =link_to "Order by name", journals_path, class: "btn-normal"
  -else
    =link_to "Order by reference count", journals_path(order: "reference_count"), class: "btn-normal"
  -if user_is_at_least_helper?
    =link_to "New", new_journal_path, class: "btn-normal"

%table
  %thead
    %tr
      %th Journal
      %th Publications between
      %th No. of references
  -@journals.each do |journal|
    %tr
      %td
        %em=link_to journal.name, journal
      -# TODO fix N+1 query.
      %td=or_dash journal.decorate.publications_between
      %td=or_dash journal.reference_count

=will_paginate @journals
