-@title = 'Journals'
-breadcrumb :journals

=content_for :breadcrumbs_right do
  -if params[:order] == JournalsController::REFERENCE_COUNT_ORDER
    =link_to "Order by name", journals_path, class: "btn-normal"
  -else
    =link_to "Order by reference count", journals_path(order: JournalsController::REFERENCE_COUNT_ORDER), class: "btn-normal"

%table
  %thead
    %tr
      %th Journal
      %th Publications between
      %th No. of references
  -@journals.each do |journal|
    %tr
      %td
        %em=link_to journal.name, journal
      -# TODO: Fix N+1 query.
      %td=or_dash journal.decorate.publications_between
      %td=or_dash journal.reference_count

=will_paginate @journals
