-@title = @journal.name

-if user_can_edit?
  =link_to "Edit", edit_journal_path(@journal), class: "btn-edit"
=link_to 'Back', journals_path

%h4="References using this journal (id #{@journal.id})"
-@references.each do |reference|
  %p.reference_list
    =reference.decorate.format
    =reference.decorate.goto_reference_link
-if @references.empty?
  %p None