-@title = @journal.name
-breadcrumb @journal

-if user_can_edit?
  .buttons_right=link_to "Edit journal name", edit_journal_path(@journal), class: "btn-edit"

%h5 References using this journal
%table
  -@references.each do |reference|
    %tr
      %td
        =reference.decorate.format
        =reference.decorate.goto_reference_link
  -if @references.empty?
    %tr
      %td None
