-@title = @journal.name
-breadcrumb @journal

-if user_is_at_least_helper?
  .buttons-right
    =link_to "Edit journal name", edit_journal_path(@journal), class: "btn-normal"
    -unless @references.exists?
      =link_to "Delete", @journal, class: "btn-warning", method: :delete, data: { confirm: "Are you sure?" }

%h5 References using this journal
-if @references.empty?
  %table
    %tr
      %td None.
-else
  =render "shared/reference_table", references: @references

=will_paginate @references
