-@title = @journal.name
-breadcrumb @journal

-if user_can_edit?
  .buttons_right
    =link_to "Edit journal name", edit_journal_path(@journal), class: "btn-normal"
    -unless @references.present?
      =link_to "Delete", journal_path(@journal), class: "btn-delete", method: :delete, data: { confirm: "Are you sure?" }

%h5 References using this journal
-if @references.empty?
  %table
    %tr
      %td None.
-else
  =render "shared/reference_table", references: @references

=will_paginate @references
