-@title = @journal.name
-breadcrumb @journal

-if user_can_edit?
  .buttons_right
    =link_to "Edit journal name", edit_journal_path(@journal), class: "btn-normal"
    -unless @references.present?
      =link_to "Delete", journal_path(@journal), class: "btn-delete", method: :delete, data: { confirm: "Are you sure?" }

%h5 References using this journal
%table
  -@references.each do |reference|
    %tr
      %td
        =reference.decorate.formatted
        =reference.decorate.link_to_reference
  -if @references.empty?
    %tr
      %td None

=will_paginate @references
