.ok_cancel_controls
  %button.ok.ui-priority-primary OK
  %button.close.ui-priority-secondary Cancel

.add_controls
  %button.add.ui-priority-primary Add

.search_controls
  = select_tag "search_selector", options_for_select(["Search for author(s)", "Search for"], params[:search_selector]), class: 'search_selector'
  = text_field_tag "q", params[:q], class: 'q'
  %button.go.ui-priority-primary Go


