- css_class = 'display'
- css_class << ' downloadable' if reference && reference.downloadable_by?(current_user)
- text = reference ? format_reference(reference) : '(none)'

%div{:class => css_class}= button_tag text, class: 'display_button'

- if reference
  - document_link = format_reference_document_link reference
  = raw document_link if document_link
