%tr
  %td Optional reference
  %td=reference_picker history_item.reference, name: 'reference_id'
%tr
  %td Optional pages
  %td
    .max-w-xs
      =text_field_tag :pages, history_item.pages, id: nil
