%tr
  %td Optional reference
  %td
    .row
      .small-10.columns.end
        =reference_picker history_item.reference, name: 'reference_id'
%tr
  %td Optional pages
  %td
    .row
      .small-4.columns.end
        =text_field_tag :pages, history_item.pages, id: nil
