%tr
  %td Reference
  %td
    .row
      .small-10.columns.end
        =reference_select_tag :reference_id, history_item.reference_id
%tr
  %td Pages
  %td
    .row
      .small-4.columns.end
        =text_field_tag :pages, history_item.pages, id: nil
