-# TODO the 'replace missing reference' feature has been removed; remove
-# this unless there are any actions of this type in the feed (unlikely).

replaced the missing reference
=activity.parameters[:citation]
(reason missing:
=succeed ")" do
  =activity.parameters[:reason_missing] || "unknown"

with
-replacement_id = activity.parameters[:replacement_id]
-if Reference.exists? replacement_id
  -replacement = Reference.find(replacement_id)
  =link_to replacement.keey, reference_path(replacement)
-else
  [deleted reference]
