%table
  %caption What these symbols means
  %thead
    %tr
      %th Symbol
      %th Meaning
  %tbody
    %tr
      %td <code>md</code>
      %td Markdown is enabled.
    %tr
      %td <code>@</code>
      %td
        User mentioning are enabled for this textarea. Type <code>@</code>
        followed by another user's name or email, and select a user.
        NOTE: this *doesn't* send a notification to the user after saving
        this form, but that is on the roadmap.
    %tr
      %td <code>%tr</code>
      %td
        Autocompletion is enabled for <code>%taxon</code> and
        <code>%reference</code> markdown links in this textarea.
        Start typing <code>%t</code> or <code>%r</code> followed by a search term
        (without a space before the search term), and select one of the suggestions.
