%table
  %caption What these symbols means
  %thead
    %tr
      %th Symbol
      %th Meaning
  %tbody
    %tr
      %td <code>md</code>
      %td Markdown is enabled in this textarea.
    %tr
      %td <code>%trjif</code>
      %td
        Autocompletion is enabled for <code>%taxon</code>, <code>%reference</code>,
        <code>%journal</code>, <code>%issue</code> and <code>%feedback</code>
        markdown links in this textarea.
        Start typing <code>%t</code>, <code>%r</code>, <code>%j</code>,
        <code>%i</code> or <code>%f</code> followed by a search term
        (without a space before the search term), and select one of the suggestions.
    %tr
      %td <code>@</code>
      %td
        User mentioning are enabled for this textarea. Type <code>@</code>
        followed by another user's name or email, and select a user.
        Mentioned users will receive a notification. Currently users have to login
        to see if they have new notifications (no email notifications yet).
