.reference_display
  = format_reference reference

  %p.notes= italicize h reference.public_notes
  %p.editor.notes= italicize h reference.editor_notes
  %p.notes= italicize h reference.taxonomic_notes
