-# TODO: See if we can use more `f.label` instead of `label_tag`.

=enable_tooltips

-content_for :head do
  =javascript_include_tag 'controllers/references/form'

-reference.publisher_string ||= reference.respond_to?(:publisher) ? (reference.publisher && reference.publisher.display_name) : ''
-reference.journal_name ||= reference.respond_to?(:journal) ? (reference.journal && reference.journal.name) : ''

=form_for reference.becomes(Reference) do |f|
  =hidden_field_tag :reference_type, reference.class.name
  =hidden_field_tag :ignore_possible_duplicate, ignore_possible_duplicate
  =render 'shared/errors_for', resource: reference

  .row
    .medium-4.columns
      =label_tag :reference_author_names_string do
        Authors
        =db_tooltip_icon :authors, scope: :references
      =f.text_field :author_names_string
    .medium-2.columns
      =label_tag :author_names_suffix do
        Authors suffix
        =db_tooltip_icon :author_names_suffix, scope: :references
      =f.select :author_names_suffix, Reference.distinct.pluck(:author_names_suffix)
    .medium-1.columns
      =label_tag :reference_citation_year do
        Year
        =db_tooltip_icon "references.citation_year", scope: :references
      =f.text_field :citation_year
    .medium-2.columns
      =label_tag :reference_date do
        Date
        =db_tooltip_icon "references.date", scope: :references
      =f.text_field :date
    .medium-3.columns.end
      =f.label :online_early, class: 'margin-top' do
        =f.check_box :online_early
        Online early
  .row
    .medium-4.columns
      =label_tag :reference_doi do
        DOI
        =db_tooltip_icon "references.doi", scope: :references
      =f.text_field :doi
    .medium-2.columns.end
      =label_tag :reference_bolton_key do
        Bolton key
        =db_tooltip_icon "references.bolton_key", scope: :references
      =f.text_field :bolton_key

  .row
    .medium-12.columns
      =label_tag :reference_title do
        Title
        =db_tooltip_icon "references.title", scope: :references
      =f.text_area :title, rows: 1

  .row
    .medium-12.columns
      %ul#reference-tabs.tabs{data: { tabs: true }}
        %li.tabs-title{class: reference_tab_active?(reference, ArticleReference)}
          =link_to "Article", "#tabs-article"
        %li.tabs-title{class: reference_tab_active?(reference, BookReference)}
          =link_to "Book", "#tabs-book"
        %li.tabs-title{class: reference_tab_active?(reference, NestedReference)}
          =link_to "Nested", "#tabs-nested"
        %li.tabs-title{class: reference_tab_active?(reference, UnknownReference)}
          =link_to "Other", "#tabs-unknown"

      .tabs-content{data: { tabs_content: "reference-tabs" }}
        #tabs-article.tabs-panel{class: reference_tab_active?(reference, ArticleReference)}
          .row
            .medium-3.columns
              =label_tag :reference_journal_name do
                Journal
                =db_tooltip_icon "references.journal_name", scope: :references
              =f.text_field :journal_name, value: reference.journal_name

            .medium-3.columns
              =label_tag :reference_series_volume_issue do
                Series volume issue
                =db_tooltip_icon "references.series_volume_issue", scope: :references
              =f.text_field :series_volume_issue

            .medium-3.columns.end
              =label_tag :article_pagination do
                Pagination
                =db_tooltip_icon "references.journal_pagination", scope: :references
              =text_field_tag :article_pagination, reference.pagination

        #tabs-book.tabs-panel{class: reference_tab_active?(reference, BookReference)}
          .row
            .medium-3.columns
              =label_tag :reference_publisher_string do
                Publisher
                =db_tooltip_icon "references.publisher", scope: :references
              =f.text_field :publisher_string, value: reference.publisher_string

            .medium-3.columns.end
              =label_tag :book_pagination do
                Pagination
                =db_tooltip_icon "references.book_pagination", scope: :references
              =text_field_tag :book_pagination, reference.pagination

        #tabs-nested.tabs-panel{class: reference_tab_active?(reference, NestedReference)}
          .row
            .medium-3.columns
              =label_tag :reference_pages_in do
                Pages in
                =db_tooltip_icon "references.nested_pagination", scope: :references
              =f.text_field :pages_in

            .medium-3.columns.end
              =label_tag :nesting_reference_id do
                Nesting reference ID
                =db_tooltip_icon "nesting_reference_id", scope: :references
              =f.text_field :nesting_reference_id

        #tabs-unknown.tabs-panel{class: reference_tab_active?(reference, UnknownReference)}
          =label_tag :reference_citation, 'Citation'
          =f.text_area :citation, rows: 2

  .row
    .medium-4.columns
      =label_tag :reference_public_notes, 'Public notes'
      =f.text_area :public_notes, rows: 2

    .medium-4.columns
      =label_tag :reference_editor_notes do
        Editor notes
        =db_tooltip_icon "EdNote", scope: :references
      =f.text_area :editor_notes, rows: 2

    .medium-4.columns
      =label_tag :reference_taxonomic_notes do
        Taxonomic notes
        =db_tooltip_icon "TaxNote", scope: :references
      =f.text_area :taxonomic_notes, rows: 2

  %fieldset.fieldset
    %legend
      Reference document
      =db_tooltip_icon "references.pdf.upload", scope: :references
    =f.fields_for :document, (reference.document || ReferenceDocument.new) do |document_form|
      .row
        .medium-3.columns
          =document_form.file_field :file

          =document_form.check_box :public
          =label_tag :document_public do
            Make PDF public?
            =db_tooltip_icon "references.pdf.public", scope: :references

        .medium-6.columns.end
          =label_tag :document_url do
            Source URL
            =db_tooltip_icon "references.source.url", scope: :references
          =document_form.text_field :url

  .row
    .medium-3.columns
      =edit_summary_text_field_tag

    .medium-3.columns.end
      %button.submit.btn-saves.has-spinner
        =spinner_icon + 'Save'

      -cancel_link = reference.new_record? ? references_path : reference_path(reference)
      =link_to "Cancel", cancel_link, class: "button btn-nodanger"
