%td.no-wrap-align-top=a_timestamp_formatter reference.created_at

-if user_can_edit?
  %td=reference.decorate.format_review_state

  %td
    -if reference.can_finish_reviewing?
      =link_to 'Finish reviewing', finish_reviewing_reference_path(reference),
        method: :post, class: "btn-saves",
        data: { confirm: "Have you finished reviewing this reference?" }
    -elsif reference.can_start_reviewing?
      =link_to 'Start reviewing', start_reviewing_reference_path(reference),
        method: :post, class: "btn-saves",
        data: { confirm: 'Are you ready to start reviewing this reference?' }
    -elsif reference.can_restart_reviewing?
      =link_to 'Restart reviewing', restart_reviewing_reference_path(reference),
        method: :post, class: "btn-saves-warning",
        data: { confirm: 'Do you want to start reviewing this reference again?' }

  %td
    -if reference == DefaultReference.get(session)
      Default
    -else
      =link_to 'Make default', default_reference_path(id: reference.id),
        method: :put, class: "btn-normal"