.reference
  -if reference.is_a?(MissingReference)
    %span.bold-warning [missing reference]

  -reference = reference.decorate
  =reference.expanded_reference
  =reference.format_document_links
  -if current_user
    %span.show-on-hover
      -if user_is_at_least_helper?
        =link_to "Edit", edit_reference_path(reference), class: "btn-normal btn-very-tiny"
      =link_to "History", reference_history_path(reference), class: "btn-normal btn-very-tiny"
      =link_to "What Links Here", reference_what_links_here_path(reference), class: "btn-normal btn-very-tiny"
      =link_to "Add to Recently Used", my_recently_used_references_path(id: reference.id), method: :post, remote: true, class: "add-to-recently-used-references-js-hook btn-saves btn-very-tiny"

  -if reference.public_notes?
    %p.notes
      %span.note Notes:
      =reference.public_notes
  -if current_user
    -if reference.editor_notes?
      %p.notes
        %span.note
          Editor notes:
          =logged_in_only_tooltip_icon
        =reference.editor_notes
    -if reference.taxonomic_notes?
      %p.notes
        %span.note
          Taxonomic notes:
          =logged_in_only_tooltip_icon
        =reference.taxonomic_notes
