-content_for :page_header do
  #navigation_bar
    .actions
      -items = []
      -items << link_to('All references', references_path)
      -items << link_to('Latest additions', latest_additions_references_path)
      -if user_can_edit?
        -items << link_to('Latest changes', latest_changes_references_path)
        -items << link_to('Fix missing', missing_references_path)
        -items << link_to('Export to EndNote', endnote_export_references_path(q: params[:q])) if params[:action] == "search"
      -items << link_to('Journals', journals_path)
      -items << link_to('Authors', authors_path)
      =make_link_menu items

    =render 'search_form', params: params

  .title
    %h5.left ANTBIB: A Bibliography of Ant Systematics
    .left= link_to "New", new_reference_path, class: "btn-new" if user_can_edit?
    .right by Philip S. Ward, et al.
