- reference ||= Reference.new
%div{:id => "reference_#{reference.id}", :class => css_class}
  %table
    %tr
      %td.icons
        .icon.edit
          %img{:title => 'edit', :src => '/images/edit.png'}
        .icon.add
          %img{:title => 'add', :src => '/images/add.png'}
        .icon.copy
          %img{:title => 'copy', :src => '/images/copy.png'}
        .icon.delete
          %img{:title => 'delete', :src => '/images/delete.png'}
      %td{:style => 'vertical-align: top'}
        = render :partial => 'display', :locals => {:reference => reference}
        - if user_signed_in?
          = render :partial => 'form', :locals => {:reference => reference}
        = render :partial => 'shared/coins', :locals => {:reference => reference}
