.reference
  -reference = reference.decorate
  =reference.formatted
  =reference.format_reference_document_link
  =reference.link_to_reference

  -if reference.public_notes.present?
    %p.notes
      %span.note Notes:
      =reference.public_notes
  -if user_can_edit?
    -if reference.editor_notes.present?
      %p.editor.notes
        %span.note Editor notes:
        =reference.editor_notes
    -if reference.taxonomic_notes.present?
      %p.notes
        %span.note Taxonomic notes:
        =reference.taxonomic_notes
