-if !reference.new_record? && reference.errors.empty?
  .reference
    -reference = reference.decorate
    =reference.format
    =reference.format_reference_document_link
    =reference.goto_reference_link target: nil

    -# TODO make it more obvious that these are notes
    %p.notes= reference.public_notes
    -if user_can_edit?
      %p.editor.notes= reference.editor_notes
      %p.notes= reference.taxonomic_notes