.reference
  -reference = reference.decorate
  =reference.plain_text
  =reference.format_reference_document_link
  -if current_user
    %span.show-on-hover
      =link_to "Edit", edit_reference_path(reference), class: "btn-tiny btn-normal"
      =link_to "History", reference_history_index_path(reference), class: "btn-tiny btn-normal"
      =link_to "What Links Here", reference_what_links_here_index_path(reference), class: "btn-tiny btn-normal"
      =set_as_default_reference_button reference, tiny: true

  -if reference.public_notes?
    %p.notes
      %span.note Notes:
      =reference.public_notes
  -if can? :edit, :catalog
    -if reference.editor_notes?
      %p.notes
        %span.note Editor notes:
        =reference.editor_notes
    -if reference.taxonomic_notes?
      %p.notes
        %span.note Taxonomic notes:
        =reference.taxonomic_notes
