-content_for :head do
  =javascript_include_tag 'controllers/references/authors_autocompletion'
  =javascript_include_tag 'controllers/references/search_form/autocompletion_switcher'

=form_tag references_search_index_path, method: :get, class: "reference-search-form" do
  =select_tag "search_type", options_for_select([["Search all fields", "all"], ["Search by author(s)", "author"]], params[:search_type])
  =text_field_tag "reference_q", params[:reference_q], class: "typeahead typeahead-references-js", placeholder: "Search References"
  =text_field_tag "author_q", params[:author_q], placeholder: "Search References"
  =button_tag type: 'submit', name: nil, class: 'btn-normal has-spinner' do
    =spinner_icon + "Go"
  &nbsp;
  =link_to "Help", help_references_search_index_path, class: "btn-normal"
