-content_for :head do
  =javascript_include_tag 'references/references_autocompletion'

=form_tag search_references_path, method: :get do
  =text_field_tag "q", params[:q], class: "typeahead", placeholder: "Search References"
  =button_tag type: 'submit', name: nil, class: 'btn-search has-spinner' do
    =spinner_icon + "Go"
