-@title = 'References'
-breadcrumb :all_references

.title.hide-for-small-only
  %h5.left ANTBIB: A Bibliography of Ant Systematics
  .right
    by Philip S. Ward,
    %em et al.
  .clearfix

-if user_is_editor?
  .buttons-right
    =link_to "New", new_reference_path, class: "btn-normal"

=render "shared/reference_table", references: @references

=will_paginate @references
