-@title = 'References'
-breadcrumb :all_references

=render "references_title"

.buttons_right
  =link_to "New", new_reference_path, class: "btn-normal" if user_can_edit?

=render "shared/reference_table", references: @references

=will_paginate @references