-@title = 'References'
-breadcrumb :all_references

-if current_user
  =enable_tooltips

=content_for :breadcrumbs_right do
  =link_to 'Latest Additions', references_latest_additions_path, class: "btn-normal"
  =link_to 'Latest Changes', references_latest_changes_path, class: "btn-normal"
  =link_to 'Journals', journals_path, class: "btn-normal"
  =link_to 'Authors', authors_path, class: "btn-normal"

  -if user_is_at_least_helper?
    =link_to "New", new_reference_path, class: "btn-normal"

=render "shared/reference_table", references: @references

=will_paginate @references
