-@title = 'Bibliography'

=enable_tooltips

-endnote_export_all_message = unless params[:q].present?
  -"Since there are no search criteria, AntCat will download all twelve thousand references. Do you want to continue?"
-else
  -''

-content_for :page_header do
  #navigation_bar
    .actions
      -items = []
      -items << link_to('Latest additions', latest_additions_references_path)
      -if user_is_editor?
        -items << link_to('Latest changes', latest_changes_references_path)
        -items << link_to('Journals', journals_path)
        -items << link_to('Fix missing', missing_references_path)
        -items << link_to('Export to EndNote', endnote_export_references_path(q: params[:q]), data: { confirm: endnote_export_all_message })
      =make_link_menu items

    =render 'search', params: params

  .title
    %h2.left ANTBIB
    %h2.left A Bibliography of Ant Systematics
    %h2.left= link_to "New", new_reference_path, class: "btn-new" if user_can_edit?
    %h3.right by Philip S. Ward, et al.
    .clear

-if @references.empty?
  .no_results_found
    No results found

-if @action == :latest_changes
  .approve_all_button.right= approve_all_references_button

%table.references
  =render 'references/latest_changes_headings' if @action == :latest_changes
  =render 'references/latest_additions_headings' if @action == :latest_additions

  -@references.each do |reference|
    %tr.reference_row
      %td
        =render 'reference', reference: reference, css_class: 'reference'
      -if @action == :latest_changes
        %td.date
          =reference.decorate.updated_at

      =render 'references/latest_additions_controls', reference: reference if @action == :latest_additions

%div= will_paginate @references