-@title = 'References'
-breadcrumb :all_references

=render "references_title"

.buttons_right
  =link_to "New", new_reference_path, class: "btn-normal" if user_can_edit?

%table.references
  -@references.each do |reference|
    %tr
      %td=render 'reference', reference: reference

=will_paginate @references