-@title = 'Bibliography'

=render 'references_page_header'

%table.references
  -@references.each do |reference|
    %tr
      %td=render 'reference', reference: reference

= will_paginate @references