-@title = 'Latest Changes'
-breadcrumb :references_latest_changes

=render 'references_page_header'

.right=approve_all_references_button

%table.references
  %tr
    %td
    %td.date_header Changed

  -@references.each do |reference|
    %tr
      %td=render 'reference', reference: reference
      %td.date=reference.decorate.updated_at

= will_paginate @references