-@title = 'Latest Additions'
-breadcrumb :references_latest_additions

-# table.references is used in tests
%table.references
  %thead
    %th Reference
    %th Created

    -if user_can_edit?
      %th Review status
      %th Review
      %th Set as default

  -@references.each do |reference|
    %tr
      %td=render 'reference', reference: reference

      =render 'references/latest_additions_controls', reference: reference

=will_paginate @references