-@title = "Search Help"
-breadcrumb :references_search_help

-# TODO make this a form (but still allow keywords).
%table
  %thead
    %tr
      %th Search by...
      %th Example(s)
      %th{width: "30%"} Notes
  %tr
    %td any field
    %td=link_to "nylanderia", search_references_path(q: "nylanderia")
    %td Case insensitive.
  %tr
    %td publication year
    %td=link_to "year:2009", search_references_path(q: "year:2009")
    %td
  %tr
    %td publication year, range
    %td=link_to "year:2000-2009", search_references_path(q: "year:2000-2009")
  %tr
    %td author
    %td=link_to "author:wilson", search_references_path(q: 'author:wilson')
    %td Authors are indexed by last name and initials. If you cannot find what you're looking for, try removing the first name from the query.
  %tr
    %td author, names containing spaces
    %td=link_to "author:'De Andrade'", search_references_path(q: "author:'De Andrade'")
    %td Wrap the name in single or double quotes, and put in after the colon.
  %tr
    %td author, exact match
    %td=link_to 'author:"Smith, D. R."', search_references_path(q: 'author:"Smith, D. R."')
    %td Manually type the name(s) or start typing and click on one of the suggestions.
  %tr
    %td author, multiple authors
    %td=link_to "author:'Bolton, B.; Fisher, B. L.'", search_references_path(q: "author:'Bolton, B.; Fisher, B. L.'")
    %td As above.
  %tr
    %td reference type
    %td
      =link_to "type:nomissing", search_references_path(q: "type:nomissing")
      ,
      =link_to "type:missing", search_references_path(q: "type:missing")
      ,
      =link_to "type:nested", search_references_path(q: "type:nested")
      ,
      =link_to "type:unknown", search_references_path(q: "type:unknown")
    %td Defaults to "nomissing".
  %tr
    %td combined keywords
    %td=link_to 'author:wilson year:1970-1979', search_references_path(q: 'author:wilson year:1970-1979')
    %td
  %tr
    %td queries containing diacritics
    %td
      =link_to "hölldobler", search_references_path(q: "hölldobler")
      or
      =link_to "holldobler", search_references_path(q: "holldobler")
    %td
  %tr
    %td journal; type the name, there's no keyword for this
    %td=link_to "zootaxa", search_references_path(q: "zootaxa")
    %td
      Current workaround: if there are too many unrelated results (example:
      =link_to "tropics", search_references_path(q: "tropics")
      ), find the journal in the
      =link_to "journals index", journals_path
      or follow the link from the reference details page to see which references are linked to that journal (example:
      %em=link_to "Tropics", journal_path(20158)
      ).
