-@title = 'Search Results'
-breadcrumb :references_search_results

-if @references.empty?
  .alert.callout No results found

%table
  -@references.each do |reference|
    %tr
      %td=render 'reference', reference: reference

=will_paginate @references