-@title = "Reference ##{@reference.id}"
-breadcrumb :reference, @reference

.buttons_right
  =link_to 'Export to EndNote', endnote_export_reference_path(@reference), class: "btn-normal"
  =link_to "Edit", edit_reference_path(@reference), class: "btn-edit"
  =link_to "Delete", reference_path(@reference), class: "btn-delete",         method: :delete, data: { confirm: "Do you want to delete this reference? Note: it can take a minute or to to check that there are no references to this one." }

=render 'reference', reference: @reference

-nestees = @reference.nestees
-if nestees.present?
  %h5 Nested references
  %table
    -nestees.each do |reference|
      %tr
        %td=render "reference", reference: reference

-# TODO Feature: Items using this reference