-title "#{Unitalicize[@reference.keey]} - References"
-breadcrumb :reference, @reference

-content_for :breadcrumbs_right do
  .right
    -if user_is_at_least_helper?
      =link_to "Edit", edit_reference_path(@reference), class: "btn-normal"
    -if current_user
      =link_to "History", reference_history_path(@reference), class: "btn-normal"
      =link_to "What Links Here", reference_what_links_here_path(@reference), class: "btn-normal"
      =@editors_reference_presenter.set_as_default_reference_button
      =link_to "Add to Recently Used", my_recently_used_references_path(id: @reference.id), method: :post, remote: true, class: "add-to-recently-used-references-js-hook btn-saves"

    .btn-normal.dropdown.button{data: { toggle: "export-dropdown"}, type: "button"} Export
    #export-dropdown.dropdown-pane{data: { dropdown: 'true', hover: 'true', hover_pane: 'true' }}
      %ul.no-bullet
        %li=link_to "EndNote", endnote_export_references_path(id: @reference.id)
        -if @reference.is_a?(ArticleReference) || @reference.is_a?(BookReference)
          %li=link_to "Wikipedia", wikipedia_export_reference_path(@reference)

    -if user_is_at_least_helper?
      .btn-normal.dropdown.button{data: { toggle: "more-dropdown"}, type: "button"} More
      #more-dropdown.dropdown-pane{data: { dropdown: 'true', hover: 'true', hover_pane: 'true' }}
        %ul.no-bullet
          -if @reference.is_a?(ArticleReference) || @reference.is_a?(BookReference)
            %li=link_to "New Nested Reference", new_reference_path(nesting_reference_id: @reference.id, citation_year: @reference.citation_year, stated_year: @reference.stated_year), class: "btn-normal"
          %li=link_to "Copy", new_reference_path(reference_to_copy: @reference.id), class: "btn-normal"
          -if user_is_editor?
            %li=link_to "Delete", reference_path(@reference), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-warning"
          =activities_link_for_trackable @reference

-decorated = @reference.decorate

.row.margin-bottom
  .small-12.columns
    %h5 Reference
    =decorated.expanded_reference
    =decorated.format_document_links

.row.margin-bottom
  .small-12.columns
    %h5 Details
    %table.table.unstriped
      %tbody
        %tr
          %th Authors
          %td
            %ul.no-bullet
              -@reference.author_names.each do |author_name|
                %li=link_to author_name.name, author_name.author
        %tr
          %th Title
          %td=decorated.format_title
        %tr
          %th Pagination
          %td=or_dash @reference.pagination
        %tr
          %th Year
          %td=@reference.citation_year_and_stated_year
        %tr
          %th Date
          %td
            =or_dash References::FormatDate[@reference.date]
            -if @reference.online_early?
              [online early]
        %tr
          %th Type
          %td=@reference.type.underscore.humanize
        %tr
          %th Bolton key
          %td=or_dash @reference.bolton_key

        -if @reference.is_a? ArticleReference
          %tr
            %th Journal
            %td
              %i=link_to @reference.journal.name, @reference.journal
          %tr
            %th Series/volume/issue
            %td=or_dash @reference.series_volume_issue

        -if @reference.is_a? BookReference
          %tr
            %th Publisher
            %td=@reference.publisher.display_name

        -if @reference.is_a? NestedReference
          %tr
            %th Nested in
            %td=@reference.nesting_reference.decorate.expandable_reference

        -if @reference.nestees.present?
          %tr
            %th Nested references
            %td
              %ul.no-bullet
                -@reference.nestees.each do |nestee|
                  %li=nestee.decorate.expandable_reference
        %tr
          %th DOI
          %td=or_dash decorated.doi_link
        %tr
          %th PDF link
          %td=or_dash decorated.pdf_link

        %tr
          %th Public notes
          %td=or_dash decorated.format_public_notes
        -if current_user
          %tr.logged-in-only-background
            %th
              Editor notes
              =logged_in_only_tooltip_icon
            %td=or_dash decorated.format_editor_notes
          %tr.logged-in-only-background
            %th
              Taxonomic notes
              =logged_in_only_tooltip_icon
            %td=or_dash decorated.format_taxonomic_notes

-if @reference.described_taxa.exists?
  .row.margin-bottom
    .small-12.columns
      %h5 Taxa originally described in this reference (including combinations)
      %small Note: taxa described in nestees of this reference are not included here.
      %table
        %thead
          %th Taxon
          %th Authorship
          %th
          %th Rank
          %th Status
          %th
        -@reference.described_taxa.order_by_name.with_common_includes.each do |taxon|
          %tr
            %td=taxon.link_to_taxon
            %td=taxon.authorship_reference.decorate.expandable_reference
            %td=taxon.protonym.authorship.pages
            %td=taxon.rank.capitalize
            %td=taxon.status.capitalize
            %td
              -if taxon.original_combination?
                Original combination
                =antcat_icon 'check'

-if user_is_editor?
  .row.margin-bottom
    .small-12.columns
      %h5 Review
      %table
        %thead
          %th Created
          %th Changed
          %th Review status
          %th
        %tbody
          %tr
            %td=time_tag @reference.created_at
            %td=time_tag @reference.updated_at
            %td=decorated.format_review_state
            %td=@editors_reference_presenter.review_reference_button
