-@title = "#{@reference.keey} - References"
-breadcrumb :reference, @reference

.buttons_right
  .btn-normal.dropdown.button{"data-toggle" => "export-dropdown", type: "button"} Export
  #export-dropdown.dropdown-pane{"data-dropdown" => "", "data-hover" => "true", "data-hover-pane" => "true"}
    %ul.no-bullet
      %li=link_to "EndNote", endnote_export_reference_path(@reference)
      -if @reference.is_a?(ArticleReference) || @reference.is_a?(BookReference)
        %li=link_to "Wikipedia", wikipedia_export_reference_path(@reference)
  -if user_can_edit?
    =link_to "History", reference_history_index_path(@reference), class: "btn-normal"
    =link_to "What Links Here", reference_what_links_here_index_path(@reference), class: "btn-normal"
    =link_to "Edit", edit_reference_path(@reference), class: "btn-normal"
    -if @reference.is_a?(ArticleReference) || @reference.is_a?(BookReference)
      =link_to "New Nested Reference", new_reference_path(nesting_reference_id: @reference.id, citation_year: @reference.citation_year), class: "btn-normal"
    -unless @reference.is_a? MissingReference
      =link_to "Copy", new_reference_path(reference_to_copy: @reference.id), class: "btn-normal"
    =link_to "Delete", reference_path(@reference), class: "btn-delete",         method: :delete, data: { confirm: "Do you want to delete this reference? Note: it can take a minute or to to check that there are no references to this one." }

=render 'reference', reference: @reference

-nestees = @reference.nestees
-if nestees.present?
  %table
    %caption Nested references
    -nestees.each do |reference|
      %tr
        %td=render "reference", reference: reference

-if @reference.is_a? NestedReference
  -nesting_reference = @reference.nesting_reference
  %p
    This reference is nested in
    =link_to "#{nesting_reference.keey}.", reference_path(nesting_reference)

-# TODO link journal from the formatted reference. Updating all tests would
-# take way too long time, so linking it here instead for the moment.
-if @reference.is_a? ArticleReference
  -journal = @reference.journal
  %p
    Published in
    %em
      =link_to "#{journal.name}.", journal_path(journal)
