-@title = "#{unitalicize @reference.keey.html_safe} - References"
-breadcrumb :reference, @reference

=content_for :breadcrumbs_right do
  .right
    -if user_is_at_least_helper?
      =link_to "Edit", edit_reference_path(@reference), class: "btn-normal"
      =set_as_default_reference_button @reference

    -if current_user
      =link_to "History", reference_history_index_path(@reference), class: "btn-normal"
      =link_to "What Links Here", reference_what_links_here_index_path(@reference), class: "btn-normal"

    .btn-normal.dropdown.button{data: { toggle: "export-dropdown"}, type: "button"} Export
    #export-dropdown.dropdown-pane{data: { dropdown: 'true', hover: 'true', hover_pane: 'true' }}
      %ul.no-bullet
        %li=link_to "EndNote", endnote_export_references_path(id: @reference.id)
        -if @reference.is_a?(ArticleReference) || @reference.is_a?(BookReference)
          %li=link_to "Wikipedia", wikipedia_export_reference_path(@reference)

    -if user_is_at_least_helper?
      .btn-normal.dropdown.button{data: { toggle: "more-dropdown"}, type: "button"} More
      #more-dropdown.dropdown-pane{data: { dropdown: 'true', hover: 'true', hover_pane: 'true' }}
        %ul.no-bullet
          -if @reference.is_a?(ArticleReference) || @reference.is_a?(BookReference)
            %li=link_to "New Nested Reference", new_reference_path(nesting_reference_id: @reference.id, citation_year: @reference.citation_year), class: "btn-normal"
          -unless @reference.is_a? MissingReference
            %li=link_to "Copy", new_reference_path(reference_to_copy: @reference.id), class: "btn-normal"

          -if user_is_editor?
            %li=link_to "Delete", reference_path(@reference), class: "btn-warning", method: :delete, data: { confirm: "Do you want to delete this reference?" }

-@reference = @reference.decorate

.row.margin-bottom
  .small-12.columns
    .callout
      =@reference.expanded_reference
      =@reference.format_reference_document_link

.row.margin-bottom
  .small-12.columns
    %h5 Details
    %table.table.unstriped
      %tbody
        %tr
          %th Authors
          %td
            %ul.no-bullet
              -@reference.author_names.each do |author_name|
                %li=link_to author_name.name, author_name.author
        %tr
          %th Title
          %td=@reference.format_plain_text_title
        -if @reference.is_a? UnknownReference
          %tr
            %th Citation
            %td=@reference.format_citation
        %tr
          %th Pagination
          %td
            -if @reference.is_a? NestedReference
              =or_dash @reference.pages_in
            -else
              =or_dash @reference.pagination
        %tr
          %th Date
          %td=@reference.decorate.format_date
        %tr
          %th Type
          %td=@reference.type.underscore.humanize
        %tr
          %th Bolton key
          %td=or_dash @reference.bolton_key

        -if @reference.is_a? ArticleReference
          %tr
            %th Journal
            %td
              %em=link_to @reference.journal.name, @reference.journal
          %tr
            %th Series/volume/issue
            %td=or_dash @reference.series_volume_issue

        -if @reference.is_a? BookReference
          %tr
            %th Publisher
            %td=@reference.publisher.display_name

        -if @reference.is_a? NestedReference
          %tr
            %th Nested in
            %td=@reference.nesting_reference.decorate.expandable_reference

        -if @reference.nestees.present?
          %tr
            %th Nested references
            %td
              %ul.no-bullet
                -@reference.nestees.each do |nestee|
                  %li=nestee.decorate.expandable_reference
        %tr
          %th DOI
          %td=or_dash @reference.doi
        %tr
          %th Links
          %td=or_dash @reference.format_reference_document_link

-if @reference.any_notes?
  .row.margin-bottom
    .small-12.columns
      %h5 Notes
      %table.table.unstriped
        %tbody
          %tr
            %th Public notes
            %td=or_dash @reference.public_notes
          %tr
            %th Editor notes
            %td=or_dash @reference.editor_notes
          %tr
            %th Taxonomic notes
            %td=or_dash @reference.taxonomic_notes

-if @reference.described_taxa.exists?
  .row.margin-bottom
    .small-12.columns
      %h5 Taxa described in this reference
      %small Note: taxa described in nestees of this reference are not included here.
      %table
        %thead
          %th Taxon
          %th Authorship
          %th Rank
          %th Status
        -@reference.described_taxa.each do |taxon|
          %tr
            %td=taxon.decorate.link_to_taxon
            %td=taxon.authorship_reference.decorate.expandable_reference
            %td=taxon.rank.capitalize
            %td=taxon.status.capitalize

-if user_is_editor?
  .row.margin-bottom
    .small-12.columns
      %h5 Review
      %table
        %thead
          %th Created
          %th Changed
          %th Review status
          %th
        %tbody
          %tr
            %td=time_tag @reference.created_at
            %td=time_tag @reference.updated_at
            %td=@reference.decorate.format_review_state
            %td=review_reference_button @reference
