-author.names.each do |author_name|
  -references = author_name.references
  %div
    %span.name=author_name.name
    %span.reference-count #{references.count} reference(s)
  -if references.present?
    .callout.references
      -references.each do |reference|
        .reference
          =link_to reference.decorate.formatted, reference_path(reference)
