.callout.author_panel
  =form_tag merge_authors_path, method: :get do
    -unless panel == panels.last
      .right
        =link_to 'close', {}, class: 'close_link btn-normal btn-tiny'

    -panels.each do |a_panel|
      =hidden_field_tag 'term', panel.term
      -if a_panel != panel
        =hidden_field_tag 'terms[]', a_panel.term
      -else
        -label = if panel == panels.last && panels.count > 1
          -"Choose another author"
        -else
          -"Choose author"
        =label_tag 'terms[]', label
        =text_field_tag 'terms[]', panel.term
        =button_tag 'Go', type: "submit", class: "btn-normal"

  -if panel.term.present?
    %hr
    -if panel.already_open
      %p This author is open in another panel.
    -elsif panel.author
      =render 'author', author: panel.author
    -else
      %p No results found. Please select from the list after typing characters in the name.
