-@title = 'Merge Authors'
-breadcrumb :merge_authors

-content_for :head do
  =javascript_include_tag 'controllers/merge_authors/index'

.row
  -@panels.each do |panel|
    .medium-6.columns
      =render 'panel', panels: @panels, panel: panel

-if @authors.count >= 2 && can?(:edit, :catalog)
  .row
    .medium-12.columns
      =render 'merge', panels: @panels, names: @names
