converted the species

-if activity.parameters[:original_species_id]
  =ActivityDecorator.link_taxon_if_exists activity.parameters[:original_species_id], deleted_label: activity.parameters[:name_was].html_safe
-else
  =activity.parameters[:name_was].html_safe

to a subspecies (now
=succeed ")" do
  =activity.link_taxon_trackable_if_exists deleted_label: activity.parameters[:name].html_safe

-unless activity.parameters[:original_species_id]
  %small.bold-warning please see note
  =inline_expandable("show more") do
    This species was converted using the old code that modified the original record in place. The old species record may be missing and may have to be recreated.
