created the combination
=activity.link_taxon_trackable_if_exists

-if activity.parameters[:previous_combination_id]
  =surround "(", ")" do
    previous combination:
    =ActivityDecorator.link_taxon_if_exists activity.parameters[:previous_combination_id]
