elevated the subspecies

-if activity.parameters[:original_subspecies_id]
  =ActivityDecorator.link_taxon_if_exists activity.parameters[:original_subspecies_id], deleted_label: activity.parameters[:name_was].html_safe
-else
  =activity.parameters[:name_was].html_safe

to the rank of species (now
=succeed ")" do
  =activity.link_taxon_trackable_if_exists deleted_label: activity.parameters[:name].html_safe
