-page_title @taxon.name_cache
-breadcrumb :convert_species_to_subspecies, @taxon

-if @convert_to_subspecies_policy.allowed?
  =form_with url: taxon_convert_to_subspecies_path(@taxon) do |f|
    =render 'shared/errors_for', resource: @taxon

    .mb-8
      %h6 Convert species
      %p=@taxon.decorate.id_and_name_and_author_citation

    .mb-8
      %h6 to be a subspecies of
      =taxon_picker @new_species, name: 'new_species_id', ranks: Rank::SPECIES

    =f.button "Convert", class: "btn-saves btn-md"
-else
  =render 'shared/operation_not_supported', callout_title: 'Cannot convert to subspecies', errors: @convert_to_subspecies_policy.errors
