-title @taxon.name_cache
-breadcrumb :convert_species_to_subspecies, @taxon

.row
  .small-12.columns
    -unless @convert_to_subspecies_policy.allowed?
      =render 'shared/operation_not_supported', callout_title: 'Cannot convert to subspecies', errors: @convert_to_subspecies_policy.errors
    -else
      =form_with url: taxon_convert_to_subspecies_path(@taxon) do |f|
        =render 'shared/errors_for', resource: @taxon
        .row
          .medium-12.columns.margin-bottom
            %h6 Convert species
            %p=@taxon.decorate.id_and_name_and_author_citation

          .medium-12.columns.margin-bottom
            %h6 to be a subspecies of
            =taxon_picker @new_species, name: 'new_species_id', ranks: Rank::SPECIES

          .medium-12.columns
            =f.button "Convert", class: "btn-saves"
