#subnavigation
  =link_to 'All References', references_path, class: submenu_css(:all_references)
  =link_to 'Latest Additions', references_latest_additions_path, class: submenu_css(:references_latest_additions)
  =link_to 'Latest Changes', references_latest_changes_path, class: submenu_css(:references_latest_changes)
  =link_to 'Journals', journals_path, class: submenu_css(:journals)
  =link_to 'Authors', authors_path, class: submenu_css(:authors)
