@import "colors"

.catalog-controller
  #taxon-description
    #nomen-synopsis
      .name
        font-family: Montserrat, Roboto, "Helvetica Neue", Arial, sans-serif

    #history-table
      td:hover .show-on-hover
        display: inline

    #history
      line-height: 1.2
      li:hover .show-on-hover
        display: inline

    #reference-sections
      line-height: 1.2
      .section:hover .show-on-hover
        display: inline

  .additional-editor-data
    font-size: 90%

  #citations
    li:hover .show-on-hover
      display: inline

  #can-be-combined-editing-helper
    &:hover .show-on-hover.show-editing-helper
      display: inline
