#merge_authors-controller
  .reference-count
    font-size: 12px

  .references
    max-height: 10rem
    overflow: auto

    .reference
      font-size: 12px
      text-indent: -6px
      margin-left: 6px

  .name
    font-weight: bold
