#protonyms-controller
  // From `_catalog.sass`.
  // TODO: See https://github.com/calacademy-research/antcat/issues/702
  .history
    font-size: 15px
    line-height: 1.2
    li:hover .show-on-hover
      display: inline

  .additional-editor-data
    font-size: 85%
