#protonyms-controller
  .additional-editor-data
    font-size: 90%

  #history-items
    .history-item:hover .show-on-hover
      display: inline

  #history-items > .history-item hr
    margin-top: 2rem
    margin-bottom: 2rem

  #history-items > .history-item:last-of-type hr
    display: none
