// For the search box in the breadcrumb, which is included
// in all views using the references layout.
.reference-search-form
  #q, #author_q, #search_type
    height: 1.8rem
    margin-bottom: 0
  #author_q, #search_type
    width: 11rem
  #author_q
    display: none
  #search_type
    padding: 0 0.5rem
  // Firefox tweaks
  a, #search_type
    vertical-align: top
  input.typeahead, #author_q
    padding: 0 0.5rem

#references-controller
  #export-dropdown
    ul
      margin-bottom: 0
