.task.closed, .task.completed
  color: darkgrey

#linked_taxa
  margin-bottom: 1rem

#description.tabs-panel
  padding: 0

textarea#task_description
  margin-bottom: 0

#task-tabs ~ .tabs-content
  margin-bottom: 1rem
