@import "colors"

// Restore input fields' `display` since Typeahead makes the fields smaller.
// They actually look better when they're smaller, but let's keep the form
// more consistent until we have re-styled it (for example by putting fields
// on the same row, removing pixel units, making it prettier).
%fix-typeahead-display
  .twitter-typeahead
    display: block !important

// For stuff that may or may not be used in
// both the form and the not really form.
#taxa-controller
  .taxon_form, .not-really-taxon-form
    .taxt_edit_box
      font-size: 90%
    td.caption
      width: 120px
      vertical-align: top
      padding-top: 3px

    .display_button
      white-space: normal

// For the taxon form that is not the "not really" form.
#taxa-controller
  .taxon_form
    .protonym_section
      #protonym_name_field
        display: inline-block
      #authorship_field
        display: inline-block
      .locality
        @extend %fix-typeahead-display

.fake-input
  border: 1px solid #cacaca
  padding: 0.5rem
  min-height: 2.4375rem

// For the not really form.
#taxa-controller
  .not-really-taxon-form
    .history_items_section
      font-size: 90%
      .history_item_template
        display: none
      .history_items
        padding: 6px
      .history_item
        border-bottom: 1px solid #dfd9c3
        padding: 6px
        table
          border-spacing: 0
          margin-bottom: 0
        .edit
          display: none
          .taxt_editor
            margin-bottom: 4px
          .buttons
            margin-bottom: 4px
            .delete
              margin-left: 16px
        .display
          padding: 6px
          border-bottom: 1px solid #dfd9c3
          &.ui-selecting
            background: $color_current_being_edited_background

    .references_section
      .title_taxt, .subtitle_taxt
        font-weight: bold
      .reference_section_template
        display: none
      .reference_sections
        font-size: 90%
        .template
          display: none
        .reference_section
          margin-top: 0
          table
            border-spacing: 0
            margin-bottom: 0
          .edit
            display: none
            padding: 6px
            .taxt_editor
              margin-bottom: 4px
            .buttons
              margin-bottom: 4px
              margin-top: 4px
              .delete
                margin-left: 16px
          .display
            padding: 6px
            overflow: auto
            &.ui-selecting
              background: $color_current_being_edited_background
            .title_taxt, .subtitle_taxt
              font-weight: bold

    .junior_and_senior_synonyms_section
      .container
        width: 50%
      .junior_synonyms_section
        margin-right: 6px
      .synonym_row
        font-size: 90%
        small
          color: darkgrey
        &.ui-selecting, &.confirming
          background: $color_current_being_edited_background
        button.delete
          margin-left: 10px
          display: none
        button.reverse_synonymy
          margin-left: 0
          display: none
      .synonym-form
        display: none
      .select2-container
        width: 100% !important

// Placed outside of `#taxa-controller` because it's also used on its on page.
#children-list
  font-size: 90%
  columns: 2
  padding-left: 6px
