@import "colors"

#tooltips-controller
  table#tooltips
    border-collapse: collapse
    thead
      text-align: left
      background: $color_green
      color: #fff
    td, th
      padding: 5px 10px
      word-wrap: break-word
      max-width: 250px
    tr.fake_subheader // TODO remove obvious hack
      td
        background: $color_light_green
      h6
        font-weight: bold
        padding: 0
        margin: 0
