@import "colors"

.author_form
  .display:hover
    background-color: $color_current_being_edited_background
    cursor: pointer

  .author_names_section
    .author_name
      .edit
        display: none
        .buttons
          .delete
            margin-left: 1rem

  .buttons_section
    form
      display: inline-block
