td.reference_item
  vertical-align: top

.reference_table
  width: 100%

td.authors
  padding-right: 5px

p.notes
  margin: 0 20px

p.help
  margin-top: 5px

td.date_header, td.review_state_header
  font-weight: bold

td.review_state_header
  text-align: center

td.date
  vertical-align: top
  white-space: nowrap

td.review_state
  width: 96px
  text-align: center
  vertical-align: top

td.review_buttons, td.default_reference_status
  vertical-align: top

td.default_reference_status
  text-align: center
