// `tooltips.sass`: for formatting code from TooltipsController.
// `tooltip.sass`: for formatting the actual tooltips, which can be used anywhere.

#tooltips
  border-collapse: collapse
  border: 1px black solid
  thead
    text-align: left
    background: #008000
    color: #fff
  td, th
    padding: 5px 10px
    word-wrap: break-word
    max-width: 250px
  tbody
    tr
      &:nth-child(even)
        background: #f5f3e5
      &:nth-child(odd)
        background: #fff
  tr.fake_subheader // TODO remove obvious hack
    td
      background: #459e00
    h3
      font-weight: bold
      padding: 0
      margin: 0

#test_selector_snippet
  word-wrap: break-word