-page_title "Move items - select target"
-breadcrumb :move_taxon_items_select_target, @taxon

=form_with url: taxon_move_items_path, method: :get do |f|
  .row
    .medium-6.columns
      %fieldset.fieldset
        %legend Move items from
        =@taxon.decorate.id_and_name_and_author_citation

    .medium-6.columns
      %fieldset.fieldset
        %legend to
        =taxon_picker @to_taxon || @taxon.current_taxon, name: 'to_taxon_id'
        %br
        =f.button "Select...", class: "btn-normal"

.row
  .medium-6.columns
    -if @taxon.reference_sections.empty?
      No reference sections.
    -else
      %table.table-striped
        %caption Reference sections
        %tbody
          -@taxon.reference_sections.each do |reference_section|
            %tr
              %td
                =render 'reference_section', reference_section: reference_section
