-title "Move items - select target"
-breadcrumb :move_items_select_target, @taxon

-content_for :javascripts do
  =javascript_include_tag "taxon_select"

=form_with url: taxa_move_items_path, method: :get do |f|
  .row
    .medium-6.columns
      %fieldset.fieldset
        %legend Move items from
        =@taxon.decorate.id_and_name_and_author_citation

    .medium-6.columns
      %fieldset.fieldset
        %legend to
        =taxon_select_tag :to_taxon_id, params[:to_taxon_id] || @taxon.current_taxon&.id
        %br
        =f.button "Select...", class: "btn-normal"

.row
  .medium-6.columns
    -if @taxon.reference_sections.empty?
      No reference sections.
    -else
      %table
        %caption Reference sections
        %tbody
          -@taxon.reference_sections.each do |reference_section|
            %tr
              %td
                =render 'reference_section', reference_section: reference_section
