-title "Move items - select target"
-breadcrumb :move_items_select_target, @taxon

-content_for :javascripts do
  =javascript_include_tag "taxon_select"

=form_tag taxa_move_items_path, method: :get do
  .row
    .medium-6.columns
      %fieldset.fieldset
        %legend Move items from
        =@taxon.decorate.id_and_name_and_author_citation

    .medium-6.columns
      %fieldset.fieldset
        %legend to
        =taxon_select_tag :to_taxon_id, params[:to_taxon_id] || @taxon.current_valid_taxon&.id
        %br
        =button_tag "Select...", type: "submit", class: "btn-normal"

.row
  .medium-6.columns
    -if @taxon.history_items.empty?
      No history items.
    -else
      %table
        %caption History items
        %tbody
          -@taxon.history_items.each do |history_item|
            %tr
              %td
                %small=Detax[history_item.taxt]
