-page_title "Move items"
-breadcrumb :move_taxon_items_to, @taxon, @to_taxon

=form_with path: taxon_move_items_path, data: { controller: 'checkbox-select-all' } do |f|
  =hidden_field_tag :to_taxon_id, @to_taxon.id
  .row
    .medium-6
      .callout
        %h6.font-bold Move items from...
        =@taxon.decorate.id_and_name_and_author_citation

    .medium-6
      .callout
        %h6.font-bold ...to
        =@to_taxon.decorate.id_and_name_and_author_citation

  .row.mb-8
    -# Move from.
    .medium-6
      -if @taxon.reference_sections.empty?
        No reference sections.
      -else
        %table.table-striped
          %caption
            Reference sections
            %label.float-right
              %input.hidden{"data-checkbox-select-all-target" => "parentCheckbox", 'data-action' => "change->checkbox-select-all#toggle", type: "checkbox"}
              %span.btn-neutral{data: { testid: 'select-deselect-all-button' }} Select/deselect all
          %tbody
            -@taxon.reference_sections.each do |reference_section|
              %tr
                %td=check_box_tag "reference_section_ids[]", reference_section.id, false, data: { 'checkbox-select-all-target': "checkbox" }
                %td=render 'reference_section', reference_section: reference_section

    -# Move to.
    .medium-6
      -if @to_taxon.reference_sections.empty?
        No reference sections.
      -else
        %table.table-striped
          %caption Reference sections
          %tbody
            -@to_taxon.reference_sections.each do |reference_section|
              %tr
                %td=render 'reference_section', reference_section: reference_section

  .mb-8
    .text-center
      =f.button "Move selected items", class: "btn-saves btn-md"
