.taxt-editor.taxt-editor-catalog{data: { url: history_item_path(history_item), taxt_editor_template: 'history_items/catalog_taxt_editor_template' }}
  .taxt-presenter
    =Detax[history_item.to_taxt]

    %br

  .taxt-editor-editor.callout
    %h6.bold.small-margin-bottom=history_item.type_label
    -# [grep:history_type].
    =render partial: "history_items/edit_templates/#{history_item.underscored_type}", locals: { history_item: history_item }

    .row
      .medium-6.columns.end
        =text_field_tag :edit_summary, nil, placeholder: "Edit summary (optional)", maxlength: Activity::EDIT_SUMMARY_MAX_LENGTH

    %a.taxt-editor-history-item-save-button.btn-saves Save
    %a.taxt-editor-cancel-button.btn-nodanger Cancel
    %span.spacer-1rem
    %a.taxt-editor-delete-button.btn-warning Delete

  .taxt-presenter.tiny-margin-top
    %a.taxt-editor-edit-button.btn-nodanger.btn-tiny.right-margin Quick edit
    %span.show-on-hover
      =link_to "Show", history_item_path(history_item), class: "btn-normal btn-very-tiny"
      =link_to "Edit", edit_history_item_path(history_item, **current_page_redirect_back_url), class: "btn-normal btn-very-tiny"
      =link_to "History", history_item_history_path(history_item), class: "btn-normal btn-very-tiny"
