-title "Edit History Item"
-breadcrumb :edit_history_item, @history_item

%p
  Current item before saving form:

.callout.margin-bottom.large-8
  %p
    -# HACK: To make sure changed and invalid records renders as the original.
    =Detax[HistoryItem.find(@history_item.id).to_taxt]

=render "form", history_item: @history_item, url: history_item_path(@history_item), protonym: @protonym
