-page_title "Edit History Item"
-breadcrumb :edit_history_item, @history_item

-# TODO: Copy pasted from 'views/history_items/show.html.haml'; DRY and generally repeat
-# breadcrumb buttons from 'show' pages in more places.
-content_for :breadcrumbs_right do
  =link_to "History", history_item_history_path(@history_item), class: "btn-default"
  =activities_link_for_trackable @history_item
  -if user_is_editor?
    =link_to "Delete", history_item_path(@history_item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-danger"

.callout-white
  %p
    %span.font-bold Current item before saving form:
    -# HACK: To make sure changed and invalid records render as the original.
    =Detax[HistoryItem.find(@history_item.id).to_taxt]

=render "form", history_item: @history_item, url: history_item_path(@history_item), protonym: @protonym
