-page_title "Search History Items"
-breadcrumb :search_history_items

-content_for :breadcrumbs_right do
  -if current_user && !params[:standard]
    =link_to "Show 'Standard?' column", request.query_parameters.merge(standard: "y"), class: 'btn-default'

  -# NOTE: Added as a dropdown because that was less confusing.
  =render DropdownComponent.new("Other Search forms") do
    %ul.no-bullet
      %li=link_to "Search Reference Sections form", reference_sections_path, class: 'btn-default'

=form_with url: request.path, method: :get do |f|
  .row.mb-4
    .small-6.medium-2.columns
      =f.select :search_type, options_for_select([["LIKE (default)", "LIKE"], ["REGEXP", "REGEXP"]], params[:search_type]), prompt: "Search type"
    .small-6.medium-4.columns
      =f.text_field :q, value: params[:q], placeholder: "Search query"
    .small-6.medium-4.columns.end
      =f.text_field :nq, value: params[:nq], placeholder: "Exclude search query"

  .row.mb-4
    .small-6.medium-2.columns
      =f.select :taxon_type, options_for_select(Rank::TYPES, params[:taxon_type]), include_blank: "Taxon rank"
    .small-6.medium-2.columns
      =f.select :taxon_status, options_for_select(Status::STATUSES, params[:taxon_status]), include_blank: "Taxon status"
    .small-6.medium-2.columns
      =per_page_select HistoryItemsController::PER_PAGE_OPTIONS, params[:per_page]
    .small-6.medium-2.columns.end
      =f.select :type, options_for_history_item_types(params[:type]), include_blank: 'Any item type'
  .row.mb-8
    .small-6.medium-2.columns.end
      =button_tag "Search ".html_safe + search_icon, type: "submit", name: nil, class: "btn-default btn-md"
      &nbsp;
      =link_to "Clear", request.path, class: "btn-neutral btn-md"

-if current_user && @history_items.present?
  .bg-logged-in-only.callout.border-0.text-sm
    %h6 Counts (rank/status of terminal taxa + protonym name types)

    .row
      .medium-3.columns
        %pre=JSON.pretty_generate(Rank.sort_ranks_hash(@history_items.group('taxa.type').count))
      .medium-3.columns
        %pre=JSON.pretty_generate(@history_items.group('taxa.status').count)
      .medium-3.columns
        %pre=JSON.pretty_generate(@history_items.joins(protonym: :name).group('names.type').count)
      .medium-3.columns
        %pre=JSON.pretty_generate(@history_items.group(:type).count)

%table.table-striped{"data-controller" => "tablesort"}
  %caption
    =number_with_delimiter @history_items.count
    result(s)
  %thead
    %tr
      %th ID
      %th Pos.
      %th Item type
      %th Protonym / Terminal taxa
      %th Rank
      %th Status
      %th Taxt
      -if params[:standard]
        %th Standard?
  -if @history_items.empty?
    %tr
      %td{colspan: 3} Found no results.
  -@history_items.each do |history_item|
    %tr
      %td=link_to "##{history_item.id}", history_item_path(history_item)
      %td=history_item.position
      %td
        .text-sm.font-bold.text-gray-500=history_item.underscored_type
      %td
        =CatalogFormatter.link_to_protonym(history_item.protonym)
        %br
        =CatalogFormatter.link_to_taxa(history_item.terminal_taxa)
      %td=history_item.terminal_taxa.map(&:rank).join(', ')
      %td=history_item.terminal_taxa.map(&:status).join(', ')
      %td=Detax[history_item.to_taxt]
      -# TODO: Secret option for investigating items.
      -if params[:standard]
        %td
          -if history_item.standard_format?
            Yes
            =antcat_icon 'check'
          -else
            No
            =antcat_icon 'nope'

=will_paginate @history_items

.mt-8
  .callout
    =render "shared/note_on_taxt_references"
