-title "History Item ##{@history_item.id}"
-breadcrumb :history_item, @history_item

-content_for :breadcrumbs_right do
  -if user_is_at_least_helper?
    =link_to "Edit", edit_history_item_path(@history_item), class: "btn-normal"
  =link_to "History", history_item_history_path(@history_item), class: "btn-normal"
  =activities_link_for_trackable @history_item
  -if user_is_editor?
    =link_to "Delete", history_item_path(@history_item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-warning"

%p
  This history item belongs to
  =@protonym.decorate.link_to_protonym_with_author_citation

-if @history_item.rank?
  %p
    =antcat_icon "warning-icon"
    Show only for rank: #{@history_item.rank}

.callout.margin-bottom
  %p
    =Detax[@history_item.to_taxt]

-# TODO: DRY w.r.t. 'history_items/_form.haml'.
-if @protonym.taxa.present?
  .row.margin-bottom
    .small-12.columns
      %h5 Taxa belonging to this history item's protonym
      %table
        %thead
          %th Taxon
          %th Rank
          %th Status
          %th Show history items in catalog?
        -TaxonQuery.new(@protonym.taxa.order_by_name).with_common_includes_and_current_taxon_includes.each do |taxon|
          %tr
            %td=CatalogFormatter.link_to_taxon(taxon)
            %td=taxon.rank.capitalize
            %td
              =taxon.status.capitalize
              -unless taxon.status.in?(Taxa::ExpandedStatus::SELF_STATUSES)
                %br
                %small=taxon.decorate.expanded_status
            %td
              -if Status.display_history_items?(taxon.status)
                Yes
                =antcat_icon 'check'
                %small (unranked items, or with matching rank)

-if @protonym.protonym_history_items.count > 1
  %table.margin-top
    %caption Highlighted in context with other history items belonging to #{@protonym.name.name_html}
    %tbody
      -@protonym.protonym_history_items.each do |protonym_history_item|
        %tr{class: ('pale-background' if protonym_history_item == @history_item)}
          %td
            =link_to "##{protonym_history_item.id}", history_item_path(protonym_history_item)
            -if protonym_history_item == @history_item
              %strong (selected)
          %td.grow
            %small=Detax[protonym_history_item.to_taxt]
