-@title = "History Item ##{@item.id}"
-breadcrumb :taxon_history_item, @item

-version = params[:version].to_i if params[:version]

.row
  .medium-9.columns
    %p
      Belongs to
      =@item.taxon.decorate.link_to_taxon + "."
      Edit this item at the taxon's
      =link_to "edit page.", edit_taxa_path(@item.taxon)

    -if version
      %h5 Selected old version (#{@item.versions[version-1].created_at})
      .callout
        =Taxt.to_string @item.versions[version].reify.taxt
    -else
      %h5 Current version
      .callout
        =Taxt.to_string @item.taxt

  -@versions = @item.versions
  -total_versions = @versions.count
  .medium-3.columns
    .callout
      %h6 History browser
      -if @versions.empty? || total_versions == 1
        %p This item does not have any previous versions.
      -else
        %ul
          -@versions.to_enum.with_index(1).reverse_each do |version, index|
            %li
              -if index == total_versions
                =link_to "Current version"
              -else
                =link_to "Version #{time_ago_in_words(version.created_at)} ago", version: index

