-title "History Item ##{@history_item.id}"
-breadcrumb :history_item, @history_item

-content_for :breadcrumbs_right do
  -if user_is_at_least_helper?
    =link_to "Edit", edit_history_item_path(@history_item), class: "btn-normal"
  =link_to "History", history_item_history_path(@history_item), class: "btn-normal"
  =activities_link_for_trackable @history_item
  -if user_is_editor?
    =link_to "Delete", history_item_path(@history_item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-warning"

%p
  This history item belongs to
  =@protonym.decorate.link_to_protonym_with_author_citation

-if @history_item.rank?
  %p
    =antcat_icon "warning-icon"
    Show only for rank: #{@history_item.rank}

.callout.margin-bottom.large-8
  %p
    =Detax[@history_item.to_taxt]

-protonym_taxa_present = @protonym.taxa.present?
-has_more_than_a_single_history_item = @protonym.history_items.size > 1

-if protonym_taxa_present || has_more_than_a_single_history_item
  %h5.huge-margin-top.small-margin-bottom Related records

  -# TODO: DRY w.r.t. 'history_items/_form.haml'.
  -if protonym_taxa_present
    .row.margin-bottom
      .small-12.columns
        %h6.bold Taxa belonging to this history item's protonym
        %table
          -TaxonQuery.new(@protonym.taxa.order_by_name).with_common_includes_and_current_taxon_includes.each do |taxon|
            %tr
              %td=CatalogFormatter.link_to_taxon(taxon)
              %td=taxon.rank.capitalize
              %td
                =taxon.status.capitalize
                -unless taxon.status.in?(Taxa::ExpandedStatus::SELF_STATUSES)
                  %br
                  %small=taxon.decorate.expanded_status

  -if has_more_than_a_single_history_item
    %h6.bold.large-margin-top.small-margin-bottom This history item highlighted in context with other history items belonging to #{@protonym.name.name_html}
    %table
      %tbody
        -@protonym.history_items.each do |protonym_history_item|
          %tr{class: ('pale-background' if protonym_history_item == @history_item)}
            %td
              =link_to "##{protonym_history_item.id}", history_item_path(protonym_history_item)
              -if protonym_history_item == @history_item
                %strong (selected)
            %td.grow
              %small=Detax[protonym_history_item.to_taxt]
