.nested_form.ui-corner-all.ui-widget-content.ui-widget
  .buttons
    Insert
    %button.ui-priority-primary.submit Taxon
    or
    %button.ui-priority-primary.submit Reference
    %button.ui-priority-secondary.cancel Cancel
