-if @references.blank?
  %p No results
-else
  %table.table-unstriped
    %tbody
      -@references.each do |reference|
        -label = reference.decorate.link_to_reference

        %tr.pickable-row{"data-pickable-value" => "#{reference.id}", "data-picker-target" => "pickable", "data-action" => "click->picker#_pickCurrentTarget"}
          %td.shrink-tw-conflict
            %span.pickable-record-id=reference.id
          %td.shrink-tw-conflict
            %span.pickable-outline
              =label
            %span.ml-8.text-sm pagination: #{reference.full_pagination}

            %br

            %span=reference.title

            %template{"data-pickable-fake-input-label-template" => "true"}
              =label
