.bolton_reference{:class => bolton_reference.match_status || 'none', :id => "bolton_reference_#{bolton_reference.id}"}
  = render 'header', :bolton_reference => bolton_reference
  = render 'matches', :bolton_reference => bolton_reference
  = render 'footer', :bolton_reference => bolton_reference
