- status_css_class = bolton_reference.match_status || 'none'
%div{:class => ['bolton_reference', status_css_class]}
  = render 'header', :bolton_reference => bolton_reference
  = render 'matches', :bolton_reference => bolton_reference, :status_css_class => status_css_class
  = render 'footer', :bolton_reference => bolton_reference
