$color_light_gray: #eeeeee
$color_medium_gray: #cacaca
$color_gray_text: #586069
$color_dark_gray_text: #464c53
$color_really_dark_gray_text: #383d42

$color_danger: #ec5840
$color_danger_pale: #fce6e2
$color_primary: #2188ff
$color_primary_light: #79b8ff
$color_save: #044289
$color_pale: scale-color($color_primary, $lightness: 85%)

$color_scream_green: lighten(desaturate(#00a82d, 10%), 10%)
$color_scream_orange: #ff851b

$color_green_pale: scale-color($color_scream_green, $lightness: 85%)

$color_highlight: yellow

$color_high_priority: $color_scream_orange

$almost_white: #f8f8f8
$almost_black: #363636
$color_foundation_black: #0a0a0a

// Colors used by Bolton.
$color_bolton_valid: red
// NOTE: Synonyms are in black color in Bolton, but that makes them identical to regular text.
$color_bolton_synonym: $color_really_dark_gray_text
$color_bolton_unidentifiable: darkblue
$color_bolton_excluded_from_formicidae: $color_bolton_unidentifiable
$color_bolton_unavailable: purple
$color_bolton_homonym: purple
$color_bolton_obsolete_combination: green
$color_bolton_valid_subspecies: blue

// Taxon browser and Disco mode colors.
$color_catalog_valid: $color_bolton_valid
$color_catalog_synonym: $color_really_dark_gray_text
$color_catalog_unidentifiable: $color_bolton_unidentifiable
$color_catalog_excluded_from_formicidae: $color_bolton_unidentifiable
$color_catalog_unavailable: $color_bolton_unavailable
$color_catalog_homonym: $color_bolton_homonym
$color_catalog_obsolete_combination: $color_bolton_obsolete_combination
