// DRY
$brand-primary: #479F03

$color_link_highlight:                black
$color_link_highlight_background:     lighten($brand-primary, 30%)

$color_dark_green:                    desaturate(#006400, 50%)
$color_current_being_edited:          black
$color_current_being_edited_background: #B4D5FF

$color_picker_background:             $color_dark_green
$color_picker_error:                  yellow
$color_picker_help:                   lightgray
