$color_green: #479f03
$color_light_green: lighten(desaturate($color_green, 10%), 10%)
$color_pale_green: #bcf5bc

$color_danger: #ec5840
// "pretty" is "secondary", but that is already used Foundation and jQuery.
$color_pretty: #2199e8
