@import 'common'

#page_contents
  width: 100%

.search_section, .results_section
  margin: 6px

.search_section
  select
    margin-left: 6px
    margin-right: 6px
  input[type=text]
    margin-left: 6px
    margin-right: 6px
    width: 90px
  #author_name
    width: 180px
  input[type=checkbox]
    vertical-align: middle
  label
    font-size: 16px
    font-style: normal
    vertical-align: middle
    margin-left: 16px
  .valid_only
    label
      margin-left: 6px
      margin-right: 0
  .locality, .verbatim_type_locality, .biogeographic_region
    margin-top: 8px
    margin-bottom: 6px
    #locality
      width: 180px

  .find
    padding-left: 23px
  .locality
    padding-left: 98px
  .verbatim_type_locality
    padding-left: 6px
  .biogeographic_region
    padding-left: 54px
  .valid_only
    padding-left: 169px

  .verbatim_type_locality
    padding-left: 4px
    #verbatim_type_locality
      width: 182px

  .biogeographic_region
    padding-left: 47px

  table_find
    width: 42px

.results_section
  .results_header
    margin-bottom: 6px
    vertical-align: middle
    .results_message
      display: inline
    .results_button
      margin-left: 6px
      display: inline
  .result
    margin-top: 6px !important
    margin-bottom: 6px !important
    margin-right: 6px
    .name
    .protonym
      margin-bottom: 3px
    .locality
      margin-left: 10px
    .references
      .reference

.reference_id
  margin-left: 8px

.buttons
  margin-left: 6px

.throbber
  display: none
  vertical-align: middle

.pagination
  padding: 0
  margin-left: 12px
  margin-right: 12px
