@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Buttons */
  .base__btn {
    @apply box-border whitespace-nowrap cursor-pointer
           border rounded
           btn-sm;
  }

  .btn-default {
    @apply base__btn
           text-white hover:text-white
           bg-ac-blue hover:bg-ac-blue-darker
           border-ac-blue-darker;
  }

  .btn-neutral {
    @apply base__btn
           !text-black hover:text-black
           bg-white hover:bg-slate-200
           border-black;
  }

  .btn-saves {
    @apply base__btn
           text-white hover:text-white
           bg-ac-blue-saves hover:bg-ac-blue-saves-darker
           border-ac-blue-darker;
  }

  .btn-danger {
    @apply base__btn
           text-white hover:text-white
           bg-ac-red-danger hover:bg-ac-red-danger-darker
           border-ac-red-danger;
  }

  .btn-orange {
    @apply base__btn
           text-white hover:text-white
           bg-orange-500 hover:bg-orange-600
           border-orange-500;
  }

  button[disabled=disabled], a[disabled=disabled] {
    @apply pointer-events-none opacity-40;
  }

  /* Badges */
  .base__badge {
    @apply whitespace-nowrap py-1 px-2
           text-sm rounded-full;
  }

  .badge-blue {
    @apply base__badge
           text-white hover:text-white
           bg-ac-blue;
  }

  .badge-white {
    @apply base__badge
           text-black hover:text-black
           bg-white
           border border-black;
  }

  .badge-danger {
    @apply base__badge
           text-white hover:text-white
           bg-ac-red-danger;
  }

  .badge-green {
    @apply base__badge
           text-white hover:text-white
           bg-green-600;
  }

  .badge-orange {
    @apply base__badge
           text-white hover:text-white
           bg-orange-500;
  }
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    color: #000;
    font-family: Raleway, "Helvetica Neue", Arial, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }

  a {
    @apply text-ac-blue;
  }

  a:hover {
    @apply text-ac-blue-darker;
  }

  /* Typography */
  p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  em, i {
    font-style: italic;
  }

  small {
    font-size: 80%;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.9375rem;
  }
  h4 {
    font-size: 1.5625rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }

  hr {
    @apply my-5 border border-b-gray-300;
  }

  ul {
    margin-bottom: 1rem;
    margin-left: 1.25rem;
    list-style-position: outside;
    line-height: 1.6;
    list-style-type: disc;
  }

  ul ul {
    margin-bottom: 0;
  }

  ul.no-bullet {
    margin-left: 0;
    list-style: none;
  }

  ul.compact-list {
    font-size: 95%;
    line-height: 1.2;
  }

  code {
    @apply bg-gray-100 border border-gray-300;
    padding: 0.125rem 0.3125rem 0.0625rem;
  }

  pre {
    overflow: auto;
  }

  pre.pre-wrapped {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  /* Grid */
  .layout-container {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
  }

  /* TODO: Relics from Zurb Foundation */
  .row {
    @apply grid grid-cols-12 gap-6;
  }
  .small-6 {
    @apply col-span-12 sm:col-span-6;
  }
  .medium-2 {
    @apply col-span-12 md:col-span-2;
  }
  .medium-3 {
    @apply col-span-12 md:col-span-3;
  }
  .medium-4 {
    @apply col-span-12 md:col-span-4;
  }
  .medium-5 {
    @apply col-span-12 md:col-span-5;
  }
  .medium-6 {
    @apply col-span-12 md:col-span-6;
  }
  .medium-7 {
    @apply col-span-12 md:col-span-7;
  }
  .medium-8 {
    @apply col-span-12 md:col-span-8;
  }
  .medium-9 {
    @apply col-span-12 md:col-span-9;
  }

  /* Forms */
  textarea {
    height: auto;
    min-height: 50px;
    max-width: 100%;
    width: 100%;
  }

  [type='text'], [type='password'], [type='email'], [type='number'], [type='search'], textarea {
    @apply border border-gray-300;
    border-radius: 3px;
  }

  [type='text'], [type='password'], [type='email'], [type='number'], [type='search'] {
    width: 100%;
  }

  input:disabled, input[readonly],
  textarea:disabled,
  textarea[readonly] {
    @apply bg-gray-200;
    cursor: not-allowed;
  }

  [type='checkbox'] + label,
  [type='radio'] + label {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  [type='checkbox'] + label[for],
  [type='radio'] + label[for] {
    cursor: pointer;
  }

  label > [type='checkbox'],
  label > [type='radio'] {
    margin-right: 0.5rem;
  }

  label {
    display: block;
    font-weight: normal;
    line-height: 1.8;
  }

  select {
    @apply border border-gray-300;
    width: 100%;
    border-radius: 3px;
  }

  /* Tables */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 3px;
  }

  caption {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
    text-align: left;
  }

  .table-striped thead, .table-striped tbody,
  .table-unstriped thead, .table-unstriped tbody, {
    @apply border border-gray-100;
  }

  thead {
    background: #f0f0f0;
  }

  th {
    font-weight: bold;
    text-align: left;
  }

  th, td {
    padding: 0.5rem 0.625rem 0.625rem;
  }

  table.table-striped > tbody > tr {
    @apply even:bg-gray-100;
  }

  table.table-unstriped > tbody > tr {
    @apply border-b border-gray-100;
  }

  td.grow-tw-conflict {
    width: 100%;
  }

  th.no-wrap, td.no-wrap {
    white-space: nowrap;
  }

  table td.shrink-tw-conflict {
    max-width: 100%;
    white-space: nowrap;
    width: 1px;
  }

  /* Callouts */
  /* TODO: Cleanup  Zurb Foundation relics. */
  .callout-responsive {
    @apply w-full lg:w-9/12;
  }

  .base__callout {
    @apply rounded-md p-4 mb-4 last:[&>*]:mb-0;
  }

  .callout-white {
    @apply base__callout border border-gray-300;
  }

  .callout-blue {
    @apply base__callout border border-gray-400 bg-ac-blue-pale;
  }

  .callout-danger {
    @apply base__callout border border-gray-400 bg-danger-pale;
  }

  .callout-warning {
    @apply base__callout border border-gray-400;
    background-color: #fff3d9
  }

  .bluebox {
    @apply base__callout bg-logged-in-only;
  }
}

@layer utilities {
  .btn-sm {
    @apply py-1 px-2 text-sm;

    /* Fix for `button` elements which become too tall without this. */
    line-height: 1rem;
  }

  .btn-md {
    @apply py-2 px-3 text-sm;

    /* Fix for `button` elements which become too tall without this. */
    line-height: 1rem;
  }
}
