@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Badges */
  .--ac-base-badge {
    @apply whitespace-nowrap py-1 px-2;
    @apply text-sm rounded-full;
  }

  .badge-blue {
    @apply --ac-base-badge;
    @apply text-white hover:text-white
           bg-ac-blue;
  }

  .badge-white {
    @apply --ac-base-badge;
    @apply text-black hover:text-black
           bg-white
           border border-black;
  }

  .badge-danger {
    @apply --ac-base-badge;
    @apply text-white hover:text-white
           bg-ac-red-danger;
  }

  .badge-green {
    @apply --ac-base-badge;
    @apply text-white hover:text-white
           bg-green-600;
  }

  .badge-orange {
    @apply --ac-base-badge;
    @apply text-white hover:text-white
           bg-orange-500;
  }
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    color: #000;
    font-family: Raleway, "Helvetica Neue", Arial, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }

  a {
    @apply text-ac-blue;
  }

  a:hover {
    @apply text-ac-blue-hover;
  }

  code {
    @apply bg-gray-100 border border-gray-300;
    padding: 0.125rem 0.3125rem 0.0625rem;
  }
}
