@import "colors"

@import "font-awesome"
@import "jquery-ui/core"
@import "jquery-ui/theme"

@import "autocomplete"
@import "navigation"
@import "push_down_footer"
@import "spinner"
@import "tooltip"

@import "widgets/*"

.left
  float: left

.right
  float: right

.clear
  clear: both

.valid
  color: red !important

.synonym, .obsolete_combination
  color: black !important

.unidentifiable, .collective_group_name, .excluded_from_formicidae
  color: darkblue !important

.unavailable, .nomen_nudum
  color: purple !important

.homonym, .unresolved_homonym
  color: brown !important

.subspecies.valid
  color: blue !important

.original_combination
  color: green !important

.subrank
  color: blue !important

.latin
  font-style: italic

button
  white-space: nowrap

caption
  text-align: left

// To make the white spinner visible in the pickers
td.throbber
  background-color: $color_picker_background

#content
  padding-top: 1rem

// equally space out images
#taxon_key
  width: 100%
  text-align: justify
  padding-left: 1rem
  padding-right: 1rem

  div
    display: inline-block
    margin-top: 1em
    margin-bottom: -1em

  &:after
    content: ""
    width: 100%
    display: inline-block

// equally space out images
#footer
  z-index: -100
  text-align: justify
  padding-left: 1rem
  padding-right: 1rem

  div
    display: inline-block
    vertical-align: middle
    margin-top: 0.5em
    margin-bottom: -0.5em

  &:after
    content: ""
    width: 100%
    display: inline-block

#breadcrumbs
  padding: 0.4rem 1rem
  color: #fff
  background: $color_green

  a
    color: #fff

  // Firefox tweak
  button
    vertical-align: top

#subnavigation
  padding: 0.4rem 1rem
  color: #fff
  background: $color_light_green

  a
    color: #fff

// for the full color key
.bold
  font-weight: bold

.italic
  font-style: italic

// Make alternating row colors work in the reference picker.
// Problem: nested tables.
.reference_table > tbody
  background: none !important
  border: 0 !important
