// Special case due to the fixed taxon browser.
// Only used for the "show" action on catalog pages, which is why this file
// is kept outside of the `stylesheets/controllers` subdir.

html, body
  height: 100%

#content
  overflow: hidden

#header
  padding-bottom: 0
  margin-bottom: 0
