@import 'common'

td
  vertical-align: top
  padding-right: 14px

tr.even
  background: red

.change_time
  text-align: right
  width: 70px

.change_row
  td
    padding-bottom: 10px
    font-weight: bold

.change_details_table
  td
    font-weight: normal
    font-style: italic
    padding-top: 0px
    line-height: 12px

.change_details_description
  margin-bottom: 2px

.rollback
  font-size: 14px
  font-weight: normal
  margin-left: 10px
