@import "colors"

.taxt-logged-in-only-bold-warning
  color: red
  font-weight: bold

.taxt-logged-in-only-gray-bold-notice
  color: gray
  font-weight: bold

.taxt-hidden-note
  display: inline
  color: tomato

// For making it easier to see which history items are relational vs. taxt items.
.history-item
  background-color: $color_ac_blue_pale

.taxt-history-item
  background-color: #fff
