@import 'common'

.guidelines
  @include text-font
  ul
    padding: 6px
    padding-top: 12px
    margin-left: 12px
  li
    padding: 4px
    padding-bottom: 16px
    div
      padding-top: 6px
      padding: 6px 0 0

.file_name
  margin-left: 60px
  
