@import 'common'
@import 'widgets/taxt_editor'
@import 'widgets/name_picker'
@import 'widgets/reference_picker'
@import 'widgets/tag_type_selector'

// Structure
.taxon_form
  padding: 10px

  &.ui-widget
    font-size: 14px

  .section
    margin-bottom: 10px

    .section_header
      padding-left: 6px

  .epithet_status_flags_section
    .name input
      width: 150px
      margin-right: 10px
    .notes textarea
      width: 100%
    table
      padding-bottom: 0
      td
        padding-bottom: 4px

  .protonym_section .pages input
    width: 100px

  .type_section .taxt textarea
    width: 100%

  .synonym_section
    padding-right: 3px

  .homonym_section
    padding-left: 3px

  .buttons_section
    .ui-button
      padding: 4px
    img.throbber
      display: none

//elements
ul.error_messages
  color: red
  font-size: 14px
  margin: 0 0 5px 17px

.label
  font-style: italic
  font-size: 14px
  width: 72px

table
  width: 100%

.antcat_tag_type_selector
  margin-top: 6px

.antcat_name_picker input[type=text]
  width: 250px

// jQuery UI
.ui-dialog-titlebar, .ui-dialog-content
  padding: 6px

.ui-dialog-titlebar
  font-style: italic
  font-size: 16px

.ui-dialog-content
  margin-bottom: 6px
