@import 'common'
@import 'widgets/taxt_editor'
@import 'widgets/name_popup'
@import 'widgets/name_field'
@import 'widgets/reference_field'
@import 'widgets/reference_popup'

// Structure
.taxon_form
  padding: 10px

  .taxt_edit_box
    font-size: 14px

  &.ui-widget
    font-size: 14px

  .section
    margin-bottom: 10px

    .section_header
      padding-left: 6px

  .epithet_status_flags_section
    .parentage
      margin-right: 3px
    .epithet input
      width: 150px
      margin-right: 10px
    .notes textarea
      width: 100%
    table
      padding-bottom: 0
      > tr > td
        padding-bottom: 4px
    select
      margin-right: 16px

  .protonym_section
    #protonym_name_field
      display: inline-block
      width: 100%
    #authorship_field
      display: inline-block
    .pages input
      width: 100px

  .type_section .taxt textarea
    width: 100%

  .history_section
    font-size: 15px
    padding-left: 0
    line-height: 1.2
    .template
      display: none
    .section_header
      .right
        margin-right: 4px
    .history_item
      table
        border-spacing: 0
      .edit
        display: none
        .taxt_editor
          margin-bottom: 4px
        .buttons
          margin-bottom: 4px
          .delete
            margin-left: 16px
      .display
        padding-left: 10px
        text-indent: -10px
        &.ui-selecting
          background: $color_current_reference_being_edited_by_reference_field_background

  .junior_and_senior_synonyms_section
    font-size: 15px
    line-height: 1.2
    .container
      width: 50%
    .junior_synonyms_section
      margin-right: 6px
    .synonym_row
      &.ui-selecting
        background: $color_current_reference_being_edited_by_reference_field_background
      button.delete
        margin-left: 10px
        display: none
      button.reverse_synonymy
        margin-left: 0
        display: none
    img.throbber
      display: none
    .edit
      display: none

  .homonym_section
    padding-left: 3px

  .buttons_section
    margin-bottom: 10px
    vertical-align: middle
    position: relative
    .left_buttons
    .right_buttons
      position: absolute
      right: 10px
      top: 0px
      a
        margin-left: 10px
    .ui-button
      padding: 4px
    img.throbber
      display: none
    .show
      margin-left: 7px
    form
      display: inline-block

  .small_button
    font-size: 12px
    line-height: 12px
    height: 10px

//elements
ul.error_messages
  color: red
  font-size: 14px
  margin: 0 0 5px 17px

label
  font-style: italic
  font-size: 14px

td.label
  width: 72px

table
  width: 100%

input[type=checkbox]
  margin-left: 0

td.top_aligned
  vertical-align: top
  padding-top: 3px

.display_button
  white-space: normal

// jQuery UI
.ui-dialog-titlebar, .ui-dialog-content
  padding: 6px

.ui-dialog-titlebar
  font-style: italic
  font-size: 16px

.ui-dialog-content
  margin-bottom: 6px
