// light green #459e00
// dark green #008000
// random dirt #f5f3e5

#tooltips
  border-collapse: collapse
  border: 1px black solid
  thead
    text-align: left
    background: #008000
    color: #fff
  td, th
    padding: 5px 10px
  tbody
    tr
      &:nth-child(even)
        background: #f5f3e5
      &:nth-child(odd)
        background: #fff