%input{type: :hidden, name: :possible_homonym, id: :possible_homonym, value: possible_homonym ? 'true' : nil}

.left_buttons
  -save_button_text = possible_homonym ? 'Save homonym' : 'Save'
  =button_tag type: 'submit', id: "save-taxon-form", class: 'btn-saves has-spinner' do
    =spinner_icon + save_button_text

  -cancel_link = taxon.new_record? ? edit_taxa_path(params[:parent_id]) : catalog_path(taxon)
  =link_to 'Cancel', cancel_link, class: 'btn-cancel'
  =tooltip_icon :cancel, scope: :taxa
