.name_status_flags_section.section
  %table
    =render 'taxa/form/name_section', taxon: taxon, form: form, default_name_string: default_name_string
    %tr.status_row
      %td.caption=form.label :status
      %td=form.select :status, Status.options_for_select

    =render 'taxa/form/homonym_replaced_by_section', taxon: taxon, form: form
    =render 'taxa/form/parent_section', taxon: taxon, form: form
    =render 'taxa/form/current_valid_taxon_section', taxon: taxon, form: form

    %tr.flags_row
      %td
      %td
        =form.label :incertae_sedis_in
        =form.select :incertae_sedis_in, [['(none)', nil], 'family', 'subfamily', 'tribe', 'genus']

        =form.check_box :fossil
        =form.label :fossil do
          Fossil
          =tooltip_icon "fossil", scope: :taxa

        =form.check_box :nomen_nudum
        =form.label :nomen_nudum, 'Nomen nudum'

        =form.check_box :unresolved_homonym
        =form.label :unresolved_homonym, 'Unresolved junior homonym'

        =form.check_box :ichnotaxon
        =form.label :ichnotaxon, 'Ichnotaxon'

        =form.check_box :hong
        =form.label :hong do
          Hong
          =tooltip_icon "hong", scope: :taxa

        =form.check_box :display
        =form.label :display, 'Display'

    %tr.headline_notes_taxt_row
      %td.caption.top_aligned=form.label :headline_notes_taxt, 'Notes'
      %td#headline_notes_taxt_editor.taxt_editor
        =render 'taxt_editors/show', name: 'taxon[headline_notes_taxt]', value: TaxtConverter[taxon.headline_notes_taxt].to_editor_format
