-default_name_string ||= nil
-gender ||= 'unknown'

=form.fields_for :name do |name_form|
  %tr
    -if name_form.object.new_record?
      =hidden_field_tag 'taxon[name_attributes][id]'
    %td.caption.top_aligned
      =name_form.label :name do
        Name
        =tooltip_icon "name", scope: :taxa
      %small
        %em=taxon_name_description taxon
    %td
      .row
        .medium-1.columns
          %span#name_field
            =render 'name_fields/panel', name_string: taxon.name.try(:name),
              default_name_string: default_name_string && "#{default_name_string} "
        -if taxon.name.kind_of? GenusGroupName
          .medium-1.columns.end
            =name_form.select :gender, [ [ 'unknown', nil ], 'masculine', 'feminine', 'neuter' ]
