.protonym_section.section
  .section_header.ui-widget-header.ui-corner-top
    Protonym
  =form.fields_for :protonym do |protonym_form|
    %table.ui-dialog-content.ui-widget-content.ui-corner-bottom.unstriped
      %tr
        =protonym_form.fields_for :name do |name_form|
          -if name_form.object.new_record?
            =hidden_field_tag 'taxon[protonym_attributes][name_attributes][id]'
          %td.caption.top_aligned
            =name_form.label :name do
              Name
              =tooltip_icon "protonym", scope: :taxa
          %td
            #protonym_name_field
              =render 'name_fields/panel', name_string: taxon.protonym.name.try(:name)
      %tr
        %td
        %td
          =protonym_form.check_box :fossil
          =protonym_form.label :fossil

          =protonym_form.check_box :sic
          =protonym_form.label :sic

      %tr
        =protonym_form.fields_for :authorship do |authorship_form|
          %td.caption.top_aligned
            =authorship_form.label :reference do
              Authorship
              =tooltip_icon "authorship", scope: :taxa
          %td
            #authorship_field
              =render 'reference_fields/show', references: nil, reference: authorship_form.object.reference
            =hidden_field_tag 'taxon[protonym_attributes][authorship_attributes][reference_attributes][id]', authorship_form.object.reference.try(:id),
                id: 'taxon_protonym_attributes_authorship_attributes_reference_attributes_id'

          %tr
            %td.caption
              =authorship_form.label :pages do
                Pages
                =tooltip_icon "pages", scope: :taxa
            %td.pages=authorship_form.text_field :pages

          -unless taxon.is_a? Tribe
            %tr
              %td.caption
                =authorship_form.label :forms do
                  Forms
                  =tooltip_icon "forms", scope: :taxa
              %td.forms=authorship_form.text_field :forms

            %tr
              %td.caption
                =protonym_form.label :locality do
                  Locality
                  =tooltip_icon "locality", scope: :taxa
              %td.locality=protonym_form.text_field :locality

          %tr
            %td.caption.top_aligned=form.label :notes_taxt, 'Notes'
            %td#notes_taxt_editor.taxt_editor
              =render 'taxt_editors/show', name: 'taxon[protonym_attributes][authorship_attributes][notes_taxt]', value: TaxtConverter[taxon.protonym.authorship.notes_taxt].to_editor_format
