.type_section.section
  .section_header.ui-widget-header.ui-corner-top
    Type
  %table.ui-dialog-content.ui-widget-content.ui-corner-bottom.unstriped
    -if taxon.kind_of? SpeciesGroupTaxon
      %tr
        %td.caption
          =form.label :biogeographic_region do
            Biogeographic region
            =tooltip_icon "type.biogeographic_region", scope: :taxa
        %td=form.select :biogeographic_region, biogeographic_region_options_for_select(taxon.biogeographic_region)

    -else
      %tr
        =form.fields_for :type_name do |type_name_form|
          -if taxon.type_name.new_record?
            =hidden_field_tag 'taxon[type_name_attributes][id]'
          %td.caption=type_name_form.label :name
          %td
            #type_name_field
              =render 'name_fields/panel', name_string: taxon.type_name.try(:name)
      %tr
        %td.caption=form.label :type_fossil, 'Fossil'
        %td=form.check_box :type_fossil

      %tr
        %td.caption=form.label :type_taxt, 'Notes'
        %td#type_taxt_editor.taxt_editor
          =render 'taxt_editors/show', name: 'taxon[type_taxt]', value: TaxtConverter[taxon.type_taxt].to_editor_format
