.callout
  %h5.callout-header Type
  %table.unstriped.no-border
    -if taxon.kind_of? SpeciesGroupTaxon
      %tr
        %td.caption=form.label :primary_type_information
        %td=render 'shared/taxt_editor/template', name: 'taxon[primary_type_information]', content: taxon.primary_type_information, id: :taxon_primary_type_information
      %tr
        %td.caption=form.label :secondary_type_information
        %td=render 'shared/taxt_editor/template', name: 'taxon[secondary_type_information]', content: taxon.secondary_type_information, id: :taxon_secondary_type_information
      %tr
        %td.caption=form.label :type_notes
        %td=render 'shared/taxt_editor/template', name: 'taxon[type_notes]', content: taxon.type_notes, id: :taxon_type_notes

      %tr
        %td.caption
          =form.label :biogeographic_region do
            Biogeographic region
            =tooltip_icon "type.biogeographic_region", scope: :taxa
        %td=form.select :biogeographic_region, biogeographic_region_options_for_select(taxon.biogeographic_region)

    -else
      %tr
        =form.fields_for :type_name do |type_name_form|
          -if taxon.type_name.new_record?
            =hidden_field_tag 'taxon[type_name_attributes][id]'
          %td.caption=type_name_form.label :name
          %td
            #type_name_field
              =render 'name_fields/panel', name_string: taxon.type_name.try(:name)
      %tr
        %td.caption=form.label :type_fossil, 'Fossil'
        %td=form.check_box :type_fossil

      %tr
        %td.caption=form.label :type_taxt, 'Notes'
        %td=render 'shared/taxt_editor/template', name: 'taxon[type_taxt]', content: taxon.type_taxt, id: :taxon_type_taxt
