Hello <%= @resource.email %>!
<p>
The California Academy of Sciences invites you to <%= root_url %>
</p>
<%= link_to 'Accept invitation', accept_invitation_url(@resource, invitation_token: @resource.invitation_token) %>
</p>
<p>
This is an invitation to become an AntCat editor. If you accept, you will be
able to add and change information in the catalog and bibliography. You will also be
able to download all PDFs. We appreciate your contributions!
<p>
If you don't want to accept the invitation, just ignore this email.
</p>
<p>For editing guidelines, please read http://antcat.org/pages/editing_guidelines.
<p>
<p>To practice editing without changing the real catalog, go to preview.antcat.org.
</p>
<p>
Thank you!<br/>
Stan Blum<br/>
sblum@calacademy.org
</p>
