=form_tag catalog_search_path, method: :get do
  .row
    .medium-2.columns
      Rank
      =select_tag :rank, rank_options_for_select(params[:rank])
    .medium-2.columns
      Described by
      =text_field_tag :author_name, params[:author_name], id: "author_name-js-hook"
    .medium-2.columns
      Described year
      =text_field_tag :year, params[:year], placeholder: "eg 1990, or 2000-2005"
    .medium-3.columns
      Name contains
      =text_field_tag :name, params[:name]
    .medium-3.columns.end
      Genus contains
      =text_field_tag :genus, params[:genus]

  .row
    .medium-4.columns
      Biogeographic region
      =select_tag :biogeographic_region, search_biogeographic_region_options_for_select(params[:biogeographic_region])
    .medium-4.columns
      Locality contains
      =text_field_tag :locality, params[:locality]
    .medium-4.columns.end
      Verbatim type locality contains
      =text_field_tag :verbatim_type_locality, params[:verbatim_type_locality]

  .row
    .medium-4.columns
      Type specimen repository contains
      =text_field_tag :type_specimen_repository, params[:type_specimen_repository]
    .medium-4.columns
      Type specimen code contains
      =text_field_tag :type_specimen_code, params[:type_specimen_code]
    .medium-4.columns.end
      Forms contains
      =text_field_tag :forms, params[:forms]

  .row
    .medium-12.columns
      =check_box_tag :valid_only, true, !!params[:valid_only]
      =label_tag 'Valid only?'

      =button_tag type: 'submit', name: nil, class: 'btn-normal has-spinner' do
        =spinner_icon + "Go"

      -if !@is_quick_search && @taxa.present?
        =link_to 'Download (advanced search only)', "/catalog/search.txt?#{request.parameters.to_param}", class: "btn-normal download-button-hack"
