=form_tag catalog_search_path, method: :get do
  .row
    .medium-2.columns
      Rank
      =select_tag :rank, rank_options_for_select(params[:rank])
    .medium-2.columns
      Described by
      =text_field_tag :author_name, params[:author_name], id: "author_name-js-hook"
    .medium-2.columns
      Described year
      =text_field_tag :year, params[:year], placeholder: "eg 1990, or 2000-2005"
    .medium-3.columns
      Name contains
      =text_field_tag :name, params[:name]
    .medium-3.columns.end
      Genus contains
      =text_field_tag :genus, params[:genus]

  .row
    .medium-3.columns
      Biogeographic region
      =select_tag :biogeographic_region, search_biogeographic_region_options_for_select(params[:biogeographic_region])
    .medium-3.columns
      Locality contains
      =text_field_tag :locality, params[:locality]
    .medium-3.columns
      Type information contains
      =text_field_tag :type_information, params[:type_information]
    .medium-3.columns.end
      Forms contains
      =text_field_tag :forms, params[:forms]

  .row
    .medium-2.columns
      Status
      =select_tag :status, search_status_options_for_select(params[:status])
    .medium-1.columns
      Fossil
      =select_tag :fossil, any_yes_no_options_for_select(params[:fossil])
    .medium-2.columns
      Nomen nudum
      =select_tag :nomen_nudum, any_yes_no_options_for_select(params[:nomen_nudum])
    .medium-3.columns
      Unresolved junior homonym
      =select_tag :unresolved_junior_homonym, any_yes_no_options_for_select(params[:unresolved_junior_homonym])
    .medium-1.columns
      Ichnotaxon
      =select_tag :ichnotaxon, any_yes_no_options_for_select(params[:ichnotaxon])
    .medium-1.columns.end
      Hong
      =select_tag :hong, any_yes_no_options_for_select(params[:hong])

  .row
    .medium-2.columns.end
      =check_box_tag :valid_only, true, !!params[:valid_only]
      =label_tag 'Valid only?'

  .row
    .medium-3.columns.end
      =per_page_select params[:per_page]

  .row
    .medium-12.columns
      =button_tag type: 'submit', name: nil, class: 'btn-normal has-spinner' do
        =spinner_icon + "Go"
      -if !@is_quick_search && @taxa.present?
        =link_to 'Download (advanced search only)', "/catalog/search.txt?#{request.parameters.to_param}", class: "btn-normal download-button-hack"
