=form_tag catalog_quick_search_path, method: :get do
  .row
    .medium-3.columns
      =search_type_selector params[:search_type]
    .medium-3.columns
      .input-group
        =text_field_tag "qq", params[:qq], class: "input-group-field"
        .input-group-button
          =button_tag type: "submit", name: nil, class: "button has-spinner" do
            =spinner_icon + "Go"
    .medium-3.columns.end
      =hidden_field_tag :valid_only, "false"
      =check_box_tag :valid_only, true, (params[:valid_only].blank? || params[:valid_only] == "true")
      %label.middle Valid only?
