=form_tag catalog_quick_search_path, method: :get do
  .row
    .medium-3.columns
      =search_type_selector params[:search_type]
    .medium-3.columns.end
      =text_field_tag "qq", params[:qq], class: "input-group-field"

  .row
    .medium-3.columns
      =per_page_select params[:per_page]
    .medium-3.columns.end
      =check_box_tag :valid_only, true, !!params[:valid_only]
      %label.middle Valid only?

  .row
    .medium-3.columns.end
      =button_tag type: "submit", name: nil, class: "button has-spinner" do
        =spinner_icon + "Go"
