%tr
  %td
    -presenter = AdvancedSearchPresenter::HTML.new
    =presenter.format_name taxon
    =presenter.format_status_reference taxon
    =presenter.format_type_localities taxon
    =presenter.format_forms taxon
    =presenter.format_protonym taxon
