-if taxa.empty?
  .alert.callout
    -if is_author_search
      No results found. If you're choosing an author, make sure you pick the name from the dropdown list.
    -else
      No results found.
-else
  %table
    %caption=pluralize_with_delimiters taxa.count, 'result'
    -taxa.each do |taxon|
      %tr
        %td
          -presenter = AdvancedSearchPresenter::HTML.new
          =presenter.format_name taxon
          =presenter.format_status_reference taxon
          =presenter.format_type_localities taxon
          =presenter.format_forms taxon
          =taxon.authorship_reference.decorate.expandable_reference

  =will_paginate taxa
