-@title = "Set subgenus"
-breadcrumb :edit_taxon, @taxon

.row
  .medium-12.columns
    %p
      The currently set subgenus of
      =@taxon.link_to_taxon
      is
      -if @taxon.subgenus
        =@taxon.subgenus.decorate.link_to_taxon
      -else
        (none)

    -if @taxon.genus.subgenera.empty?
      %p The genus of this species does not have any subgenera.
      %p=link_to "Add #{@taxon.genus.name.name_html} subgenus".html_safe, new_taxa_path(rank_to_create: 'Subgenus', parent_id: @taxon.genus.id), class: "btn-normal btn-tiny"
    -else
      %table
        %caption
          Subgenera of
          =@taxon.genus.link_to_taxon
        %tbody
          -@taxon.genus.subgenera.order_by_name.includes(:name, protonym: [{ authorship: :reference }]).each do |subgenus|
            %tr
              %td
                -if @taxon.subgenus == subgenus
                  =link_to 'Remove', taxa_set_subgenus_path(@taxon), method: :delete,  class: 'btn-warning btn-very-tiny'
                -else
                  =link_to 'Set', taxa_set_subgenus_path(@taxon, subgenus_id: subgenus.id), method: :post,  class: 'btn-saves btn-tiny'
              %td=subgenus.link_to_taxon
              %td=subgenus.author_citation
              %td.shrink=subgenus.expanded_status
