- if items
  .rank
    %table
      %tr
        %td.header= header
      %tr
        %td
          %table
            - if show_none
              - items = items.to_a
              - items.insert 0, 'no_subfamily'
            - rows, css_class = snake_taxon_columns items
            - rows.each do |row|
              %tr
                - row.each do |item|
                  %td{:class => css_class}
                    - if item
                      = taxon_link item, selected_item, :q => q, :search_type => search_type
