-show_delete_button ||= false

-if activities.empty?
  No activities.
-else
  %table.activities.stack
    %tbody
      -activities.each do |activity|
        -decorated = activity.decorate
        %tr.highlight-activity-anchor{id: decorated.css_anchor_id}
          %td.icon=decorated.icon
          %td
            -if activity.user&.unconfirmed?
              %span.rounded-badge unconfirmed user
            =decorated.link_user
            =decorated.did_something
            -if activity.edit_summary?
              .gray-text.with-gray-links
                Edit summary:
                =markdown_without_wrapping activity.edit_summary
          %td
            =decorated.revision_history_link
            -if activity.request_uuid
              =link_to 'uuid', versions_path(request_uuid: activity.request_uuid), class: "btn-normal btn-tiny"
          %td.activity-link-wrapper.no-wrap
            %span.hide-on-hover=decorated.when
            %span.show-on-hover.show-in-test-test-hook
              =link_to 'Link', activity, class: 'btn-normal btn-very-tiny'
              =activities_link activity.trackable_type, activity.trackable_id
              -if user_is_superadmin? && show_delete_button
                =link_to append_superadmin_icon("Delete"), activity_path(activity), method: :delete, data: { confirm: "Delete?" }, class: "btn-warning btn-very-tiny"
