-show_delete_button ||= false
-page ||= nil

-if activities.empty?
  No activities.
-else
  %table.activities.stack
    %tbody
      -activities.each do |activity|
        -decorated = activity.decorate
        %tr.highlight-activity-anchor{id: "activity-#{activity.id}"}
          %td.icon=decorated.icon
          %td
            -if activity.user&.unconfirmed?
              %span.rounded-badge unconfirmed user
            -# Don't show user who created other users' accounts.
            =decorated.link_user unless activity.trackable_type == 'User'
            =decorated.did_something
            -if activity.edit_summary?
              .gray-text.with-gray-links
                Edit summary:
                =markdown activity.edit_summary, no_wrapping_p: true
          %td
            =decorated.revision_history_link
            -if activity.request_uuid
              =link_to 'uuid', versions_path(request_uuid: activity.request_uuid), class: "btn-normal btn-tiny"
          %td.activity-link-wrapper.no-wrap
            %span.hide-on-hover=decorated.when
            %span.show-on-hover
              =link_to 'Link', decorated.anchor_path, class: 'btn-normal btn-very-tiny'
              =activities_link activity.trackable_type, activity.trackable_id
              -if user_is_superadmin? && show_delete_button
                =link_to append_superadmin_icon("Delete"), activity_path(activity, page: (params[:page] || page)), method: :delete, data: { confirm: "Delete? Note that this is for deleting feed items that should't had been created in the first place (ie debugging). If someone edits a taxon and then reverts the change, the feed should still display both actions." }, class: "btn-warning btn-very-tiny"
