-# Another hack for the title/breadcrumb.
-if params[:id]
  -@title = "Activity Item ##{params[:id]}"
  -breadcrumb :activity_item, params[:id]
-else
  -@title = "Activity Feed"
  -breadcrumb :activity_feed

=render_filters do
  =check_box_tag :show_automated_edits, false, !!params[:show_automated_edits]
  Show automated edits?

=render "table", activities: @activities, show_delete_button: true, page: @page

-# HACK: So that the id param isn't included in pagination links.
=will_paginate @activities, params: { id: nil }
