%p Use this page to find records that may require updating if you are creating a new combination.

%p
  New combinations cannot be created automatically. Please update relevant items one-by-one.

%p
  History items can be moved using the "Move item" links (in the catalog). Protonyms can be changed for existing taxa in the taxon form.
