-title "Create combination help"
-breadcrumb :create_combination_help, @taxon

-content_for :javascripts do
  =javascript_include_tag "taxon_select"

-content_for :breadcrumbs_right do
  =link_to "Hide/show help", "#", data: { show_hide_toggler_for: "help" }, class: "btn-nodanger"

=form_with url: taxa_create_combination_help_path, method: :get do |f|
  .row{data: { show_hide_toggable_id: "help" }}
    .medium-12.columns
      .callout
        %h6 Help
        =render "help_text"

  .row.margin-bottom
    .medium-12.columns
      %h5 Search for existing combinations
      .row
        .medium-6.columns
          %fieldset.fieldset
            %legend Taxon
            =@taxon.decorate.id_and_name_and_author_citation

        .medium-6.columns
          %fieldset.fieldset
            %legend
              Select new parent
            =taxon_select_tag :new_parent_id, params[:new_parent_id], rank: @target_rank
            %br
            =f.button "Search", class: "btn-normal"

  .row.margin-bottom
    .medium-12.columns
      %h5 Other records referencing this taxon
      .callout
        %p
          Records that are of particular relevance are listed in tables below.

          Please check
          =link_to "this page", taxon_what_links_here_path(@taxon), class: 'btn-normal btn-tiny'
          for all items we are able to find.

  .row.margin-bottom
    .medium-12.columns
      %h5 Taxa where this taxon is set as the current taxon
      .callout
        -if @taxon.current_taxon_of.empty?
          None
          =antcat_icon("check")
        -else
          %table.table
            %thead
              %tr
                %th Taxon
                %th Status
                %th What Links Here
                %th Same protonym?
                %th Has history items?

            -@taxon.current_taxon_of.each do |taxon|
              %tr
                %td.no-wrap
                  =CatalogFormatter.link_to_taxon(taxon)
                  =taxon.author_citation
                %td=taxon.status
                %td=link_to "What Links Here", taxon_what_links_here_path(taxon), class: 'btn-normal btn-tiny'
                %td
                  -if taxon.protonym == @taxon.protonym
                    Yes
                    =antcat_icon("check")
                  -else
                    No,
                    =taxon.protonym.decorate.link_to_protonym
                %td
                  -if taxon.history_items_for_taxon.present?
                    =antcat_icon("check")

  .row.margin-bottom
    .medium-12.columns
      %h5
        Taxa with the same protonym
        =surround '(', ')' do
          =@taxon.protonym.decorate.link_to_protonym
      .callout
        -same_protonym_taxa = @taxon.protonym.taxa.where.not(id: @taxon.id)
        -if same_protonym_taxa.empty?
          None
          =antcat_icon("check")
        -else
          %table.table
            %thead
              %tr
                %th Taxon
                %th Status
                %th What Links Here
                %th Has history items?

            -same_protonym_taxa.each do |taxon|
              %tr
                %td.no-wrap=CatalogFormatter.link_to_taxon(taxon)
                %td=taxon.status
                %td=link_to "What Links Here", taxon_what_links_here_path(taxon), class: 'btn-normal btn-tiny'
                %td
                  -if taxon.history_items_for_taxon.present?
                    =antcat_icon("check")

  -if @taxon.is_a? Species
    .row.margin-bottom
      .medium-12.columns
        %h5 Valid subspecies
        .callout
          -valid_subspecies = @taxon.subspecies.valid
          -if valid_subspecies.empty?
            None
            =antcat_icon("check")
          -else
            %table.table
              %thead
                %tr
                  %th Taxon
                  %th What Links Here
                  %th Has history items?
                  %th Is set as the current taxon of other taxa?

              -valid_subspecies.each do |taxon|
                %tr
                  %td.no-wrap
                    =CatalogFormatter.link_to_taxon(taxon)
                    =taxon.author_citation
                  %td=link_to "What Links Here", taxon_what_links_here_path(taxon), class: 'btn-normal btn-tiny'
                  %td
                    -if taxon.history_items_for_taxon.exists?
                      =antcat_icon("check")
                  %td
                    -if taxon.valid_status? && Taxon.where(current_taxon: taxon).exists?
                      =antcat_icon 'warning-icon'
                      Yes
