-# based on https://github.com/activeadmin/activeadmin/wiki/Auditing-via-paper_trail-(change-history)
-if @versions.empty?
  %p This item does not have any previous versions.
-else
  %h3 Current version: #{@versions.size}
  -version = @versions.last
  -created_at = version.created_at
  %p Last edited #{time_ago_in_words created_at} ago

  -if @versions.size > 1
    -version_param = params[:version].try :to_i

    -if version_param
      %h3 Showing version #{version_param}
      -version = @versions[version_param]
      -created_at = version.created_at
      %p Created #{time_ago_in_words created_at} ago
      =link_to "Go to current version"

    -# Should we show the "Previous version" link? We let this bad boy decide.
    -prev_version = case version_param
    -when nil then @versions.size - 1 # no id param --> second to last version
    -when 0   then nil                # id is 0     --> dont show prev link
    -else          version_param - 1  # else        --> show previous version
    =link_to("Previous version", version: prev_version) if prev_version