-@title = "#{@comparer.most_recent.name} (##{@comparer.most_recent.id}) - Name records"
-breadcrumb :name_history, @comparer.most_recent

=render file: "compare_revisions/show", locals: { comparer: @comparer, hide_formatted: true }
