@import "colors"

// "ui" = jQuery UI.

.ui-menu
  list-style: none

.ui-state-focus
  background: $color_green !important

.reference-search-form
  #q, #author_q, #search_type
    height: 1.8rem
    margin-bottom: 0
  #author_q, #search_type
    width: 11rem
  #author_q
    display: none
  #search_type
    padding: 0 0.5rem

  // Firefox tweaks
  a, #search_type
    vertical-align: top
  input.typeahead, #author_q
    padding: 0 0.5rem
