@import "colors"

@mixin after-label
  margin-left: 0.4rem
  // Remove inherited italics/bold.
  font-style: normal
  font-weight: normal

@mixin scream-orange-after-label
  @include after-label
  background: $color_scream_orange
  color: white

@mixin scream-green-after-label
  @include after-label
  background: $color_scream_green
  color: white

.color-coded-catalog-links
  .valid
    color: red !important

  .synonym
    color: $color_really_dark_gray_text !important

  .unidentifiable, .excluded-from-Formicidae
    color: darkblue !important

  .unavailable
    color: purple !important

  .homonym, .unresolved_homonym
    color: brown !important

  .obsolete-combination
    color: green !important

.color-coded-catalog-links-after-labels
  .unavailable-uncategorized::after
    @include scream-orange-after-label
    content: "unavailable uncategorized"

  .unavailable-misspelling::after
    @include scream-orange-after-label
    content: "unavailable misspelling"

  .unresolved-homonym::after
    @include scream-orange-after-label
    content: "unresolved homonym"

  .protonym::after
    @include scream-green-after-label
    content: "protonym"
