// TODO: Cleanup and reorganize.

@import colors

/////////// Buttons ///////////
@mixin base-button($background-color, $color: #fff, $border-color: auto)
  background-color: $background-color
  color: $color
  cursor: pointer

  &:hover, &:focus
    background-color: scale-color($background-color, $lightness: -20%)

  @if $border-color == auto
    $border-color: $background-color
  border: 1px solid $border-color

  &.disabled
    opacity: 0.50
    cursor: not-allowed

button
  padding: 0
  border: 0

.btn-default, .btn-saves, .btn-warning, .btn-neutral
  display: inline-block
  padding: 0.5rem 0.7rem
  font-size: 0.8125rem
  line-height: 0.75rem
  border-radius: 3px

.btn-default
  @include base-button($color_ac_blue)
  color: #fff !important

.btn-saves
  @include base-button($color_save)

.btn-warning
  @include base-button($color_danger)

.btn-neutral
  @include base-button(#fff, #000, #000)

.btn-lower-nav
  @include base-button($color_ac_blue, $border-color: $color_ac_blue_pale)
  display: inline-block
  font-size: 0.8125rem
  line-height: 0.75rem
  border-radius: 3px
  padding: 0.30rem 0.5rem


.btn-lower-nav-neutral
  @include base-button(#fff, #000)
  color: #000 !important

.btn-lower-nav-high-priority
  @include base-button($color_high_priority)

a.btn-warning
  &:hover
    color: #fff

a.btn-neutral
  color: #000 !important

.btn-tiny
  padding: 0.30rem 0.5rem
  white-space: nowrap

// For inline "show on hover" buttons to avoid making the layout jump.
.btn-very-tiny
  padding: 0.15rem 0.2rem !important
  margin-bottom: 0
  white-space: nowrap
  display: inline

/////////// Callouts ///////////
.callout
  line-height: 1.5
  margin: 0 0 1rem 0
  padding: 1rem
  border: 1px solid rgba(10, 10, 10, 0.25)
  border-radius: 5px

  &> :first-child
    margin-top: 0
  &> :last-child
    margin-bottom: 0

.callout-primary
  @extend .callout
  background-color: scale-color($color_ac_blue, $lightness: 85%)

.callout-alert
  @extend .callout
  background-color: scale-color($color_danger, $lightness: 85%)

.callout-warning
  @extend .callout
  background-color: scale-color($color_warning, $lightness: 85%)

/////////// Labels ///////////
.label
  border-collapse: collapse
  border-spacing: 0
  display: inline-block
  padding: 0.33rem 0.5rem
  padding-top: 0.33rem
  padding-bottom: 0.33rem
  font-size: 0.8rem
  line-height: 1
  white-space: nowrap
  background: $color_ac_blue
  color: #fff
  border-radius: 3px

.label-secondary
  @extend .label
  background: $color_darker_gray
  color: #fff
  a
    color: #fff

.label-white
  @extend .label
  background-color: #fff
  border: 1px solid #000
  color: #000 !important
  a
    color: #000 !important

.label-pretty
  @extend .label
  background-color: $color_ac_blue

.label-high-priority
  @extend .label
  background-color: $color_high_priority

.label-green
  @extend .label
  background-color: $color_scream_green
  color: #000

.label-warning
  @extend .label
  background-color: $color_danger

.rounded-badge
  @extend .label
  border-radius: 10px

/////////// Pagination ///////////
.pagination
  .current
    border-radius: 3px
    font-style: normal
    padding: 0.1875rem 0.625rem
    background: $color_ac_blue
    color: #fff

  .disabled
    line-height: 1.5
    padding: 0.1875rem 0.625rem
    color: $color_medium_gray
    cursor: not-allowed

  em
    font-style: normal

.pagination a
  display: inline
  text-decoration: none
  padding: 0.1875rem 0.625rem
  border-radius: 3px
  color: #000
  display: inline
  background: $color_light_gray
