@import "colors"

// TODO: Fix specificity (CSS layers or import order) and remove `!important`.
.border-0
  border-width: 0px !important

pre
  overflow: auto

pre.pre-wrapped
  white-space: pre-wrap
  word-wrap: break-word

.truncated
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

hr.discreet
  width: 90%

td.grow-tw-conflict
  width: 100%

th.no-wrap, td.no-wrap
  white-space: nowrap

table td.shrink-tw-conflict
  max-width: 100%
  white-space: nowrap
  width: 1px

.with-gray-links
  a
    color: $color_dark_gray_text !important
    text-decoration: underline $color_gray_text dotted

ul.compact-list
  font-size: 95%
  line-height: 1.2

a.gray
  color: $color_dark_gray !important

.bold-warning
  color: red
  font-weight: bold

.bold-notice
  color: navy
  font-weight: bold

.gray-notice
  color: gray
  font-weight: bold

.purple-notice
  color: purple
  font-weight: bold

// To make tables sortable.
.hidden-sort
  display: none

// Only visible to logged in users (see `logged_in_only.sass`).
.taxt-hidden-note
  display: none

// TODO: This is a button, not a label nor a badge.
.ex-label-secondary
  display: inline-block
  padding: 0.33rem 0.5rem
  font-size: 0.8rem
  line-height: 1
  white-space: nowrap
  color: #fff
  border-radius: 3px
  a
    color: #fff

/////////// Callouts ///////////
.callout
  line-height: 1.5
  margin: 0 0 1rem 0
  padding: 1rem
  border: 1px solid rgba(10, 10, 10, 0.25)
  border-radius: 5px

  &> :first-child
    margin-top: 0
  &> :last-child
    margin-bottom: 0

.callout-primary
  @extend .callout
  background-color: $color_ac_blue_pale

.callout-alert
  @extend .callout
  background-color: #fce6e2

.callout-warning
  @extend .callout
  background-color: #fff3d9
