@import "colors"

.left
  float: left

.right
  float: right

.valid
  color: red !important

.synonym, .obsolete_combination
  color: black !important

.unidentifiable, .collective_group_name, .excluded_from_formicidae
  color: darkblue !important

.unavailable, .nomen_nudum
  color: purple !important

.homonym, .unresolved_homonym
  color: brown !important

.subspecies.valid
  color: blue !important

.original_combination
  color: green !important

button
  white-space: nowrap

caption
  text-align: left

td.grow
  width: 100%

th.no-wrap, td.no-wrap
  white-space: nowrap

.center-text
  text-align: center

.gray-text
  color: $color_gray_text

.with-gray-links
  a
    color: $color_gray_text !important

pre.wrapped
  white-space: pre-wrap
  word-wrap: break-word

.margin-top
  margin-top: 2rem

.margin-bottom
  margin-bottom: 2rem

.small-margin-bottom
  margin-bottom: 1rem

.no-margin-bottom
  margin-bottom: 0

.vertical-align-top
  vertical-align: top

// TODO see if we can unite all "gray/closed/approved/etc".
.gray
  color: darkgray

a.gray
  color: darkgray !important

.bold-warning
  color: red
  font-weight: bold

.show-on-hover
  display: none

table td.shrink
  max-width: 100%
  white-space: nowrap
  width: 1px

.callout-header
  padding: 0.5rem
  font-size: 1rem
  background-color: #ddd

svg.search-icon, .no-left-border-radius
  border-top-left-radius: 0 !important
  border-bottom-left-radius: 0 !important

.no-right-border-radius
  border-top-right-radius: 0 !important
  border-bottom-right-radius: 0 !important

.external-link:after
  font-family: 'FontAwesome'
  content: "\a0\f08e"
  font-size: 90%

.pdf-link:after
  font-family: 'FontAwesome'
  content: "\a0\f016"
  font-size: 80%

.inline-search-icon
  position: relative
  z-index: 1
  left: -25px
  top: 9px
  color: $color_primary
  cursor: pointer
  width: 0

fieldset
  border-radius: 5px

.user-mention
  font-weight: bold
