@import "colors"

body
  color: #000
  font-family: Raleway, "Helvetica Neue", Arial, sans-serif

  @media screen and (min-height: 640px) and (min-width: 640px)
    padding-bottom: 10rem

.catalog-controller
  #content
    min-height: 65vh

footer
  @media screen and (min-height: 640px) and (min-width: 640px)
    position: absolute
    right: 0
    bottom: 0
    left: 0
  a:hover, a:focus
    font-weight: bold
