@import "colors"

html
  height: 100%
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  position: relative
  margin: 0
  min-height: 100%
  line-height: 1.5
  color: $color_foundation_black
  font-family: Raleway, "Helvetica Neue", Arial, sans-serif
  @media screen and (min-height: 640px) and (min-width: 640px)
    padding-bottom: 10rem

.catalog-controller
  #content
    min-height: 65vh
    padding-bottom: 8rem

#content
  padding-top: 3em
  padding-bottom: 8rem

#header, #content
  padding-left: 1rem
  padding-right: 1rem

footer
  @media screen and (min-height: 640px) and (min-width: 640px)
    position: absolute
    right: 0
    bottom: 0
    left: 0
  background-color: $color_primary
  color: #fff
  a
    color: #fff
  a:hover, a:focus
    font-weight: bold
    color: #fff
