@import "colors"

.preview-area
  .preview-previewable
    border: 1px solid $color_medium_gray
    min-height: 4rem

  textarea
    margin-bottom: 0

  .broken-markdown-link
    color: red

textarea[data-previewable]
  font-size: 120%
