@import "colors"

.preview-area
  border: 1px solid $color_medium_gray
  margin-bottom: 1rem
  padding: 0.4rem

  .preview-previewable
    border: 1px solid $color_medium_gray
    padding: 0.4rem

  textarea
    margin-bottom: 0

  .broken-markdown-link
    color: red

  .shared-spinner
    color: $color_green !important
    display: none
