@import "colors"

$mobile-topbar-background: $color_primary

#header
  ::-webkit-input-placeholder
    font-size: 90%
  ::-moz-placeholder
    font-size: 90%
  ::-ms-input-placeholder
    font-size: 90%
  ::placeholder
    font-size: 90%

  font-family: Montserrat, Roboto, "Helvetica Neue", Arial, sans-serif
  background-color: $color_primary
  padding-top: 1rem
  padding-bottom: 2rem
  @media screen and (max-width: 999px)
    padding-bottom: 1rem
  color: #fff

  .top-bar
    white-space: nowrap !important
    padding-left: 0
    padding-right: 0
    .top-bar-title
      color: #000 !important
      margin-left: 0 !important
    li.unseen-notifications.unconfirmed-user
      @media screen and (min-width: 999px)
        padding-bottom: 1rem
    li.unseen-notifications
      font-size: 90%
      > a
        padding: 0.7rem
        color: #fff
        font-weight: bold
        > span
          cursor: pointer
          color: $color_primary
          background-color: #fff
        .what-is-this-unconfirmed-user
          background-color: inherit !important
          color: #fff

  #desktop-only
    // Show localhost link.
    &:hover .show-on-hover
      display: inline
      margin-right: 1rem
    #desktop-logo
      margin-top: 1.3rem
      color: $almost_white !important
    #desktop-menu
      #desktop-lower-menu
        .reference-search-form
          margin-right: 1rem
        .expandable-catalog-search
          width: 155px
        .expandable-reference-search
          width: 180px
        .expandable-catalog-search, .expandable-reference-search
          transition: all .5s
          height: 2.6rem !important
          margin-right: 0rem
          // Fix background after typeahead.
          background-color: #fff !important
          &:focus
            width: 250px
        .without-top-padding
          padding-top: 0 !important

  #mobile-only
    font-size: 90%
    .menu-icon
      margin-top: 10px
    #mobile-menu
      background-color: $mobile-topbar-background
    #mobile-logo
      > span
        padding-right: 1rem
    li.unseen-notifications
      list-style: none
      float: right
    .vertical.menu
      margin-bottom: 1rem
      padding-bottom: 0.7rem
      a
        color: #fff
    #search-row
      padding-left: 1rem
      padding-right: 1rem
      margin-bottom: 5px
      .mobile-search-button
        border: 2px #fff solid
      // Restore width after Typeahead.
      .twitter-typeahead
        width: 100%

  #tagline
    @media screen and (max-width: 640px)
      font-size: 85%

#breadcrumbs
  margin-bottom: 2rem
