@import "colors"

$mobile-topbar-background: #262c3a

#header
  ::-webkit-input-placeholder
    font-size: 90%
  ::-moz-placeholder
    font-size: 90%
  ::-ms-input-placeholder
    font-size: 90%
  ::placeholder
    font-size: 90%

  font-family: Montserrat, Roboto, "Helvetica Neue", Arial, sans-serif
  background-color: $almost_white
  padding-top: 1rem

  .top-bar
    white-space: nowrap !important
    margin-bottom: 2rem
    padding-left: 0
    padding-right: 0
    .top-bar-title
      color: #000 !important
      margin-left: 0 !important
    li.unseen-notifications > a > span
      cursor: pointer

  #desktop-only
    // Show localhost link.
    &:hover .show-on-hover
      display: inline
      margin-right: 1rem
    #desktop-logo
      margin-top: 2.1rem
    #desktop-menu
      #desktop-lower-menu
        .reference-search-form
          margin-right: 1rem
        .expandable-catalog-search
          width: 130px
        .expandable-reference-search
          width: 165px
        .expandable-catalog-search, .expandable-reference-search
          transition: all .5s
          height: 2.6rem !important
          margin-right: 0rem
          // Fix background after typeahead.
          background-color: #fff !important
          &:focus
            width: 250px
        .without-top-padding
          padding-top: 0 !important

  #mobile-only
    #mobile-menu
      background-color: $mobile-topbar-background
      a
        color: #fff
    #mobile-logo
      > span
        padding-right: 1rem

    li.unseen-notifications
      list-style: none
      float: right

    .vertical.menu
      margin-bottom: 1rem
      padding-bottom: 0.7rem

    #catalog-search-row
      padding-left: 1rem
      padding-right: 1rem

  #breadcrumbs
    color: #000 !important
    margin-bottom: 2rem
    font-size: 90%
    a
      color: $color_primary_light
      font-weight: 500
    // Firefox tweak.
    button
      vertical-align: top

  #tag-line
    margin-top: 0.3rem
