@import "colors"

.reference_key_and_expansion
  &:hover
    cursor: pointer

  .reference_key_expansion
    display: none

    .reference_key_expansion_text
      background: $color_pale_green
      &:hover
        background: $color_light_green
        color: #fff
