.references-controller
  .css-tabs
    input.tab-input
      & + label
        border: 1px solid $color_dark_gray
        background: $color_light_gray
        padding: 4px 1rem
        border-radius: 5px 5px 0 0
        position: relative
        top: 1px
      & ~ .tab
        display: none
        border-top: 1px solid $color_dark_gray
        padding: 1rem
      &:checked
        & + label
          background: #fff
          border-bottom: 1px solid transparent

    .tab
      border: 1px solid $color_dark_gray

  #article-tab:checked ~ #article-tab-content,
  #book-tab:checked    ~ #book-tab-content,
  #nested-tab:checked  ~ #nested-tab-content,
    display: block
