$color_revision_red: #fcdcd6
$color_revision_green: #dafebf

#revision-comparer
  .callout.make-red
    background-color: $color_revision_red

  .callout.make-green
    background-color: $color_revision_green

  table.revisions tbody tr
    background-color: #fff !important // Remove Foundation background.

    &.make-red
      background-color: $color_revision_red !important

    &.make-green
      background-color: $color_revision_green !important
