@import "colors"

.spinner
  display: inline-block
  opacity: 0
  width: 0
  -webkit-transition: opacity 0.25s, width 0.25s
  -moz-transition: opacity 0.25s, width 0.25s
  -o-transition: opacity 0.25s, width 0.25s
  transition: opacity 0.25s, width 0.25s

.has-spinner
  &.disabled
    cursor: progress
    .spinner
      opacity: 1
      width: auto
  &.disabled .spinner
    width: 16px

.shared-spinner
  margin-left: 3px
  color: #fff
  display: none

// To make white spinners visible in the pickers. `.throbber` is from
// the previous spinner; the old class is still used in JavaScripts.
td.throbber
  background-color: $color_picker_background
