@import "colors"

.catalog-controller
  .taxon-browser-sticky
    @media screen and (min-height: 640px) and (min-width: 640px)
      bottom: 0
      margin-top: 2rem
      margin-bottom: 2rem

  .taxon-browser-css-tabs
    input.taxon-browser-tab-input
      display: none
      & + label
        color: $color_primary
        display: inline-block
        padding: 4px 1rem
        margin: 0
        position: relative
      & ~ .taxon-browser-tab
        display: none
      &:checked
        & + label
          background: #fff
          color: #000

    .taxon-browser-tab-content
      a.genus, a.subgenus, a.species, a.subspecies, a.infrasubspecies
        font-style: italic
      a.subspecies::before
        content: "ssp. "
        font-style: normal

    .taxon-browser-tab-0:checked ~ .taxon-browser-tab.taxon-browser-tab-content-0,
    .taxon-browser-tab-1:checked ~ .taxon-browser-tab.taxon-browser-tab-content-1,
    .taxon-browser-tab-2:checked ~ .taxon-browser-tab.taxon-browser-tab-content-2,
    .taxon-browser-tab-3:checked ~ .taxon-browser-tab.taxon-browser-tab-content-3,
    .taxon-browser-tab-4:checked ~ .taxon-browser-tab.taxon-browser-tab-content-4,
    .taxon-browser-tab-5:checked ~ .taxon-browser-tab.taxon-browser-tab-content-5,
    .taxon-browser-tab-6:checked ~ .taxon-browser-tab.taxon-browser-tab-content-6,
    .taxon-browser-tab-7:checked ~ .taxon-browser-tab.taxon-browser-tab-content-7
      display: block

  #taxon-browser
    .selected, .label-white-smaller
      display: inline-block
      font-size: 0.8rem
      border-radius: 3px
      padding: 0 0.4rem
    .selected
      background-color: $color_primary !important
      a, a.valid.subspecies
        color: #fff !important
    .label-white-smaller
      background-color: #fff
      border: 1px solid #000
      a
        color: #000 !important
