@import "colors"

#taxon-browser
  a.genus, a.subgenus, a.species, a.subspecies, a.infrasubspecies
    font-style: italic
  a.subspecies::before
    content: "ssp. "
    font-style: normal

  .selected, .label-white-smaller
    display: inline-block
    font-size: 0.9rem
    border-radius: 3px
    padding: 0 0.4rem
  .selected
    background-color: $color_ac_blue
    a, a.valid.subspecies
      color: #fff !important
  .label-white-smaller
    background-color: #fff
    border: 1px solid #000
    a
      color: #000

  #taxon-browser-css-tabs
    input.taxon-browser-tab-input
      &:checked
        & + label
          color: #000

    #taxon-browser-tab-0:checked ~ #taxon-browser-tab-0-content,
    #taxon-browser-tab-1:checked ~ #taxon-browser-tab-1-content,
    #taxon-browser-tab-2:checked ~ #taxon-browser-tab-2-content,
    #taxon-browser-tab-3:checked ~ #taxon-browser-tab-3-content,
    #taxon-browser-tab-4:checked ~ #taxon-browser-tab-4-content,
    #taxon-browser-tab-5:checked ~ #taxon-browser-tab-5-content,
    #taxon-browser-tab-6:checked ~ #taxon-browser-tab-6-content,
    #taxon-browser-tab-7:checked ~ #taxon-browser-tab-7-content
      display: block
