@import "colors"
@import "token-input-facebook"

li.token-input-selected-token-facebook
  background-color: $color_green

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook
  background-color: $color_green
  color: #fff
  p
    color: #fff

div.token-input-dropdown-facebook ul li em
  font-weight: normal

.token-input-selected-token-facebook
  background-color: #eff2f7 !important
