.ui-tooltip
  max-width: 50rem
  word-wrap: break-word
  color: black
  border: none
  padding: 0
  opacity: 1
  border: 0
  box-shadow: 0

.ui-tooltip-content
  position: relative
  padding: 1em
  background-color: #dbecff
  font-size: 90%
