@import "colors"

.possible-name-conflicts
  max-height: 10rem
  overflow-y: scroll
  overflow-x: auto

#feedback-button
  height: 40px
  background: #333
  width: 130px
  line-height: 32px
  font-weight: 600
  color: #fff
  transform: rotate(-90deg)
  font-size: 17px
  position: fixed
  right: -50px
  top: 35%
  font-family: Montserrat, helvetica, arial, sans-serif
  z-index: 999
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  a
    color: #fff

// TODO: Fix hack.
.activity-link-wrapper .btn-default
  @extend .btn-very-tiny

.btn-copy-to-clipboard
  font-family: courier, courier new, serif

.inline-search-icon
  position: relative
  z-index: 1
  // HACK: Margin/padding to make it look acceptable in both Chrome and Firefox.
  margin-left: -35px
  padding-right: 10px
  color: $color_ac_blue
  cursor: pointer
  width: 0

span.discreet-author-citation
  border-bottom: dotted 1px $color_gray_text
  padding-bottom: 3px
  font-size: 93%
  a
    color: #000

.external-link:after
  font-family: 'fontello'
  content: "\a0\f08e"
  font-size: 90%

.pdf-link:after
  font-family: 'fontello'
  content: "\a0\e801"
  font-size: 80%

i.arrow-down
  display: inline-block
  height: 0
  width: 0
  border-style: solid
  border-color: transparent
  cursor: pointer

  border-width: 6px 5px 0
  border-top-color: #fff

.dropdown-container
  position: relative
  display: inline-block

.dropdown-content
  position: absolute
  background-color: #fff
  z-index: 200
