.preview-area
  // Make the tab with the textarea prettier.
  .tabs-panel
    &:first-of-type
      padding: 0

  textarea
    margin-bottom: 0

  .tabs-content
    margin-bottom: 1rem

  .broken-markdown-link
    color: red
