#breadcrumbs
  .left
    =breadcrumbs display_single_fragment: true, link_current: true

    -if content_for? :subnavigation
      #subnavigation
        =yield :subnavigation

  -if content_for? :breadcrumbs_right
    .right=yield :breadcrumbs_right

  .clearfix
