#breadcrumbs.mb-8
  .float-left
    -breadcrumbs(display_single_fragment: true, link_current: true).tap do |links|
      -if links.any?
        -links.each do |link|
          =link_to link.text, link.url, class: link.custom_class
          -unless link.current?
            &rsaquo;

  -if content_for? :breadcrumbs_right
    .float-right=yield :breadcrumbs_right

  .clear-both

  -if content_for? :breadcrumbs_left
    .float-left=yield :breadcrumbs_left
