#breadcrumbs
  .left
    =breadcrumbs display_single_fragment: true, link_current: true

  -if content_for? :breadcrumbs_right
    .right=yield :breadcrumbs_right

  .clearfix

  -if content_for? :breadcrumbs_left
    .left=yield :breadcrumbs_left
