.row.center-text
  .medium-2.columns
    %h6=image_tag 'logos/antcat_head_white_27x89.png'
    %ul.no-bullet
      %li=link_to 'About', page_path('about')
      %li=link_to 'List of users', users_path
      %li=link_to 'Contact us ', 'mailto:jrussack@calacademy.org'
  .medium-2.columns{style: "margin-top: 0.7rem"}
    %ul.no-bullet
      %li=link_to 'Changes', changes_path
      %li
        =link_to page_path('contribute') do
          Contribute
          =antcat_icon "star"
          =antcat_icon "star"
          =antcat_icon "star"
      %li=link_to 'Random ant', catalog_random_path
      %li#feedback-footer-link{data: { open: "feedback_modal" }} Feedback
  .medium-2.columns
    %ul.no-bullet{style: "margin-top: 1.3rem"}
      %li=link_to 'API', page_path('swagger-ui')
      %li=external_link_to 'Help pages', "https://github.com/calacademy-research/antcat/wiki"
      %li=external_link_to 'GitHub', "https://github.com/calacademy-research/antcat"

  .medium-6.columns{style: "margin-top: 0.4rem"}
    .right
      =link_to 'http://www.calacademy.org/', target: '_blank' do
        =image_tag 'logos/california_academy_of_sciences_white_80x213.png'
      =link_to 'http://antweb.org/', target: '_blank' do
        =image_tag 'logos/antweb_white_27x146.png', style: "margin-left: 3rem"
