#desktop-only.show-for-large
  .top-bar
    #desktop-logo.top-bar-title
      =link_to root_path do
        =image_tag 'antcat_logo.png', alt: 'AntCat'

    #desktop-menu
      #desktop-upper-menu.top-bar-right
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          -if Rails.env.development?
            %li.dev-only=link_to_current_page_on_live_site
          -if user_signed_in?
            =render "unseen_notifications_badge"
            %li=link_to "Editor's Panel", editors_panel_path
          %li=link_to 'References', references_path
          %li=link_to 'Changes', changes_path
          %li=link_to 'AntWeb', 'http://www.antweb.org/'
          %li=link_to 'About', page_path('about')

          -if user_signed_in?
            %li=current_user.decorate.user_page_link
            %li=link_to 'Logout', destroy_user_session_path
          -else
            %li=link_to 'Login', new_user_session_path
          %li
            %a{"data-open" => "feedback_modal"} Feedback

      #desktop-lower-menu.top-bar-right
        %ul.menu
          %li
            =form_tag catalog_quick_search_path, method: :get do
              .input-group
                =text_field_tag 'qq', params[:qq], class: 'input-group-field expandable-catalog-search typeahead-taxa-js-hook', placeholder: "Search Catalog"
                =hidden_field_tag :im_feeling_lucky, true
                .input-group-button
                  =button_tag type: 'submit', name: nil, class: 'button has-spinner', id: "header_search_button" do
                    =spinner_icon + "Go"
          %li.centered-text=link_to 'Advanced<br> Search'.html_safe, catalog_search_path, class: "without-top-padding"

#mobile-only.hide-for-large
  .top-bar
    .row
      .small-5.columns
        #mobile-logo.top-bar-title{"data-hide-for" => "large", "data-responsive-toggle" => "mobile-menu"}
          %span.float-left
            %span.menu-icon{"data-toggle" => ""}
          =image_tag 'antcat_logo_small.png', data: { toggle: "" }
      =render "unseen_notifications_badge"

  #mobile-menu
    %ul.vertical.dropdown.menu{"data-dropdown-menu" => ""}
      %li=link_to "Catalog", root_path
      -if user_signed_in?
        %li=link_to "Editor's Panel", editors_panel_path
      %li=link_to 'References', references_path
      %li=link_to 'Changes', changes_path
      %li=link_to 'AntWeb', 'http://www.antweb.org/'
      %li=link_to 'About', page_path('about')

      -if user_signed_in?
        %li=link_to "Editor's Panel", editors_panel_path
        %li=current_user.decorate.user_page_link
        %li=link_to 'Logout', destroy_user_session_path
      -else
        %li=link_to 'Login', new_user_session_path
      %li
        %a{"data-open" => "feedback_modal"} Feedback
      %li=link_to 'Advanced Search', catalog_search_path

      %li.has-form
        =form_tag catalog_quick_search_path, method: :get do
          .row.collapse
            .small-10.columns
              =text_field_tag 'qq', params[:qq], placeholder: "Search Catalog"
              =hidden_field_tag :im_feeling_lucky, true
            .small-2.columns
              =button_tag "Go", type: "submit", name: nil, class: "button expanded"
