#desktop-only.show-for-large
  .top-bar
    #desktop-logo.top-bar-title
      =link_to root_path do
        =image_tag 'antcat_logo.png', alt: 'AntCat'

    #desktop-menu
      #desktop-upper-menu.top-bar-right
        %ul.menu
          -if Rails.env.development?
            %li.dev-only=link_to_current_page_on_live_site
            %li.dev-only=link_to "dev CSS", widget_tests_toggle_dev_css_path, class: "btn-tiny"
          -if user_signed_in?
            =render "unseen_notifications_badge"
            =render "unread_site_notices_badge"
            %li=link_to "Editor's Panel", editors_panel_path
          %li=link_to 'References', references_path
          %li=link_to 'Changes', changes_path
          %li=link_to 'AntWeb', 'http://www.antweb.org/'
          %li=link_to 'About', page_path('about')

          -if user_signed_in?
            %li=current_user.decorate.user_page_link
            %li=link_to 'Logout', destroy_user_session_path, method: :delete
          -else
            %li=link_to 'Login', new_user_session_path
          %li
            %a{data: { open: "feedback_modal" }} Feedback

      #desktop-lower-menu.top-bar-right
        %ul.menu
          %li
            =form_tag references_search_index_path, method: :get, class: "reference-search-form" do
              .input-group
                =text_field_tag "reference_q", params[:reference_q], class: "typeahead-references-js input-group-field expandable-reference-search", placeholder: "Search References"
                .input-group-button
                  =button_tag type: 'submit', name: nil, class: 'button has-spinner', id: "header_reference_search_button" do
                    =search_icon

          %li
            =form_tag catalog_quick_search_path, method: :get, id: "catalog-search-form-test-hook" do
              .input-group
                =text_field_tag 'qq', params[:qq], class: 'input-group-field expandable-catalog-search typeahead-taxa-js-hook', placeholder: "Search Catalog"
                =hidden_field_tag :im_feeling_lucky, true
                .input-group-button
                  =button_tag type: 'submit', name: nil, class: 'button has-spinner', id: "header_catalog_search_button" do
                    =search_icon

#mobile-only.hide-for-large
  .top-bar
    .row
      .small-5.columns
        #mobile-logo.top-bar-title{data: { hide_for: "large", responsive_toggle: "mobile-menu" }}
          %span.float-left
            %span.menu-icon{data: { toggle: true }}
          =image_tag 'antcat_logo_small.png', data: { toggle: true }
      =render "unseen_notifications_badge"

  #mobile-menu
    %ul.vertical.menu
      %li=link_to "Catalog", root_path
      -if user_signed_in?
        %li=link_to "Editor's Panel", editors_panel_path
      %li=link_to 'References', references_path
      %li=link_to 'Changes', changes_path
      %li=link_to 'AntWeb', 'http://www.antweb.org/'
      %li=link_to 'About', page_path('about')

      -if user_signed_in?
        %li=link_to "Editor's Panel", editors_panel_path
        %li=current_user.decorate.user_page_link
        %li=link_to 'Logout', destroy_user_session_path, method: :delete
      -else
        %li=link_to 'Login', new_user_session_path
      %li
        %a{data: { open: "feedback_modal" }} Feedback
      %li=link_to 'Advanced Search', catalog_search_path

      %li.has-form
        =form_tag catalog_quick_search_path, method: :get do
          .row#catalog-search-row
            .small-9.columns
              =text_field_tag 'qq', params[:qq], placeholder: "Search Catalog"
              =hidden_field_tag :im_feeling_lucky, true
            .small-3.columns
              =button_tag search_icon, type: "submit", name: nil, class: "button expanded"
