-if menu_active?(:catalog)
  #tagline
    An Online Catalog of the Ants of the World
    %small by Barry Bolton
-if menu_active?(:references)
  #tagline
    ANTBIB: A Bibliography of Ant Systematics
    %small
      by Philip S. Ward,
      %em et al.
