-if current_user
  -count = current_user.unread_site_notices.count
  -unless count.zero?
    %li.unseen-notifications
      =link_to site_notices_path do
        %span.label=count
        new notice#{"s" unless count == 1}!
