-if current_user
  -count = current_user.unread_site_notices.count
  -unless count.zero?
    %li.text-sm.font-bold
      =link_to site_notices_path do
        .label-white.border-0=count
        new notice#{"s" unless count == 1}!
