-if current_user
  -count = current_user.unseen_notifications.count
  -unless count.zero?
    %li.unseen-notifications
      =link_to notifications_path do
        %span.label=count
        new notification#{"s" unless count == 1}!
