-protonym = item

=link_to protonym.decorate.format_name, protonym
=succeed ':' do
  =protonym.authorship.reference.decorate.expandable_reference
=protonym.decorate.format_pages_and_forms
=TaxtPresenter[protonym.authorship.notes_taxt].to_html
=protonym.decorate.format_locality
