-decorated_taxon = taxon.decorate
-protonym = taxon.protonym
-decorated_protonym = protonym.decorate

-if current_user
  .mb-2
    -if user_is_editor?
      =link_to "Edit taxon", edit_taxon_path(taxon), class: "btn-tiny btn-normal"
    =copy_to_clipboard_button Taxt.tax(taxon.id), "tax #{taxon.id}"
    =copy_to_clipboard_button taxon.id
%strong Taxon:
=decorated_taxon.link_to_taxon_with_author_citation
%br

%strong Rank:
=taxon.type
%br

%strong Status:
=taxon.status
%br
%br

-if current_user
  .mb-2
    -if user_is_editor?
      =link_to "Edit protonym", edit_protonym_path(protonym), class: "btn-tiny btn-normal"
    =copy_to_clipboard_button Taxt.pro(protonym.id), "pro #{protonym.id}"
    =copy_to_clipboard_button protonym.id
%strong Protonym:
=decorated_protonym.link_to_protonym
%br

%strong Authorship:
=protonym.authorship_reference.decorate.link_to_reference + ': ' + protonym.authorship_pages
