-# TODO list where it's used
-# TODO some kind of log

-@title = "Fix Missing Reference"
-breadcrumb :show_and_fix_missing_reference, @reference

-# reference picker code from widget_tests/reference_field_test
-content_for :head do
  =javascript_include_tag "widgets/form", "widgets/ajax_form", "widgets/nested_form"
  =javascript_include_tag "widgets/panel"
  =javascript_include_tag "widgets/reference_picker"
  =javascript_include_tag "widgets/reference_field"
  =javascript_include_tag "missing_references"
  =stylesheet_link_tag "widgets/reference_picker"

=form_for @reference do |f|
  .row
    .medium-6.columns
      %fieldset.fieldset
        %legend Replace
        =@reference.citation

      %fieldset.fieldset
        %legend With
        #replacement_id_field
          =hidden_field_tag "replacement_id"
          =render "reference_fields/show"

      =button_tag type: 'submit', class: 'btn-destructive has-spinner', data: { confirm: "Do you want to replace this reference? It can take a minute or two." } do
        =spinner_icon + "Replace"
