- @title = 'Fix Missing References'

- @title = 'Missing References'

%div= will_paginate @missing_references

#missing_references
  - for missing_reference in @missing_references
    .missing_reference_row
      %span= missing_reference.citation
      - if user_can_edit?
        = link_to 'edit', edit_missing_reference_path(missing_reference.citation), class: 'edit_link'
      %br

%br.before_bottom_pagination
%div= will_paginate @missing_references
