- @title = 'Missing References'

- content_for :page_header do
  #navigation_bar
    .clear
    .title.left= @title
    = render 'shared/search', search_results: @search_results, search_results_message: @search_results_message

#missing_references
  - @missing_references.each do |missing_reference|
    .missing_reference
      %span= make_html_safe(missing_reference.citation)
      - if user_can_edit?
        - surrogate_missing_reference = MissingReference.find_by_citation missing_reference.citation
        = link_to 'replace', edit_missing_reference_path(surrogate_missing_reference), class: 'replace_link'
      %br
