-@title = 'Missing References'
-breadcrumb :missing_references

%table
  %thead
    %th Reference
    -if user_can_edit?
      %th Replace
  -@missing_references.each do |missing_reference|
    %tr
      %td
        =missing_reference.decorate.format_citation
        =missing_reference.decorate.goto_reference_link
      -if user_can_edit?
        %td
          -surrogate_missing_reference = MissingReference.find_by_citation missing_reference.citation
          =link_to 'replace', edit_missing_reference_path(surrogate_missing_reference)

