=form_tag catalog_search_path, method: :get do
  .row
    .medium-2.columns
      Rank
      =select_tag :type, options_for_select(Taxa::Search::AdvancedSearch::RANKS, params[:type]), include_blank: "Any"
    .medium-2.columns
      Status
      =select_tag :status, options_for_select(Status::STATUSES, params[:status]), include_blank: "Any"
    .medium-2.columns
      Name...
      =text_field_tag :name, params[:name]
    .medium-2.columns
      %br
      =select_tag :name_search_type, options_for_select([['...contains', 'contains'], ['...matches', 'matches'], ['...begins with', 'begins_with']], params[:name_search_type] || "contains")
    .medium-2.columns
      Genus contains
      =text_field_tag :genus, params[:genus]
    .medium-2.columns.end
      Epithet
      =text_field_tag :epithet, params[:epithet]

  .row
    .medium-2.columns
      Fossil
      =select_tag :fossil, yes_no_options_for_select(params[:fossil]), include_blank: "Either"
    .medium-2.columns
      Described by
      =text_field_tag :author_name, params[:author_name], id: "author_name-js-hook"
    .medium-2.columns.end
      Described year
      =text_field_tag :year, params[:year], placeholder: "eg 1990, or 2000-2005"

  .row
    .medium-2.columns
      Biogeographic region
      =select_tag :biogeographic_region, options_for_select(Protonym::BIOGEOGRAPHIC_REGIONS + ['None'], params[:biogeographic_region]), include_blank: "Any"
    .medium-2.columns
      Locality contains
      =text_field_tag :locality, params[:locality]
    .medium-3.columns
      Type information contains
      =text_field_tag :type_information, params[:type_information]
    .medium-2.columns.end
      Forms contains
      =text_field_tag :forms, params[:forms]

  .row
    .medium-3.columns
      Unresolved junior homonym
      =select_tag :unresolved_homonym, yes_no_options_for_select(params[:unresolved_homonym]), include_blank: "Either"

    .medium-2.columns
      Collective group name
      =select_tag :collective_group_name, yes_no_options_for_select(params[:collective_group_name]), include_blank: "Either"
    .medium-2.columns
      Ichnotaxon
      =select_tag :ichnotaxon, yes_no_options_for_select(params[:ichnotaxon]), include_blank: "Either"
    .medium-2.columns
      Nomen nudum
      =select_tag :nomen_nudum, yes_no_options_for_select(params[:nomen_nudum]), include_blank: "Either"
    .medium-2.columns.end
      Hong
      =select_tag :hong, yes_no_options_for_select(params[:hong]), include_blank: "Either"

  .row
    .medium-2.columns.end
      =check_box_tag :valid_only, true, !!params[:valid_only]
      =label_tag 'Valid only?'

  .row
    .medium-3.columns.end
      =per_page_select params[:per_page]

  .row
    .medium-12.columns
      =button_tag type: 'submit', name: 'submit_search', class: 'btn-normal has-spinner' do
        =spinner_icon + "Go"
      -if taxa.present?
        &nbsp;
        =link_to 'Download', "/catalog/search.txt?#{request.parameters.to_param}", class: "button btn-normal"
