-if taxa.empty?
  .alert.callout
    No results found.
-else
  %table
    %caption
      =number_with_delimiter taxa.count
      result(s)
    %thead
      %tr
        %th Name
        %th Authorship
        %th Protonym
    -taxa.each do |taxon|
      -decorated_protonym = taxon.protonym.decorate
      %tr
        %td
          =CatalogFormatter.link_to_taxon(taxon)
          %br
          .small-text=taxon.decorate.expanded_status
        %td=taxon.authorship_reference.decorate.expandable_reference
        %td
          =decorated_protonym.link_to_protonym
          .small-text
            -if taxon.protonym.authorship.forms
              =surround "(", ")" do
                =taxon.protonym.authorship.forms
            =decorated_protonym.format_locality
            =add_period_if_necessary(taxon.protonym.biogeographic_region)

  =will_paginate taxa
