-if taxa.empty?
  .alert.callout
    No results found.
-else
  %table
    %caption=pluralize_with_delimiters taxa.count, 'result'
    %thead
      %tr
        %th Name
        %th Authorship
        %th Protonym
    -taxa.each do |taxon|
      %tr
        %td
          =taxon.link_to_taxon
          %br
          .small-text=taxon.decorate.taxon_status
        %td=taxon.authorship_reference.decorate.expandable_reference
        %td
          =taxon.protonym.decorate.link_to_protonym
          .small-text
            =surround "(", ")" do
              =or_dash taxon.protonym.authorship.forms
            =taxon.protonym.decorate.format_locality
            =add_period_if_necessary(taxon.protonym.biogeographic_region)

  =will_paginate taxa
