commented on the

-trackable = activity.trackable
-if trackable && trackable.commentable
  =trackable.commentable_type.downcase
  =link_to "##{trackable.commentable_id}", trackable.commentable
-else
  [deleted]
