-trackable = activity.trackable

-if trackable
  =link_comment trackable, "commented"
-else
  commented
on the

-if trackable && trackable.commentable
  =trackable.commentable_type.underscore.humanize.downcase

  -if trackable.commentable_type.in? ["SiteNotice", "Task", "Issue"]
    -link_title = trackable.commentable.title
  -else
    -link_title = "##{trackable.commentable_id}"
  =link_to "#{link_title}", trackable.commentable
-else
  [deleted]
