=activity_action_to_verb activity.action
the journal
%i
  =link_trackable_if_exists activity, activity.parameters[:name]

-name_was = activity.parameters[:name_was]
-if name_was
  (changed journal name from
  =succeed ")" do
    %i=name_was
