=activity_action_to_verb activity.action
the reference section
=link_to "##{activity.trackable_id}", reference_section_path(activity.trackable_id)

belonging to
=taxon_link_or_deleted_string activity.parameters[:taxon_id]
