=activity_action_to_verb activity.action
the taxon history item
=link_to "##{activity.trackable_id}", taxon_history_item_path(activity.trackable_id)

belonging to
=taxon_link_or_deleted_string activity.parameters[:taxon_id]

-if activity.action.in? ["update", "destroy"]
  =inline_expandable("versions can be compared") do
    Click on the linked ID to compare versions of this item.
