@import "colors"

.antcat_panel .display
  cursor: pointer

.antcat_name_field
  width: 700px
  input[type=text]
    width: 600px
    font-size: 14px
  .help
    font-style: italic
    font-size: 12px
  .edit
    padding: 1rem
    border: solid 1px black
    display: none
