@import "colors"

.taxt_editor
  .taxt_edit_box
    border: 1px solid black
    width: 100%
    font-family: Monaco, Courier, monospace
    padding: 2px
    margin-left: -2px
  .antcat_reference_field
    display: none
  .antcat_reference_popup
    display: none
  .antcat_name_popup
    display: none
  .antcat_taxt_simulation
    // don't know why this is necessary
    overflow: auto
    border: 1px solid black
    padding: 2px
    .antcat_taxt_simulated_selection
      color: $color_current_being_edited
      background: $color_current_being_edited_background
  .insert_tag_buttons
    margin-top: 4px
    margin-bottom: 4px
    display: none
