@import 'common'

.taxt_editor
  .taxt_edit_box
    border: 1px solid black
    width: 100%
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif"
    @include taxt_editor_font
    padding-left: 1px
    padding-bottom: 2px
    margin-left: -2px
  .antcat_reference_picker
    display: none
  .antcat_name_picker
    display: none
  .antcat_tag_type_selector
    display: none
