@import 'common'

.taxt_editor
  .taxt_edit_box
    border: 1px solid black
    width: 100%
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif"
    @include taxt_editor_font
    padding: 2px
    margin-left: -2px
  .antcat_reference_field
    display: none
  .antcat_reference_popup
    display: none
  .antcat_name_popup
    display: none
    padding: 0
    .help
      margin: 0
  .antcat_taxt_simulation
    // don't know why this is necessary
    overflow: auto
    border: 1px solid black
    padding: 2px
    background: $color_input_background
    .antcat_taxt_simulated_selection
      color: $color_current_reference_being_edited_by_reference_field
      background: $color_current_reference_being_edited_by_reference_field_background
  .insert_tag_buttons
    margin-top: 4px
    display: none
