-# This is the feedback sent notice we show the user.
.row
  .small-12.columns
    .callout.primary.small-12.medium-6{data: { closable: true }}
      Message sent (feedback id
      =surround '#', ').' do
        =feedback_id
      Thanks for helping us make AntCat better!
      %button.close-button{"aria-label" => "Dismiss alert", data: { close: true }, type: "button"}
        %span{"aria-hidden" => "true"} &times;
