%hr
%table
  %caption This feedback item is still open. What you can do when the message is related to...
  %thead
    %tr
      %th What
      %th Do this
  %tbody
    %tr
      %td ...a bug in the code or something that isn't working.
      %td
        Create a
        =link_to "new issue on GitHub", "https://github.com/calacademy-research/antcat/issues"
        (account required). Close this feedback and post a link to the GitHub issue if you can (the markdown code for this is <code>%github123</code>, replace "123" with the issue number).
    %tr
      %td ...something in the catalog that should be updated/added.
      %td
        Make that changes if you can, or create an
        =link_to "AntCat issue", issues_path
        for it. Close this feedback and post a link to the issue if you can (the markdown code for this is <code>%issue123</code>, replace "123" with the issue's id).
    %tr
      %td ...something else.
      %td ???

%p Note that the comments section below can only be seen by editors, but you can click on the "Show formatted for email" button to generate an "Original Message" reply that you can use (copy the text) when asking the submitter for clarifications or thanking them for their feedback.

%hr
