-title "Edit ##{@feedback.id}"
-breadcrumb :edit_user_feedback, @feedback

.row
  .medium-12.columns
    =form_for(@feedback) do |f|
      =render "shared/errors_for", resource: @feedback

      .row
        .medium-12.columns
          =f.label :comment
          =f.text_area :comment, rows: 10, maxlength: Feedback::COMMENT_MAX_LENGTH

      .row
        .medium-12.columns
          .input-group
            %span.input-group-label Page: https://www.antcat.org/
            =f.text_field :page, placeholder: "Optional", class: "input-group-field"

      .row
        .medium-12.columns
          =edit_summary_text_field_tag
          =button_tag "Save", class: "btn-saves"
