-@title = "User Feedback"
-breadcrumb :user_feedback

=render_filters

%table.feedbacks
  %thead
    %tr
      %th ID
      %th Status
      %th Submitter/message
      %th Comments
      %th
  -@feedbacks.each do |feedback|
    %tr{class: ("closed" if feedback.closed?)}
      %td=link_to "##{feedback.id}", feedback_path(feedback)
      -if feedback.open?
        %td Open
      -else
        %td.gray Closed
      %td=render "feedback", feedback: feedback
      %td.center-text.no-wrap=link_comments_section feedback
      %td=link_to "Details", feedback_path(feedback), class: "btn-normal"

=will_paginate @feedbacks
