-title "Feedback ##{@feedback.id}"
-breadcrumb :user_feedback_details, @feedback

-content_for :javascripts do
  =javascript_include_tag "controllers/feedback/show"

-content_for :breadcrumbs_right do
  -if @feedback.open?
    =link_to "Hide/show 'What you can do...'", "#", data: { show_hide_toggler_for: "guidelines_for_editors" }, class: "btn-nodanger"
  =link_to "Hide/show formatted for email", "#", data: { show_hide_toggler_for: "for_email" }, class: "btn-nodanger"
  -if @feedback.closed?
    =link_to("Re-open", reopen_feedback_path(@feedback), method: :put, class: "btn-warning")
  -else
    =link_to("Close", close_feedback_path(@feedback), method: :put, class: "btn-saves")
  -if user_is_at_least_helper?
    =link_to("Edit", edit_feedback_path(@feedback), class: "btn-warning")
  -if user_is_superadmin?
    =link_to append_superadmin_icon("Delete"), @feedback, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-warning"

=render "feedback", feedback: @feedback

%div{data: { show_hide_toggable_id: "for_email" }}
  %h6 Formatted for email replies
  =preserve do
    %textarea#formatted_for_email
      =@feedback.decorate.format_feedback_for_email

-if @feedback.open?
  %div{data: { show_hide_toggable_id: "guidelines_for_editors" }}
    =render "guidelines_for_editors"

.callout.primary.no-border-callout.medium-9
  %p Registered users will receive notifications for comments posted here (next time they sign in).
  %p
    Non-logged in submitters will not receive any notification. This is a good opportunity to recruit new editors; if you have some extra time,
    you can invite them to the site (click on 'Hide/show formatted for email' for a template).

=render "comments/comments_area", commentable: @feedback, new_comment: @new_comment
