-@title = "Feedback ##{@feedback.id}"
-breadcrumb :user_feedback_details, @feedback

-content_for :head do
  =javascript_include_tag "controllers/feedback/show"

.buttons_right
  -if @feedback.open?
    =link_to "Hide/show 'What you can do...'", "#", class: "btn-white", data: { show_hide_toggler_for: "guidelines_for_editors" }
  =link_to "Hide/show formatted for email", "#", class: "btn-white", data: { show_hide_toggler_for: "for_email" }
  -if @feedback.closed?
    =link_to("Re-open", reopen_feedback_path(@feedback), method: :put, class: "btn-saves-warning")
  -else
    =link_to("Close", close_feedback_path(@feedback), method: :put, class: "btn-saves")
  -if user_is_superadmin?
    =link_to "Delete", feedback_path(@feedback), method: :delete, data: { confirm: "Delete? Note that this is for deleting spam and ridiculous suggestions. Archiving closed items instead of deleting them is good for tracking submissions and submitters." }, class: "btn-delete"

-# Empty paragraph to avoid overlapping of ".buttons_right".
%p

=render "feedback", feedback: @feedback

%div{data: { show_hide_toggable_id: "for_email" }}
  %h6 Formatted for email replies
  =preserve do
    %textarea#formatted_for_email
      =format_feedback_for_email @feedback

-if @feedback.open?
  %div{data: { show_hide_toggable_id: "guidelines_for_editors" }}
    =render "guidelines_for_editors"

=render partial: "comments/comments_area", locals: { commentable: @feedback, new_comment: @new_comment }
