-@title = "Feedback ##{@feedback.id}"
-breadcrumb :user_feedback_details, @feedback

.buttons_right
  -if @feedback.closed?
    =link_to("Re-open", reopen_feedback_path(@feedback), method: :put, class: "btn-destructive")
  -else
    =link_to("Close", close_feedback_path(@feedback), method: :put, class: "btn-destructive")

%p
  Status:
  =@feedback.open? ? "open" : "closed"

%p
  Sent to:
  =@feedback.email_recipients

.callout
  =render file: "feedback_mailer/feedback_email", locals: { feedback: @feedback }

=render partial: "comments/comments_area", locals: { commentable: @feedback, new_comment: @new_comment }
