%ul.no-bullet
  %li
    Nomen attributes:
    =protonym.decorate.format_nomen_attributes

%ul.no-bullet
  %li Created at: #{l protonym.created_at, format: :ymd}
  %li Updated at: #{l protonym.updated_at, format: :ymd}
