!!!
%html{xmlns: 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', lang: 'en'}
  %head
    %title=make_title @title
    %meta{'http-equiv' => "content-type", content: "text/html;charset=UTF-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

    =csrf_meta_tag

    =javascript_include_tag 'all_pages/google_analytics' if Rails.env.production?
    =javascript_include_tag 'application'
    =javascript_include_tag 'logged_in_only' if current_user

    =stylesheet_link_tag 'foundation_and_overrides'
    =stylesheet_link_tag 'application'
    =stylesheet_link_tag 'jquery_overrides'
    =stylesheet_link_tag 'dev_css' if include_dev_css?
    =stylesheet_link_tag 'test_css' if Rails.env.test?

    =favicon_link_tag 'favicon_96x96.png'

    =yield :head

    %script
      // HACK to make the navigation search boxes not flicker on page loads
      // due to CSS animations. See https://stackoverflow.com/a/42969608.
      "empty script tag"

    =link_to_current_page_on_localhost if user_is_superadmin?

    %body{id: current_controller_css_id}
      #header
        =render "navigation"
        =render "breadcrumbs"

      #content
        =render "shared/flash_messages"
        -# Special case because catalog pages have a fixed layout.
        -if controller_name == "catalog"
          =yield
        -else
          .row
            .small-12.columns
              -if content_for? :application
                =yield :application
              -else
                =yield

      =render "feedback/feedback_modal"

      -# To make the default reference available in JS.
      =render "shared/default_reference"
