!!!
%html{lang: 'en'}
  %head
    %title=title_tag
    %meta{charset: "utf-8"}
    =description_meta_tag
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "#0071f4", name: "theme-color"}

    =yield :meta_tags

    =csrf_meta_tag

    =favicon_link_tag 'favicon_96x96.png'

    =javascript_include_tag 'jquery3'

    %link{href: "https://fonts.googleapis.com/css?family=Montserrat", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Raleway", rel: "stylesheet"}

    =javascript_pack_tag 'hotwire_app'

    =stylesheet_link_tag 'tailwind', 'inter-font'
    =stylesheet_link_tag 'application'
    =stylesheet_link_tag 'logged_in_only' if current_user
    =stylesheet_link_tag "env_specific/#{Rails.env}" if Rails.env.in?(['staging', 'development', 'test'])

    =javascript_include_tag 'application'

    =yield :javascripts

    %body{class: controller_css_class(params[:controller]), "data-controller" => "toggler"}
      -unless params[:controller] == 'feedback'
        %button#feedback-button.hide-for-small-only
          =link_to 'Suggest edit', new_feedback_path(page: current_page_for_feedback), rel: 'nofollow'

      -if Rails.env.development?
        -# Tailwind breakpoints indicator.
        .fixed.top-4.right-4.flex.h-8.w-8.items-center.justify-center.text-sm.text-black.font-mono.rounded-full.bg-blue-300{class: "sm:bg-purple-200 md:bg-teal-200 lg:bg-red-200 xl:bg-gray-200"}
          .block{class: "sm:hidden md:hidden lg:hidden xl:hidden"}="**"
          .hidden{class: "sm:block md:hidden lg:hidden xl:hidden"} sm
          .hidden{class: "sm:hidden md:block lg:hidden xl:hidden"} md
          .hidden{class: "sm:hidden md:hidden lg:block xl:hidden"} lg
          .hidden{class: "sm:hidden md:hidden lg:hidden xl:block"} xl

      -if user_is_developer?
        .fixed.top-14.right-4.flex.h-8.w-8.items-center.justify-center.text-sm.text-black.font-mono.rounded-full.bg-blue-300
          =link_to_current_page_on_live_site_or_localhost
      -if Rails.env.staging?
        .fixed.top-24.right-4.flex.h-8.w-8.items-center.justify-center.text-sm.text-black.font-mono.rounded-full.bg-blue-300
          =link_to_current_page_on_live_site_from_staging

      %div
        %header#header
          .row.collapse-tw-conflict
            .small-12.columns
              =render "navigation"

        %section#content
          #fireworks
          .row.collapse-tw-conflict
            =render "breadcrumbs"
            =render "flash_messages"
            .small-12.columns.collapse-tw-conflict
              =yield

        =yield :after_content

        %footer
          =render "footer"

      -if Settings.google_analytics.enabled
        =render "google_analytics", tracking_id: Settings.google_analytics.tracking_id, logged_in: current_user.present?.to_s

      -if current_user
        =javascript_include_tag 'logged_in_only'
