!!!
%html{lang: 'en'}
  %head
    %title=title_tag
    %meta{charset: "utf-8"}
    =description_meta_tag
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "#0071f4", name: "theme-color"}

    =yield :meta_tags

    =csrf_meta_tag

    =favicon_link_tag 'favicon_96x96.png'

    =javascript_include_tag 'jquery3'

    %link{href: "https://fonts.googleapis.com/css?family=Montserrat", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Raleway", rel: "stylesheet"}

    =javascript_pack_tag 'hotwire_app'

    =stylesheet_link_tag 'tailwind', 'inter-font'
    =stylesheet_link_tag 'application'
    =stylesheet_link_tag 'logged_in_only' if current_user
    =stylesheet_link_tag "env_specific/#{Rails.env}" if Rails.env.in?(['staging', 'development', 'test'])

    =javascript_include_tag 'application'

    =yield :javascripts

    %body{class: controller_css_class(params[:controller]), "data-controller" => "toggler"}
      -unless params[:controller] == 'feedback'
        %button#feedback-button{class: "hidden md:block"}
          =link_to 'Suggest edit', new_feedback_path(page: current_page_for_feedback)

      =render "dev_helpers"

      %div
        %header#header.bg-ac-blue.text-white.px-4{class: "[&_a]:text-white"}
          .row.collapse-tw-conflict
            .small-12.columns
              =render "navigation"

        %section#content.px-4.pt-12.pb-32
          #fireworks
          .row.collapse-tw-conflict
            =render "breadcrumbs"
            =render "flash_messages"
            .small-12.columns.collapse-tw-conflict
              =yield

        =yield :after_content

        %footer.bg-ac-blue.text-white{class: "[&_a]:text-white"}
          =render "footer"

      -if Settings.google_analytics.enabled
        =render "google_analytics", tracking_id: Settings.google_analytics.tracking_id, logged_in: current_user.present?.to_s

      -if current_user
        =javascript_include_tag 'logged_in_only'
