!!!
%html{xmlns: 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', lang: 'en'}
  %head
    %title=make_title @title
    %meta{'http-equiv' => "content-type", content: "text/html;charset=UTF-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

    =csrf_meta_tag

    :javascript
      window.AntCat = {}
      AntCat.user_can_edit = #{!!user_can_edit?}
      AntCat.testing = #{Rails.env.test?}

    =javascript_include_tag 'all_pages/google_analytics' if Rails.env.production?
    =javascript_include_tag 'application'
    =javascript_include_tag 'logged_in_only' if current_user

    =stylesheet_link_tag 'foundation_and_overrides'
    =stylesheet_link_tag 'application'
    =stylesheet_link_tag 'jquery_overrides'
    =stylesheet_link_tag 'dev_css' if include_dev_css?

    =favicon_link_tag
    =yield :head

    %body{id: current_controller_css_id}
      #header
        =render "navigation"
        =render "breadcrumbs"
        =render "subnavigation"

      #content
        =render "site_notices/unread_site_notices_flash_message.haml"
        =render "shared/flash_messages"
        -# Special case because catalog pages have a fixed layout.
        -if controller_name == "catalog"
          =yield
        -else
          .row
            .small-12.columns
              -if content_for? :application
                =yield :application
              -else
                =yield

      =render "feedback/feedback_modal"
