- content_for :head do
  = javascript_include_tag  'superadmin_delete_button' if user_is_superadmin?

- content_for :page_contents do
  .title.show-for-large
    %h5.left An Online Catalog of the Ants of the World
    .right by Barry Bolton
    .clearfix
  = yield

= render file: 'layouts/application'
