- content_for :head do
  = javascript_include_tag  'changes'

- content_for :page_header do
  #navigation_bar
    .actions
      -items = []
      -items << link_to('All changes', changes_path)
      -items << link_to('Unapproved changes', unapproved_changes_path)
      =make_link_menu items

= render file: 'layouts/application'
