-@subnav = []
-@subnav << link_to('All References', references_path)
-@subnav << link_to('Latest Additions', latest_additions_references_path)
-if user_can_edit?
  -@subnav << link_to('Latest Changes', latest_changes_references_path)
  -@subnav << link_to('Fix Missing', missing_references_path)
  -@subnav << link_to('Export to EndNote', endnote_export_references_path(q: params[:q])) if params[:action] == "search"
-@subnav << link_to('Journals', journals_path)
-@subnav << link_to('Authors', authors_path)

-content_for :breadcrumbs_right do
  =render 'references/search_form', params: params

=render file: 'layouts/application'
