-content_for :breadcrumbs_right do
  .right
    =render 'references/search_form', params: params

-content_for :subnavigation do
  =subnavigation_menu references_subnavigation_links

=render file: 'layouts/application'
