-if current_user
  .mb-2
    -if user_is_at_least_helper?
      =link_to "Edit protonym", edit_protonym_path(protonym), class: "btn-tiny btn-normal"
    =copy_to_clipboard_button Taxt.pro(protonym.id), "pro #{protonym.id}"
    =copy_to_clipboard_button protonym.id

.div
  %strong Protonym:
  =protonym.decorate.link_to_protonym

.mb-8
  %strong Authorship:
  =protonym.authorship_reference.decorate.link_to_reference + ': ' + protonym.authorship_pages

-if protonym.taxa.exists?
  %ul.no-bullet
    -TaxonQuery.new(protonym.taxa.order_by_name).with_common_includes_and_current_taxon_includes.each do |taxon|
      %li
        =CatalogFormatter.link_to_taxon(taxon)
        %small=taxon.decorate.expanded_status
